.clickable {
  cursor: pointer;
}

.error-text {
  color: red;
}

.form-error {
  color: red;
}

#hot-display-license-info {
  display: none;
}

.order-comment > p {
    margin-bottom: 0px; !important;
  }


/* loading screen CSS */
#overlay {
  display: table;
  opacity:    1;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
  color:white;
  background: white;
  visibility: hidden;
}

#loading-screen {
  display: table-cell;
  vertical-align: middle;
}

.loader {
  border: 16px solid #92B6FD; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

.loader-text {
  color: black;
  text-align: right;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* end of loading screen CSS */