.handsontable table thead th {
  font-size: 12px;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}

.handsontable .center {
  text-align: left;
}

.handsontable .wtBorder {
  display: none !important;
}
