{% extends "base.html" %}
{% load static %}
{% load timezone %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Sample Barcode Accession</h2>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST" action="{% url 'accession_samples' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
      <div class="card-body">
        <div class="col-12 top-buffer">
          <div class="form-row mb-4">
            <div class="row">
              <label for="{{ form.barcode.name }}"><strong>{{ form.barcode.label }}:</strong> For best results, please
                scan the sample with the barcode parallel to the scanner's LED light.</label>
              {{ form.barcode }}
            </div>

          </div>
          <div class="form-row">
            <div class="row">
              <p><i>Please make sure the cursor is blinking in the input field above before scanning.</i></p>
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="row">
              <div class="btn-toolbar mb-2 mb-md-2">
                <div class="btn-group mr-2">
                  <button type="submit" class="btn btn-primary"><i class="fal fa-barcode-alt"></i>&nbsp;&nbsp;Scan
                  </button>
                </div>
                <div class="btn-group mr-2">
                  <a href="{% url 'order_create' %}" class="btn btn-primary" target="_blank"><i class="fas fa-plus"></i>&nbsp;&nbsp;Create Order</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if order.code != null %}

      {% include 'block_order_info.html' %}

      <div class="row mt-3">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              Samples
              {% if request.user.user_type != 10 and order.status == 'Pending Results' %}
                <a href="{% url 'order_samples' order.code %}" class="btn btn-sm btn-primary float-right"
                   target="_blank"><i class="fas fa-plus"></i>&nbsp;&nbsp;Sample</a>
              {% endif %}
            </div>

            <div class="card-body">
              <table class="table table-sm">
                <thead>
                <th>Sample ID</th>
                <th>Type</th>
                <th>Draw Type</th>
                <th>Collection Datetime</th>
                <th>Temperature</th>
                <th>Collected By</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for sample in samples %}
                <tr>
                  <th scope="row">{{ sample.code }}</th>
                  <td>{{ sample.sample_type.name }}{{ sample.clia_sample_type.name }} </td>
                  <td>{{ sample.draw_type }}</td>
                  <td>{{ sample.collection_date|as_timezone:request.tenant.timezone }} </td>
                  {% if sample.collection_temperature %}
                    <td>{{ sample.collection_temperature|default_if_none:'' }} {{ sample.collection_temperature_unit }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td>{{ sample.collection_user|default_if_none:'' }}</td>
                  <td>
                    {% if use_zebra_printer %}
                      {% if request.tenant.settings|safe_lookup:'use_accession_number_barcode' %}
                        <a href="javascript:void(0);" class="print-zebra-label" sample_code="{{ sample.code }}"
                           sample_barcode="{{ order.accession_number }}" test_methods="{{ test_methods }}"
                           collection_date="{{ sample.collection_date }}">
                      {% else %}
                        <a href="javascript:void(0);" class="print-zebra-label" sample_code="{{ sample.code }}"
                           sample_barcode="{{ sample.barcode }}" test_methods="{{ test_methods }}"
                           collection_date="{{ sample.collection_date }}">
                      {% endif %}
                    {% else %}
                      {% if request.tenant.settings|safe_lookup:'use_accession_number_barcode' %}
                        <a href="javascript:void(0);" class="print-label" sample_code="{{ sample.code }}"
                           sample_barcode="{{ order.accession_number }}" collection_date="{{ sample.collection_date }}">
                      {% else %}
                        <a href="javascript:void(0);" class="print-label" sample_code="{{ sample.code }}"
                           sample_barcode="{{ sample.barcode }}" collection_date="{{ sample.collection_date }}">
                      {% endif %}
                    {% endif %}
                    <i class="fas fa-print" data-toggle="tooltip" title="Print label"></i>
                    </a>
                  </td>
                  {% if request.tenant.settings|safe_lookup:'show_ten_digit_barcode' and order.accession_number %}
                    <td>
                      <a href="javascript:void(0);" class="print-zebra-label-ten-digit" sample_code="{{ sample.code }}"
                         sample_barcode="{{ order.accession_number|get_short_accession_number }}"
                         test_methods="{{ test_methods }}" collection_date="{{ sample.collection_date }}">
                        <i class="fas fa-print" data-toggle="tooltip" title="Print 10 digit label"></i>
                      </a>
                    </td>
                  {% endif %}
                  {% if request.user.user_type != 10 and order.status == 'Pending Results' %}
                    <td>
                      <a href="{% url 'sample_update' order.code sample.uuid %}" target="_blank">
                        <i class="fas fa-pencil-alt text-warning" data-toggle="tooltip" title="Update sample"></i>
                      </a>
                    </td>
                    <td>
                      <a href="{% url 'sample_delete' order.code sample.uuid %}">
                        <i class="fas fa-trash-alt sample-delete text-danger" data-toggle="tooltip"
                           title="Archive sample"></i>
                      </a>
                    </td>
                  {% else %}
                  {% endif %}
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      {% if order.status in editable_order_status_list %}
        <a href="{% url 'order_test_create' order.code %}" class="btn btn-sm btn-primary" target="_blank"><i class="fas fa-plus"></i>&nbsp;&nbsp;Test</a>
      {% endif %}
  </form>
      {% if request.user.user_type < 9 %}
        <div class="row">
          <div class="col-12">
            <h5>Internal Comments&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Internal comments are not included in any reports or shared with patients.">
              </i>
            </h5>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ comment_form.comment }}
                <input type="hidden" name="{{ comment_form.barcode.name }}" value="{{ sample_acc_barcode }}">
                <input type="hidden" name="{{ comment_form.order_code.name }}" value="{{ order.code }}">
                <br>
                <button type="submit" class="btn btn-sm btn-primary order-comment" name="order_comment_button"><i class="fas fa-plus"></i>&nbsp;&nbsp;Comment</button>
            </form>

            {% include 'block_accession_order_comments.html' %}

          </div>
        </div>
      {% endif %}

    {% endif %}


{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <!-- Custom JS -->
  <script src="{% static 'js/order_samples.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/dymolabelframework3.js' %}" type="text/javascript" charset="UTF-8"></script>
  <!--<script src = "http://labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.latest.js" type="text/javascript" charset="UTF-8"> </script> -->
  <script src="{% static 'js/order_sample_label.js' %}" type="text/javascript" charset="UTF-8"></script>
  <script src="{% static 'js/BrowserPrint-2.0.0.75.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/zebra_labels.js' %}" type="text/javascript"></script>
{#  <script src="{% static 'js/label_printing.js' %}" type="text/javascript"></script>#}
  <script src="{% static 'js/accession_receive_orders_and_samples.js' %}" type="text/javascript"></script>
  <script>
  /**
 * Helper fn to print labels using zebra printer
 * @param label_object
 */
function zebra_labels_helper(label_object) {
    let sample_barcode = label_object.attr('sample_barcode');
    let sample_code = label_object.attr('sample_code');
    let collection_date = (label_object.attr('collection_date'));
    collection_date = collection_date.split(',');
    let test_methods = label_object.attr('test_methods');
    test_methods = test_methods.replace('[', '').replace(']', '');
    test_methods = test_methods.split(',');
    let sample_collection_date = 'Collection Date: ' + formatDate(collection_date[0] + ',' + collection_date[1]);
    let patient_name = '{{ order.patient.user.last_name }}' + ", " + '{{ order.patient.user.first_name}}';
    let patient_dob = 'DOB: ' + formatDate('{{ order.patient.birth_date }}');
    let client_name = '{{ account.id }}{% if account.alternate_id %}({{ account.alternate_id }}){% endif %}' + ' - ' + '{{ account.name }}';
    let accession_number = '{{ order.accession_number }}';

    printZebraLabel(patient_name, accession_number, patient_dob, sample_collection_date, client_name, sample_barcode, sample_code, test_methods);
}


/**
 * Helper function to print labels using dymo printer
 * @param label_object
 */
function dymo_labels_helper(label_object) {
    var sample_code = 'Sample Code: ' + label_object.attr('sample_code');
    let collection_date = (label_object.attr('collection_date'));
    collection_date = collection_date.split(',');
    var sample_collection_date = 'Collection Date: ' + formatDate(collection_date[0] + ',' + collection_date[1]);
    var patient_name = '{{ order.patient.user.last_name }}' + ", " + '{{ order.patient.user.first_name}}';
    var patient_dob = 'DOB: ' + formatDate('{{ order.patient.birth_date }}');
    var sample_barcode = label_object.attr('sample_barcode');
    var client_name = '{{ account.id }}{% if account.alternate_id %}({{ account.alternate_id }}){% endif %}' + ' - ' + '{{ account.name }}';
    var auto_print = false;

    printLabel(patient_name, sample_code, patient_dob, sample_collection_date, client_name, sample_barcode, auto_print);
}


$('.print-zebra-label').click(function (event) {
    zebra_labels_helper($('.print-zebra-label'));
});

$('.print-zebra-label-ten-digit').click(function (event) {
    zebra_labels_helper($('.print-zebra-label-ten-digit'));
});

$('.print-label').click(function (event) {
    dymo_labels_helper($('.print-label'));
});

/**
 * Automatically print sample labels if auto print is turned on;
 * Priority is given to 10 digit labels depending on the client setting
 * @param auto_print_labels
 */
function automatically_print_labels(auto_print_labels) {
    if (auto_print_labels) {
        // print 10 digit zebra label if exists
        if ($('.print-zebra-label-ten-digit').length > 0) {
            $('.print-zebra-label-ten-digit').each(function () {
                zebra_labels_helper($(this));
            });
        }  // auto print normal zebra label if exists
        else if ($('.print-zebra-label').length > 0) {
            $('.print-zebra-label').each(function () {
                zebra_labels_helper($(this));
            });
        }  // auto print dymo if exists
        else if ($('.print-label').length > 0) {
            $('.print-label').each(function () {
                dymo_labels_helper($(this));
            });
        }
    }
}
      // Auto print labels
      $(document).ready(function () {
          // auto print labels
          let auto_print_labels = '{{ automatically_print_labels }}';  // advanced setting
          let already_received = '{{ already_received }}';
          if (already_received == 'False'){  // only print labels if sample was not already received
              automatically_print_labels(auto_print_labels);
          }

      });
  </script>

{% endblock %}

{% block footer %}
  {{ form.media }}
{% endblock %}
