{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Accession Check</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
				<a class="btn btn-primary btn-sm" href="{% url 'order_create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Order</a>
      </div>
    </div>
  </div><br>

  <!-- Recent Orders -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4>Orders received between:</h4>
        <p>Click on any Order Code to see details for that order.</p>
        <div id="recent-order-table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span />
          <b class="caret"></b>
        </div>
        <br>
        <p>Containing test:</p>
        <select class="form-control" id="test-type-filter">
            <option value="All">All</option>
          {% for test_type in test_types %}
            <option value="{{ test_type.uuid }}">{{ test_type.name }}</option>
          {% endfor %}
        </select><br>

      </div>
      <!-- Num Orders -->
      <div class="col-lg-6">
      </div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="order-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
          <br><br>
          <a class="btn btn-secondary" id="export-csv-button" href="#">Export to CSV</a>
        </div>
      </div>
      <!-- Num Orders -->
    </div>

    <div class="row top-buffer">
      <div class="col-12">
        <div class="handsontable" id="recent-order-table"></div>
      </div>
    </div>
    <!-- Recent Orders -->
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script>
    // Default page state
    const state = {
        Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count', testFilter: '',
            tableHtmlID: '#recent-order-table', dateRangePickerHtmlID: '#recent-order-table-range span', dateRangePickerDivID: '#recent-order-table-range',
            apiURL: '/api/v1/internal/accession_check_table/'
        },
    };

    const hotSettings = {
      data: [],
      columns: [
          {
              data: 'received_date',
              editor: false,
              type: 'text',
          },
          {
              data: 'code',
              editor: false,
              renderer: linkRenderer,
              width: 150,
          },
          {
            data: 'accession_number',
            editor: false,
            type: 'text',
          },
          {
              data: 'account',
              editor: false,
              renderer: linkRenderer,
              width: 150,
          },
          {
              data: 'provider',
              editor: false,
              renderer: linkRenderer,
              width: 150,
          },
          {
              data: 'patient',
              editor: false,
              renderer: linkRenderer,
              width: 150,
          },
          {
              data: 'patient_birth_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
          },
          {
              data: 'samples',
              editor: false,
              type: 'text',
          },
          {
              data: 'collection_dates',
              editor: false,
              type: 'text',
          },

          {
              data: 'tests',
              editor: false,
              type: 'text',
          },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
          [
              'Received Date',
              'Order Code',
              'Accession Number',
              'Account',
              'Provider',
              'Patient',
              'DOB',
              'Samples',
              'Collection Date',
              'Test Profiles',

          ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function (col, TH) {
          TH.className = 'center';
      },
    };

    var j = jQuery.noConflict();

    // in transit order table
    j(function() {
      // start and end datetime for handsontable. should be moment() for both start & end for accession check
      const start = moment();
      const end = moment();
      const testFilter = j('#test-type-filter').val();

      createTable(state.Table.tableHtmlID, hotSettings);

      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      // EXPORT TO CSV snippet
      // Requirements: js/date_range_picker_table.js
      // use JS instead of jQuery because of jQuery.noConflict --> not sure what that actually does
      // entire table state is only available in this function
      let hotInstance = state.Table.table.getInstance();
      let exportCsvButton = document.getElementById('export-csv-button');
      let csvPlugin = hotInstance.getPlugin('exportFile');

      // function to convert objects to text
      // if we don't do this, then URL links will display as [object Object]
      exportCsvButton.addEventListener('click', function() {

        let stateStartDate = state.Table.dateBegin.format('MMMM-D-YYYY');
        let stateEndDate = state.Table.dateEnd.format('MMMM-D-YYYY');

        // handsontable plugin
        csvPlugin.downloadFile('csv', {
          bom: false,
          columnDelimiter: ',',
          columnHeaders: false,
          exportHiddenColumns: false,
          exportHiddenRows: true,
          fileExtension: 'csv',
          filename: 'accessions_' + stateStartDate + '_' +stateEndDate,
          mimeType: 'text/csv',
          rowDelimiter: '\r\n',
          rowHeaders: false
        });

      });
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

      function order_cb(start, end, testFilter) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          state.Table.testFilter = testFilter;

          const url = testFilter + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
          j.ajax({
              url: state.Table.apiURL + url,
              dataType: 'json',
              success: function(orders) {
                  state.Table.data = orders;
                  updateTable();
              },
              error: function() {
                  console.log("pending order table data call failed")
              }
          })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment().add(1, 'd'),
          ranges: {
              'Today': [moment(), moment()],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end, state.Table.testFilter);
      });

      order_cb(start, end, testFilter);

      j('#test-type-filter').change(function() {
        state.Table.testFilter = j('#test-type-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.testFilter);
    })
    });


	</script>
{% endblock %}

{% block footer %}
  {{ form.media }}
{% endblock %}
