{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Add Samples to Sample Sheet: {{ batch.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'batch_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

	<form method="POST">
		{% csrf_token %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if form_error %}
      <div class="alert alert-danger">
        <strong>{{ form_error }}</strong>
      </div>
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <button type="submit" class="btn btn-primary" name="autofill_button">Autofill with {{ batch.test_panel_type.name }} samples</button>
    <br><br>
    <div class="form-group">
      {{ sample_select_formset.management_form }}
      <table>
        <thead>
          <th>#</th>
          <th>Sample ID</th>
        </thead>
        <tbody>
          {% for control in controls %}
            <tr>
              <td>{{ forloop.counter }}.</td>
              <td>{{ control.code }}: {{ control.name }}</td>
            </tr>
          {% endfor %}
          {% for sample_select_form in sample_select_formset %}
            <tr>
              <td>{{ forloop.counter|add:num_controls }}.</td>
              <td>{{ sample_select_form.sample }}</td>
              <td style="display:none">{{ sample_select_form.test_panel_type }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Save batch samples</button>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ sample_select_formset.media }}
{% endblock %}