{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Sample Sheet: {{ batch.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'batch_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <!-- Batch Details Card -->
      <div class="card">
        <div class="card-header">Batch details
          <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#batch-details" aria-expanded="true">
              <i class="fas fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="collapse show" id="batch-details">
          <div class="card-body">
            <table class="m-1">
              <tr>
                <th>Created Date</th>
                <td class="pl-2">{{ batch.created_date|as_timezone:request.tenant.timezone }}</td>
              </tr>
              <tr>
                <th>Instrument</th>
                <td class="pl-2">{{ batch.instrument_integration.instrument.name }}</td>
              </tr>
              <tr>
                <th>Test Profile</th>
                <td class="pl-2">{{ batch.test_panel_type.name }}</td>
              </tr>
              <tr>
                <th># Controls</th>
                <td class="pl-2">{{ batch.controls.count }}</td>
              </tr>
              <tr>
                <th># Samples</th>
                <td class="pl-2">{{ batch.samples.count }} <a href="{% url 'batch_update_samples' batch.uuid %}"><i class="fas fa-pencil-alt"></i></a></td>
              </tr>
            </table>

          </div>
        </div>
      </div>
      <!-- /Batch Details Card -->

      <!-- Load Sheet Card -->
      <div class="card">
        <div class="card-header">1. Download load sheet
          <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#add-samples" aria-expanded="true">
              <i class="fas fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="collapse show" id="add-samples">
          <div class="card-body">
            {% if batch.load_sheet %}
              <a href="{{ batch.load_sheet.url }}"><i class="fas fa-download"></i> 96 Well load sheet CSV</a>
            {% else %}
              <a href="#">Generate load sheet</a>
            {% endif %}
            <br>
            {% if batch.load_sheet_384 %}
            <a href="{{ batch.load_sheet_384.url }}"><i class="fas fa-download"></i> 384 Well load sheet CSV</a>
            {% endif %}

            <br>
            {% if batch.plate_layout_96 %}
            <a href="{{ batch.plate_layout_96.url }}"><i class="fas fa-download"></i> Plate layout PDF</a><br>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- /Load Sheet Card -->

      <!-- Preparation Card -->
      <div class="card">
        <div class="card-header">2. Perform Assay
          <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#preperation" aria-expanded="true">
              <i class="fas fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="collapse" id="preperation">
          <div class="card-body">
            <embed src="https://s3.amazonaws.com/dendi-lis/media/public/UTM+protocol+for+Extraction+(MVP)+and+Detection.pdf" width="100%" height="800" type="application/pdf">
          </div>
        </div>
      </div>
      <!-- /Preparation Card -->

      <!-- Upload Results Card -->
      <div class="card">
        <div class="card-header">3. Upload results file
          <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#upload-results" aria-expanded="true">
              <i class="fas fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="collapse" id="upload-results">
          <div class="card-body">

          </div>
        </div>
      </div>
      <!-- Upload Resutls Card -->

    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
  // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to delete this instrument?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("#");
      }
    }
	</script>
{% endblock %}
