{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Sample Sheets</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      {% if request.user.user_type != 10 %}
        <div class="btn-group mr-2">
            <a href="{% url 'batch_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Sample Sheet</a>
        </div>
      {% endif %}
    </div>
  </div><br>

  <div class="row">
    <div class="col-12">
      <h6></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="handsontable" id="batch-table"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
    let batchTable;
    // recent order handsontable
    $.ajax({
      url: '/api/v1/internal/batch_table/',
      dataType: 'json',
      success: function (batches) {
        batchTable = createTestTypeTable(batches, batchTable)
      },
      error: function () {
        console.log("batch table api call failed")
      }
    });

    function createTestTypeTable(batches, table) {
      batches.forEach(element => {
        element.name.toString = () => element.name.text;
      });

      if (!table) {
        const hotElement = document.querySelector('#batch-table');
        const hotSettings = {
          data: batches,
          columns: [
            {
              data: 'name',
              editor: false,
              renderer: 'html',
            },
            {
              data: 'num_samples',
              editor: false,
              type: 'text',
            },
            {
              data: 'test_panel_type',
              editor: false,
              type: 'text',
            },
            {
              data: 'instrument_integration',
              editor: false,
              type: 'text',
            },
            {
              data: 'created_datetime',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
            },
          ],
          stretchH: 'all',
          //width: 806,
          height: 700,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
            [
              'Name',
              '# Samples',
              'Test Profile',
              'Instrument',
              'Created Date',
            ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function(col, TH) {
            TH.className = 'center';
          },
        };

        return new Handsontable(hotElement, hotSettings);
      } else {
        // load new data without replacing old table
        table.getPlugin('filters').clearConditions();
        table.loadData(batches);
        return table;
      }
    }

	</script>
{% endblock %}
