{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Billing Messages</h2>
  </div><br>

  <!-- Recent Orders -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4>Orders billed between:</h4>
        <p>Click on any Order Code to see details for that order.</p>
        <div id="billing-messages-table-range" class="pull-left"
             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span/>
          <b class="caret"></b>
        </div>
        <br>
        <p>Account:</p>
        <select class="form-control" id="account-filter">
            <option value="All">All</option>
          {% for account in accounts %}
            <option value="{{ account.uuid }}">{{ account.name }}</option>
          {% endfor %}
        </select><br>
      </div>
      <!-- Num Billing Messages -->
      <div class="col-lg-6">
      </div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="billing-messages-count" data-toggle="counter" data-end="80" data-suffix="%"
                class="number text-center"></span>
          <br><br>
          <a class="btn btn-secondary" id="export-csv-button" href="#">Export to CSV</a>
        </div>
      </div>
      <!-- Num Billing Messages -->
    </div>
    <p id="returned-count"></p>
    <div class="row top-buffer">
      <div class="col-12">
        <div class="handsontable" id="billing-messages-table"></div>
      </div>
    </div>
    <!-- Recent Orders -->
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
  <script>
      // Default page state
      const state = {
          Table: {
              chart: '',
              data: '',
              dateBegin: '',
              dateEnd: '',
              countHtmlID: '#billing-messages-count',
              tableHtmlID: '#billing-messages-table',
              dateRangePickerHtmlID: '#billing-messages-table-range span',
              dateRangePickerDivID: '#billing-messages-table-range',
              apiURL: '/api/v1/internal/billing_messages_table/',
              accountFilter: ''
          },
      };

      const hotSettings = {
          data: [],
          columns: [
              {
                  data: 'order_code',
                  editor: false,
                  renderer: linkRenderer,
                  width: 150,
              },
              {
                  data: 'accession_number',
                  editor: false,
                  type: 'text',
              },
              {
                  data: 'status',
                  editor: false,
                  type: 'text',
              },
              {
                  data: 'created_date',
                  editor: false,
                  type: 'date',
                  dateFormat: 'MM/DD/YYYY',
                  correctFormat: true,
              },
              {
                  data: 'account',
                  editor: false,
                  renderer: linkRenderer,
                  width: 150,
              },
              {
                  data: 'sample_count',
                  editor: false,
                  type: 'text',
              },
              {
                  data: 'test_count',
                  editor: false,
                  type: 'text',
              },
              {
                  data: 'hl7_download_link',
                  editor: false,
                  renderer: 'html',
                  className: 'htCenter',
              },
              {
                  data: 'order_document_download_link',
                  editor: false,
                  renderer: 'html',
                  className: 'htCenter',
              },

          ],
          stretchH: 'all',
          //width: 806,
          height: 700,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
              [
                  'Order Code',
                  'Accession Number',
                  'Status',
                  'Date Created',
                  'Account',
                  'Sample Count',
                  'Test Count',
                  'HL7 Message',
                  'Order Documents',
              ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function (col, TH) {
              TH.className = 'center';
          },
          beforeCopy: (data, coords) => {
            for(i=0; i < data.length; i++) {
              data[i][1] = data[i][1].text;
              data[i][2] = data[i][2].text;
              data[i][3] = data[i][3].text;
              data[i][4] = data[i][4].text;
              data[i][5] = data[i][5].text;
              data[i][6] = data[i][6].text;
              data[i][7] = data[i][7].text;
            }
            return data;
          },
      };

      var j = jQuery.noConflict();
      j(function () {
          // start and end datetime for handsontable. should be moment() for both start & end for accession check
          const start = moment().subtract(7, 'd').startOf('week').add(1, 'd');
          const end = moment();
          const accountFilter = j('#account-filter').val();
          createTable(state.Table.tableHtmlID, hotSettings);

          ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          // EXPORT TO CSV snippet
          // Requirements: js/date_range_picker_table.js
          // use JS instead of jQuery because of jQuery.noConflict --> not sure what that actually does
          // entire table state is only available in this function
          let hotInstance = state.Table.table.getInstance();
          let exportCsvButton = document.getElementById('export-csv-button');
          let csvPlugin = hotInstance.getPlugin('exportFile');

          // function to convert objects to text
          // if we don't do this, then URL links will display as [object Object]
          exportCsvButton.addEventListener('click', function () {

              let stateStartDate = state.Table.dateBegin.format('MMMM-D-YYYY');
              let stateEndDate = state.Table.dateEnd.format('MMMM-D-YYYY');

              // handsontable plugin
              csvPlugin.downloadFile('csv', {
                  bom: false,
                  columnDelimiter: ',',
                  columnHeaders: false,
                  exportHiddenColumns: false,
                  exportHiddenRows: true,
                  fileExtension: 'csv',
                  filename: 'billing_messages_' + stateStartDate + '_' + stateEndDate,
                  mimeType: 'text/csv',
                  rowDelimiter: '\r\n',
                  rowHeaders: false
              });

          });

          ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

          function billing_cb(start, end, accountFilter) {
              j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
              state.Table.dateBegin = start;
              state.Table.dateEnd = end;
              state.Table.accountFilter = accountFilter;

              const url = accountFilter + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
              j.ajax({
                  url: state.Table.apiURL + url,
                  dataType: 'json',
                  success: function (billing_messages) {
                      state.Table.data = billing_messages['results'];
                      j('#returned-count').html('Showing <b>' + billing_messages['returned_count'] + ' of ' + billing_messages['billing_messages_total'] + '</b> billing messages.');
                      updateTable();
                      j(state.Table.countHtmlID).html(billing_messages['billing_messages_total'].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
                  },
                  error: function () {
                      console.log("billing messages table data call failed")
                  }
              })

          }

          j(state.Table.dateRangePickerDivID).daterangepicker({
              startDate: start,
              endDate: end,
              showDropdowns: true,
              alwaysShowCalendars: true,
              linkedCalendars: false,
              maxDate: moment().add(1, 'd'),
              ranges: {
                  'Today': [moment(), moment()],
                  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'), moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              }
          }, function (start, end) {
              j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
              state.Table.dateBegin = start;
              state.Table.dateEnd = end;
              billing_cb(start, end, state.Table.accountFilter);
          });

          billing_cb(start, end, accountFilter);
          j('#account-filter').change(function() {
            state.Table.accountFilter = j('#account-filter').val();
            billing_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.accountFilter);
        })
      });


  </script>
{% endblock %}

{% block footer %}
  {{ form.media }}
{% endblock %}
