{% load static %}
{% load humanize %}
{% load timezone %}
{% load orders_tags %}


{% for comment in order_comments %}
  <div class="card mt-4">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-6">
          <div class="comment">{{ comment.comment|linebreaks }}</div>
          <p class="text-muted small">
            Added by: {{ comment.user.first_name }} {{ comment.user.last_name }}, <i>{{ comment.created_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</i>
            {% if comment.last_modified_user %}
              <br>
              Edited by: {{ comment.last_modified_user.first_name }} {{ comment.last_modified_user.last_name }}, <i>{{ comment.last_modified_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</i>
            {% endif %}
          </p>
        </div>
        <div class="col-6">
          <a href="{% url 'order_comment_delete' order_code=order.code order_comment_uuid=comment.uuid %}?redirect_to={{ request.path|urlencode }}"
             class="btn btn-sm btn-danger float-right order-comment-delete">
            <i class="fas fa-trash-alt"></i>
          </a>
          <a href="{% url 'order_comment_update' order_code=order.code order_comment_uuid=comment.uuid %}?redirect_to={{ request.path|urlencode }}"
             class="btn btn-sm btn-warning float-right mr-1">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}