{% load static %}
{% load humanize %}
{% load timezone %}
{% load orders_tags %}


{% if request.user.user_type < 9 %}
  {% if not order_approval_page %}
    {% if order.status in editable_order_status_list %}
      <td colspan="42">
        <a href="{% url 'order_test_delete' order.code data.result_obj.test.uuid %}" class="float-right">
          <i class="far fa-lg fa-trash-alt order-test-delete text-danger ml-4" data-toggle="tooltip" title="Archive test"></i>
        </a>
        <a href="{% url 'order_test_comment_create' order_code=order.code test_uuid=data.result_obj.test.uuid %}" class="float-right">
          <i class="far fa-lg fa-comment-plus" data-toggle="tooltip" title="Add comment for test"></i>
        </a>
      </td>
    {% else %}
      {% if data.result_obj.test.is_approved %}
        <td colspan="42"><i class="far fa-lg fa-check"></i></td>
      {% else %}
        <td colspan="42">
          <a href="{% url 'order_test_approved' order.code data.result_obj.test.uuid %}">
            <i class="far fa-lg fa-clipboard-check" data-toggle="tooltip" title="Approve result"></i>
          </a>
          <a href="{% url 'order_test_comment_create' order_code=order.code test_uuid=data.result_obj.test.uuid %}" class="float-right">
            <i class="far fa-lg fa-comment-plus" data-toggle="tooltip" title="Add comment for test"></i>
          </a>
        </td>
      {% endif %}
    {% endif %}
  {% else %}
    <td></td>
  {% endif %}
{% endif %}
