{% load static %}
{% load humanize %}
{% load timezone %}
{% load orders_tags %}


      <!-- Test results -->
      {% csrf_token %}
      {{ pcr_result_formset.management_form }}
      {{ other_result_formset.management_form }}
      {{ chemistry_immunoassay_result_formset.management_form }}
      {{ toxicology_screening_result_formset.management_form }}
      {{ general_chemistry_result_formset.management_form }}
      {{ epcr_result_formset.management_form }}
      {{ ifa_result_formset.management_form }}
      {{ elisa_result_formset.management_form }}
      {{ wb_result_formset.management_form }}
      {{ wb_ruo_result_formset.management_form }}
      {{ lc_ms_result_formset.management_form }}
      {{ qpcr_result_formset.management_form }}
      {{ specimen_validity_result_formset.management_form }}
      {{ kit_result_formset.management_form }}

      <div class="row approval-div">
        <div class="col-12">


          {% for test_method in test_methods %}
            <div class="card">

              <div class="card-header">
                {{ test_method.name }} Results&nbsp;&nbsp;
                {% if order.status not in editable_order_status_list and request.user.user_type < 9 %}
                  <a href="{% url 'order_test_method_approved' order.code test_method.name %}">
                    <i class="fas fa-clipboard-check" data-toggle="tooltip"
                       title="Approve all {{ test_method.name }} results"></i>
                  </a>&nbsp;
                  <a href="{% url 'order_test_method_approval_revert' order.code test_method.name %}">
                    <i class="fas fa-history" data-toggle="tooltip"
                       title="Undo approval for all {{ test_method.name }} results"></i>
                  </a>
                {% endif %}
              </div>

              <div class="card-body">

                {% if test_method.name == 'Chemistry-Immunoassay'  %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 9%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 9%">Result</th>
                      <th style="width: 4%"></th>
                      <th style="width: 9%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                      <th></th>
                    </thead>
                    <tbody>
                      {% for data, result_form in chemistry_immunoassay_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9%}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                              <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result_quantitative }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9%}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Result -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'Kit' %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 12%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 11%">Result</th>
                      <th></th>
                      <th style="width: 9%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in kit_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                              <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result_quantitative }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Result -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'General Chemistry' %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 20%">Name</th>
                      <th style="width: 20%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 10%">Result</th>
                      <th style="width: 10%">{{ test_method.cutoff_field }}</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in general_chemistry_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9%}
                              <td>{{ data.result_obj.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_quantitative }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              {% if data.result_obj.test.test_type.use_round_figures %}
                                <td>{{ data.result_obj.result_quantitative|floatformat:data.result_obj.test.test_type.round_figures }}</td>
                              {% else %}
                                <td>{{ data.result_obj.result_quantitative|default:"" }}</td>
                              {% endif %}
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'Toxicology Screening' %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 15%">Due Date</th>
                      <th style="width: 15%">Result</th>
                      <th style="width: 15%">{{ test_method.cutoff_field }}</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in toxicology_screening_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9%}
                              <td>{{ data.result_obj.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_quantitative }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              {% if data.result_obj.test.test_type.use_round_figures %}
                                <td>{{ data.result_obj.result_quantitative|floatformat:data.result_obj.test.test_type.round_figures }}</td>
                              {% else %}
                                <td>{{ data.result_obj.result_quantitative|default:"" }}</td>
                              {% endif %}
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>


                {% elif test_method.name == 'qPCR' %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 17%">Test </th>
                      <th>Sample</th>
                      <th>Collection Datetime</th>
                      <th>Due Date</th>
                      <th>Result</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                      <th></th>
                    </thead>
                    <tbody>
                      {% for data, result_form in qpcr_data_and_formset %}
                        <tr>
                          <td>
                            <i class="fa fa-chevron-circle-up expand-test" id="collapsed-chevron-{{ data.result_obj.test.uuid }}"
                               style="color:#1EA8D8"
                               data-toggle="collapse" data-target="#table-{{ data.result_obj.test.uuid }}"></i>
                            &nbsp;&nbsp;{{ data.result_obj.test.test_type.name }}
                          </td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                              {% if order.status in editable_order_status_list %}
                                {% if request.user.user_type < 9 %}
                                  <td>{{ result_form.result }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% else %}
                                {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                  <td>{{ data.result_obj.result_label }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% endif %}
                                <td></td>
                            {% else %}
                              {% if order.status in editable_order_status_list %}
                                {% if request.user.user_type < 9 %}
                                  <td>{{ result_form.result_quantitative }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% else %}
                                {% if data.result_obj.test.initial_report_date or request.user.user_type < 9%}
                                  <td>{{ data.result_obj.result_label }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% endif %}
                              <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                            {% endif %}
                          <!-- /Result -->

                          {% if request.user.user_type < 9 %}
                            {% if order.status in editable_order_status_list %}
                              <td>
                                <a href="{% url 'order_test_delete' order.code data.result_obj.test.uuid %}">
                                  <i class="fas fa-trash-alt order-test-delete text-danger" data-toggle="tooltip" title="Archive test"></i>
                                </a>
                              </td>
                            {% else %}
                              {% if data.result_obj.test.is_approved %}
                                <td><i class="fas fa-check"></i></td>
                              {% else %}
                                <td>
                                  <a href="{% url 'order_test_approved' order.code data.result_obj.test.uuid %}">
                                    <i class="fas fa-clipboard-check" data-toggle="tooltip" title="Approve result"></i>
                                  </a>
                                </td>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        </tr>

                        <tr class="expand-child collapse" id="table-{{ data.result_obj.test.uuid }}">
                          <td colspan="12">
                            <table class="table table-sm test-details-table">
                              <thead>
                                <th>Reference</th>
                                <th>Last Updated</th>
                                <th>User</th>
                              </thead>

                              <tbody>
                                <tr>
                                  <!-- Reference -->
                                  {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                                    {% if order.status in editable_order_status_list %}
                                      {% if request.user.user_type < 9 %}
                                        <td>{{ result_form.reference }}</td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}
                                    {% else %}
                                      {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                        <td>{{ data.result_obj.reference_label }}</td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}
                                    {% endif %}
                                  {% else %}
                                    {% if order.status in editable_order_status_list %}
                                      {% if request.user.user_type < 9 %}
                                        <td></td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}
                                    {% else %}
                                      {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                        <td></td>
                                      {% else %}
                                        <td></td>
                                      {% endif %}
                                    {% endif %}
                                  {% endif %}
                                  <!-- /Reference -->
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        {% if data.result_obj.observations.all|length > 0 and request.user.user_type < 10 %}
                        <tr class="expand-child">
                          <td colspan="12">
                            <table class="table table-sm">
                              <thead>
                                <th>Instrument</th>
                                <th>Observation date</th>
                                <th>Value</th>
                                <th>Cutoff</th>
                                <th>Qualitative Result</th>
                              </thead>
                              <tbody>
                                {% for observation in data.result_obj.observations.all %}
                                <tr {% if observation.result_qualitative == 'Positive' %}class="table-danger"
                              {% elif observation.result_qualitative  == 'Negative' %}class="table-success"
                              {% elif observation.result_qualitative  == 'Undetermined' %}class="table-secondary"
                              {% endif %}>
                                  <td>{{ observation.data_in.instrument_integration.internal_instrument_name }}</td>
                                  <td>{{ observation.created_date }}</td>
                                  <td>{{ observation.result_value }} {{ observation.data_in.instrument_integration.instrument.unit_of_measurement }}</td>
                                  <td>{{ observation.cutoff }} {{ observation.data_in.instrument_integration.instrument.unit_of_measurement }}</td>
                                  <td>{{ observation.result_qualitative }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {% endif %}

                        {% include 'block_order_test_comment_create.html' %}

                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'LC-MS' %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 15%">Due Date</th>
                      <th style="width: 10%">Result</th>
                      <th style="width: 15%">{{ test_method.cutoff_field }}</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in lc_ms_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              <td>{{ data.result_obj.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_quantitative }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              {% if data.result_obj.test.test_type.use_round_figures %}
                                <td>{{ data.result_obj.result_quantitative|floatformat:data.result_obj.test.test_type.round_figures }}</td>
                              {% else %}
                                <td>{{ data.result_obj.result_quantitative|default:"" }}</td>
                              {% endif %}
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'Specimen Validity' %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 15%">Due Date</th>
                      <th style="width: 10%">Result</th>
                      <th style="width: 10%">Measurement</th>
                      <th style="width: 10%">Expected</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in specimen_validity_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.offsite_laboratory %}
                            <td>Results pending from {{ data.result_obj.test.test_type.offsite_laboratory.name }}</td>
                            <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_quantitative }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              {% if data.result_obj.test.test_type.use_round_figures %}
                                <td>{{ data.result_obj.result_quantitative|floatformat:data.result_obj.test.test_type.round_figures }}</td>
                              {% else %}
                                <td>{{ data.result_obj.result_quantitative|default:"" }}</td>
                              {% endif %}
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          <td>{{ data.result_obj.test.test_type.expected_range_string }}</td>
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>

                {% comment %}
                  SECTION FOR GALAXY ONLY
                {% endcomment %}
                <!----------------------------------------------------------------------------------------------------->
                <!----------------------------------------------------------------------------------------------------->
                <!----------------------------------------------------------------------------------------------------->

                {% elif test_method.name == 'PCR' %}
                  {% if request.user.user_type < 9 and order.status in editable_order_status_list %}
                    <label>{{ pcr_user_form.user.label }}</label>
                    {{ pcr_user_form.user }}
                  {% else %}
                    <label>{{ pcr_user_form.user.label }} {{ test_users.pcr }}</label>
                  {% endif %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 9%">Result</th>
                      <th></th>
                      <th style="width: 9%">{{ test_method.cutoff_field }}</th>
                      <th style="width: 9%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in pcr_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                              <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result_quantitative }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              <td>{{ data.result_obj.result_info_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>


                {% elif test_method.name == 'ePCR' %}
                  {% if request.user.user_type < 9 and order.status in editable_order_status_list %}
                    <label>{{ epcr_user_form.user.label }}</label>
                    {{ epcr_user_form.user }}
                  {% else %}
                    <label>{{ epcr_user_form.user.label }}  {{ test_users.epcr }}</label>
                  {% endif %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 9%">Result</th>
                      <th></th>
                      <th style="width: 9%">{{ test_method.cutoff_field }}</th>
                      <th style="width: 9%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in epcr_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                              {% if order.status in editable_order_status_list %}
                                {% if request.user.user_type < 9 %}
                                  <td>{{ result_form.result }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% else %}
                                {% if data.result_obj.test.initial_report_date or request.user.user_type < 9%}
                                  <td>{{ data.result_obj.result_label }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% endif %}
                                <td></td>
                            {% else %}
                              {% if order.status in editable_order_status_list %}
                                {% if request.user.user_type < 9 %}
                                  <td>{{ result_form.result_quantitative }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% else %}
                                {% if data.result_obj.test.initial_report_date or request.user.user_type < 9%}
                                  <td>{{ data.result_obj.result_label }}</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                              {% endif %}
                              <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                            {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              <td>{{ data.result_obj.result_info_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>

                {% elif test_method.name == 'IFA' %}
                  {% if request.user.user_type < 9 and order.status in editable_order_status_list %}
                    <label>{{ ifa_user_form.user.label }}</label>
                    {{ ifa_user_form.user }}
                  {% else %}
                    <label>{{ ifa_user_form.user.label }} {{ test_users.ifa }}</label>
                  {% endif %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 12%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 5%">Result</th>
                      <th></th>
                      <th style="width: 2%">{{ test_method.cutoff_field }}</th>
                      <th style="width: 1%"></th>
                      <th style="width: 5%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in ifa_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                              <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result_quantitative }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_label_prefix }}</td>
                              <td>{{ result_form.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              <td>{{ data.result_obj.result_info_label_prefix }}</td>
                              <td>{{ data.result_obj.result_info_label }}</td>
                            {% else %}
                              <td></td>
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'ELISA' %}
                  {% if request.user.user_type < 9 and order.status in editable_order_status_list %}
                    <label>{{ elisa_user_form.user.label }}</label>
                    {{ elisa_user_form.user }}
                  {% else %}
                    <label>{{ elisa_user_form.user.label }} {{ test_users.elisa }}</label>
                  {% endif %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 11%">Result</th>
                      <th></th>
                      <th style="width: 9%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in elisa_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                              <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result_quantitative }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Result -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'WB' %}
                  {% if request.user.user_type < 9 and order.status in editable_order_status_list %}
                    <label>{{ wb_user_form.user.label }}</label>
                    {{ wb_user_form.user }}
                  {% else %}
                    <label>{{ wb_user_form.user.label }} {{ test_users.wb }}</label>
                  {% endif %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 9%">Result</th>
                      <th></th>
                      <th style="width: 9%">{{ test_method.cutoff_field }}</th>
                      <th style="width: 9%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in wb_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                              <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result_quantitative }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              <td>{{ data.result_obj.result_info_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                {% elif test_method.name == 'WB RUO' %}
                  {% if request.user.user_type < 9 and order.status in editable_order_status_list %}
                    <label>{{ wb_ruo_user_form.user.label }}</label>
                    {{ wb_ruo_user_form.user }}
                  {% else %}
                    <label>{{ wb_ruo_user_form.user.label }} {{ test_users.wb_ruo }}</label>
                  {% endif %}
                  <table class="table table-sm">
                    <thead>
                      <th style="width: 1%"></th>
                      <th style="width: 17%">Name</th>
                      <th style="width: 15%">Sample</th>
                      <th style="width: 15%">Collection Datetime</th>
                      <th style="width: 9%">Due Date</th>
                      <th style="width: 9%">Days Incubated</th>
                      <th style="width: 9%">Result</th>
                      <th></th>
                      <th style="width: 9%">{{ test_method.cutoff_field }}</th>
                      <th style="width: 9%">Reference</th>
                      <th colspan="42">
                        {% if not order.status in editable_order_status_list %}
                          Approve
                        {% endif %}
                      </th>
                    </thead>
                    <tbody>
                      {% for data, result_form in wb_ruo_data_and_formset %}
                        <tr>
                          <td>
                            {% if data.user %}
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                               title="Last Updated: {{ data.result_obj.submitted_datetime|date:'m-d-Y, h:iA (T)'|default_if_none:"" }}<br>
                                Updated By: {{ data.user|default_if_none:"" }}">
                            </i>
                            {% endif %}
                          </td>
                          <td>{{ data.result_obj.test.test_type.name }}</td>
                          <td>{{ data.result_obj.test.sample.code }}</td>
                          <td>{{ data.result_obj.test.sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                          <!-- due date -->
                          {% if order.status not in editable_order_status_list or request.user.user_type == 10 or request.user.user_type == 9 %}
                            <td>{{ data.result_obj.test.due_date|date:'m-d-Y, h:iA (T)' }}</td>
                          {% else %}
                            <td>{{ result_form.due_date }}</td>
                          {% endif %}
                          <td>{{ data.result_obj.days_incubated|default_if_none:"" }}</td>
                          <td class="d-none"></td>
                          <!-- Result -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                              <td></td>
                          {% else %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.result_quantitative }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.result_label }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Result -->
                          <!-- Result Info Label -->
                          {% if order.status in editable_order_status_list %}
                            {% if request.user.user_type < 9 %}
                              <td>{{ result_form.result_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% else %}
                            {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                              <td>{{ data.result_obj.result_info_label }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                          {% endif %}
                          <!-- /Result Info Label -->
                          <!-- Reference -->
                          {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                            {% if order.status in editable_order_status_list %}
                              {% if request.user.user_type < 9 %}
                                <td>{{ result_form.reference }}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              {% if data.result_obj.test.initial_report_date or request.user.user_type < 9 %}
                                <td>{{ data.result_obj.reference_label }}</td>
                              {% endif %}
                            {% endif %}
                          {% else %}
                            <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                          {% endif %}
                          <!-- /Reference -->
                          {% include 'block_order_test_comment_create.html' %}
                        </tr>
                        {% include 'block_order_test_comments.html' %}
                      {% endfor %}
                    </tbody>
                  </table>

                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- /Test Results -->


 <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
  {{ chemistry_immunoassay_user_form.media }}
  {{ general_chemistry_user_form.media }}
  {{ toxicology_screening_user_form.media }}
  {{ other_user_form.media }}
  {{ gc_user_form.media }}
  {{ pcr_user_form.media }}
  {{ qpcr_user_form.media }}
  {{ epcr_user_form.media }}
  {{ ifa_user_form.media }}
  {{ wb_user_form.media }}
  {{ wb_ruo_user_form.media }}
  {{ elisa_user_form.media }}
  {{ lc_ms_user_form.media }}
  {{ specimen_validity_user_form.media }}
