{% load static %}
{% load humanize %}
{% load timezone %}
{% load orders_tags %}


{% for comment in data.result_obj.test.order_test_comments.all %}
  <tr>
    <td colspan="42" class="pl-4">
      <small>
      <b>Comment{% if comment.is_public %}: (Public){% endif %}: </b>
        {{ comment.comment }}
      </small>
    </td>
    <td class="order-comment-block">
      {% if order.status == 'Unreceived' or order.status == 'Pending Results' or order.status == 'Pending Test Approval' %}
        <a href="{% url 'order_test_comment_delete' order_code=order.code test_uuid=data.result_obj.test.uuid comment_uuid=comment.uuid %}"
           class="float-right ml-4 comment-delete">
          <i class="far fa-lg fa-comment-minus text-danger" data-toggle="tooltip" title="Archive comment for test"></i>
        </a>
        <a href="{% url 'order_test_comment_update' order_code=order.code test_uuid=data.result_obj.test.uuid comment_uuid=comment.uuid %}" class="float-right">
          <i class="far fa-lg fa-comment-edit text-warning" data-toggle="tooltip" title="Update comment for test"></i>
        </a>
      {% endif %}
    </td>
  </tr>
{% endfor %}

