{% load static %}
{% load humanize %}
{% load timezone %}
{% load orders_tags %}


    <div class="row top buffer">

      <div class="col-12">

        <div class="card h-100">
          <div class="card-header">
            Order Information
          </div>

          <div class="card-body">
            <table class="table table-sm">
              <tbody>
                {% if order.status == 'Pending Test Approval' %}
                <tr>
                  <th scope="row">Status</th>
                  <td id="order-status">{{ order.status }} ({{approved_tests|length}}/{{ tests|length }} tests passed)</td>
                {% else %}
                  <th scope="row">Status</th>
                  <td id="order-status"><b>{{ order.status }}</b></td>
                </tr>
                {% endif %}
                {% if request.tenant.settings|safe_lookup:'enable_accession_number' == True and order.accession_number %}
                <tr>
                  <th scope="row">Accession Number</th>
                  <td>
                    {% if request.user.user_type < 9 %}
                      {% if not order.has_unresolved_issues %}
                        <a href="{% url 'order_previous_accession' order.code %}"><i class="fas fa-caret-left fa-lg"></i></a>
                      {% endif %}
                    {% endif %}&nbsp;
                    {{ order.accession_number }}&nbsp;
                    {% if request.user.user_type < 9 and request.tenant.settings|safe_lookup:'enable_accession_number_editing' == True %}
                      <a href="{% url 'order_accession_number_update' order.code %}"><i class="fas fa-pencil text-warning"></i></a>
                    {% endif %}
                    {% if request.user.user_type < 9 %}
                      {% if not order.has_unresolved_issues %}
                        <a href="{% url 'order_next_accession' order.code %}"><i class="fas fa-caret-right fa-lg"></i></a>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                {% if order.alternate_id %}
                <tr>
                  <th scope="row">Alternate ID</th>
                  <td>{{ order.alternate_id }}</td>
                </tr>
                {% endif %}
                {% if order.submitted %}
                <tr>
                  <th scope="row">Submitted</th>
                  <td>{{ order.submitted_date|date:'m-d-Y, h:iA (T)' }}</td>
                </tr>
                {% endif %}
                {% if order.received_date %}
                <tr>
                  <th scope="row">Received</th>
                  <td>{{ order.received_date|date:'m-d-Y, h:iA (T)' }}</td>
                </tr>
                {% endif %}
                {% if order.completed %}
                <tr>
                  <th scope="row">Completed</th>
                  <td>{{ order.completed_date|date:'m-d-Y, h:iA (T)' }}</td>
                </tr>
                {% endif %}
                {% if order.report_date %}
                <tr>
                  <th scope="row">Reported</th>
                  <td>{{ order.report_date|date:'m-d-Y, h:iA (T)' }}</td>
                </tr>
                {% endif %}
                {% comment %} Only show user types for accounts and providers {% endcomment %}
                {% if user.user_type < 9 %}
                <tr>
                  <th scope="row">Issues &nbsp;
                    <i class="fas fa-info-circle" data-toggle="tooltip"
                       title="The history of all issues associated with this order, both resolved and unresolved. Only lab users can see this.">
                    </i>
                  </th>
                  <td>
                    <a href="{% url 'order_issue_create' order.code %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Issue</a>
                    <!-- django foreign key check -->
                    {% if order.issues.exists %}
                    <a href="{% url 'order_issue_list' order.code %}" class="btn btn-sm btn-primary"><i class="fas fa-search"></i>&nbsp;&nbsp;History</a>
                    {% endif %}
                  </td>
                </tr>
                {% if enable_document_scanning or enable_document_uploading %}
                <tr>
                  <th>Documents List ({{ documents.count|default_if_none:'' }}) &nbsp;
                  </th>
                  <td>
                    {% if documents %}
                      <a href="{% url 'order_document_list' order.uuid %}" class="btn btn-sm btn-primary" ><i class="fas fa-search"></i>&nbsp;&nbsp;View</a>
                    {% else %}
                      No documents
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                {% endif %}
                <tr>
                  <th scope="row">Procedure Codes</th>
                  <td>{{ procedure_codes|join:", " }}</td>
                </tr>
                {% for icd10_code in icd10_codes %}
                  <tr>
                    <th scope="row">ICD-10 Code #{{ forloop.counter }}</th>
                    <td>{{ icd10_code.code_with_period }}: {{ icd10_code.full_description }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-6">

        <div class="card h-100">
          <div class="card-header">
            Account Information
          </div>

          <div class="card-body">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th scope="row">Clinic Name</th>
                  <td>
                    {% if account.is_active %}
                      <a href="{% url 'account_details' account.uuid %}">{{ account.name }}</a>
                    {% else %}
                      {{ account.name }}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">ID (Alternate ID)</th>
                  <td>{{ account.id }} {% if account.alternate_id %}({{ account.alternate_id }}){% endif %}</td>
                </tr>
                <tr>
                  <th scope="row">Mailing Address</th>
                  <td>{{ account.address1 }}{% if account.zip_code or account.zip_code.strip != '' %}, {{ account.zip_code }}{% endif %}
                    {% if account.address2 %}
                  <br>{{ account.address2 }}
                  {% endif %}</td>
                </tr>
                <tr>
                  <th scope="row">Phone</th>
                  <td colspan="2">{{ account.phone_number }}</td>
                </tr>
                {% if account.fax_number %}
                <tr>
                  <th scope="row">Fax</th>
                  <td colspan="2">{{ account.fax_number }}</td>
                </tr>
                {% endif %}
                {% if provider %}
                <tr>
                  <th scope="row">Referring Provider Name</th>
                  <td colspan="2">
                    {% if provider.is_active %}
                      <a href="{% url 'provider_details' provider.uuid %}">
                        {{ provider.user.first_name }}
                        {{ provider.user.last_name }}{% if provider.suffix %}, {{ provider.suffix }} {% endif %}
                      </a>
                    {% else %}
                      {{ provider.user.first_name }}
                      {{ provider.user.last_name }}{% if provider.suffix %}, {{ provider.suffix }} {% endif %}
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                {% if provider.npi %}
                <tr>
                  <th scope="row">NPI</th>
                  <td colspan="2">{{ provider.npi }}</td>
                </tr>
                {% endif %}
                {% if provider.id_num %}
                <tr>
                  <th scope="row">Non-US Identifier</th>
                  <td colspan="2">{{ provider.id_num }}</td>
                </tr>
                {% endif %}
                {% if provider.user.email %}
                <tr>
                  <th scope="row">Email</th>
                  <td colspan="2">{{ provider.user.email }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-6">

        <div class="card h-100">
          <div class="card-header">
            Patient Information
            {% if order.status == 'Pending Test Approval' or order.status == 'Pending Results' or order.status == 'Unreceived' %}
              <a href="{% url 'order_patient_payer_update' order.code %}" class="btn btn-sm btn-warning float-right ml-2" target="_blank">
                <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Insurance
              </a>
              {% if provider %}
                <a href="{% url 'order_edit_prescribed_medications' order.code provider.uuid patient.uuid %}" class="btn btn-sm btn-warning float-right" target="_blank">
                  <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Prescribed Medications
                </a>
              {% endif %}
            {% endif %}
          </div>

          <div class="card-body">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th scope="row">Patient Name</th>
                  <td>
                    {% if patient %}
                    <a href="{% url 'patient_details' patient.uuid %}">
                      {{ patient.user.first_name }} {% if patient.middle_initial %} {{ patient.middle_initial }}. {% endif %}
                      {{ patient.user.last_name }}{% if patient.suffix %}, {{ patient.suffix }} {% endif %}
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% if patient.address1 %}
                <tr>
                  <th scope="row">Mailing Address</th>
                  <td>{{ patient.address1 }}{% if patient.zip_code or patient.zip_code.strip != '' %}, {{ patient.zip_code }}{% endif %}
                  {% if patient.address2 %}
                  <br>{{ patient.address2 }}
                  {% endif %}</td>
                </tr>
                {% endif %}
                {% if patient.phone_number %}
                <tr>
                  <th scope="row">Phone</th>
                  <td colspan="2">{{ patient.phone_number }}</td>
                </tr>
                {% endif %}
                {% if patient.user.email %}
                <tr>
                  <th scope="row">Email</th>
                  <td colspan="2">{{ patient.user.email }}</td>
                </tr>
                {% endif %}
                <tr>
                  <th scope="row">Date of Birth</th>
                  <td colspan="2">{{ patient.birth_date }}</td>
                </tr>
                <tr>
                  <th scope="row">Sex</th>
                  <td colspan="2">{{ patient.get_sex_display }}</td>
                </tr>
                <tr>
                  <th scope="row">Ethnicity</th>
                  <td colspan="2">{{ patient.get_ethnicity_display }}</td>
                </tr>
                {% if patient_status %}
                <tr>
                  <th scope="row">Fasting</th>
                  <td colspan="2">{{ patient_status.fasting }}</td>
                </tr>
                {% endif %}
                {% if prescribed_medications %}
                <tr>
                  <th scope="row">Prescribed Medications</th>
                    <td colspan="2">
                      {% for prescribed_medication in prescribed_medications %}
                        {{ prescribed_medication }}{%if not forloop.last%}, {%endif%}
                      {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if patient_status.heart_rate %}
                <tr>
                  <th scope="row">Heart Rate</th>
                  <td colspan="2">{{ patient_status.heart_rate }} bpm</td>
                </tr>
                {% endif %}
                {% if patient_status.temperature %}
                <tr>
                  <th scope="row">Temperature</th>
                  <td colspan="2">{{ patient_status.temperature }} {{ patient_status.temperature_unit }}</td>
                </tr>
                {% endif %}
                {% if patient_status.blood_pressure_systolic %}
                <tr>
                  <th scope="row">Blood Pressure Systolic</th>
                  <td colspan="2">{{ patient_status.blood_pressure_systolic }} mmHg </td>
                </tr>
                {% endif %}
                {% if patient_status.blood_pressure_diastolic %}
                <tr>
                  <th scope="row">Blood Pressure Diastolic</th>
                  <td colspan="2">{{ patient_status.blood_pressure_diastolic }} mmHg</td>
                </tr>
                {% endif %}

                {% if primary_patient_payer %}
                  <tr>
                    <th scope="row">Primary Insurance ({{ primary_patient_payer.payer_type }})</th>
                    <td colspan="2">{{ primary_patient_payer.payer.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Primary Subscriber</th>
                    {% if primary_patient_payer.subscriber_relationship != 'Self' %}
                      <td colspan="2">{{ primary_patient_payer.subscriber_name }} ({{ primary_patient_payer.subscriber_relationship }})</td>
                    {% else %}
                      <td colspan="2">
                        {{ patient.user.first_name }} {% if patient.middle_initial %} {{ patient.middle_initial }}. {% endif %}
                        {{ patient.user.last_name }}{% if patient.suffix %}, {{ patient.suffix }}{% endif %} (Self)
                      </td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Primary Group #</th>
                    <td colspan="2">{{ primary_patient_payer.group_number }} </td>
                  </tr>
                  <tr>
                    <th scope="row">Primary Member ID</th>
                    <td colspan="2">{{ primary_patient_payer.member_id }} </td>
                  </tr>
                {% else %}
                  <tr>
                    <th scope="row">Primary Insurance (None)</th>
                    <td colspan="2">None (Self-Pay)</td>
                  </tr>
                {% endif %}
                {% if secondary_patient_payer %}
                  <tr>
                    <th scope="row">Secondary Insurance ({{ secondary_patient_payer.payer_type }})</th>
                    <td colspan="2">{{ secondary_patient_payer.payer.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Secondary Subscriber</th>
                    {% if secondary_patient_payer.subscriber_relationship != 'Self' %}
                      <td colspan="2">{{ secondary_patient_payer.subscriber_name }} ({{ secondary_patient_payer.subscriber_relationship }})</td>
                    {% else %}
                      <td colspan="2">
                        {{ patient.user.first_name }} {% if patient.middle_initial %} {{ patient.middle_initial }}. {% endif %}
                        {{ patient.user.last_name }}{% if patient.suffix %}, {{ patient.suffix }}{% endif %} (Self)
                      </td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Secondary Group #</th>
                    <td colspan="2">{{ secondary_patient_payer.group_number }} </td>
                  </tr>
                  <tr>
                    <th scope="row">Secondary Member ID</th>
                    <td colspan="2">{{ secondary_patient_payer.member_id }} </td>
                  </tr>
                {% endif %}
                {% if tertiary_patient_payer %}
                  <tr>
                    <th scope="row">Tertiary Insurance ({{ tertiary_patient_payer.payer_type }})</th>
                    <td colspan="2">{{ tertiary_patient_payer.payer.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Tertiary Subscriber</th>
                    {% if tertiary_patient_payer.subscriber_relationship != 'Self' %}
                      <td colspan="2">{{ tertiary_patient_payer.subscriber_name }} ({{ tertiary_patient_payer.subscriber_relationship }})</td>
                    {% else %}
                      <td colspan="2">
                        {{ patient.user.first_name }} {% if patient.middle_initial %} {{ patient.middle_initial }}. {% endif %}
                        {{ patient.user.last_name }}{% if patient.suffix %}, {{ patient.suffix }}{% endif %} (Self)
                      </td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Tertiary Group #</th>
                    <td colspan="2">{{ tertiary_patient_payer.group_number }} </td>
                  </tr>
                  <tr>
                    <th scope="row">Tertiary Member ID</th>
                    <td colspan="2">{{ tertiary_patient_payer.member_id }} </td>
                  </tr>
                {% endif %}
                {% if wc_patient_payer %}
                  <tr>
                    <th scope="row">Workers' Compensation</th>
                    <td colspan="2">{{ wc_patient_payer.payer.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Workers' Compensation Claim ID</th>
                      <td colspan="2">{{ wc_patient_payer.workers_comp_claim_id }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Workers' Compensation Claim Manager/Adjuster</th>
                    <td colspan="2">{{ wc_patient_payer.workers_comp_adjuster }} </td>
                  </tr>
                  <tr>
                    <th scope="row">Workers' Compensation Injury Date</th>
                    <td colspan="2">{{ wc_patient_payer.workers_comp_injury_date | date:"M d, Y" }} </td>
                  </tr>
                {% endif %}
                {% if patient_guarantor %}
                  <tr>
                    <th scope="row">Guarantor ({{ patient_guarantor.relationship_to_patient }})</th>
                    <td colspan="2">
                      {{ patient_guarantor.user.first_name }}{% if patient_guarantor.middle_initial %} {{ patient_guarantor.middle_initial }}.{% endif %}
                      {{ patient_guarantor.user.last_name }}{% if patient_guarantor.suffix %}, {{ patient_guarantor.suffix }}{% endif %}
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-header">
            Test Profiles
            {% if request.user.user_type < 9 and order.status == 'Pending Results' %}
              <a href="{% url 'order_test_panel_update' order.code %}" class="btn btn-sm btn-warning float-right" target="_blank"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Test Profiles</a>
            {% endif %}
          </div>

          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <th>Name</th>
                <th>Price</th>
              </thead>
              <tbody>
                {% for test_panel in test_panels %}
                  <tr>
                    <td>
                      <b>{{ test_panel.test_panel_type.name }}</b>
                    </td>
                    <td>
                      {% if order.status == 'Unreceived' or order.status == 'Pending Results' or order.status == 'Pending Test Approval' %}
                        <a href="{% url 'order_test_panel_comment_create' order_code=order.code test_panel_uuid=test_panel.uuid %}"
                           class="float-right">
                          <i class="far fa-lg fa-comment-plus" data-toggle="tooltip" title="Add comment for test profile"></i>
                        </a>
                      {% endif %}
                    </td>
                  </tr>

                  {% for comment in test_panel.order_test_panel_comments.all %}
                    <tr>
                      <td class="pl-4">
                        <small>
                        <b>Comment{% if comment.is_public %} (Public){% endif %}: </b>
                          {{ comment.comment }}
                        </small>
                      </td>
                      <td class="order-comment-block">
                        {% if order.status == 'Unreceived' or order.status == 'Pending Results' or order.status == 'Pending Test Approval' %}
                          <a href="{% url 'order_test_panel_comment_delete' order_code=order.code test_panel_uuid=test_panel.uuid comment_uuid=comment.uuid %}"
                             class="float-right ml-4 comment-delete">
                            <i class="far fa-lg fa-comment-minus text-danger" data-toggle="tooltip" title="Archive comment for test profile"></i>
                          </a>
                          <a href="{% url 'order_test_panel_comment_update' order_code=order.code test_panel_uuid=test_panel.uuid comment_uuid=comment.uuid %}" class="float-right">
                            <i class="far fa-lg fa-comment-edit text-warning" data-toggle="tooltip" title="Update comment for test profile"></i>
                          </a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
    <hr>

