{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Container Type: {{ container_type.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'container_type_update' container_type.uuid %}" class="btn btn-sm btn-warning">
          <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Container Type</a>
        <a href="{% url 'container_type_list' %}" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row mb-4">
    <div class="col-12">
      <!-- Control Details Card -->
      <div class="card">
        <div class="card-header">Container Type Details
        </div>
        <div>
          <div class="card-body">
            <!-- Control Details -->
            <div class="row">
              <div class="col-12">
                <table>
                  <tr>
                    <th>Name</th>
                    <td class="pl-2">{{ container_type.name }}</td>
                  </tr>
                  <tr>
                    <th>Volume</th>
                    <td class="pl-2">
                      {% if container_type.volume %}
                        {{ container_type.volume}} mL
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /Control Details -->
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
  // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to delete this instrument?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("#");
      }
    }
	</script>
{% endblock %}