{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% if update %}Update{% else %}New{% endif %} Observation for Control: {{ control.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'control_details' control.uuid %}" class="btn btn-sm btn-secondary">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

	<form method="POST">
		{% csrf_token %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if form_error %}
      <div class="alert alert-danger">
        <strong>{{ form_error }}</strong>
      </div>
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    <div class="form-group">
      <div class="col-6 pl-0 d-none">
        <label class="required_label">{{ form.control.label }}</label>
        {{ form.control }}
      </div>
      <div class="col-6 pl-0">
        <label class="required_label">{{ form.instrument_integration.label }}</label>
        {{ form.instrument_integration }}
      </div>
      <br>
      <div class="col-6 pl-0">
        <label class="required_label">{{ form.test_target.label }}</label>
        {{ form.test_target }}
      </div>
      <br>
      <div class="col-6 pl-0">
        <label class="required_label">{{ form.result_quantitative.label }}</label>
        {{ form.result_quantitative }}
      </div>

    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Save Observation</button>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}