{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Container Types </h2>
    <div class="btn-toolbar mb-2 mb-md-2">
        <div class="btn-group mr-2">
            <a href="{% url 'container_type_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Container Type</a>
        </div>
    </div>
  </div>
  <br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <h6>Container Types in use at {{ request.tenant.name }}</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="handsontable" id="container-type-table"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
    let containerTypeTable;
    // recent order handsontable
    $.ajax({
      url: '/api/v1/internal/container_type_table/',
      dataType: 'json',
      success: function (container_types) {
        containerTypeTable = createContainerTypeTable(container_types, containerTypeTable)
      },
      error: function () {
        console.log("Container type table api call failed")
      }
    })
	</script>
  <script>
  function createContainerTypeTable(container_types, table) {
  container_types.forEach(element => {
    element.name.toString = () => element.name.text;
  });

  if (!table) {
    const hotElement = document.querySelector('#container-type-table');
    const hotSettings = {
      data: container_types,
      columns: [
        {
          data: 'name',
          editor: false,
          renderer: 'html',
        },
        {
          data: 'volume',
          editor: false,
          type: 'text',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Name',
          'Volume (mL)',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    return new Handsontable(hotElement, hotSettings);
  } else {
    // load new data without replacing old table
    table.getPlugin('filters').clearConditions();
    table.loadData(container_types);
    return table;
  }
}

  </script>
{% endblock %}