{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% if update %}Update{% else %}New{% endif %} Control</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'control_list' %}" class="btn btn-sm btn-secondary">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

	<form method="POST">
		{% csrf_token %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if form_error %}
      <div class="alert alert-danger">
        <strong>{{ form_error }}</strong>
      </div>
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <div class="form-group">
      <div class="col-6 pl-0">
        <label class="required_label">{{ form.name.label }}</label>
        {{ form.name }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-6 pl-0">
        <label class="required_label">{{ form.code.label }}</label>
        {{ form.code }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-3 pl-0">
        <label class="required_label">{{ form.lot_number.label }}</label>
        {{ form.lot_number }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-3 pl-0">
        <label class="required_label">{{ form.expiration_date.label }}</label>
        {{ form.expiration_date }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-6 pl-0">
        <label>{{ form.instrument_integrations.label }}</label>
        {{ form.instrument_integrations }}
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Save Control</button>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script>
  $('.dateMask').inputmask({"mask": "99-99-9999"});

  $(document).ready(function() {
      // Patient Birth Date Selector
      let dueDate = $("input[class*='dateMask']");
        dueDate.each(function() {
          new Pikaday({
            field: $(this)[0],
            format: 'MM-DD-YYYY',
          });
        });
    });
  </script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}