{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Control: {{ control.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'control_update' control.uuid %}" class="btn btn-sm btn-warning">
          <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Control</a>
        <a href="{% url 'control_list' %}" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row mb-4">
    <div class="col-12">
      <!-- Control Details Card -->
      <div class="card">
        <div class="card-header">Control Details
          <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#batch-details" aria-expanded="true">
              <i class="fas fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="collapse show" id="batch-details">
          <div class="card-body">
            <!-- Control Details -->
            <div class="row">
              <div class="col-12">
                <table>
                  <tr>
                    <th>Name</th>
                    <td class="pl-2">{{ control.name }}</td>
                  </tr>
                  <tr>
                    <th>Code</th>
                    <td class="pl-2">{{ control.code }}</td>
                  </tr>
                  <tr>
                    <th>Lot Number</th>
                    <td class="pl-2">{{ control.lot_number }}</td>
                  </tr>
                  <tr>
                    <th>Expiration Date</th>
                    <td class="pl-2">{{ control.expiration_date }}</td>
                  </tr>
                  <tr>
                    <th>Associated Instruments</th>
                    <td class="pl-2">
                      {% for instrument_integration in control.instrument_integrations.all %}
                        <a href="{% url 'instrument_integration_details' instrument_integration.uuid %}">
                          {{ instrument_integration.internal_instrument_name }}
                        </a>
                      {% endfor %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /Control Details -->
            <hr>

            <!-- Known Concentrations -->
            <div class="row">
              <div class="col-12">
                <h5>
                  Known Values
                  <a class="btn btn-primary btn-sm float-right mb-1" href="{% url 'control_known_value_create' control.uuid %}">
                    <i class="fas fa-plus"></i> Value
                  </a>
                </h5>
                <table class="table-sm table m-1">
                  <thead>
                    <th>Target/Analyte</th>
                    <th>Value</th>
                    <th>Delete</th>
                  </thead>
                  <tbody>
                  {% for known_value in known_values %}
                    <tr>
                      <th>{{ known_value.test_target.name }}</th>
                      <td class="pl-2">{{ known_value.concentration.normalize }} {{ known_value.unit }}</td>
                      <td><a href="{% url 'control_known_value_delete' control.uuid known_value.uuid %}"><i class="text-danger fas fa-trash-alt"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /Known Concentrations -->

          </div>
        </div>
      </div>
      <!-- /Control Details Card -->
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Levey-Jennings Chart
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label>Instrument</label>
              <select class="form-control" id="instrumentSelect">
                {% for instrument_integration in instrument_integrations %}
                  <option>{{ instrument_integration }}</option>
                {% endfor %}
              </select>
              <label class="mt-2">Test Target</label>
              <select class="form-control" id="testTargetSelect">
                {% for test_target in test_targets %}
                  <option>{{ test_target.name }}</option>
                {% endfor %}
              </select>
              <label class="mt-2">Date Range </label>
              <div id="dateRangeSelect" class="pull-center" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span />
                <b class="caret"></b>
              </div>
            </div>
          </div>
          <div id="levey-jennings"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <div class="row">
          <!-- Date range picker -->
          <div class="col-lg-4">
            <h4>Observations between:</h4>
            <p> </p>
            <div id="observations-table-range" class="pull-left"
                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
              <span/>
              <b class="caret"></b>
            </div>
            <br>
            <p>Target Name:</p>
            <input class="form-control" placeholder="Search..." id="target-name-filter">

          </div>
          <!-- Num Billing Messages -->
          <div class="col-lg-6">
          </div>
          <div class="col-lg-2 pt-2 pull-right">
            <div class="desc text-center">
              <b>Count</b><br>
              <span id="observations-count" data-toggle="counter" data-end="80" data-suffix="%"
                    class="number text-center"></span>
              <br><br>
              <a class="btn btn-secondary" id="export-csv-button" href="#">Export to CSV</a>
            </div>
          </div>
          <!-- Num Billing Messages -->
        </div>
        <p id="returned-count"></p>
        <div class="row top-buffer">
          <div class="col-12">
            <div class="handsontable" id="observations-table"></div>
          </div>
        </div>
        <!-- Recent Orders -->
      </div>
    </div>
  </div>


{% endblock %}


{% block javascript %}
  <script type="text/javascript" src="{% static 'lib/highstock/highstock.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- Custom JS -->
  <script>
  const state = {
    leveyJenningsChart: {
      chart: '',
      data: '',
      dateBegin: '',
      dateEnd: '',
      instrumentName: '',
      testTarget: '',
      controlUUID: '{{ control.uuid }}',
      unitOfMeasurement: '',
      mean: '',
      known_value: '',
      standardDeviation: '',
      dateRangeSelectDivID: '#dateRangeSelect',
      dateRangeSelectHtmlID: '#dateRangeSelect span',
    },
    Table: {
      chart: '',
      data: '',
      dateBegin: '',
      dateEnd: '',
      controlUUID: '{{ control.uuid }}',
      countHtmlID: '#observations-count',
      tableHtmlID: '#observations-table',
      targetNameFilterID: '#target-name-filter',
      dateRangePickerHtmlID: '#observations-table-range span',
      dateRangePickerDivID: '#observations-table-range',
      apiURL: '/api/v1/internal/observation_table/',
      targetNameFilter: ''
  },
  };
  var j = jQuery.noConflict();
  j(function () {
    state.leveyJenningsChart.dateBegin = moment().subtract(30, 'd');
    state.leveyJenningsChart.dateEnd = moment();
    state.leveyJenningsChart.instrumentName = j("#instrumentSelect").val();
    state.leveyJenningsChart.testTarget = j("#testTargetSelect").val();

    function cb() {
      j(state.leveyJenningsChart.dateRangeSelectHtmlID).html(state.leveyJenningsChart.dateBegin.format('MMMM D, YYYY') + ' - ' + state.leveyJenningsChart.dateEnd.format('MMMM D, YYYY'));

      j.ajax({
        url: '/api/v1/internal/control/leveyjenningschart/' + state.leveyJenningsChart.controlUUID + '/' +
          state.leveyJenningsChart.instrumentName + '/' + state.leveyJenningsChart.testTarget + '/' +
          state.leveyJenningsChart.dateBegin.format('YYYY/MM/DD') + '/' +
          state.leveyJenningsChart.dateEnd.format('YYYY/MM/DD'),
        dataType: 'json',
        success: function (response) {
          console.log(response);
          state.leveyJenningsChart.data = response.data;
          state.leveyJenningsChart.unitOfMeasurement = response.unit_of_measurement;
          state.leveyJenningsChart.mean = response.mean;
          state.leveyJenningsChart.known_value = response.known_value;
          state.leveyJenningsChart.standardDeviation = response.standard_deviation;
          createChart();
        },
        error: function() {
          console.log("Levey Jennings Chart data call failed.")
        }
      })
    }

    j(state.leveyJenningsChart.dateRangeSelectDivID).daterangepicker({
        startDate: state.leveyJenningsChart.dateBegin,
        endDate: state.leveyJenningsChart.dateEnd,
        showDropdowns: true,
        alwaysShowCalendars: true,
        linkedCalendars: false,
        maxDate: moment().add(1, 'd'),
        ranges: {
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, function(start, end) {
      j(state.leveyJenningsChart.dateRangeSelectHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      state.leveyJenningsChart.dateBegin = start;
      state.leveyJenningsChart.dateEnd = end;
      cb();
    });

    cb();

    j("#dateRangeSelect").change(function() {
      const tempValues = JSON.parse(j('#dateRangeSelect').val());
        alert(tempValues.start);
        alert(tempValues.end);
    });

    j("#testTargetSelect").change(function() {
      state.leveyJenningsChart.testTarget = j("#testTargetSelect").val();
      cb();
     });

    j("#instrumentSelect").change(function() {
      state.leveyJenningsChart.instrumentName = j("#instrumentSelect").val();
      cb();
    })

  });
  </script>
  <script>
  function createChart() {
    state.leveyJenningsChart.chart = new Highcharts.chart('levey-jennings', {
      chart: {
          type: 'line',
          scrollablePlotArea: {
              minWidth: 600,
              scrollPositionX: 1
          }
      },
      title: {
          text: '',
          align: 'left'
      },
      subtitle: {
          text: state.leveyJenningsChart.testTarget + ' - ' + state.leveyJenningsChart.instrumentName,
          align: 'left'
      },
      xAxis: {
          type: 'datetime',
          labels: {
              overflow: 'justify',
              formatter: function() {
                return Highcharts.dateFormat('%m/%d', this.value);
              }
          }
      },
      yAxis: {
        title: {
          text: 'Quantitative Measurement (' + state.leveyJenningsChart.unitOfMeasurement + ')'
        },
        minorGridLineWidth: 0,
        gridLineWidth: 0,
        alternateGridColor: null,
        plotLines: [
          {
            value: state.leveyJenningsChart.mean,
            color: 'green',
            dashStyle: 'shortdash',
            width: 2,
            label: {
              text: 'Mean'
            },
          },
          {
            value: state.leveyJenningsChart.known_value,
            color: 'black',
            dashStyle: 'shortdash',
            width: 2,
            label: {
              text: 'Known Value'
            },
          },
          {
            value: state.leveyJenningsChart.mean + state.leveyJenningsChart.standardDeviation,
            color: 'orange',
            dashStyle: 'shortdash',
            width: 2,
            label: {
              text: '+1 sd'
            },
          },
          {
            value: state.leveyJenningsChart.mean - state.leveyJenningsChart.standardDeviation,
            color: 'orange',
            dashStyle: 'shortdash',
            width: 2,
            label: {
              text: '-1 sd'
            },
          },
          {
            value: state.leveyJenningsChart.mean + (2 * state.leveyJenningsChart.standardDeviation),
            color: 'red',
            dashStyle: 'shortdashdot',
            width: 2,
            label: {
              text: '+2 sd'
            },
          },
          {
            value: state.leveyJenningsChart.mean - (2 * state.leveyJenningsChart.standardDeviation),
            color: 'red',
            dashStyle: 'shortdashdot',
            width: 2,
            label: {
              text: '-2 sd'
            },
          },
          {
            value: state.leveyJenningsChart.mean + (3 * state.leveyJenningsChart.standardDeviation),
            color: 'red',
            dashStyle: 'shortdashdotdot',
            width: 2,
            label: {
              text: '+3 sd'
            },
          },
          {
            value: state.leveyJenningsChart.mean - (3 * state.leveyJenningsChart.standardDeviation),
            color: 'red',
            dashStyle: 'shortdashdotdot',
            width: 2,
            label: {
              text: '-3 sd'
            },
          },
        ],
        max: state.leveyJenningsChart.mean + (3.5 * state.leveyJenningsChart.standardDeviation),
        min: state.leveyJenningsChart.mean - (3.5 * state.leveyJenningsChart.standardDeviation),
      },
      tooltip: {
          valueSuffix: ' ' + state.leveyJenningsChart.unitOfMeasurement
      },
      plotOptions: {
          spline: {
              lineWidth: 4,
              states: {
                  hover: {
                      lineWidth: 5
                  }
              },
              marker: {
                  enabled: false
              },
          }
      },
      series: [{
          name: state.leveyJenningsChart.testTarget,
          dateFormat: 'YYYY/mm/dd',
          data: state.leveyJenningsChart.data
      }],
      navigation: {
          menuItemStyle: {
              fontSize: '10px'
          }
      }
    });
  }


  //Hands on table
  const hotSettings = {
          data: [],
          columns: [
              {
                  data: 'observation_date',
                  editor: false,
                  type: 'date',
                  dateFormat: 'MM/DD/YYYY',
                  correctFormat: true,
              },
              {
                  data: 'instrument',
                  editor: false,
                  type: 'text',
                  width: 150,
              },
              {
                  data: 'target_name',
                  editor: false,
                  type: 'text',
              },
              {
                  data: 'value',
                  editor: false,
                  type: 'text',
              },

              {
                  data: 'qualitative_result',
                  editor: false,
                  type: 'text',
                  width: 150,
              },
              {
                  data: 'import_filename',
                  editor: false,
                  type: 'text',
              },

          ],
          stretchH: 'all',
          //width: 806,
          height: 700,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
              [
                  'Observation Import Date',
                  'Instrument',
                  'Target Name',
                  'Value',
                  'Qualitative Result',
                  'Import Filename',
              ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function (col, TH) {
              TH.className = 'center';
          },
          beforeCopy: (data, coords) => {
            for(i=0; i < data.length; i++) {
              data[i][1] = data[i][1].text;
              data[i][2] = data[i][2].text;
              data[i][3] = data[i][3].text;
              data[i][4] = data[i][4].text;
              data[i][5] = data[i][5].text;
              data[i][6] = data[i][6].text;
              data[i][7] = data[i][7].text;
            }
            return data;
          },
      };

      var j = jQuery.noConflict();
      j(function () {
          // start and end datetime for handsontable. should be moment() for both start & end for accession check
          const start = moment().subtract(7, 'd').startOf('week').add(1, 'd');
          const end = moment();
          const targetNameFilter = j(state.Table.targetNameFilterID).val();
          createTable(state.Table.tableHtmlID, hotSettings);

          ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          // EXPORT TO CSV snippet
          // Requirements: js/date_range_picker_table.js
          // use JS instead of jQuery because of jQuery.noConflict --> not sure what that actually does
          // entire table state is only available in this function
          let hotInstance = state.Table.table.getInstance();
          let exportCsvButton = document.getElementById('export-csv-button');
          let csvPlugin = hotInstance.getPlugin('exportFile');

          // function to convert objects to text
          // if we don't do this, then URL links will display as [object Object]
          exportCsvButton.addEventListener('click', function () {

              let stateStartDate = state.Table.dateBegin.format('MMMM-D-YYYY');
              let stateEndDate = state.Table.dateEnd.format('MMMM-D-YYYY');

              // handsontable plugin
              csvPlugin.downloadFile('csv', {
                  bom: false,
                  columnDelimiter: ',',
                  columnHeaders: false,
                  exportHiddenColumns: false,
                  exportHiddenRows: true,
                  fileExtension: 'csv',
                  filename: 'observations_' + stateStartDate + '_' + stateEndDate,
                  mimeType: 'text/csv',
                  rowDelimiter: '\r\n',
                  rowHeaders: false
              });

          });

          ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

          function observations_table_cb(start, end, targetNameFilter) {
              j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
              state.Table.dateBegin = start;
              state.Table.dateEnd = end;
              state.Table.targetNameFilter = targetNameFilter;

              var targetNameURL;
              if (targetNameFilter === '') {
                  targetNameURL = '_'
              } else {
                  targetNameURL = targetNameFilter
              }

              const url = state.Table.controlUUID + '/' + targetNameURL + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
              j.ajax({
                  url: state.Table.apiURL + url,
                  dataType: 'json',
                  success: function (observations) {
                      state.Table.data = observations['results'];
                      j('#returned-count').html('Showing most recent <b>' + observations['returned_count'] + ' of ' + observations['observations_total'] + '</b> observations.');
                      updateTable();
                      j(state.Table.countHtmlID).html(observations['observations_total'].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
                  },
                  error: function () {
                      console.log("observations table data call failed")
                  }
              })

          }

          j(state.Table.dateRangePickerDivID).daterangepicker({
              startDate: start,
              endDate: end,
              showDropdowns: true,
              alwaysShowCalendars: true,
              linkedCalendars: false,
              maxDate: moment().add(1, 'd'),
              ranges: {
                  'Today': [moment(), moment()],
                  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'), moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              }
          }, function (start, end) {
              j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
              state.Table.dateBegin = start;
              state.Table.dateEnd = end;
              observations_table_cb(start, end, state.Table.targetNameFilter);
          });

          observations_table_cb(start, end, targetNameFilter);
          j(state.Table.targetNameFilterID).change(function() {
            state.Table.targetNameFilter = j(state.Table.targetNameFilterID).val();
            observations_table_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.targetNameFilter);
        })
      });

  </script>
	<script>
  // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to delete this instrument?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("#");
      }
    }
	</script>
{% endblock %}