{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    {% if update %}
      <h1 class="h2">Update Container Type</h1>
    {% else %}
      <h1 class="h2">Create Container Type</h1>
    {% endif %}

    <div class="btn-group mr-2">
      {% if update %}
        <a href="{% url 'container_type_details' container_type.uuid %}" class="btn btn-sm btn-secondary">
          Container Type Details
        </a>
      {% else %}
        <a href="{% url 'container_type_list' %}" class="btn btn-sm btn-secondary">Container Types</a>
      {% endif %}
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- Create a Test Panel Type -->
            <div class="form-row">
              <div class="col-8">
                <label class="required_label">{{ form.name.label }}</label>
                <input name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" class="form-control">
              </div>
            </div>
            <div class="form-row mt-1">
              <div class="col-2">
                <label>{{ form.volume.label }}</label>
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Container volume is used to determine how many containers are needed for a given sample (via the minimum sample volume field).">
                </i>
                {{ form.volume }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr>
    {% if update %}
      <button type="submit" class="btn btn-primary">Update Container Type</button>
    {% else %}
      <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Container Type</button>
    {% endif %}
  </form>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
  // Add form-control class to python-measurement input fields
  $('#id_volume_0').addClass("form-control");
  $('#id_volume_1').addClass("form-control");
	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}