{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Data Files</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <!--{% if request.user.user_type != 10 %}
        <div class="btn-group mr-2">
            <a href="{% url 'batch_create' %}" class="btn btn-sm btn-primary">Create new batch</a>
        </div>
      {% endif %}
      -->
    </div>
  </div><br>

  <div class="card p-3">
    <!-- Hands on Table filters -->
    <div class="row pl-3 mb-1">
      <h4 class="d-inline">Data Files List</h4>
    </div>
    <div class="row pl-3 mt-0">
      <p>Click <i class="far fa-file-import"></i>&nbsp; to process a data file.</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <!-- Un/processed filter -->
        <select class="form-control" id="processed-filter">
          <option value="All">All</option>
          <option value="Unprocessed">Unprocessed</option>
          <option value="Processing">Processing</option>
          <option value="Processed">Processed</option>
        </select>
        <!-- Un/processed filter -->

        <!-- Created Date filter -->
        <p class="mb-0 mt-1">Created Date between:</p>
        <div id="data-in-table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span />
          <b class="caret"></b>
        </div>
        <!-- Created Date filter -->

        <!-- Instrument Integration filter-->
        <p class="mb-0 mt-1">From Instrument:</p>
        <select class="form-control" id="instrument-integration-filter">
          <option value="All">All</option>
          {% for instrument_integration in instrument_integrations %}
            <option value="{{ instrument_integration.uuid }}">{{ instrument_integration.internal_instrument_name }}</option>
          {% endfor %}
        </select>
        <!-- Instrument Integration filter-->
      </div>
    </div>
    <!-- Hands on Table filters -->

    <!-- Data In Hands on Table -->
    <div class="row mt-2">
      <div class="col-12">
        <div class="handsontable" id="data-in-table"></div>
      </div>
    </div>
    <!-- Data In Hands on Table -->
  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    // Default page state
    const state = {
      Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count',
          instrumentIntegrationFilter: 'All',
          dataType: 'Unprocessed',
          tableHtmlID: '#data-in-table', dateRangePickerHtmlID: '#data-in-table-range span', dateRangePickerDivID: '#data-in-table-range',
          instrumentIntegrationHtmlID: '#instrument-integration-filter',
          processedHtmlID: '#processed-filter',
          apiURL: '/api/v1/internal/data_in_table/'
      },
    };

    const hotSettings = {
      data: [],
      columns: [
            {
              data: 'original_file_name',
              editor: false,
              type: 'text',
            },
            {
              data: 'source',
              editor: false,
              type: 'text',
            },
            {
              data: 'created_datetime',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
            },
          {
              data: 'status',
              editor: false,
            },
            {
              data: 'download',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
            },
            {
              data: 'process',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
            }
          ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
          [
              'File Name',
              'Source',
              'Created Date',
              'Status',
              'Download <br>File',
              'Process <br>File'
          ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function (col, TH) {
          TH.className = 'center';
      },

      beforeCopy: (data, coords) => {
        for(i=0; i < data.length; i++) {
          data[i][1] = data[i][1].text;
          data[i][2] = data[i][2].text;
          data[i][3] = data[i][3].text;
          data[i][4] = data[i][4].text;
          data[i][5] = data[i][5].text;
        }
        return data;
      },
    };

    var j = jQuery.noConflict();

    // order table
    j(function() {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      const instrumentIntegrationFilter = j(state.Table.instrumentIntegrationHtmlID).val();
      const dataType = j(state.Table.processedHtmlID).val();

      createTable(state.Table.tableHtmlID, hotSettings);

      function order_cb(start, end, instrumentIntegrationFilter, dataType) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        state.Table.instrumentIntegrationFilter = instrumentIntegrationFilter;
        state.Table.dataType = dataType;

        const url = instrumentIntegrationFilter + '/' + dataType + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');

        j.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function (orders) {
            state.Table.data = orders;
            updateTable();
          },
          error: function () {
            console.log("data import table data call failed")
          }
        })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
        startDate: start,
        endDate: end,
        showDropdowns: true,
        alwaysShowCalendars: true,
        linkedCalendars: false,
        maxDate: moment().add(1, 'd'),
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, function (start, end) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        order_cb(start, end, state.Table.instrumentIntegrationFilter, state.Table.dataType);
      });

      order_cb(start, end, instrumentIntegrationFilter, dataType);

      j(state.Table.instrumentIntegrationHtmlID).change(function () {
        state.Table.instrumentIntegrationFilter = j(state.Table.instrumentIntegrationHtmlID).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd,
            state.Table.instrumentIntegrationFilter, state.Table.dataType);
      });

      j(state.Table.processedHtmlID).change(function () {
        state.Table.dataType = j(state.Table.processedHtmlID).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd,
            state.Table.instrumentIntegrationFilter, state.Table.dataType);
      });
    })


	</script>
{% endblock %}
