{% extends "base.html" %}
{% load static %}
{% load timezone %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
  <style>
    .fa-spinner {
      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Data File: {{ data_in.instrument_integration.internal_instrument_name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
        <a href="{% url 'data_in_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <!-- Alert to confirm orders have been completed or reported -->
  <div class="alert alert-success" id="notification" style="display: none;">
  </div>


  <!-- Data import details -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Data import: {{ data_in.original_file_name }}</div>
        <div class="card-body">
          <table class="m-1">
              <tr>
                <th>Status</th>
                {% if data_in.is_completed %}
                  <td class="pl-2" id="status"><i class="fas fa-check"></i> Processed</td>
                {% elif data_in.is_queued %}
                  <td class="pl-2" id="status"><i class="fas fa-spinner"></i> Processing</td>
                {% else %}
                  <td class="pl-2" id="status">Import pending</td>
                {% endif %}
              </tr>
              <tr>
                <th>Created Date</th>
                <td class="pl-2">{{ data_in.created_datetime|as_timezone:request.tenant.timezone }}</td>
              </tr>
              <tr>
                <th>Instrument Model</th>
                <td class="pl-2">{{ data_in.instrument_integration.instrument.name }}</td>
              </tr>
              <tr>
                <th>Instrument Name</th>
                <td class="pl-2">{{ data_in.instrument_integration.internal_instrument_name }}</td>
              </tr>
              <tr>
                <th>Raw File</th>
                <td class="pl-2"><a href="{{ data_in.file.url }}">{{ data_in.original_file_name }}</a></td>
              </tr>
              <tr>
                <th>After Data Import</th>
                <td class="pl-2">{{ data_in.instrument_integration.after_data_import }}</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Data import details -->

  <!-- Data view -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Results
          <div class="btn-group mr-2 float-right">
            {% if data_in.is_queued %}
              <a href="#" class="btn btn-sm btn-secondary ml-2"
                id="import-button">
                  <i class="far fa-file-import"></i> Import
              </a>
            {% else %}
              <a href="#" class="btn btn-sm btn-primary ml-2"
                id="import-button">
                  Import
                </a>
            {% endif %}

            </div>
        </div>
        <div class="card-body">
          {% for sample_name, result in results %}
            <div class="row">
              <a data-toggle="collapse" href="#collapse{{ sample_name }}" role="button" aria-expanded="false">
                <i class="fas fa-chevron-down m-1"></i>
              </a>
              <h6>{{ sample_name }}</h6>
            </div>
            <div class="collapse" id="collapse{{ sample_name }}">
              <div class="table-responsive">
                <table class="table table-bordered table-sm mb-2">
                  <thead>
                    <th style="width: 20%">Target</th>
                    <th style="width: 20%">Quantitative Result</th>
                    <th style="width: 20%">Cutoff</th>
                    <th style="width: 20%">Qualitative Result</th>
                    <th style="width: 20%">Message</th>
                  </thead>
                  <tbody>
                    {% for target_name in result %}
                      {% for observation in result|lookup:target_name %}
                        <tr {% if observation|lookup:'result_qualitative' == 'Positive' %}class="table-danger"
                            {% elif observation|lookup:'result_qualitative' == 'Negative' %}class="table-success"
                            {% elif observation|lookup:'result_qualitative' == 'Undetermined' %}class="table-secondary"
                            {% endif %}>
                          <td><b>{{ target_name }}</b></td>
                          <td>{{ observation|lookup:'result_value' }}</td>
                          <td>{{ observation|lookup:'cutoff' }}</td>
                          <td>{{ observation|lookup:'result_qualitative' }}</td>
                          <td>{{ observation|safe_lookup:'message' }}</td>
                        </tr>
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Data view -->
{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/reconnecting-websocket/reconnecting-websocket.min.js' %}"></script>
	<script>
	</script>
  <script>
    // Real time import status websocket
    // use ws_scheme because usage varies based on HTTPS or HTTP
    var status_ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var status_ws_url = status_ws_scheme + '://' + window.location.host + '/ws/data_in/' + '{{ data_in.uuid }}' + '/';

    var statusSocket = new ReconnectingWebSocket(status_ws_url);
    statusSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      var notification = data['notification'];
      // Import status string
      if (message){
        $('#status').html(message);
        if (message === '<i class="fas fa-check"></i> Processed') {
          $('#import-button').html('Import');
          $('#import-button').removeClass('btn-secondary').addClass('btn-primary');
        }
      }
      // Notification banner
      if (notification) {
        $('#notification').show();
        $('#notification').html(notification);
      }
    };
    statusSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    // Auto import button websocket
    // use ws_scheme because usage varies based on HTTPS or HTTP
    var import_ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var import_ws_url = import_ws_scheme + '://' + window.location.host + '/ws/data_in/' + '{{ data_in.uuid }}' + '/import/';

    var importSocket = new ReconnectingWebSocket(import_ws_url);
    $('#import-button').click(function() {
      if ($('#import-button').hasClass('btn-primary')) {
        var tenant_id = '{{ request.tenant.id }}';
        var user_id = '{{ request.user.id }}';
        importSocket.send(JSON.stringify({
          'message': tenant_id,
          'user_id': user_id
        }));
        $('#import-button').html('<i class="fas fa-spinner"></i> Import');
        $('#import-button').removeClass('btn-primary').addClass('btn-secondary');
        $('#status').html('<i class="fas fa-spinner"></i> Processing');
      }
    });
  </script>
{% endblock %}