{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
  .order-stat-card {
    height: 170px;
  }
  </style>
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Operational Reports</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Report Settings
        </div>
        <div class="card-body p-3">
          <form id="operational_report" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary">Generate Report</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Saved Reports
        </div>
        <div class="card-body">
          <div class="handsontable" id="operational-report-table"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
  $('.dateMask').inputmask({"mask": "99-99-9999"});

  let startDate = new Pikaday({
    field: $('.start-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 10,
  });

  let endDate = new Pikaday({
    field: $('.end-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 10,
  });

  </script>
  <script>
    // Default page state
    const state = {
        Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count',
            tableHtmlID: '#operational-report-table', dateRangePickerHtmlID: '#reported-order-table-range span', dateRangePickerDivID: '#reported-order-table-range',
            apiURL: '/api/v1/internal/operational_report_table/'
        },
    };
    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'created_datetime',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'start_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'end_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'date_filter',
          editor: false,
          type: 'text',
        },
        {
            data: 'report_format',
            editor: false,
            type: 'text'
        },
        {
          data: 'report',
          editor: false,
          renderer: 'html',
          columnSorting: {
            indicator: false,
            headerAction: false,
          }
        },
        {
            data: 'status',
            editor: false,
            type: 'text'
        },

      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Created Date',
          'Start Date',
          'End Date',
          'Date Filter',
          'Type',
          'Report',
          'Status',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };
    var j = jQuery.noConflict();

    // in transit order table
    j(function() {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      createTable(state.Table.tableHtmlID, hotSettings);

      function order_cb(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;

          j.ajax({
              url: state.Table.apiURL,
              dataType: 'json',
              success: function(orders) {
                  state.Table.data = orders;
                  updateTable();
              },
              error: function() {
                  console.log("pending order table data call failed")
              }
          })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment().add(1, 'd'),
          ranges: {
              'Today': [moment(), moment()],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end);
      });

      order_cb(start, end);
    });
	</script>
{% endblock %}

{% block footer %}
  {{ form.media }}
{% endblock %}
