{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
   <!-- <title>{{ report_title }}</title> -->
    <meta charset="utf-8">
    <style type="text/css">
      @page {
        size: Letter;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 2;
        font-size: 80%;
        @top {
          content: "header";
        }
        @bottom {
          color: #ffffff;
          content: "Copyright © Dendi 2019 All rights reserved.";
        }
      }

      {#html {font-family: sans-serif}#}
      html {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <style>
      /*
      PrinceXML calculates Bootstrap's ".66666667%" grid width literally, resulting in a
      grid that is technically over 100%. Prince then drops the last column to a new row.
      These styles override Bootstrap and set the appropriate grid elements to simply
      end in "...6%".
      */
      .col-xs-11 {
          width: 91.66666666%
      }
      .col-xs-8 {
          width: 66.66666666%
      }
      .col-xs-5 {
          width: 41.66666666%
      }
      .col-xs-2 {
          width: 16.66666666%
      }
      .col-xs-pull-11 {
          right: 91.66666666%
      }
      .col-xs-pull-8 {
          right: 66.66666666%
      }
      .col-xs-pull-5 {
          right: 41.66666666%
      }
      .col-xs-pull-2 {
          right: 16.66666666%
      }
      .col-xs-push-11 {
          left: 91.66666666%
      }
      .col-xs-push-8 {
          left: 66.66666666%
      }
      .col-xs-push-5 {
          left: 41.66666666%
      }
      .col-xs-push-2 {
          left: 16.66666666%
      }
      .col-xs-offset-11 {
          margin-left: 91.66666666%
      }
      .col-xs-offset-8 {
          margin-left: 66.66666666%
      }
      .col-xs-offset-5 {
          margin-left: 41.66666666%
      }
      .col-xs-offset-2 {
          margin-left: 16.66666666%
      }
      @media (min-width: 768px) {
          .col-sm-11 {
              width: 91.66666666%
          }
          .col-sm-8 {
              width: 66.66666666%
          }
          .col-sm-5 {
              width: 41.66666666%
          }
          .col-sm-2 {
              width: 16.66666666%
          }
          .col-sm-pull-11 {
              right: 91.66666666%
          }
          .col-sm-pull-8 {
              right: 66.66666666%
          }
          .col-sm-pull-5 {
              right: 41.66666666%
          }
          .col-sm-pull-2 {
              right: 16.66666666%
          }
          .col-sm-push-11 {
              left: 91.66666666%
          }
          .col-sm-push-8 {
              left: 66.66666666%
          }
          .col-sm-push-5 {
              left: 41.66666666%
          }
          .col-sm-push-2 {
              left: 16.66666666%
          }
          .col-sm-offset-11 {
              margin-left: 91.66666666%
          }
          .col-sm-offset-8 {
              margin-left: 66.66666666%
          }
          .col-sm-offset-5 {
              margin-left: 41.66666666%
          }
          .col-sm-offset-2 {
              margin-left: 16.66666666%
          }
      }
      @media (min-width: 992px) {
          .col-md-11 {
              width: 91.66666666%
          }
          .col-md-8 {
              width: 66.66666666%
          }
          .col-md-5 {
              width: 41.66666666%
          }
          .col-md-2 {
              width: 16.66666666%
          }
          .col-md-pull-11 {
              right: 91.66666666%
          }
          .col-md-pull-8 {
              right: 66.66666666%
          }
          .col-md-pull-5 {
              right: 41.66666666%
          }
          .col-md-pull-2 {
              right: 16.66666666%
          }
          .col-md-push-11 {
              left: 91.66666666%
          }
          .col-md-push-8 {
              left: 66.66666666%
          }
          .col-md-push-5 {
              left: 41.66666666%
          }
          .col-md-push-2 {
              left: 16.66666666%
          }
          .col-md-offset-11 {
              margin-left: 91.66666666%
          }
          .col-md-offset-8 {
              margin-left: 66.66666666%
          }
          .col-md-offset-5 {
              margin-left: 41.66666666%
          }
          .col-md-offset-2 {
              margin-left: 16.66666666%
          }
      }
      @media (min-width: 1200px) {
          .col-lg-11 {
              width: 91.66666666%
          }
          .col-lg-8 {
              width: 66.66666666%
          }
          .col-lg-5 {
              width: 41.66666666%
          }
          .col-lg-2 {
              width: 16.66666666%
          }
          .col-lg-pull-11 {
              right: 91.66666666%
          }
          .col-lg-pull-8 {
              right: 66.66666666%
          }
          .col-lg-pull-5 {
              right: 41.66666666%
          }
          .col-lg-pull-2 {
              right: 16.66666666%
          }
          .col-lg-push-11 {
              left: 91.66666666%
          }
          .col-lg-push-8 {
              left: 66.66666666%
          }
          .col-lg-push-5 {
              left: 41.66666666%
          }
          .col-lg-push-2 {
              left: 16.66666666%
          }
          .col-lg-offset-11 {
              margin-left: 91.66666666%
          }
          .col-lg-offset-8 {
              margin-left: 66.66666666%
          }
          .col-lg-offset-5 {
              margin-left: 41.66666666%
          }
          .col-lg-offset-2 {
              margin-left: 16.66666666%
          }
      }
    </style>
    <style type="text/css">
        /*resets from YUI*/

        .col-4, .col-3, .col-12, .col-1 {
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        }

        #lab_info {
          line-height: 100%;
          font-size: 15px;
        }

        #order_summary {
          font-size: small;
        }

        #logo {
          float: left;
        }

        td {
          padding: 5px;
          vertical-align: text-top;
          /* font-size: 15px; */
        }

        .smaller {
          font-size: 11px;
        }

        th {
          align: center;
          text-align: center;
          background-color: #D6EAF8;
          {#background-color: #e6e6e6;#}
        }

        .card {
          border: none;
          margin: 0px;
          padding: 0px;
        }

        #patient_info, #responsible_pty, #insurance_info {
          width: 100%;
        }

        .space_top, .order_comment {
          margin-top: 5px;
          padding-top: 5px;
        }

        .order_comment, .tests_ordered {
          width: 100%;
        }

        .mid {
          border-bottom: none;
          border-top: none;
        }

        .release {
            width: 50%;
        }

        {#.lower {#}
        {#  border-bottom: none;#}
        {#}#}

        .tests_ordered, .tests_ordered_list, .client_info_table {
          width: 100%;

        }

        .patient_info, .poc_tests, .prescribed_drugs {
          display: inline-block;
        }

        .patient_info, .poc_tests {
          float: left;
        }

        .client_info, .prescribed_drugs {
          float: right;
        }

        .col-12 {
          margin: 0px;
          padding: 0px;
        }

        #tenant_logo {
          width: 50px;
          height:50px;
        }

        .patient_info {
          width: 100%;

        }

        #footer {
          bottom: 0;
          text-align: center;
          position: absolute;
        }


        .client_info {
          width: 29%;
          margin-left: 1%;
        }

        #icd10_header {
          text-align: center;
        }

        .icd10_codes {
          font-size: 10px;
        }

        .patient_info_tbl, patient_info_insurance, .payer_type_tbl, .insurance_info, .med_necessity, th, td {
          border-bottom: none;
        }

        .bottom, th, td {
          border-bottom: 1px solid black;
        }

        .patient_info_tbl, .patient_info_insurance, .tests_ordered {
          width: 100%;
        }

        #insurance, th, td, .tests_ordered, th, td {
          border-bottom: none;
        }

        .disclaimer {
          font-size: 8px;
        }

        #container, #main{
          padding: 10px;
          margin: 10px;
        }


        .order_test_panels {
          height: 100px;
        }

        .checkbox {
          width:15px;
          height:15px;
          border: 1px solid #000;
          display: inline-block;
          vertical-align: center;
        }

        /* This is what simulates a checkmark icon */
        .checkbox.checked:after {
          content: '';
          display: block;
          width: 8px;
          height: 18px;

          /* "Center" the checkmark */
          position:relative;
          top:-3px;
          left:4px;

          border: solid #000;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }

        .payer_type_tbl {
          width: 100%;
          font-size: 13px;
        }

        .insurance_info {
          width: 100%;
        }

        #barcode {
          font-family: 'Libre Barcode 39 Extended';
          font-size: 26px;
          -ms-transform: scaleY(2.5); /* IE 9 */
          -webkit-transform: scaleY(2.5); /* Safari 3-8 */
          transform: scaleY(3.02);
        }

        .poct_title {
          font-size: 10px;
        }

        .poct {
          font-size: 10px;
        }

        .poct_checkbox {
          width:12px;
          height:12px;
          border: 1px solid #000;
          display: inline-block;
        }

        .poct_pre_meds {
          display: flex;
        }

        .poct_tbl {
          padding: 0;
          margin: 0;
        }

        .no_border {
          border: 0px;
        }

        .page_break {
          page-break-after: always;
        }

        table, tr, td, th {
          border: none;
        }

        .signature {
          text-align: center;
        }

        .left {
          float: left;
        }

        .header_left { width: 30%; }
        .header_centre { width: 40%; }
        .header_right {
          width: 30%;
          float: right;
          text-align: right;
          align-items: end;
        }

        {#.icd10_tbl {#}
        {#  table-layout: fixed;#}
        {#}#}
        {##}
        {#.icd10_codes {#}
        {#  width: 20%;#}
        {#  max-width: 20%;#}
        {#  overflow-wrap: break-word;#}
        {#  word-wrap: break-word;#}
        {#  hyphens: auto;#}
        {#}#}

        .icd10_tbl { font-size: medium; }
        .icd10_codes {
          font-size: 13px;
        }

      </style>
    {% block css %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
  </body>
</html>