{% extends "order_pdf_report_base.html" %}
{% load static %}
{% load timezone %}
{% load orders_tags %}

{% block css %}
{% endblock %}

{% block content %}
  {% for report in reports %}
  <div id="container">

    <div id="main">
      <!-- Header -->
      <div class="row" id="header">
        <div class="col-2">
          {% if tenant.logo_file %}
            <img id="header_img" style="width:60px; height: 60px;" src="{{ tenant.logo_file.url }}"/>
          {% endif %}
        </div>
        <div class="col-6">
          <div id="tenant_name">{{ tenant.name|upper }}</div>
        </div>
        <div class="col-4">
           <div id="header_text">
            <div class="black">{{ tenant.address_1|upper }}</div>
            {% if tenant.address_2 %}
              <div class="black">{{ tenant.address_2|upper }}</div>
            {% endif %}
            <div class="black">P: {{ tenant.phone_number }}</div>
            <div class="black">F: {{ tenant.fax_number }}</div>
            <div class="black">{{ tenant.website|upper }}</div>
          </div>
        </div>
        <div class="col-12">
          <hr class="sep_order_info">
        </div>
      </div>
      <!-- /Header -->

      <!-- Footer -->
      <div id="footer" class="col-12">
        <div class="row">
          <div class="col-4" id="footer_patient_details">
            {{ order.patient.user.last_name}}, {{ order.patient.user.first_name }}<br>
            Sample Code: {{ sample.code }}
          </div>
          <div id="contain" class="col-5">
            <br>Copyright © Dendi 2019. All rights reserved.
          </div>
          <div class="col-3" id="pagination">
            <div class="page_number"></div>
            <div class="time_stamp"></div>
          </div>
        </div>

      </div>
      <!-- /Footer -->
      {% if preliminary %}
        <div id="watermark">
          <p id="watermakr-text">DRAFT</p>
        </div>
      {% endif %}
      <!-- Order Information -->
      <div class="row" id="order_info">
        <div class="col-6">
          <div class="row">
            <div class="col-6 order_info_header">PATIENT (LAST, FIRST)</div>
            <div class="col-6 order_info_label">{{ order.patient.user.last_name}}, {{ order.patient.user.first_name }}</div>
          </div>
          <div class="row">
            <div class="col-6 order_info_header">DATE OF BIRTH</div>
            <div class="col-6 order_info_label">{{ order.patient.birth_date}}</div>
          </div>
          <div class="row">
            <div class="col-6 order_info_header">ACCESSION NUMBER</div>
            <div class="col-6 order_info_label">{{ order.accession_number|default_if_none:'' }}</div>
          </div>
          <div class="row">
            <div class="col-6 order_info_header">ORDER CODE</div>
            <div class="col-6 order_info_label">{{ order.code }}</div>
          </div>
          <div class="row">
            <div class="col-6 order_info_header">SAMPLE ID</div>
            <div class="col-6 order_info_label">{{ sample.code }}</div>
          </div>
          <div class="row">
            <div class="col-6 order_info_header">SAMPLE TYPE</div>
            <div class="col-6 order_info_label">{{ sample.clia_sample_type.name }}</div>
          </div>
          <div class="row">
            <div class="col-6 order_info_header">CLINIC</div>
            <div class="col-6 order_info_label">{{ tenant.name }}</div>
          </div>
          {% if order.provider %}
          <div class="row">
            <div class="col-6 order_info_header">PROVIDER</div>
            <div class="col-6 order_info_label">{{ order.provider.user.first_name }} {{ order.provider.user.last_name}}{% if order.provider.suffix %} {{ order.provider.suffix }}{% endif %}{% if order.provider.title %}, {{ order.provider.title }}{% endif %}</div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-6 order_info_header">ACCOUNT</div>
            <div class="col-6 order_info_label">{{ order.account.name }}</div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6 order_info_header">DATE COLLECTED</div>
            <div class="col-6 order_info_label">{{ order.submitted_date|as_timezone:tenant.timezone  }}</div>
          </div>
          {% if order.collection_user %}
          <div class="row">
            <div class="col-6 order_info_header">COLLECTED BY</div>
            <div class="col-6 order_info_label">{{ order.collection_user.last_name }}, {{ order.collection_user.first_name }}</div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-6 order_info_header">DATE RECEIVED</div>
            <div class="col-6 order_info_label">{{ order.received_date|as_timezone:tenant.timezone  }}</div>
          </div>
          {% if not preliminary %}
            <div class="row">
              <div class="col-6 order_info_header">DATE REPORTED</div>
              <div class="col-6 order_info_label">{{ order.report_date|as_timezone:tenant.timezone  }}</div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-6 order_info_header">DATE REPORTED</div>
              <div class="col-6 order_info_label">{{ certification_date|as_timezone:tenant.timezone }}</div>
            </div>
          {% endif %}
          <div class="row">
            <div class="col-6 order_info_header">CLIA #</div>
            <div class="col-6 order_info_label">{{ tenant.clia_number }}</div>
          </div>
          <div class="row">
            <div class="col-6 order_info_header">CLIA DIRECTOR</div>
            <div class="col-6 order_info_label">{{ tenant.clia_director }}</div>
          </div>

          <div class="row">
            <div class="col-6 order_info_header">DATE CERTIFIED</div>
            <div class="col-6 order_info_label">{{ certification_date|as_timezone:tenant.timezone }}</div>
          </div>
           <div class="row">
            <div class="col-6 order_info_header">CERTIFIED BY</div>
            <div class="col-6 order_info_label">{{ approved_by.last_name }}, {{ approved_by.first_name }}</div>
          </div>
        </div>
      </div>
      <!-- /Order Information -->
      <hr class="sep_meds">
      <!-- Medications -->
      {% if prescribed_medications %}
        <div class="row medications">
          <span class="medications_header">Medications:&nbsp;&nbsp;</span>
          {% for prescribed_medication in prescribed_medications %}
            {{ prescribed_medication }}
            {% if prescribed_medication.common_name %}
              (
              {% for common_name in prescribed_medication.common_name %}
                {{ common_name }}{%if not forloop.last%}, {% endif %}
              {% endfor %}
              ){% endif %}{%if not forloop.last%}, {%endif%}
          {% endfor %}
        </div>
      <hr class="sep_meds">
      {% endif %}
      <!-- /Medications -->


      <!-- Report Status -->
      {% if amended %}
        <div class="row report_status">Report Status:&nbsp;<span style="color: red;">AMENDED</span>
        </div>
        <hr class="sep_meds">
      {% endif %}
      <!-- /Report Status -->

      {% for result_type, results_by_method in summary_results %}
        {% if result_type == 'Quantitative' %}
          {% for test_method in results_by_method %}
          <!-- Result Summary - Quantitative -->
            <div class="test_method">Positive/Inconsistent {{ test_method }} Result Summary:</div>
              <table class="result_summary_table">
                <thead>
                  <tr class="result_summary_table_header">
                    <th class="analyte">Drug</th>
                    <th class="results">Result</th>
                    <th class="results">Cutoff</th>
                    <th class="results">Interpretation</th>
                    <th class="results">Expected</th>
                    <th class="results">Inconsistent</th>
                  </tr>
                </thead>
                {% for result in results_by_method|lookup:test_method %}
                <tr>
                  <td>{{ result|lookup:'analyte' }}</td>
                  <td>{{ result|lookup:'result_value' }}</td>
                  <td>{{ result|lookup:'cutoff' }}</td>
                  <td style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'interpretation' |upper}}</td>
                  <td style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'expected' |upper}}</td>
                  <td style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'inconsistent' |upper}}</td>
                </tr>
                {% endfor %}
              </table>
            <!-- /Result Summary - Quantitative -->
            {% endfor %}
        {% else %}  <!-- Qualitative Report Results -->
          {% for test_method in results_by_method %}
            <div class="test_method">{{ test_method }} Result Summary</div>
            <!-- Result Summary - Qualitative -->
              <table class="result_summary_table">
                <thead>
                  <tr>
                    <th class="analyte">Analyte</th>
                    <th class="results">Collected Date</th>
                    <th class="results">Sample Code</th>
                    <th class="results">Sample Type</th>
                    <th class="results">Result</th>
                  </tr>
                </thead>
                {% for result in results_by_method|lookup:test_method %}
                    <tr>
                      <td>{{ result|lookup:'analyte' }}</td>
                      <td>{{ result|lookup:'collection_date' }}</td>
                      <td>{{ result|lookup:'sample_code' }}</td>
                      <td>{{ result|lookup:'sample_type' }}</td>
                      <td>{{ result|lookup:'result_label' }}</td>
                    </tr>
                {% endfor %}
              </table>
               <!-- /Result Summary - Quantitative -->
            {% endfor %}
        {% endif %}
      {% endfor %}


      <!-- Validity Tests Outcome -->
      {% if specimen_validity_results %}
      <div class="row validity_tests_summary">
        <div>Validity Tests Outcome: {{ specimen_validity_summary }}</div>
      </div>
      {% endif %}
      <!-- /Validity Tests Outcome -->

      <!-- Historical Report if available -->
      {% if historical_dates %}
        <div class="row historical_report">
          <div>Historical Report:</div>
          <table class="historical_result_table">
            <thead>
              <tr class="historical_result_table_header">
                <th class="analyte" style="border-right: 1px solid black"></th>
                {% for historical_date in historical_dates %}
                  <th class="results" style="border-right: 1px solid black">
                    {% with tenant_datetime=historical_datetimes|lookup:historical_date %}
                      {% with tenant_historical_date=tenant_datetime|as_timezone:tenant.timezone %}
                        {{ tenant_historical_date|date:'m/d/Y' }}
                      {% endwith %}
                    {% endwith %}
                    {% if historical_dates|lookup:historical_date != None %}<br>
                    {{ historical_dates|lookup:historical_date }}
                    {% endif %}
                  </th>
                {% endfor %}
              </tr>
              {% for drug in historical_results %}
                <tr>
                  <td class="historical_results_table_data">{{ drug }}</td>
                  {% with result=historical_results|lookup:drug %}
                    {% for datetime_historical_date in historical_dates %}
                      <td class="historical_results_table_data">
                        {% with historical_date=datetime_historical_date %}
                          {{ result|lookup:historical_date }}
                        {% endwith %}
                      </td>
                    {% endfor %}
                  {% endwith %}
                </tr>
              {% endfor %}
            </thead>
          </table>
          <span class="info">* INCONSISTENT</span>
        </div>
      {% endif %}

      <!-- /Historical Report -->

      <!-- Detailed results -->
      {% if historical_dates and detailed_results %}
        <hr class="separator_detailed_results_page_break">
      {% else %}
        <hr class="separator_detailed_results">
      {% endif %}
      <br>
      {% for result_type, results_by_method in detailed_results %}
        {% if result_type == 'Quantitative' %}
          {% for test_method, results in results_by_method.items %}
          <!-- Detailed Result - Quantitative -->
              <table class="detailed_results_table">
                <thead>
                  <tr>
                    <th colspan="4" class="detailed_results_header">Detailed Results {{ test_method }} {%  if test_method !=  'Toxicology Screening' %}Confirmation:{% endif %}</th>
                  </tr>
                  <tr>
                    <th class="analyte" scope="col">Drug</th>
                    <th class="results" scope="col">Result</th>
                    <th class="results" scope="col">Cutoff</th>
                    <th class="results" scope="col">Interpretation</th>
                  </tr>
                </thead>
                {% for category, drugs_by_category in results.items %}
                  <tr class="category_border">
                    <td class="drug_category">
                      {{ category|upper }}
                    </td>
                  </tr>
                  {% for result in drugs_by_category %}
                    <tr>
                        <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'analyte' }}</td>
                        <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'result_value' }}</td>
                        <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'cutoff' }}</td>
                        {% if result|lookup:'interpretation' == 'Positive' %}
                          <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'interpretation'|upper }}</td>
                        {% else %}
                          <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'interpretation' }}</td>
                        {% endif %}
                      </tr>
                  {% endfor %}
                {% endfor %}


              </table>
            <!-- /Result Summary - Quantitative -->
            {% endfor %}
        {% else %}  <!-- Qualitative Report Results -->
          {% for test_method in results_by_method %}
            <div class="test_method">{{ test_method }} Results Summary</div>
            <!-- Detailed Results - Qualitative -->
              <table class="detailed_results_table">
                <thead>
                  <tr>
                    <th class="analyte">Analyte</th>
                    <th class="results">Collected Date</th>
                    <th class="results">Sample Code</th>
                    <th class="results">Sample Type</th>
                    <th class="results">Result</th>
                  </tr>
                </thead>
                {% for result in results_by_method|lookup:test_method %}
                    <tr class="detailed_result_rows">
                      <td>{{ result|lookup:'analyte' }}</td>
                      <td>{{ result|lookup:'collection_date' }}</td>
                      <td>{{ result|lookup:'sample_code' }}</td>
                      <td>{{ result|lookup:'sample_type' }}</td>
                      <td>{{ result|lookup:'result_label' }}</td>
                    </tr>
                {% endfor %}
              </table>
               <!-- /Result Summary - Quantitative -->
            {% endfor %}
        {% endif %}
      {% endfor %}
      <!-- /Detailed results -->

      <!-- Drug Screen -->
      {% if drug_screen_results %}
      <div class="test_method">Drug Screen
        <table class="specimen_validity_table">
          <thead>
            <tr>
              <th class="analyte">DRUG</th>
              <th class="results specimen_validity_values">CUTOFF</th>
              <th class="results specimen_validity_values">RESULTS</th>
            </tr>
          </thead>
          {% for result in drug_screen_results %}
            <tr class="specimen_validity_results">
              <td>{{ result|lookup:'test' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'cutoff' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'interpretation' }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}
      <!-- /Drug Screen -->

      <!-- Specimen Validity -->
      {% if specimen_validity_results %}
      <div class="test_method">Specimen Validity
        <table class="specimen_validity_table">
          <thead>
            <tr>
              <th class="analyte">TEST</th>
              <th class="results specimen_validity_values">RESULTS</th>
              <th class="results specimen_validity_values">EXPECTED RESULTS</th>
            </tr>
          </thead>
          {% for result in specimen_validity_results %}
            <tr class="specimen_validity_results">
              <td>{{ result|lookup:'test' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'result_value' }} {{ result|lookup:'unit_of_measurement' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'expected' }} {{ result|lookup:'unit_of_measurement' }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}
      <!-- /Specimen Validity -->

{#     <hr class="page_break">#}
      <!-- Remarks -->
      {% if remarks %}
      <div class="test_method remarks">Remarks:
      {% for remark in remarks %}
        <p class="small">- {{ remark }}</p><br>
      {% endfor %}
      </div>
      {% endif %}
      <!-- /Remarks -->

      <!-- Notes -->
      {% if notes %}
      <div class="test_method">Patient Notes:
        <div class="patient_notes">
          <p>
            {{ notes }}
          </p>
        </div>
      </div>
      {% endif %}
      <!-- /Notes -->

      <!-- Order Issues -->
      {% if issues %}
      <div class="test_method">Order Issues:
        <div class="patient_notes">
          {% for issue in issues %}
            <p class="small"><strong class="font-weight-bold">{{ issue.get_issue_type_display }}</strong><br>- {{ issue.description }}</p><br>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <!-- /Order Issues -->

      <div class="end_of_report">
{#        <br>#}
        __________________END OF REPORT__________________
      </div>

      <!-- Disclaimer -->
      <div class="disclaimer">
        These tests were developed and their performance characteristics determined by {{ tenant.name }}.
        They have not been cleared or approved by the FDA.
      </div>
      <!-- /Disclaimer -->
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block javascript %}
{% endblock %}
