{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}


{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom col-12">
    <h2>Tests & Test Profiles for Order: {{ order.code }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if sample_formset.errors %}
    {% for form in sample_formset %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in sample_formset.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <!-- Test Information -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {% for test_panel_category in test_panel_categories %}
              <div class="col-6 top-buffer">
                <h5 class="mb-2">{{ test_panel_category }}</h5>
                {{ test_panel_formset_dict|lookup_management_form:test_panel_category}}
                {% for data, form in test_panel_data_and_formset_dict|lookup:test_panel_category %}
                  <div class="row mt-1">
                    <label class="ml-1">{{ form.checked }} <b>{{ data.test_panel_type.name }}</b>
                      {% if data.test_panel_type.price %}
                        : ${{ data.test_panel_type.price }}
                      {% endif %}
                    </label>
                    <div class="d-none">
                      {{ form.test_panel_type }}
                    </div>
                  </div>
                  {% if data.test_panel_type.notes %}
                    <div class="row">
                      <label class="ml-4">{{ data.test_panel_type.notes }}</label>
                    </div>
                  {% endif %}
                {% endfor %}
              <br>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- /Test Information -->
    <button type="submit" class="btn btn-primary">Save Data</button>
  </form>
{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>

    $('.dateMask').inputmask({"mask": "9999-99-99"});
    $(document).ready(function() {
        // Due date
        let dueDate = new Pikaday({
            field: $('#due-date')[0],
            format: 'YYYY-MM-DD',
            maxDate: moment().add(60, 'days'),
            minDate: moment(),
            yearRange: 120,
        });});
  </script>
  <!-- Custom JS -->
  <script src="{% static 'js/order_samples.js' %}" type="text/javascript"></script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
