{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load timezone %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>

  .notes-section {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 0px;
  }

  .order-comment-block {
    width: 100px;
  }

  .table .test-details-table {
    background-color: white;
  }

  </style>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pl-0 ml-0 pb-2 mb-3 border-bottom">
      <h2>
        {% if request.user.user_type < 9 %}
          {# order.has_unresolved_issues checks if there are any unresolved issues, rather than issues at all #}
          {% if not order.has_unresolved_issues %}
            <a href="{% url 'order_previous' order.code %}"><i class="fas fa-caret-left"></i></a>
          {% endif %}
        {% endif %}
        Order: {{ order.code }}
        {% if request.user.user_type < 9 %}
          {% if not order.has_unresolved_issues %}
            <a href="{% url 'order_next' order.code %}"><i class="fas fa-caret-right"></i></a>
          {% endif %}
        {% endif %}
      </h2>
      <div class="btn-toolbar mb-2 mb-md-0">
        {% if order.requisition_form %}
          <div class="btn-group mr-2">
            <a href="{{ order.requisition_form.url }}" class="btn btn-sm btn-primary pr-1" target="_blank"><i class="fas fa-search"></i>&nbsp;&nbsp;Requisition Form</a>
            <div class="btn-group">
              <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-primary dropdown-toggle pl-1" data-toggle="dropdown"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="{% url 'order_requisition_form' order.code %}">Refresh Requisition Form</a>
              </div>
            </div>
          </div>
        {% endif %}
        {% if request.user.user_type < 9 %}
          {% if order.status == 'Unreceived' %}
            <div class="btn-group mr-2">
              <a href="{% url 'order_received' order.code %}" class="btn btn-sm btn-primary">Receive Order</a>
            </div>
          {% endif %}

          {% if order.status == 'Pending Test Approval' and not order.creating_report %}
            <div class="btn-group mr-2">
              <a href="{% url 'order_tests_approve' order.code %}" class="btn btn-sm btn-primary"><i class="fas fa-clipboard-check"></i>&nbsp;&nbsp;Approve All Results</a>
            </div>
            <div class="btn-group mr-2">
              <a href="{% url 'order_edit' order.code %}" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Order</a>
            </div>
            {% if preliminary_reports.0.pdf_file and not order.creating_preliminary_report %}
              <div class="btn-group mr-2" id="preliminary-report">
                <a href="{{ preliminary_reports.0.pdf_file.url }}" class="btn btn-sm btn-primary" target="_blank"><i class="fas fa-search"></i>&nbsp;&nbsp;Preliminary Report</a>
              </div>
              <div class="btn-group mr-2">
{#                <a href="{% url 'order_refresh_pdf' order.code %}" class="btn btn-sm btn-primary"><i class="fas fa-sync"></i>&nbsp;&nbsp;Preliminary Report</a>#}
                <button type="submit" class="btn btn-sm btn-primary" name="preliminary_report_button"><i class="fas fa-sync"></i>&nbsp;&nbsp;Preliminary Report</button>
              </div>
            {% else %}
              {% if order.creating_preliminary_report %}
                <div class="btn-group mr-2" id="preliminary-report">
                  <a  class="btn btn-sm btn-secondary disabled" target="_blank" ><i class="fas fa-spinner"></i> Processing</a>
                </div>
              {% endif %}
              <div class="btn-group mr-2">
{#                <a href="{% url 'order_refresh_pdf' order.code %}" class="btn btn-sm btn-primary"><i class="fas fa-sync"></i>&nbsp;&nbsp;Preliminary Report</a>#}
                <button type="submit" class="btn btn-sm btn-primary" name="preliminary_report_button"><i class="fas fa-sync"></i>&nbsp;&nbsp;Preliminary Report</button>
              </div>
            {% endif %}
            <div class="btn-group mr-2">
              <button type="submit" class="btn btn-sm btn-success" name="order_report_button" id="order-report">
                <i class="fal fa-file-chart-line"></i>&nbsp;&nbsp;Report Order
              </button>
            </div>
          {% elif order.status == 'Pending Results' and not order.creating_report %}
            <div class="btn-group mr-2">
              <a href="{% url 'order_details_update' order.code %}" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Order</a>
            </div>
            <button type="submit" class="btn btn-success btn-sm" name="complete_order_button"><i class="fas fa-check"></i>&nbsp;&nbsp;Complete Order</button>
          {% endif %}
        {% endif %}
        {% if order.status == 'Reported' or order.status == 'Reported (Partial)' or order.creating_report %}
          <!-- Only Lab Admins have permission to amend reports -->
          {% if request.user.user_type == 1 and not order.creating_report %}
          <div class="btn-group mr-2">
            <a href="{% url 'order_amend_report' order.code %}" id="amend-report" class="btn btn-sm btn-warning"><i class="far fa-history"></i>&nbsp;&nbsp;Amend Report</a>
          </div>
          {% endif %}
          {% if reports and not order.creating_report %}
            <div class="btn-group mr-2">
              <a href="{{ reports.0.pdf_file.url }}" class="btn btn-sm btn-success" target="_blank"><i class="fas fa-search"></i>&nbsp;&nbsp;Final Report</a>
            </div>
          {% endif %}
          <!-- Report buttons for worker -->
          {% if order.creating_report %}
            {% if request.user.user_type == 1 %}
              <div class="btn-group mr-2">
                <a href="{% url 'order_amend_report' order.code %}" id="amend-report-with-worker" class="btn btn-sm btn-warning disabled"><i class="fas fa-spinner"></i>&nbsp;&nbsp;Amend Report</a>
              </div>
              {% endif %}
            <div class="btn-group mr-2" id="final-report">
              <a  class="btn btn-sm btn-secondary disabled" target="_blank" ><i class="fas fa-spinner"></i> Processing</a>
            </div>
          {% endif %}
          <!--/ Report buttons for worker -->
        {% endif %}
      </div>
    </div>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success" id="message-success">
            <strong>{{ message|safe }}</strong>
          </div>
        {% elif message.tags == 'error' %}
          <div class="alert alert-danger" id="message-error">
            <strong>{{ message|safe }}</strong>
          </div>
        {% else %}
          <div class="alert alert-info" id="message-info">
            <strong>{{ message|safe }}</strong>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <!-- Order issues -->
    {% comment %}
      There are 2 types of issues: public and non-public. Accounts and providers should not be able to see non-public
      issues.
    {% endcomment %}
    {% if order.has_unresolved_issues and user.user_type < 9 %}
      <div class="alert alert-danger">
        <strong>This order has unresolved issue(s). Click <a href="{% url 'order_issue_list' order.code %}">here </a>
          to see and resolve them.
        </strong>
      </div>
    {% endif %}
    <!-- /Order issues -->

    {% if order.patient_result_request %}
      <div class="alert alert-success">
        <strong>Patient has requested a copy of their results for this order.</strong>
      </div>
    {% endif %}

    <!-- Reflex message -->
    {% if has_reflex %}
      <div class="alert alert-info">
        <strong>Results have triggered {{ reflex_list|length }} reflex test(s),
          <a href="{% url 'order_reflex_list' order.code %}">click here</a>
          to add them to the order.</strong>
      </div>
    {% endif %}
    <!-- /Reflex message -->

    {% if order.status not in editable_order_status_list and not order.reported and not order.creating_report and report_approved_by_form and request.user.user_type < 9 %}
      <div class="col-12 mb-3 pl-1">
        {% if not order.creating_preliminary_report %}
          <div id="report-approved-by-form">
            {{ report_approved_by_form }}
          </div>
        {% else %}
          <div id="report-approved-by-form" style="display: none;">
            {{ report_approved_by_form }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% include 'block_order_info.html' %}

    <div class="row">

      <div class="col-12">
        {% if not order.creating_report and order.status == 'Reported' or order.status == 'Reported (Partial)' %}

          <div class="card mb-0 h-50 notes-section">
            <div class="card-header">
              Patient Notes&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Patient notes are included on the final report that is shared with providers and patients.">
              </i>
              {% if request.user.user_type < 9 %}
                {% if order.status == 'Pending Test Approval' or order.status == 'Pending Results' or order.status == 'Unreceived' %}
                  <a href="{% url 'order_notes' order.code %}" class="btn btn-sm btn-warning float-right">
                    <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Patient Notes
                  </a>
                {% endif %}
              {% endif %}
            </div>

            <div class="card-body">
              {% if order.notes %}
                <div class="card-body">
                  <p class="mb-0">{{ order.notes|linebreaks }}</p>
                </div>
              {% else %}
                <p class="mb-0">No patient notes.</p>
              {% endif %}
            </div>
          </div>

          <div class="card h-50 notes-section">
            <div class="card-header">
              Report History
            </div>

            <div class="card-body">
              {% comment %} Only lab employees should be able to see amended reports {% endcomment %}
              {% if request.user.user_type < 9 %}
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <th>Report Datetime</th>
                      <th>Amended</th>
                      <th>View Report</th>
                    </tr>
                    {% for report in reports %}
                      <tr>
                        <td>{{ report.created_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</td>
                        {% if report.amended %}
                          <td>Yes</td>
                        {% else %}
                          <td>No</td>
                        {% endif %}
                        <th><a href="{{ report.pdf_file.url }}" target="_blank"><i class="fas fa-search"></i></a></th>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
          </div>

        {% else %}
          <!-- Show amended reports when generating report with worker -->
          {% if order.creating_report %}
            <div class="card mb-0 h-100 notes-section" id="patient-notes-with-worker">
              <div class="card-header">
                Patient Notes&nbsp;&nbsp;
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Patient notes are included on the final report that is shared with providers and patients.">
                </i>
                {% if request.user.user_type < 9 %}
                  {% if order.status == 'Pending Test Approval' or order.status == 'Pending Results' or order.status == 'Unreceived' %}
                    <a href="{% url 'order_notes' order.code %}" class="btn btn-sm btn-warning float-right">
                      <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Patient Notes
                    </a>
                  {% endif %}
                {% endif %}
              </div>

              <div class="card-body">
                {% if order.notes %}
                  <div class="card-body">
                    <p class="mb-0">{{ order.notes|linebreaks }}</p>
                  </div>
                {% else %}
                  <p class="mb-0">No patient notes.</p>
                {% endif %}
              </div>
            </div>

            <div class="card h-50 notes-section d-none" id="amended-reports-with-worker">
              <div class="card-header">
                Report History
              </div>
                <div class="card-body" id="amended-reports-table">
                </div>
            </div>
          {% else %}
          <!-- /amended reports with worker -->
          <div class="card h-100">

            <div class="card-header">
              Patient Notes&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Patient notes are included on the final report that is shared with providers and patients.">
              </i>
              {% if request.user.user_type < 9 %}
                {% if order.status == 'Pending Test Approval' or order.status == 'Pending Results' or order.status == 'Unreceived' %}
                  <a href="{% url 'order_notes' order.code %}" class="btn btn-sm btn-warning float-right">
                    <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Patient Notes
                  </a>
                {% endif %}
              {% endif %}
            </div>

            <div class="card-body">
              {% if order.notes %}
                <div class="card-body">
                  <p class="mb-0">{{ order.notes|linebreaks }}</p>
                </div>
              {% else %}
                <p class="mb-0">No patient notes.</p>
              {% endif %}
            </div>
          </div>
          {% endif %}

        {% endif %}
      </div>

    </div>
    <hr>

    <div class="row mt-3">
      <div class="col-12">

        <div class="card">
          <div class="card-header">
            Samples
            {% if request.user.user_type < 9 and order.status == 'Pending Results' %}
              <a href="{% url 'order_samples' order.code %}" class="btn btn-sm btn-primary float-right"><i class="fas fa-plus"></i>&nbsp;&nbsp;Sample</a>
            {% endif %}
          </div>

          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <th>Sample ID</th>
                <th>Type</th>
                <th>Temperature</th>
                <th>Collection Datetime</th>
                {% if request.tenant.settings|safe_lookup:'hide_specimen_validity' != True %}
                <th>Validity</th>
                {% endif %}
                <th>Collected By</th>
                <th></th>
                <th></th>
                <th></th>
                {% if request.tenant.settings|safe_lookup:'show_ten_digit_barcode' and order.accession_number %}
                <th></th>
                {% endif %}
              </thead>
              <tbody>
                {% for sample in samples %}
                  <tr>
                    <th scope="row">{{ sample.code }}</th>
                    <td>{{ sample.sample_type.name}}{{ sample.clia_sample_type.name }} </td>
                    <td>{% if sample.collection_temperature %}{{ sample.collection_temperature }} {{ sample.collection_temperature_unit }}{% endif %}</td>
                    <td>{{ sample.collection_date|date:'m-d-Y, h:iA (T)' }} </td>
                    {% if request.tenant.settings|safe_lookup:'hide_specimen_validity' != True %}
                    <td>{{ sample.validity_string }}</td>
                    {% endif %}
                    <td>{{ sample.collection_user|default_if_none:'' }}</td>
                    <td>
                      {% if use_zebra_printer and request.user.user_type < 3 %} <!-- Only use zebra printer at the lab -->
                        {% if request.tenant.settings|safe_lookup:'use_accession_number_barcode' and order.accession_number %}
                        <a href="javascript:void(0);" class="print-zebra-label" sample_code="{{ sample.code }}" sample_barcode="{{ order.accession_number }}" test_methods="{{ order_test_methods|lookup:sample.code }}" collection_date="{{ sample.collection_date }}">
                        {% else %}
                        <a href="javascript:void(0);" class="print-zebra-label" sample_code="{{ sample.code }}" sample_barcode="{{ sample.barcode }}" test_methods="{{ order_test_methods|lookup:sample.code }}" collection_date="{{ sample.collection_date }}">
                        {% endif %}
                      {% else %}
                        <a href="javascript:void(0);" class="print-label" sample_code="{{ sample.code }}" sample_barcode="{{ sample.barcode }}" collection_date="{{ sample.collection_date }}">
                      {% endif %}
                        <i class="fas fa-print" data-toggle="tooltip" title="Print label"></i>
                      </a>
                    </td>
                    {% if request.tenant.settings|safe_lookup:'show_ten_digit_barcode' and order.accession_number %}
                    <td>
                      <a href="javascript:void(0);" class="print-zebra-label" sample_code="{{ sample.code }}" sample_barcode="{{ order.accession_number|get_short_accession_number }}" test_methods="{{ order_test_methods|lookup:sample.code }}" collection_date="{{ sample.collection_date }}">
                        <i class="fas fa-print" data-toggle="tooltip" title="Print 10 digit label"></i>
                      </a>
                    </td>
                    {% endif %}
                    {% if request.user.user_type < 9 and order.status == 'Pending Results' %}
                      <td>
                        <a href="{% url 'sample_update' order.code sample.uuid %}">
                          <i class="fas fa-pencil-alt text-warning" data-toggle="tooltip" title="Update sample"></i>
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'sample_delete' order.code sample.uuid %}">
                          <i class="fas fa-trash-alt sample-delete text-danger" data-toggle="tooltip" title="Archive sample"></i>
                        </a>
                      </td>
                    {% else %}
                    {% endif %}
                  </tr>
                  {% if sample.containers.all %}
                  <tr>
                    {% if request.tenant.settings|safe_lookup:'show_ten_digit_barcode' and order.accession_number %}
                      <td colspan="10">
                    {% else %}
                      <td colspan="9">
                    {% endif %}
                        <table style="width:100%">
                          <thead>
                            <th style="width:5%"></th>
                            <th>Container Code</th>
                            <th>Container Type</th>
                            <th>Collection Datetime</th>
                            <th></th>
                          </thead>
                          <tbody>
                            {% for container in sample.containers.all %}
                            <tr>
                              <td>
                              <th>{{ container.code }}</th></td>
                              <td>{{ container.container_type.name }}</td>
                              <td>{{ container.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
                              <td>
                                <a href="javascript:void(0);" class="print-container-label" sample_code="{{ container.code }}" sample_barcode="{{ container.barcode }}" collection_date="{{ container.collection_date }}">
                                  <i class="fas fa-print" data-toggle="tooltip" title="Print label"></i>
                                </a>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <hr>

    {% include 'block_order_results.html' %}

    {% if order.status in editable_order_status_list %}
      <a href="{% url 'order_test_create' order.code %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Test</a>
      {% if request.user.user_type < 9 %}
        <button type="submit" class="btn btn-sm btn-primary" name="save_results_button"><i class="far fa-save"></i>&nbsp;&nbsp;Save Results</button>
      {% endif %}
    {% endif %}
    <!-- /Test Results -->
    <hr>
  </form>

  {% if request.user.user_type < 9 %}
    <div class="row">
      <div class="col-12">
        <h5>Internal Comments&nbsp;&nbsp;
          <i class="fas fa-info-circle" data-toggle="tooltip"
             title="Internal comments are not included in any reports or shared with patients.">
          </i>
        </h5>
        <form method="POST" class="post-form">{% csrf_token %}
          {% csrf_token %}
          {{ comment_form.comment }}
          <br>
          <button type="submit" class="btn btn-sm btn-primary" name="order_comment_button"><i class="fas fa-plus"></i>&nbsp;&nbsp;Comment</button>
        </form>

        {% for comment in order_comments %}
          <div class="card mt-4">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-6">
                  <div class="order-comment">{{ comment.comment|linebreaks }}</div>
                  <p class="text-muted small">
                    Added by: {{ comment.user.first_name }} {{ comment.user.last_name }}, <i>{{ comment.created_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</i>
                    {% if comment.last_modified_user %}
                      <br>
                      Edited by: {{ comment.last_modified_user.first_name }} {{ comment.last_modified_user.last_name }}, <i>{{ comment.last_modified_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</i>
                    {% endif %}
                  </p>
                </div>
                <div class="col-6">
                  <a href="{% url 'order_comment_delete' order_code=order.code order_comment_uuid=comment.uuid %}" class="btn btn-sm btn-danger float-right order-comment-delete"><i class="fas fa-trash-alt"></i></a>
                  <a href="{% url 'order_comment_update' order_code=order.code order_comment_uuid=comment.uuid %}" class="btn btn-sm btn-warning float-right mr-1"><i class="fas fa-pencil-alt"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <!--<script src = "http://labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.latest.js" type="text/javascript" charset="UTF-8"> </script> -->

  <script src="{% static 'js/dymolabelframework3.js' %}" type="text/javascript" charset="UTF-8"></script>
  <script src="{% static 'js/order_sample_label.js' %}" type="text/javascript" charset="UTF-8"></script>
  <script src="{% static 'js/BrowserPrint-2.0.0.75.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/zebra_labels.js' %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'lib/reconnecting-websocket/reconnecting-websocket.min.js' %}"></script>

  <script>
    // phone number mask
    $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options
    $('.dateMask').inputmask({"mask": "99-99-9999 99:99"});
    $('.sample-formset').formset({
      addText: 'add sample',
      deleteText: 'remove'
    });

    $('.expand-test ').click(function() {
      let expandTest = $(this).attr('id');
      $('#' + expandTest).toggleClass('fa-rotate-180');
    });


    // confirm the report client-side
    $('#order-report').click(function(event) {

      let result = confirm('Are you sure you want to report this order?');

      if(result) {
      } else {
        alert('Reporting canceled.');
        event.preventDefault();
      }
    });

    // confirm the amend signoff client-side
    $('#amend-report').click(function(event) {

      let result = confirm('Are you sure you want to amend this report?');

      if(!result) {
        alert('Amending report canceled.');
        event.preventDefault();
      }
    });

    // confirm deleting a sample and associated tests
    $('.sample-delete').click(function(event) {
      let result = confirm('Are you sure you want to archive this sample? This will also archive the associated tests with it.');
      if(!result) {
        event.preventDefault();
      }
    });

    // confirm deleting a test and associated results
    $('.order-test-delete').click(function(event) {
      let result = confirm('Are you sure you want to archive this test?');
      if(!result) {
        event.preventDefault();
      }
    });

    // confirm deleting a test and associated results
    $('.order-comment-delete').click(function(event) {
      let result = confirm('Are you sure you want to archive this comment?');
      if(!result) {
        event.preventDefault();
      }
    });

    $('.comment-delete').click(function(event) {
      let result = confirm('Are you sure you want to archive this comment?');
      if(!result) {
        event.preventDefault();
      }
    });

    $(document).ready(function() {
      {% if auto_print_label %}
        {% for sample in samples %}
          var sample_code = 'Sample Code: ' + '{{ sample.code }}';
          var collection_date = ($(this).attr('collection_date'));
          collection_date = collection_date.split(",");
          var sample_collection_date = 'Collection Date: ' + formatDate(collection_date[0] + ',' + collection_date[1]);
          var patient_name = '{{ order.patient.user.last_name }}' + ", " + '{{ order.patient.user.first_name}}';
          var patient_dob = 'DOB: ' + formatDate('{{ order.patient.birth_date }}');
          var sample_barcode = '{{ sample.barcode }}';
          var client_name = '{{ account.id }}{% if account.alternate_id %}({{ account.alternate_id }}){% endif %}' + ' - ' + '{{ account.name }}';
          var auto_print = true;

          printLabel(patient_name, sample_code, patient_dob, sample_collection_date, client_name, sample_barcode, auto_print);

        {% endfor %}
      {% endif %}
    });

      $('.print-label').click(function(event) {
        var sample_code = 'Sample Code: ' + $(this).attr('sample_code');
        var collection_date = ($(this).attr('collection_date'));
        collection_date = collection_date.split(",");
        var sample_collection_date = 'Collection Date: ' + formatDate(collection_date[0] + ',' + collection_date[1]);
        var patient_name = '{{ order.patient.user.last_name }}' + ", " + '{{ order.patient.user.first_name}}';
        var patient_dob = 'DOB: ' + formatDate('{{ order.patient.birth_date }}');
        var sample_barcode = $(this).attr('sample_barcode');
        var client_name = '{{ account.id }}{% if account.alternate_id %}({{ account.alternate_id }}){% endif %}' + ' - ' + '{{ account.name }}';
        var auto_print = false;

        printLabel(patient_name, sample_code, patient_dob, sample_collection_date, client_name, sample_barcode, auto_print);
      });

      $('.print-container-label').click(function(event) {
        var sample_code = 'Container Code: ' + $(this).attr('sample_code');
        var collection_date = ($(this).attr('collection_date'));
        collection_date = collection_date.split(",");
        var sample_collection_date = 'Collection Date: ' + formatDate(collection_date[0] + ',' + collection_date[1]);
        var patient_name = '{{ order.patient.user.last_name }}' + ", " + '{{ order.patient.user.first_name}}';
        var patient_dob = 'DOB: ' + formatDate('{{ order.patient.birth_date }}');
        var sample_barcode = $(this).attr('sample_barcode');
        var client_name = '{{ account.id }}{% if account.alternate_id %}({{ account.alternate_id }}){% endif %}' + ' - ' + '{{ account.name }}';
        var auto_print = false;

        printContainerLabel(patient_name, sample_code, patient_dob, sample_collection_date, client_name, sample_barcode, auto_print);
      });


      $('.print-zebra-label').click(function(event) {
        let sample_barcode = $(this).attr('sample_barcode');
        let sample_code = $(this).attr('sample_code');
        let collection_date = ($(this).attr('collection_date'));
        collection_date = collection_date.split(',');
        let test_methods = $(this).attr('test_methods');
        test_methods = test_methods.replace('[', '').replace(']', '');
        test_methods = test_methods.split(',');
        let sample_collection_date = 'Collection Date: ' + formatDate(collection_date[0] + ',' + collection_date[1]);
        let patient_name = '{{ order.patient.user.last_name }}' + ", " + '{{ order.patient.user.first_name}}';
        let patient_dob = 'DOB: ' + formatDate('{{ order.patient.birth_date }}');
        let client_name = '{{ account.id }}{% if account.alternate_id %}({{ account.alternate_id }}){% endif %}' + ' - ' + '{{ account.name }}';
        let accession_number = '{{ order.accession_number }}';

        printZebraLabel(patient_name, accession_number, patient_dob, sample_collection_date, client_name, sample_barcode, sample_code, test_methods);

      });

      $('.print-accession-label').click(function(event) {
        let patient_name = '{{ order.patient.user.last_name }}' + ", " + '{{ order.patient.user.first_name}}';
        let patient_dob = 'DOB: ' + formatDate('{{ order.patient.birth_date }}');
        let client_name = '{{ account.id }}{% if account.alternate_id %}({{ account.alternate_id }}){% endif %}' + ' - ' + '{{ account.name }}';
        let accession_number = '{{ order.accession_number }}';

        printZebraAccessionLabel(patient_name, accession_number, patient_dob, client_name);

      });


  </script>
  <script>
    // Real time import status websocket
    var status_ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var status_ws_url = status_ws_scheme + '://' + window.location.host + '/ws/order/' + '{{ order.uuid }}' + '/';

    // booleans because the websockets message can be sent over multiple times and we only want to use the first one
    var preliminaryReportedBoolean = false;

    var statusSocket = new ReconnectingWebSocket(status_ws_url);
    statusSocket.onmessage = function(e) {
        var amended_reports_table = '<table class="table table-sm"><tbody><tr><th>Report Datetime</th><th>Amended</th><th>View Report</th></tr>';
        var data = JSON.parse(e.data);
        var message = data['message'];
        var report_url = data['report_url'];
        var preliminary = data['preliminary'];
        var approvedBy = data['approved_by'];
        var amended_reports = JSON.parse(data['amended_reports']);

        // Amended reports
        if(amended_reports){
            var i = 0;
            var table_rows = '';
            for(i=0; i < amended_reports.length; i++){
                table_rows += '<tr><td>' + amended_reports[i].fields.created_date + '</td>';
                if(amended_reports[i].fields.amended == true){
                    table_rows += '<td>Yes</td>';
                }
                else {
                    table_rows += '<td>No</td>';
                }
                table_rows += '<th><a href="' + amended_reports[i].fields.pdf_file + '" target="_blank"><i class="fas fa-search"></i></a></th></tr>';
            }


            amended_reports_table += table_rows + '</tbody></table>';

            $('#patient-notes-with-worker').removeClass('h-100').addClass('h-50');
            $('#amended-reports-with-worker').removeClass('d-none');
            $('#amended-reports-table').html(amended_reports_table);
        }
        // amended reports

        if(preliminary) {
          if (message === 'Reported' || message == 'Error') {
            if(!preliminaryReportedBoolean) {
              if (message == 'Reported'){
                  var preliminary_report_button = '<a href="' + report_url + '" class="btn btn-sm btn-success" target="_blank"><i class="fas fa-search"></i>&nbsp;&nbsp;Preliminary Report</a>';
                  $('#message-success').html('<b>This order has been successfully reported.</b>');
              }
              else {  // there's an error in report generation
                  var preliminary_report_button = '<a href="' + report_url + '" class="btn btn-sm btn-danger"><i class="fas fa-search"></i>&nbsp;&nbsp;Preliminary Report Error</a>';
                  $('#message-success').html('<b>There was an error during report generation.</b>');
                  document.getElementById("message-success").classList.remove("alert-success");
                  document.getElementById("message-success").classList.add("alert-danger");
                  $('#order-status').html('<b>Reporting Error</b>');
              }

              $('#preliminary-report').html(preliminary_report_button);

              ////////////////////////////////////////////////////////////////////////////////////////////////////////////
              // logic for report approved by autocomplete
              var approvedByAutocompleteDiv = '<span class="select2-selection__clear">×</span>' + approvedBy.user;
              $('#select2-id_user-container').html(approvedByAutocompleteDiv);
              $('#select2-id_user-container').attr('title', approvedBy.user);

              var approvedByOption = '<option value="' + approvedBy.id + '" selected="">' + approvedBy.user + '</option>';
              $('#id_user').html(approvedByOption);

              // only show report approved by form if report PDF is fully loaded
              $('#report-approved-by-form').show();
              ////////////////////////////////////////////////////////////////////////////////////////////////////////////
              // set boolean to true so it doesn't use duplicate messages
              preliminaryReportedBoolean = true;
            }
          }
        }
        else {
          if (message === 'Reported' || message == 'Error') {
              if (message == 'Reported') {
                  $('#order-status').html(message);  // only set status when order is successfully reported
                  var final_report_button = '<a href="' + report_url + '" class="btn btn-sm btn-success" target="_blank"><i class="fas fa-search"></i>&nbsp;&nbsp;Final Report</a>';
                  $('#message-success').html('<b>This order has been successfully reported.</b>');
              }
              else {  // error in report generation
                  var final_report_button = '<a href="' + report_url + '" class="btn btn-sm btn-danger"><i class="fas fa-search"></i>&nbsp;&nbsp;Final Report Error</a>';
                  $('#message-success').html('<b>There was an error during report generation.</b>');
                  document.getElementById("message-success").classList.remove("alert-success");
                  document.getElementById("message-success").classList.add("alert-danger");
                  $('#order-status').html('<b>Reporting Error</b>');
              }
              $('#final-report').html(final_report_button);
              $('#amend-report-with-worker').removeClass('disabled').html('<i class="far fa-history"></i>&nbsp;&nbsp;Amend Report');
          }
        }


    };
    statusSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
  </script>

{% endblock %}
