{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
  .comment {
    margin: 20px 0px 20px 20px;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pl-0 ml-0 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      {{ order.code }} Reflex list
    </h1>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}


  <div class="card">
    <div class="card-body">
      <table class="table">
        <tr>
          <th>Test</th>
          <th>Result</th>
          <th>Conditional</th>
          <th>Reflex Test</th>
          <th><button class="btn btn-primary">Add All to Order</button></th>
        </tr>
        {% for result, reflex, reflex_criteria_qualitative in reflex_list %}
          <tr>
            <td>{{ reflex.test_type.name }}</td>
            <td>{{ result.result_label }}</td>
            {% if reflex.test_type.result_type == 'Qualitative' %}
              <td>{{ reflex_criteria_qualitative }}</td>
            {% else %}
              <td>{{ reflex.quantitative_comparison_operator }} {{ reflex.reflex_criteria_quantitative }}</td>
            {% endif %}
            <td>{{ reflex.reflex_test_type.name }}</td>
            <td>
              <a href="{% url 'order_reflex_test_create' order.code reflex.reflex_test_type.uuid %}" class="btn btn-primary">
              <i class="fas fa-plus"></i> Add to Order</a>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>
  </div>




{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>

  <!-- Custom JS -->
  <script src="{% static 'js/order_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer  %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

  {{ form.media }}
{% endblock %}