{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Create Order: {% if request.tenant.settings|safe_lookup:'enable_patient_vitals' == True %}
        Patient History & Vitals
        {% else %}
        Patient Medication
        {% endif %}</h2>
  </div>


  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if sample_formset.errors %}
    {% for form in sample_formset %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in sample_formset.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}


  <form method="POST" autocomplete="off" id="order_create_step_2">
    {% csrf_token %}

    <div class="card">
      <div class="card-header">
        {% if request.tenant.settings|safe_lookup:'enable_patient_vitals' == True %}
        Patient History & Vitals
        {% else %}
        Patient Medication
        {% endif %}
      </div>
      <div class="card-body">

        <!-- Order Information -->
        <div class="col-12 top-buffer">
          <!-- Add Samples -->
          <div class="row top-buffer">
            <div class="col-12 sample-form">
              {% if request.tenant.settings|safe_lookup:'enable_patient_vitals' == True %}
              <div class="row">
                <label>{{ form.heart_rate.label }}&nbsp;&nbsp;</label>
                {{ form.heart_rate }}
              </div><br>

              <div class="row">
                <label>{{ form.temperature.label }}&nbsp;&nbsp;</label>
                <div class="row">
                  <div class="col-8">{{ form.temperature }}</div>
                  <div class="col-4 pl-0">{{ form.temperature_unit }}</div>
                </div>
              </div><br>

              <div class="row">
                <div class="col-6 p-0">
                  <label>{{ form.blood_pressure_systolic.label }}&nbsp;&nbsp;</label>
                {{ form.blood_pressure_systolic }}
                </div>
                <div class="col-6">
                  <label>{{ form.blood_pressure_diastolic.label }}&nbsp;&nbsp;</label>
                  {{ form.blood_pressure_diastolic }}
                </div>
              </div><br>
              {% endif %}

              <div class="row">
                <label>{{ form.prescribed_medications.label }}&nbsp;&nbsp;</label>
                {{ form.prescribed_medications }}
              </div><br>

              {% if request.tenant.settings|safe_lookup:'enable_patient_vitals' == True %}
              <div class="row">
                <label>
                  {{ form.fasting }}&nbsp;&nbsp;
                  {{ form.fasting.label }}
                </label>
              </div>
              {% endif %}

            </div>
          </div>
          <!-- /Add Samples -->
        </div>
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary"></i>&nbsp;&nbsp;Update Prescribed Medications</button>

  </form>





{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
    // phone number mask
    $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

    $('.middleInitialMask').inputmask({"mask": "A"});
    $('.dateMask').inputmask({"mask": "9999-99-99"});
    $('.npiMask').inputmask({"mask": "9999999999"});

    $('.sample-formset').formset({
      addText: 'Add sample',
      deleteText: 'Remove',
      prefix: "{{ sample_formset.prefix }}"
    });

    $('.icd10-formset').formset({
      addText: 'Add code',
      deleteText: 'Remove',
      prefix: "{{ icd10_formset.prefix }}"
    });

    $('.barcode').keydown(function (event) {
    // check for hyphen
    if (event.which === 189) {
        event.preventDefault();
        $(this).parent().parent().next().find('.barcode').focus();
    }
    });

    $('#order_create_step_2').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });

    //remove delete button if there is only one sample form
    $('.delete-row').click(function() {
        if($('.fa-times-circle').length === 1) {
            $('.fa-times-circle').addClass('d-none')
        }
    });
    $('.add-row').click(function() {
        $('.fa-times-circle').removeClass('d-none')
    });
  </script>

  <!-- Custom JS -->
  <script src="{% static 'js/order_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
  {{ sample_formset.media }}
{% endblock %}
