{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if test %}
      <h2>{% if update %}Update{% else %}Create{% endif %} Comment: {{ test.test_type.name }} on Order: {{ order.code }}</h2>
    {% elif test_panel %}
      <h2>{% if update %}Update{% else %}Create{% endif %} Comment: {{ test_panel.test_panel_type.name }} on Order: {{ order.code }}</h2>
    {% else %}
      <h2>Save Comment for Order: {{ order.code }}</h2>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Order Details</a>
      </div>
    </div>
  </div>

  <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% elif message.tags == 'error' %}
                  <div class="alert alert-danger">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% else %}
                  <div class="alert alert-info">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|safe }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|safe }}</strong>
                </div>
              {% endfor %}
            {% endif %}


            <p class="mb-0">Comment</p>
            {{ form.comment }}
            <br>

            {% if form.is_public %}
              {{ form.is_public }}&nbsp;
              <label>{{ form.is_public.label }} &nbsp; </label>
              <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Public comments are shown on the final report.">
              </i>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
    <button type="submit" class="save btn btn-primary">Save Comment</button>

  </form>

{% endblock %}