{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
  .order-stat-card {
    height: 170px;
  }
  </style>
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Orders</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
				<a class="btn btn-primary btn-sm" href="{% url 'order_create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Order</a>
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <!-- Order Search -->
  <div class="row">
    <div class="col-6">
      <form method="POST">
        {% csrf_token %}
        {{ form.order.errors }}
        <div class="row d-none">
          {{ form.provider }}
          {{ form.account }}
        </div>
        {{ form.order }}
        <button type="submit" class="btn btn-primary btn-sm ml-2">Go</button>
      </form>
    </div>
  </div>
  <br>
  <!-- /Order Search -->

  <!-- Work queue stat cards -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card p-3 order-stat-card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-box fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ num_in_transit }}</h3>
                <span><h6><a href="{% url 'workqueue_unreceived' %}">Orders unreceived</a></h6></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card p-3 order-stat-card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-box-open fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ num_pending_results }}</h3>
                {% if num_pending_results > 0 %}
                <span><h6><a href="{% url 'workqueue_pending_results' %}">Received orders<br>Pending Results</a></h6></span>
                {% else %}
                <span><h6>Received orders pending results</h6></span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card p-3 order-stat-card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="fal fa-clipboard-check fa-3x float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ num_pending_qa }}</h3>
                {% if num_pending_qa > 0 %}
                  <span><h6>
                    <a href="{% url 'workqueue_pending_approval' %}">Completed orders<br>Pending test approval</a>
                  </h6></span>
                {% else %}
                  <span><h6>Completed orders <br>Pending test approval</h6></span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- /Work queue stat cards -->

  <!-- Recent Orders -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4 class="d-inline">Orders list:</h4>
        <p>Click on any Order Code to see details for that order.</p>
        <select class="form-control" id="date-type-filter">
            <option value="Received">Received</option>
            <option value="Submitted">Submitted</option>
            <option value="Reported">Reported</option>
        </select>
        <div id="recent-order-table-range" class="pull-center" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span />
          <b class="caret"></b>
        </div>
        <br>
        <p>Containing test:</p>
        <select class="form-control" id="test-type-filter">
          <option value="All">All</option>
          {% for test_type in test_types %}
            <option value="{{ test_type.uuid }}">{{ test_type.name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Num Orders -->
      <div class="col-lg-6">
      </div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="order-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
          <br><br>
          <!-- Use EXPORT TO CSV JS functionality -->
          <a class="btn btn-secondary" id="export-csv-button" href="#">Export to CSV</a>
        </div>
      </div>
      <!-- Num Orders -->
    </div>
    <br>
    <div class="row ">
      <div class="col-3 m-0">
        <label>Accession Number</label>
        <input class="form-control" placeholder="Search..." id="accession-number-filter">
      </div>
      <div class="col-3 m-0">
        <label>Test Profile</label>
        <i class="fas fa-info-circle" data-toggle="tooltip"
           title="Filter results list by names and aliases of Test Profiles containing your search string.">
        </i>
        <input class="form-control" placeholder="Search..." id="test-panel-type-filter">
      </div>
      <div class="col-3 m-0">
        <label>Account</label>
        <i class="fas fa-info-circle" data-toggle="tooltip"
           title="Filter results list by names and aliases of Accounts containing your search string.">
        </i>
        <input class="form-control" placeholder="Search..." id="account-filter">
      </div>
    </div>
    <br>
    <div class="row ">
      <div class="col-3 m-0">
        <label>Last Name</label>
        <input class="form-control" placeholder="Search..." id="last-name-filter">
      </div>
      <div class="col-3 m-0 pl-0">
        <label>First Name</label>
        <input class="form-control" placeholder="Search..." id="first-name-filter">
      </div>
      <div class="col-2">
        <label>Middle</label>
        <input class="form-control" placeholder="Search..." id="middle-filter">
      </div>
      <div class="col-2">
        <label>Sex</label>
        <select class="form-control" id="sex-filter">
          <option value="_">All</option>
          <option value="F">Female</option>
          <option value="M">Male</option>
          <option value="NB">Non-binary</option>
        </select>
      </div>
      <div class="col-2">
        <label>Birth Date</label>
        <input id="birth-date-filter" class="form-control dateMask" placeholder="MM-DD-YYYY">
      </div>
    </div>
    <p>Press <b>Enter</b> to search.</p>
    <p id="returned-count"></p>

    <div class="row">
      <div class="col-12">
        <div class="handsontable" id="recent-order-table"></div>
      </div>
    </div>
    <!-- Recent Orders -->
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table_2.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
	<script>
    // Default page state
    const state = {
      Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count',
          testFilter: '', test_panel:'', test_panel_id:'#test-panel-filter',
          first_name:'', last_name:'', middle:'', sex:'', birth_date:'',
          first_name_id:'#first-name-filter', last_name_id:'#last-name-filter', middle_id:'#middle-filter',
          sex_id:'#sex-filter', birth_date_id:'#birth-date-filter',
          accession_number:'', accession_number_id:'#accession-number-filter',
          account:'', account_id:'#account-filter',
          dateType: 'Received',
          tableHtmlID: '#recent-order-table', dateRangePickerHtmlID: '#recent-order-table-range span', dateRangePickerDivID: '#recent-order-table-range',
          apiURL: '/api/v1/internal/recent_orders_table/'
      },
    };
    $(state.Table.first_name_id).val('');
    $(state.Table.last_name_id).val('');
    $(state.Table.middle_id).val('');
    $(state.Table.sex_id).val('_');
    $(state.Table.birth_date_id).val('');
    $(state.Table.accession_number_id).val('');
    $(state.Table.test_panel_id).val('');
    $(state.Table.account_id).val('');
    $('.dateMask').inputmask({"mask": "99-99-9999"});

    // Patient Birth Date Selector
    let patientBirthDate = new Pikaday({
      field: $(state.Table.birth_date_id)[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("01011920", "MMDDYYYY"),
      yearRange: 120,
    });

    const hotSettings = {
      data: [],
      columns: [
          {
              data: 'code',
              editor: false,
              renderer: linkRenderer,
              width: 150,
          },
          {
            data: 'accession_number',
            editor: false,
            type: 'text',
          },
          {
              data: 'status',
              editor: false,
              type: 'text',
          },
          {
              data: 'patient',
              editor: false,
              renderer: linkRenderer,
              width: 150,
              columnSorting: {
                compareFunctionFactory: function compareFunctionFactory(sortOrder, columnMeta) {
                  return function comparator(value, nextValue) {
                    // Some value comparisons which will return -1, 0 or 1...
                    if(sortOrder === 'asc') {
                      if(value.text.toLowerCase() > nextValue.text.toLowerCase()) {
                        return sortOrder ? 1 : -1;
                      }
                    }
                    if(sortOrder === 'desc') {
                      if(value.text.toLowerCase() < nextValue.text.toLowerCase()) {
                        return sortOrder ? 1 : -1;
                      }
                    }
                    return 0;
                   };
                }
              }
          },
          {
              data: 'birth_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
          },
          {
              data: 'account',
              editor: false,
              renderer: linkRenderer,
              width: 150,
          },
          {
              data:'account_alias',
              editor: false,
              renderer: 'html',
              width:150,
          },
          {
              data: 'provider',
              editor: false,
              renderer: linkRenderer,
              width: 150,
          },
          {
            data: 'test_panels',
            editor: false,
            renderer: 'html',
            width: 250,
          },
          {
              data:'test_panels_alias',
              editor: false,
              renderer: 'html',
              width:150,
          },
          {
              data: 'submitted_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
          },
          {
              data: 'received_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
          },
          {
              data: 'completed_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
          },
          {
              data: 'report_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
          },
          {
              data: 'patient_result_request',
              editor: false,
              type: 'text',
              className: 'htCenter',
          },
          {
              data: 'research_consent',
              editor: false,
              type: 'text',
              className: 'htCenter',
          },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
          [
              'Order Code',
              'Accession <br>Number',
              'Status',
              'Patient',
              'DOB',
              'Account',
              'Account Aliases',
              'Provider',
              'Test Profiles',
              'Test Profile Aliases',
              'Submitted Date',
              'Received Date',
              'Completed Date',
              'Report Date',
              'Patient <br>Result <br>Request',
              'Research <br>Consent',
          ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function (col, TH) {
          TH.className = 'center';
      },

      beforeCopy: (data, coords) => {
        for(i=0; i < data.length; i++) {
          data[i][1] = data[i][1].text;
          data[i][2] = data[i][2].text;
          data[i][3] = data[i][3].text;
          data[i][4] = data[i][4].text;
        }
        return data;
      },
    };

    var j = jQuery.noConflict();

    // order table
    j(function($) {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      const testFilter = $('#test-type-filter').val();
      const dateType = $('#date-type-filter').val();

      createTable(state.Table.tableHtmlID, hotSettings);

      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      // EXPORT TO CSV snippet
      // Requirements: js/date_range_picker_table.js
      // use JS instead of jQuery because of jQuery.noConflict --> not sure what that actually does
      // entire table state is only available in this function
      let hotInstance = state.Table.table.getInstance();
      let exportCsvButton = document.getElementById('export-csv-button');
      let csvPlugin = hotInstance.getPlugin('exportFile');

      // function to convert objects to text
      // if we don't do this, then URL links will display as [object Object]
      exportCsvButton.addEventListener('click', function() {

        let stateStartDate = state.Table.dateBegin.format('MMMM-D-YYYY');
        let stateEndDate = state.Table.dateEnd.format('MMMM-D-YYYY');

        // handsontable plugin
        csvPlugin.downloadFile('csv', {
          bom: false,
          columnDelimiter: ',',
          columnHeaders: false,
          exportHiddenColumns: false,
          exportHiddenRows: true,
          fileExtension: 'csv',
          filename: 'orders_' + stateStartDate + '_' +stateEndDate,
          mimeType: 'text/csv',
          rowDelimiter: '\r\n',
          rowHeaders: false
        });

      });
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

      function order_cb(start, end, testPanel, testFilter, dateType, firstName, lastName, middle, sex, birthDate,
      accessionNumber, account) {
        var firstNameURL;
        if (firstName === '') {
            firstNameURL = '_'
        } else {
            firstNameURL = firstName
        }
        var lastNameURL;
        if (lastName === '') {
            lastNameURL = '_'
        } else {
            lastNameURL = lastName
        }
        var middleURL;
        if (middle === '') {
            middleURL = '_'
        } else {
            middleURL = middle
        }
        var sexURL;
        if (sex === '') {
            sexURL = '_'
        } else {
            sexURL = sex
        }
        var birthDateURL;
        if (birthDate === '') {
            birthDateURL = '_'
        } else {
            birthDateURL = birthDate;
        }
        var accessionNumberURL;
        if (accessionNumber === '') {
            accessionNumberURL = '_'
        } else {
            accessionNumberURL = accessionNumber
        }
        var testPanelURL;
        if (testPanel === '') {
            testPanelURL = '_'
        } else {
            testPanelURL = testPanel
        }
        var accountURL;
        if (account === '') {
            accountURL = '_'
        } else {
            accountURL = account
        }

        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        state.Table.testFilter = testFilter;
        state.Table.dateType = dateType;

        const url = testPanelURL + '/' + testFilter + '/' + dateType + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD') +
            '/' + firstNameURL + '/' + lastNameURL + '/' + middleURL + '/' + sexURL + '/' + birthDateURL + '/' +
            accessionNumberURL + '/' + accountURL;

        j.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function (orders) {
            // alert(orders['count']);
            state.Table.data = orders['results'];
            j('#returned-count').html('Showing most recent <b>' + orders['returned_count'] + '</b> orders.');
            j(state.Table.countHtmlID).html(orders['count'].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
            updateTable();
          },
          error: function () {
            console.log("pending order table data call failed")
          }
        })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
        startDate: start,
        endDate: end,
        showDropdowns: true,
        alwaysShowCalendars: true,
        linkedCalendars: false,
        maxDate: moment().add(1, 'd'),
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, function (start, end) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        order_cb(start, end, state.Table.test_panel, state.Table.testFilter, state.Table.dateType, state.Table.first_name,
            state.Table.last_name, state.Table.middle, state.Table.sex,
            state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });

      order_cb(start, end, state.Table.test_panel, testFilter, dateType, state.Table.first_name, state.Table.last_name,
          state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);

      j('#test-panel-type-filter').change(function () {
        state.Table.test_panel = $('#test-panel-type-filter').val();
        console.log(state.table);
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name,
          state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number,
          state.Table.account
        );
      });

      j('#test-type-filter').change(function () {
        state.Table.testFilter = $('#test-type-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name,
          state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number,
          state.Table.account);
      });

      j('#date-type-filter').change(function () {
        state.Table.dateType = $('#date-type-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name,
          state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number,
          state.Table.account);
      });

      j(state.Table.first_name_id).change(function () {
        state.Table.first_name = j(state.Table.first_name_id).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });

      j(state.Table.last_name_id).change(function () {
        state.Table.last_name = j(state.Table.last_name_id).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });
      j(state.Table.middle_id).change(function () {
        state.Table.middle = j(state.Table.middle_id).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });
      j(state.Table.sex_id).change(function () {
        state.Table.sex = j(state.Table.sex_id).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });
      j(state.Table.birth_date_id).change(function () {
        state.Table.birth_date = j(state.Table.birth_date_id).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });
      j(state.Table.accession_number_id).change(function () {
        state.Table.accession_number = j(state.Table.accession_number_id).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });
      j(state.Table.account_id).change(function () {
        state.Table.account = j(state.Table.account_id).val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.test_panel, state.Table.testFilter,
          state.Table.dateType,
          state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
          state.Table.birth_date, state.Table.accession_number, state.Table.account);
      });
    })


	</script>
{% endblock %}

{% block footer %}
  {{ form.media }}
{% endblock %}
