{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Update Accession Number for Order: {{ order.code }} - Accession Number: {{ order.accession_number }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="POST" class="post-form">{% csrf_token %}
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success">
                <strong>{{ message|escape }}</strong>
              </div>
            {% elif message.tags == 'error' %}
              <div class="alert alert-danger">
                <strong>{{ message|escape }}</strong>
              </div>
            {% else %}
              <div class="alert alert-info">
                <strong>{{ message|escape }}</strong>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-4">
            <label class="required">{{ form.accession_number.label }}</label>
            {{ form.accession_number }}
          </div>
        </div>

        <br>
        <button type="submit" class="save btn btn-primary">Save Accession Number</button>
      </form>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script>
    $('.accessionNumberMask').inputmask({"mask": "99999999999"});
  </script>
{% endblock %}