{% extends "order_requisition_form_pdf_base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}



{% block content %}
  {% for report in reports %}
  <div id="container">
    <div id="main">
      <!-- Order Information -->
      <div class="card mt-2 pt-2" id="lab_info_card">
        <div class="row">
            <div class="left header_left" id="logo">
              {% if request.tenant.logo_file %}
               <img id="tenant_logo" style="width:80px; height: 80px;" src="{{ request.tenant.logo_file.url }}"/>
              {% endif %}
            </div>
          <div class="left text-center header_center" id="lab_info">
            <div><strong>{{ request.tenant.name|upper }}</strong></div>
            <div>{{ request.tenant.address_1}}</div>
            {% if request.tenant.address_2 %}
              <div >{{ request.tenant.address_2}}</div>
            {% endif %}
            <div>Lab Director: {{ request.tenant.clia_director }}</div>
            <div>CLIA #: {{ request.tenant.clia_number }}</div>
          </div>
          <div class="header_right mr-0 pr-0">
{#            <div id="barcode" class="mt-1 pt-2">{{ order.code }}</div>#}
            <svg class="mr-0 pr-0" id="barcode2"></svg>
          </div>
        </div>
      </div>
      <div class="card mt-2">
        <div class="col-12 ">
          <div class="row">
          <div class="patient_info">
            <table class="patient_info_tbl small">
              <thead>
              <tr>
                <th>Order Code</th>
{#                <th>Collection Date</th>#}
                <th>Clinic</th>
                <th>Provider</th>
                <th>ICD10 Codes</th>
              </tr>
              </thead>
              <tr>
                <td class="text-center">{{ order.code }}</td>
{#                <td class="text-center">{{ order.submitted_date|as_timezone:request.tenant.timezone }}</td>#}
                <td class="text-center">{{ order.account.name }}</td>
                <td class="text-center" style="max-width: 20%;">
                  {% if order.provider %}
                    {{ order.provider.user.first_name }} {{ order.provider.user.last_name}}{% if order.provider.suffix %} {{ order.provider.suffix }}{% endif %}{% if order.provider.title %}, {{ order.provider.title }}{% endif %}
                  {% endif %}
                </td>
                <td class="text-center icd10_codes medium">
                  {% for icd10_code in icd10_codes %}
                    <strong>{{ icd10_code.code_with_period }}{% if not forloop.last %}, {% endif %}</strong>
                  {% endfor%}
                </td>
              </tr>
            </table>
{#            <table class="patient_info_tbl icd10_tbl">#}
{#              <tr>#}
{#                <td><strong>ICD10 Codes</strong></td>#}
{#                <td class="text-center icd10_codes medium">#}
{#                  {% for icd10_code in icd10_codes %}#}
{#                    <strong>{{ icd10_code.full_code }}{% if not forloop.last %}, {% endif %}</strong>#}
{#                  {% endfor%}#}
{#                </td>#}
{#                <td>Specimen Temperature</td>#}
{#                <td></td>#}
{#              </tr>#}
{#            </table>#}
          </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="col-12">
          <div class="row">
            <div class="patient_info small">
            <table class="patient_info_tbl pl-0 ml-0">
              <thead>
                <tr>
                  <th colspan="6" align="center">Specimen Details</th>
                </tr>
              </thead>
              <tr>
                <td><strong>Collection Date</strong></td><td>
                {% with collection_date=order.submitted_date|as_timezone:request.tenant.timezone %}
                  {{ collection_date }} {{ collection_date|date:'(T)' }}
                {% endwith %}</td>
                <td><strong>Collected By</strong></td>
                <td>{% if sample.collection_user %}{{ sample.collection_user.last_name }}, {{ sample.collection_user.first_name }}{% else %}_________________________{% endif %}</td>
                <td><strong>Temperature</strong></td>
                <td>{% if sample.collection_temperature %}{{ sample.collection_temperature }} {{ sample.collection_temperature_unit }}
                  {% if sample.collection_temperature_is_within_range != None %}
                    {% if sample.collection_temperature_is_within_range %} (Within Range){% else %} (Not Within Range){% endif %}
                  {% endif %}
                {% else %}
                  {% if sample.collection_temperature_is_within_range != None %}
                    {% if sample.collection_temperature_is_within_range %} Within Range{% else %} Not Within Range{% endif %}
                  {% else %}_________________________{% endif %}{% endif %}</td>
              </tr>
            </table>

          </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="col-12">
          <div class="row">
            <div class="patient_info small">
            <table class="patient_info_tbl pl-0 ml-0">
              <thead>
                <tr>
                  <th colspan="3" align="center">Patient Information</th>
                </tr>
              </thead>
              <tr>
                <td><strong>Name (Last, First, M.I)</strong>&nbsp;{{ order.patient.user.last_name }},
                  {{ order.patient.user.first_name }}
                  {% if order.patient.middle_initial %}, {{ order.patient.middle_initial }} {% endif %}
                <td><strong>Date of Birth </strong>{{ order.patient.birth_date }}</td>
                <td><strong>Sex</strong>&nbsp;{{ order.patient.sex }}</td>
              </tr>
            </table>
            <table class="patient_info_tbl">
              <tr>
                <td class="mid"><strong>Address</strong>
                  {{ order.patient.address1 |default_if_none:''  }}
                  {% if order.patient.address2 %}
                    {{ order.patient.address2 |default_if_none:''  }}
                  {% endif %}
                  {% if order.patient.address1.strip == '' %}&nbsp;
                    ____________________________________________________
                  {% endif %}
                </td>
                <td class="mid"><strong>Social Security </strong>&nbsp;
                    {{ order.patient.social_security |default_if_none:'____________________'}}
                </td>
                <td class="mid"><strong>Phone </strong>&nbsp;
                  {{ order.patient.phone_number|default_if_none:'' }}
                  {% if order.patient.phone_number.strip == '' %}
                    ____________________
                  {% endif %}
                </td>
              </tr>
            </table>
            <table class="patient_info_tbl">
              <thead>
                <tr>
                  <th colspan="4" align="center">Patient Guarantor</th>
                </tr>
              </thead>
              <tr>
                <td><strong>Name (Last, First, M.I)</strong>
                  {{ patient_guarantor.user.last_name |default_if_none:''}}
                  {% if patient_guarantor is None or patient_guarantor.user.last_name.strip == '' %}
                    ___________________
                  {% else %},&nbsp;
                  {% endif %}
                  {{ patient_guarantor.user.first_name |default_if_none:''}}
                  {% if patient_guarantor.user.first_name.strip == '' %}, {% endif %}
                  {{ patient_guarantor.middle_initial |default_if_none:''}}
                <td><strong>Patient Relationship</strong>
                  {{ patient_guarantor.relationship_to_patient |default_if_none:'' }}
                  {% if not patient_guarantor or patient_guarantor.relationship_to_patient.strip == '' %}_____________{% endif %}
                </td>
                <td class="mid"><strong>Social Security </strong>
                  {{ patient_guarantor.social_security |default_if_none:''}}
                  {% if not patient_guarantor or patient_guarantor.social_security.strip == '' %}
                    _____________
                  {% endif %}
                </td>
                <td class="mid"><strong>Phone </strong>&nbsp;
                  {{ patient_guarantor.phone_number|default_if_none:'' }}
                  {% if patient_guarantor.phone_number.strip == '' or not patient_guarantor %}
                  _____________
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
          <!-- Subscriber information -->
          {% if primary_patient_payer.subscriber_first_name|length > 0 %}
            <table class="patient_info_insurance small" id="insurance">
              <thead>
                <tr>
                  <th colspan="6">Subscriber Information</th>
                </tr>
              </thead>
            </table>
            <table class="insurance_info small">
              <tr>
                <td><strong>Name (Last, First, M.I)</strong>&nbsp;
                  {{ primary_patient_payer.subscriber_last_name| default_if_none:'' }}{% if primary_patient_payer.subscriber_last_name is None  or primary_patient_payer.subscriber_last_name.strip == '' %}____________________
                  {% endif %}, {{ primary_patient_payer.subscriber_first_name | default_if_none:'' }}{% if primary_patient_payer.subscriber_middle_initial %}, {{ primary_patient_payer.subscriber_middle_initial | default_if_none:'' }}
                  {% endif %}
                </td>
                <td><strong>Patient Relationship</strong>
                  {{ primary_patient_payer.subscriber_relationship | default_if_none:'__________________' }}
                </td>
                <td><strong>Social Security </strong>
                  {{ primary_patient_payer.subscriber_social_security | default_if_none:'______________________' }}
                </td>
              </tr>

            </table>
          {% endif %}
            <!--/Subscriber information -->

            <table class="insurance_info small">
              <tr>
                <td class="mid"><strong>Billing Address</strong>
                  {% if primary_patient_payer.subscriber_relationship == 'Self' %}
                    {{ order.patient.address1 | default_if_none:'' }}
                    {% if order.patient.address1 is None  or order.patient.address1.strip == '' %}
                      ______________________________________________________________________________
                    {% endif %}
                    {% if order.patient.address2 %}
                       , {{ order.patient.address2 | default_if_none:'' }}
                    {% endif %}
                  {% else %}
                    {{ primary_patient_payer.subscriber_address1 | default_if_none:'<p></p>' }}
                    {% if primary_patient_payer.subscriber_address1 is None  or primary_patient_payer.subscriber_address1.strip == '' %}
                      ______________________________________________________________________________
                    {% endif %}
                    {% if primary_patient_payer.subscriber_zip_code %}
                    , {{ primary_patient_payer.subscriber_zip_code | default_if_none:'' }}
                    {% endif %}
                  {% endif %}
                </td>
                <td><strong>Phone </strong>
                  {% if primary_patient_payer.subscriber_relationship == 'Self' %}
                    &nbsp;{{ order.patient.phone_number }}
                    {% if order.patient.phone_number.strip == '' %}____________________________{% endif %}
                  {% else %}
                    &nbsp;{{ primary_patient_payer.payer.subscriber_phone_number | default_if_none:'' }}
                    {% if not primary_patient_payer.payer.subscriber_phone_number or primary_patient_payer.payer.subscriber_phone_number.strip == '' %}____________________________{% endif %}
                  {% endif %}

                </td>
              </tr>
            </table>
            <table class="payer_type_tbl small">
              <tr>
                <td><strong>Primary Insurance Type:</strong></td>
                <td class="payer_type">Self Pay
                  {% if primary_patient_payer.payer_type == 'Self' or primary_patient_payer.payer_type == None %}
                    <div class="checkbox checked"></div>
                  {% else %}
                    <div class="checkbox"></div>
                  {% endif %}
                </td>
                <td class="payer_type">Commercial
                  {% if primary_patient_payer.payer_type == 'Commercial' %}
                    <div class="checkbox checked"></div>
                  {% else %}
                    <div class="checkbox"></div>
                  {% endif %}
                </td>
                <td class="payer_type">Medicare
                  {% if primary_patient_payer.payer_type == 'Medicare' %}
                    <div class="checkbox checked"></div>
                  {% else %}
                    <div class="checkbox"></div>
                  {% endif %}
                </td>
                <td class="payer_type">Medicaid
                  {% if primary_patient_payer.payer_type == 'Medicaid' %}
                    <div class="checkbox checked"></div>
                  {% else %}
                    <div class="checkbox"></div>
                  {% endif %}
                </td>
                <td id="payer_other">Other
                  {% if primary_patient_payer.payer_type == 'Other' %}
                    <div class="checkbox checked"></div>
                  {% else %}
                    <div class="checkbox"></div>
                  {% endif %}
                </td>
              </tr>
            </table>
            <table class="patient_info_tbl small">
              <tr>
                <td><strong>Primary Insurance </strong>&nbsp;
                  {{ primary_patient_payer.payer.name | default_if_none:'' }}
                  {% if primary_patient_payer.payer.name is None  or primary_patient_payer.payer.name.strip == '' %}
                    __________________________________________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Policy #</strong>&nbsp;
                  {{ primary_patient_payer.member_id | default_if_none:'__________________' }}
                  {% if primary_patient_payer.member_id is None  or primary_patient_payer.member_id.strip == '' %}
                    _________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Group #</strong>&nbsp;
                  {{ primary_patient_payer.group_number | default_if_none:'' }}
                  {% if not primary_patient_payer.group_number or primary_patient_payer.group_number.strip == '' %}
                   _________________
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td><strong>Secondary Insurance </strong>&nbsp;
                  {{ secondary_patient_payer.payer.name | default_if_none:'' }}
                  {% if secondary_patient_payer.payer.name is None  or primary_patient_payer.payer.name.strip == '' %}
                    __________________________________________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Policy #</strong>&nbsp;
                  {{ secondary_patient_payer.member_id | default_if_none:'' }}
                  {% if secondary_patient_payer.member_id is None  or secondary_patient_payer.member_id.strip == '' %}
                    _________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Group #</strong>&nbsp;
                  {{ secondary_patient_payer.group_number | default_if_none:'' }}
                  {% if not secondary_patient_payer.group_number or secondary_patient_payer.group_number.strip == '' %}
                   _________________
                  {% endif %}
                </td>
              </tr>

              {% if tertiary_insurance %}
                <tr>
                <td><strong>Tertiary Insurance </strong>&nbsp;
                  {{ tertiary_insurance.payer.name | default_if_none:'' }}
                  {% if tertiary_insurance.payer.name is None  or tertiary_insurance.payer.name.strip == '' %}
                    __________________________________________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Policy #</strong>&nbsp;
                  {{ tertiary_insurance.member_id | default_if_none:'' }}
                  {% if tertiary_insurance.member_id is None  or tertiary_insurance.member_id.strip == '' %}
                    _________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Group #</strong>&nbsp;
                  {{ tertiary_insurance.group_number | default_if_none:'' }}
                  {% if not tertiary_insurance.group_number or tertiary_insurance.group_number.strip == '' %}
                   _________________
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            </table>
            <table class="patient_info_tbl small">
              {% if workers_compensation %}
                <tr>
                <td><strong>Workers' Compensation </strong>&nbsp;
                  {{ workers_compensation.payer.name | default_if_none:'' }}
                  {% if workers_compensation.payer.name is None  or workers_compensation.payer.name.strip == '' %}
                    _____________________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Claim ID</strong>&nbsp;
                  {{ workers_compensation.workers_comp_claim_id | default_if_none:'' }}
                  {% if workers_compensation.workers_comp_claim_id is None  or workers_compensation.workers_comp_claim_id.strip == '' %}
                    _________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Claim Manager/Adjuster</strong>&nbsp;
                  {{ workers_compensation.workers_comp_adjuster | default_if_none:'' }}
                  {% if not workers_compensation.workers_comp_adjuster or workers_compensation.workers_comp_adjuster.strip == '' %}
                   _________________
                  {% endif %}
                </td>
                <td class="mid lower"><strong>Injury Date</strong>&nbsp;
                  {{ workers_compensation.workers_comp_injury_date|date:'m-d-Y' }}
                  {% if not workers_compensation.workers_comp_injury_date or workers_compensation.workers_comp_injury_date.strip == '' %}
                   _________________
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>
        <div class="col-12">
          <div class="row small">
            <table class="patient_info_tbl">
              <thead>
                <tr class="lower">
                  <th>Tests Ordered</th>
                </tr>
              </thead>
            </table>
            <table class="tests_ordered_list">
              <tr>
                <td class="mt-0 pt-0 pb-0 mb-0">
                  {% for test_panel in order.test_panels.all %}
                    {% if test_panel.test_panel_type.alternate_id is None %}{{ test_panel.test_panel_type.name }}{% if not forloop.last %},&nbsp;{% endif %}
                    {% else %}
                      {{ test_panel.test_panel_type.alternate_id|default_if_none:'' }} - {{ test_panel.test_panel_type.name }}{% if not forloop.last %},&nbsp;{% endif %}
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            </table>
            <table class="order_comment mb-2 pb-2">
              <thead>
                <tr>
                  <th>Comments</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      {% if show_poct_and_screening_panel %}
      <!-- Screening Panel and Prescribed Medication -->
      <div class="card small">
          <div class="col-12 mr-0 ml-0 pl-0 pr-0 mt-2 pt-2">
              <div class="row poct_pre_meds">
                  <table width="100%">
                    <tr class="poct_tbl">
                      <td width="50%" class="poct_tbl">
                        <table class="poct_tbl no_border" width="100%">
                          <thead>
                            <tr>
                              <th colspan="5" class="poct_header">POCT Screening Profile</th>
                            </tr>
                          </thead>
                          <tr>
                            <td class="poct_title">Pos  Neg</td>
                            <td class="poct_title">Pos Neg</td>
                            <td class="poct_title">Pos Neg</td>
                            <td class="poct_title">Pos Neg</td>
                            <td class="poct_title">Pos Neg</td>
                          </tr>
                          <tr>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>AMP</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>COC</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>MTD</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>PCP</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>BUP</td>
                          </tr>
                          <tr>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>BAR</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>MDMA</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>OPI</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>TCA</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>MOP</td>
                          </tr>
                          <tr>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>BZO</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>MET</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>OXY</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>THC</td>
                            <td class="poct"><div class="poct_checkbox mr-2"></div><div class="poct_checkbox mr-2"></div>PPX</td>
                          </tr>
                          <tr>
                            <td class="poct" colspan="5"><div class="poct_checkbox mr-2"></div>NO POCT Performed</td>
                          </tr>
                        </table>
                      </td>
                      <td width="50%" class="poct_tbl">
                        <table class="poct_tbl no_border" width="100%">
                          <thead>
                              <tr>
                                <th class="drug_th">Prescribed Medication</th>
                              </tr>
                          </thead>
                          <tr>
                            <td class="drug_td text-center">
                              {% for prescribed_medication in prescribed_medications %}
{#                                {{forloop.counter }}) {{prescribed_medication }}<br>#}
                                {{prescribed_medication }}<br>
                              {% endfor %}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
              </div>
          </div>
      </div>
      {% endif %}

      <div class="card">
         <div class="row disclaimer">
            <table class="med_necessity">
              <tr class="border-top border-dark">
                <td>
                  <strong>Medical Necessity:</strong>
                  In accordance with federal regulations, all laboratory orders by providers must be reasonable and
                  medically necessary for the patient. Upon request, documentation must be reproducible to support
                  medical necessity of all laboratory tests ordered. With this knowledge, the provider has requested
                  {{ request.tenant.name }} to develop one or more customized profiles for the testing of patient specimens.
                  Furthermore, the provider acknowledges the potential for abuse, non-medical necessity, and unreasonable
                  tests with the use of customized profiles. {{ request.tenant.name }}'s policy reflects the regulations
                  set forth by the government and allows providers to order any and all laboratory tests that are deemed
                  to be reasonable and medically necessary. The provider understands that in addition to the test
                  profiles that have been ordered, any and all tests can also be ordered individually. The provider will
                  order tests individually if a full profile is not necessary.
                </td>
              </tr>
              <tr class="border-top border-dark">
                <td>
                  <strong>Information Release Authorization</strong>
                  I authorize the release of any medical information necessary to process the claim and
                  request payment of medical benefits to {{ request.tenant.name }}. I understand co-payments,
                  deductibles, and tests not covered by my insurance company are my responsibility.
                  <br><br>PATIENT OR AUTHORIZED PERSON SIGNATURE  _____________________________________________________________
                </td>
              </tr>
              {% if show_abn_on_req_form %}
              <tr class="border-top border-dark">
                <td>
                  <strong>Medicare Advance Beneficiary Notice (ABN)</strong>
                  I have been informed that Medicare will only pay for services that it determines to be
                  "reasonable and necessary" under section 1862(a)(1) of Medicare law. I have been notified on
                  the date above by the provider/supplier that he/she believes that, in my case, Medicare
                  is likely to deny payment, for the reason stated in ABN. I have read the ABN.
                  If Medicare denies payment, for the reason in ABN, I agree to be personally and fully
                  responsible for the payment.
                  <br><br>PATIENT OR AUTHORIZED PERSON SIGNATURE  _____________________________________________________________
                </td>
              </tr>
              {% endif %}
            </table>
          </div>
      </div>
    <!-- Provider signature -->
      <div class="card pt-2 mt-2">
        <div class="col-12">
          <div class="row smaller signature">
          &nbsp;PROVIDER SIGNATURE {% if order.provider.signature %} <img src="{{ order.provider.signature.url }}" width="150" height="40" style="vertical-align: middle;">
            {% if order.provider %}
              {{ order.provider.user.first_name }} {{ order.provider.user.last_name}}{% if order.provider.suffix %} {{ order.provider.suffix }}{% endif %}{% if order.provider.title %}, {{ order.provider.title }}{% endif %}
            {% endif %}
          {% else %} _____________________________________________________________
            {% if order.provider %}
              {{ order.provider.user.first_name }} {{ order.provider.user.last_name}}{% if order.provider.suffix %} {{ order.provider.suffix }}{% endif %}{% if order.provider.title %}, {{ order.provider.title }}{% endif %}
            {% endif %}
          {% endif %}
          </div>
        </div>

      </div>
      <!-- /Provider signature -->
    </div> <!-- end of main -->
  </div>

  {% endfor %}
{% endblock %}

{% block javascript %}
<script src = "https://cdn.jsdelivr.net/jsbarcode/3.6.0/barcodes/JsBarcode.code128.min.js" type="text/javascript" charset="UTF-8"> </script>
  <script>
  {#https://github.com/lindell/JsBarcode#}
    JsBarcode("#barcode2", '{{ order.code }}', {
        width: 1.3,
        height: 50,
        displayValue: false,
        marginRight: 0
        }
     );
  </script>
{% endblock %}
