{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/datetimepicker-2.5.20/jquery.datetimepicker.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}


{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Add Samples for Order: {{ order.code }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <h5>Sample List</h5>
            <table class="table table-sm">
              <thead>
                <th>Sample ID</th>
                <th>Type</th>
                <th>Draw Type</th>
                <th>Collection Date</th>
                <th>Temperature</th>
                <th>Collected By</th>
              </thead>
              <tbody>
                {% for sample in samples %}
                  <tr>
                    <th scope="row">{{ sample.code }}</th>
                    <td>{{ sample.clia_sample_type.name }} </td>
                    <td>{{ sample.draw_type }}</td>
                    <td>{{ sample.collection_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }} </td>
                    {% if sample.collection_temperature %}
                      <td>{{ sample.collection_temperature|default_if_none:'' }} {{ sample.collection_temperature_unit }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    <td>{{ sample.collection_user }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Samples -->
  <form method="POST">
    {% csrf_token %}

    <div class="row mt-4">
      <div class="col-12 sample-form">
        <div class="card">
        <div class="card-header">
          Add Sample
        </div>

          <div class="card-body">
            <p>Collection dates and times must be recorded in the system timezone: <b>{{ request.tenant.timezone }}</b></p>
            <div class="row">
              <div class="col-2">
                <label class="required_label" for="{{ form.sample_type.name }}">{{ form.sample_type.label }}</label>
                {{ form.sample_type }}
              </div>
              <div class="col-2">
                <label for="{{ form.draw_type.name }}">{{ form.draw_type.label }}</label>
                {{ form.draw_type }}
              </div>
              <div class="col-2">
                <label class="required_label" for="{{ form.collection_date.name }}">{{ form.collection_date.label }}</label>
                {{ form.collection_date }}
              </div>
              <div class="col-2">
                <label>{{ form.collection_time.label }}</label>
                <input class="form-control timeMask"
                       name="{{ form.collection_time.name }}"
                       value="{{ form.collection_time.value|default_if_none:'' }}" id="{{ form.collection_time.auto_id }}">
              </div>
              <div class="col-2">
                  <label class="pb-2{% if require_collected_by %} required_label{% endif %}">{{ form.collection_user.label }}&nbsp;</label>
                  {{ form.collection_user }}
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-4">
                <label>{{ form.collection_temperature.label }}</label>
                <div class="row">
                  <div class="col-8">
                    {{ form.collection_temperature }}
                  </div>
                  <div class="col-4 pl-0">
                    {{ form.collection_temperature_unit }}
                  </div>
                </div>
              </div>
              <div class="col-5">
                <label>{{ form.collection_temperature_is_within_range.label }}</label><br>
                      {{ form.collection_temperature_is_within_range.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.collection_temperature_is_within_range.1 }}
              </div>
            </div>

            <br>
          </div>
        </div>

      </div>
    </div>

    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Sample</button>
  </form>
  <!-- /Add Samples -->

{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'lib/datetimepicker-2.5.20/build/jquery.datetimepicker.full.js' %}" type="text/javascript"></script>
  <script>

    $('.dateMask').inputmask({"mask": "99-99-9999"});

    $('.timeMask').inputmask({
      mask: "h:s t\\m",
      placeholder: "12:00 am",
      alias: "datetime",
      hourFormat: "12"
    });

    $('.barcode').keydown(function (event) {
    // check for hyphen
    if (event.which === 189) {
        event.preventDefault();
        $(this).parent().parent().next().find('.barcode').focus();
    }
});
  </script>
  <!-- Custom JS -->
  <script src="{% static 'js/order_samples.js' %}" type="text/javascript"></script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
