{% extends "order_pdf_report_base.html" %}
{% load static %}
{% load timezone %}
{% load orders_tags %}

{% block css %}
{% endblock %}

{% block content %}
  {% for report in reports %}
  <div id="container">

    <div id="main">
      <!-- Header -->
      <div class="row" id="header">
        <div class="col-2">
          {% if tenant.logo_file %}
            <img id="header_img" style="width:70px; height: 60px;" src="{{ tenant.logo_file.url }}"/>
          {% endif %}
        </div>
        <div class="col-6">
          <div id="tenant_name">{{ tenant.name|upper }}</div>
        </div>
        <div class="col-4">
           <div id="header_text">
            <div class="black">{{ tenant.address_1|upper }}</div>
            {% if tenant.address_2 %}
              <div class="black">{{ tenant.address_2|upper }}</div>
            {% endif %}
            <div class="black">P: {{ tenant.phone_number }}</div>
            <div class="black">F: {{ tenant.fax_number }}</div>
            <div class="black">{{ tenant.website|upper }}</div>
          </div>
        </div>
        <div class="col-12">
          <hr class="sep_order_info">
        </div>
      </div>
      <!-- /Header -->

      <!-- Footer -->
      <div id="footer" class="col-12">
        <div class="row">
          <div class="col-4" id="footer_patient_details">
            {{ order.patient.user.last_name}}, {{ order.patient.user.first_name }}<br>
{#            Sample Code: {{ sample.code }}#}
          </div>
          <div id="contain" class="col-4">
            <br>Copyright © Dendi {% now 'Y' %}. All rights reserved.
          </div>
          <div class="col-4" id="pagination">
            <div class="page_number"></div>
            <div class="time_stamp">Generated: {{ report_generation_date }}</div>
          </div>
        </div>

      </div>
      <!-- /Footer -->
      {% for sample_type in sample_types %}  <!-- Group by sample types-->
        {% with sample_type_results=sample_type_results_dict|lookup:sample_type.name %}
          {% if sample_type_results|lookup:'preliminary' %}
            <div id="watermark">
              <p id="watermark-text">DRAFT</p>
            </div>
          {% endif %}
          <!-- Order Information -->
          <div class="row" id="order_info">
            <div class="col-6">
              <div class="row">
                <div class="col-6 order_info_header">PATIENT (LAST, FIRST)</div>
                <div class="col-6 order_info_label">{{ order.patient.user.last_name}}, {{ order.patient.user.first_name }}</div>
              </div>
              <div class="row">
                <div class="col-6 order_info_header">DATE OF BIRTH</div>
                <div class="col-6 order_info_label">{{ order.patient.birth_date}}</div>
              </div>
              <div class="row">
                <div class="col-6 order_info_header">ACCESSION NUMBER</div>
                <div class="col-6 order_info_label">{{ order.accession_number|default_if_none:'' }}</div>
              </div>
              <div class="row">
                <div class="col-6 order_info_header">ORDER CODE</div>
                <div class="col-6 order_info_label">{{ order.code }}</div>
              </div>
              <div class="row">
                <div class="col-6 order_info_header">SAMPLE ID</div>
                <div class="col-6 order_info_label">{{ sample_type_results|lookup:'sample_code' }}</div>
              </div>
              <div class="row">
                <div class="col-6 order_info_header">SAMPLE TYPE</div>
                <div class="col-6 order_info_label">{{ sample_type.name }}</div>
              </div>
              <div class="row">
                <div class="col-6 order_info_header">CLINIC</div>
                <div class="col-6 order_info_label">{{ tenant.name }}</div>
              </div>
              {% if order.provider %}
              <div class="row">
                <div class="col-6 order_info_header">PROVIDER</div>
                <div class="col-6 order_info_label">{{ order.provider.user.first_name }} {{ order.provider.user.last_name}}{% if order.provider.suffix %} {{ order.provider.suffix }}{% endif %}{% if order.provider.title %}, {{ order.provider.title }}{% endif %}</div>
              </div>
              {% endif %}
              <div class="row">
                <div class="col-6 order_info_header">ACCOUNT</div>
                <div class="col-6 order_info_label">{{ order.account.name }}</div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6 order_info_header">DATE COLLECTED</div>
                <div class="col-6 order_info_label">{{ order.submitted_date|as_timezone:tenant.timezone  }}</div>
              </div>
              {% if order.collection_user %}
              <div class="row">
                <div class="col-6 order_info_header">COLLECTED BY</div>
                <div class="col-6 order_info_label">{{ order.collection_user.last_name }}, {{ order.collection_user.first_name }}</div>
              </div>
              {% endif %}
              <div class="row">
                <div class="col-6 order_info_header">DATE RECEIVED</div>
                <div class="col-6 order_info_label">{{ order.received_date|as_timezone:tenant.timezone  }}</div>
              </div>
              {% if not preliminary %}
                <div class="row">
                  <div class="col-6 order_info_header">DATE REPORTED</div>
                  <div class="col-6 order_info_label">{{ order.report_date|as_timezone:tenant.timezone  }}</div>
                </div>
              {% else %}
                <div class="row">
                  <div class="col-6 order_info_header">DATE REPORTED</div>
                  <div class="col-6 order_info_label">{{ certification_date|as_timezone:tenant.timezone }}</div>
                </div>
              {% endif %}
              <div class="row">
                <div class="col-6 order_info_header">CLIA #</div>
                <div class="col-6 order_info_label">{{ tenant.clia_number }}</div>
              </div>
              <div class="row">
                <div class="col-6 order_info_header">CLIA DIRECTOR</div>
                <div class="col-6 order_info_label">{{ tenant.clia_director }}</div>
              </div>

              <div class="row">
                <div class="col-6 order_info_header">DATE CERTIFIED</div>
                <div class="col-6 order_info_label">{{ certification_date|as_timezone:tenant.timezone }}</div>
              </div>
               <div class="row">
                <div class="col-6 order_info_header">CERTIFIED BY</div>
                <div class="col-6 order_info_label">{{ approved_by.last_name }}, {{ approved_by.first_name }}</div>
              </div>
            </div>
          </div>
          <!-- /Order Information -->
          <hr class="sep_meds">
          <!-- Medications -->
          {% if prescribed_medications %}
            <div class="row medications">
              <span class="medications_header">Medications:&nbsp;&nbsp;</span>
              {% for prescribed_medication in prescribed_medications %}
                {{ prescribed_medication }}
                {% if prescribed_medication.common_name %}
                  (
                  {% for common_name in prescribed_medication.common_name %}
                    {{ common_name }}{%if not forloop.last%}, {% endif %}
                  {% endfor %}
                  ){% endif %}{%if not forloop.last%}, {%endif%}
              {% endfor %}
            </div>
          <hr class="sep_meds">
          {% endif %}
          <!-- /Medications -->
          <!-- Order Issues -->
          {% if issues and forloop.first %}  <!-- Only show issues once on the report -->
          <div class="test_method">Order Issues:
            <div class="patient_notes">
              {% for issue in issues %}
                {% if issue.samples.exists %}
                  <p class="small">
                    <b>Samples</b><br>
                    {% for sample in issue.samples.all %}
                      {{ sample.code }}<br>
                    {% endfor %}
                  </p><br>
                {% endif %}
                <p class="small"><strong class="font-weight-bold">{{ issue.get_issue_type_display }}</strong><br>- {{ issue.description }}</p><br>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          <!-- /Order Issues -->

          <!-- Report Status -->
          {% if amended and forloop.first %}
            <div class="row report_status">Report Status:&nbsp;<span style="color: red;">AMENDED</span>
            </div>
            <hr class="sep_meds">
          {% endif %}
          <!-- /Report Status -->

          <!-- Test Panel Comments -->
          {% if test_panel_type_comments or order_test_panel_comments %}
            <div class="row report_status">Test Profile Comments</div>
            {% for comment in test_panel_type_comments %}
              <p class="test_panel_comments"><strong class="font-weight-bold">{{ comment.test_panel_type.name }}:</strong> {{ comment.comment }}</p>
            {% endfor %}
            <!-- tied to Test instead of TestType -->
            {% for comment in order_test_panel_comments %}
              <p class="test_panel_comments"><strong class="font-weight-bold">{{ comment.test_panel.test_panel_type.name }}:</strong> {{ comment.comment }}</p>
            {% endfor %}
            <hr class="sep_meds">
          {% endif %}
          <!-- /Test Profile Comments -->

          <!-- Summary results -->
          {% for result_type, results_by_method in sample_type_results|lookup:'summary_results' %}
            {% if result_type == 'Quantitative' %}
              {% for test_method in results_by_method %}
              <!-- Result Summary - Quantitative -->
                <div class="test_method">Positive/Inconsistent {{ test_method }} Result Summary:</div>
                  <table class="result_summary_table">
                    <thead>
                      <tr class="result_summary_table_header">
                        <th class="analyte">Drug</th>
                        <th class="results">Result</th>
                        <th class="results">Cutoff</th>
                        <th class="results">Interpretation</th>
                        <th class="results">Expected</th>
                        <th class="results">Inconsistent</th>
                      </tr>
                    </thead>
                    {% for result in results_by_method|lookup:test_method %}
                    <tr>
                      <td>{{ result|lookup:'analyte' }}</td>
                      <td>{{ result|lookup:'result_value' }}</td>
                      <td>{{ result|lookup:'cutoff' }}</td>
                      <td style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'interpretation' |upper}}</td>
                      <td style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'expected' |upper}}</td>
                      <td style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'inconsistent' |upper}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                <!-- /Result Summary - Quantitative -->
                {% endfor %}
            {% else %}  <!-- Qualitative Report Results -->
              {% for test_method in results_by_method %}
                <div class="test_method">{{ test_method }} Result Summary</div>
                <!-- Result Summary - Qualitative -->
                  <table class="result_summary_table">
                    <thead>
                      <tr>
                        <th class="analyte">Analyte</th>
                        <th class="results">Collected Date</th>
                        <th class="results">Sample Code</th>
                        <th class="results">Sample Type</th>
                        <th class="results">Result</th>
                      </tr>
                    </thead>
                    {% for result in results_by_method|lookup:test_method %}
                        <tr>
                          <td>{{ result|lookup:'analyte' }}</td>
                          <td>{{ result|lookup:'collection_date' }}</td>
                          <td>{{ result|lookup:'sample_code' }}</td>
                          <td>{{ result|lookup:'sample_type' }}</td>
                          <td>{{ result|lookup:'result_label' }}</td>
                        </tr>
                    {% endfor %}
                  </table>
                   <!-- /Result Summary - Quantitative -->
                {% endfor %}
            {% endif %}
          {% endfor %}
          <!--/ Summary results -->


          <!-- Validity Tests Outcome -->
          {% if specimen_validity_results %}
          <div class="row validity_tests_summary">
            <div>Validity Tests Outcome: {{ specimen_validity_summary }}</div>
          </div>
          {% endif %}
          <!-- /Validity Tests Outcome -->

          <!-- Historical Report if available -->
          {% if sample_type_results|lookup:'historical_dates' %}
            <div class="row historical_report">
              <div>Historical Report:</div>
              <table class="historical_result_table">
                <thead>
                  <tr class="historical_result_table_header">
                    <th class="analyte" style="border-right: 1px solid black"></th>
                    {% for historical_date in sample_type_results|lookup:'historical_dates' %}
                      <th class="results" style="border-right: 1px solid black">
                      {% with historical_datetimes=sample_type_results|lookup:'historical_datetimes'%}
                        {% with tenant_datetime=historical_datetimes|lookup:historical_date %}
                          {% with tenant_historical_date=tenant_datetime|as_timezone:tenant.timezone %}
                            {{ tenant_historical_date|date:'m/d/Y' }}
                          {% endwith %}
                        {% endwith %}
                        {% with historical_dates=sample_type_results|lookup:'historical_dates' %}
                          {% if historical_dates|lookup:historical_date != None %}<br>
                          {{ historical_dates|lookup:historical_date }}
                          {% endif %}
                        {% endwith %}
                      {% endwith %}
                      </th>
                    {% endfor %}
                  </tr>
                  {% with historical_results=sample_type_results|lookup:'historical_results'%}
                    {% for drug in historical_results %}
                      <tr>
                        <td class="historical_results_table_data">{{ drug }}</td>
                        {% with result=historical_results|lookup:drug %}
                          {% for datetime_historical_date in sample_type_results|lookup:'historical_dates' %}
                            <td class="historical_results_table_data">
                              {% with historical_date=datetime_historical_date %}
                                {{ result|lookup:historical_date }}
                              {% endwith %}
                            </td>
                          {% endfor %}
                        {% endwith %}
                      </tr>
                    {% endfor %}
                  {% endwith %}
                </thead>
              </table>
              <span class="info">* INCONSISTENT</span>
            </div>
          {% endif %}

          <!-- /Historical Report -->

          <!-- Detailed results -->
          {% if sample_type_results|lookup:'historical_dates' and sample_type_results|lookup:'detailed_results' %}
            <hr class="separator_detailed_results_page_break">
          {% else %}
            <hr class="separator_detailed_results">
          {% endif %}
          <br>
          {% for result_type, results_by_method in sample_type_results|lookup:'detailed_results' %}
            {% if result_type == 'Quantitative' %}
              {% for test_method, results in results_by_method.items %}
              <!-- Detailed Result - Quantitative -->
                  <table class="detailed_results_table">
                    <thead>
                      <tr>
                        <th colspan="4" class="detailed_results_header">Detailed Results {{ test_method }} {%  if test_method !=  'Toxicology Screening' %}Confirmation:{% endif %}</th>
                      </tr>
                      <tr>
                        <th class="analyte" scope="col">Drug</th>
                        <th class="results" scope="col">Result</th>
                        <th class="results" scope="col">Cutoff</th>
                        <th class="results" scope="col">Interpretation</th>
                      </tr>
                    </thead>
                    {% for category, drugs_by_category in results.items %}
                      <tr class="category_border">
                        <td class="drug_category">
                          {{ category|upper }}
                        </td>
                      </tr>
                      {% for result in drugs_by_category %}
                        <tr class="test_type_border">
                            <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'analyte' }}</td>
                            <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'result_value' }}</td>
                            <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'cutoff' }}</td>
                            {% if result|lookup:'interpretation' == 'Positive' %}
                              <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'interpretation'|upper }}</td>
                            {% else %}
                              <td class="detailed_results" style="color: {{ result|lookup:'color_code' }}">{{ result|lookup:'interpretation' }}</td>
                            {% endif %}
                        </tr>
                        {% if result|lookup:'test_type_comments' or result|lookup:'order_test_comments' %}
                          {% for comment in result|lookup:'test_type_comments' %}
                            <tr>
                              <td class="detailed_results" style="color: #A9A9A9" colspan="42">{{ comment }}</td>
                            </tr>
                          {% endfor %}
                          {% for comment in result|lookup:'order_test_comments' %}
                            <tr>
                              <td class="detailed_results" style="color: #A9A9A9" colspan="42">{{ comment }}</td>
                            </tr>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}


                  </table>
                <!-- /Result Summary - Quantitative -->
                {% endfor %}
            {% else %}  <!-- Qualitative Report Results -->
              {% for test_method in results_by_method %}
                <div class="test_method">{{ test_method }} Results Summary</div>
                <!-- Detailed Results - Qualitative -->
                  <table class="detailed_results_table">
                    <thead>
                      <tr>
                        <th class="analyte">Analyte</th>
                        <th class="results">Collected Date</th>
                        <th class="results">Sample Code</th>
                        <th class="results">Sample Type</th>
                        <th class="results">Result</th>
                      </tr>
                    </thead>
                    {% for result in results_by_method|lookup:test_method %}
                        <tr class="detailed_result_rows test_type_border">
                          <td>{{ result|lookup:'analyte' }}</td>
                          <td>{{ result|lookup:'collection_date' }}</td>
                          <td>{{ result|lookup:'sample_code' }}</td>
                          <td>{{ result|lookup:'sample_type' }}</td>
                          <td>{{ result|lookup:'result_label' }}</td>
                        </tr>
                        {% if result|lookup:'test_type_comments' %}
                          {% for comment in result|lookup:'test_type_comments' %}
                            <tr>
                              <td class="detailed_results" style="color: #A9A9A9" colspan="42">{{ comment }}</td>
                            </tr>
                          {% endfor %}
                        {% endif %}
                    {% endfor %}
                  </table>
                   <!-- /Result Summary - Quantitative -->
                {% endfor %}
            {% endif %}
          {% endfor %}
          <!-- /Detailed results -->
          <!-- Remarks -->
          {% if sample_type_results|lookup:'remarks' %}
            <div class="test_method remarks">Remarks:
              {% for remark in sample_type_results|lookup:'remarks' %}
                {% if remark.offsite_laboratory %}
                <p class="small">- {{ remark.remarks }} {{ remark.offsite_laboratory.name }}
                  {% if remark.offsite_laboratory.address1 %}, {{ remark.offsite_laboratory.address1 }}{% endif %}
                {% if remark.offsite_laboratory.address2 %}, {{ remark.offsite_laboratory.address2 }}{% endif %}
                {% if remark.offsite_laboratory.zip_code %}, {{ remark.offsite_laboratory.zip_code }}{% endif %}
                {% if remark.offsite_laboratory.lab_director %}, {{ remark.offsite_laboratory.lab_director }}{% endif %}</p><br>
                {% else %}
                  <p class="small">- {{ remark.remarks }}</p><br>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          <!-- /Remarks -->
        {% endwith %}
        {% if sample_types|length > 1 and not forloop.last %}
          <hr class="page_break">
        {% endif %}
      {% endfor %}
    <!-- End of by sample type results -->
      <!-- Drug Screen -->
      {% if drug_screen_results %}
      <div class="test_method">Drug Screen
        <table class="specimen_validity_table">
          <thead>
            <tr>
              <th class="analyte">DRUG</th>
              <th class="results specimen_validity_values">CUTOFF</th>
              <th class="results specimen_validity_values">RESULTS</th>
            </tr>
          </thead>
          {% for result in drug_screen_results %}
            <tr class="specimen_validity_results test_type_border">
              <td>{{ result|lookup:'test' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'cutoff' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'interpretation' }}</td>
            </tr>
            {% if result|lookup:'test_type_comments' %}
              {% for comment in result|lookup:'test_type_comments' %}
                <tr>
                  <td class="detailed_results" style="color: #A9A9A9" colspan="42">{{ comment }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          {% endfor %} 
        </table>
      </div>
      {% endif %}
      <!-- /Drug Screen -->

      <!-- Specimen Validity -->
      {% if specimen_validity_results %}
      <div class="test_method">Specimen Validity
        <table class="specimen_validity_table">
          <thead>
            <tr>
              <th class="analyte">TEST</th>
              <th class="results specimen_validity_values">RESULTS</th>
              <th class="results specimen_validity_values">EXPECTED RESULTS</th>
            </tr>
          </thead>
          {% for result in specimen_validity_results %}
            <tr class="specimen_validity_results test_type_border">
              <td>{{ result|lookup:'test' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'result_value' }} {{ result|lookup:'unit_of_measurement' }}</td>
              <td class="specimen_validity_values">{{ result|lookup:'expected' }} {{ result|lookup:'unit_of_measurement' }}</td>
            </tr>
            {% if result|lookup:'test_type_comments' %}
              {% for comment in result|lookup:'test_type_comments' %}
                <tr class="float-left">
                  <td class="detailed_results" style="color: #A9A9A9" colspan="42">{{ comment }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </table>
      </div>
      {% endif %}
      <!-- /Specimen Validity -->

{#     <hr class="page_break">#}


      <!-- Notes -->
      {% if notes %}
      <div class="test_method">Patient Notes:
        <div class="patient_notes">
          <p>
            {{ notes }}
          </p>
        </div>
      </div>
      {% endif %}
      <!-- /Notes -->



      <div class="end_of_report">
{#        <br>#}
        __________________END OF REPORT__________________
      </div>

      <!-- Disclaimer -->
      <div class="disclaimer">
        These tests were developed and their performance characteristics determined by {{ tenant.name }}.
        They have not been cleared or approved by the FDA.
      </div>
      <!-- /Disclaimer -->
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block javascript %}
{% endblock %}
