{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
    .icd10 {
      overflow-x: auto;
    }

    .checkbox-columns{
       -webkit-column-count: 2;
       -moz-column-count: 2;
       -o-column-count: 2;
        column-count: 2;
    }

    .test-panel {
      break-inside: avoid-column;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Create Order: Select Test Profiles</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back
        </a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if sample_formset.errors %}
    {% for form in sample_formset %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|safe }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in sample_formset.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-body">

      <form id="order_create_step_1" method="POST" autocomplete="off">
        {% csrf_token %}


        <div class="col-12 top-buffer">
          <div class="row mb-2">
            <h5 class="required_label">Select Test Profiles</h5>
          </div>

          <!-- Test Information -->
          <div class="row">
            <div class="col-12 pl-0">

              {% for test_panel_type in test_panel_type_list %}
                <div><!-- div necessary for checkbox functionality -->
                  <b>{{ test_panel_type.0 }}</b><br>
                  <div class="checkbox-columns">
                    {% for test_panel_type in test_panel_type.1 %}
                      {% if test_panel_type.selected %}
                        <div class="test-panel">
                          <input type="checkbox" name="test_panel_types_selected" value="{{ test_panel_type.id }}" checked>
                            {{ test_panel_type.name }} {% if test_panel_type.price %} - ${{ test_panel_type.price }}{% endif %}<br>
                            {% if test_panel_type.notes %}<i>{{ test_panel_type.notes }}</i>{% endif %}
                        </div>
                      {% else %}
                        <div class="test-panel">
                          <input type="checkbox" name="test_panel_types_selected" value="{{ test_panel_type.id }}">
                            {{ test_panel_type.name }} {% if test_panel_type.price %} - ${{ test_panel_type.price }}{% endif %}<br>
                            {% if test_panel_type.notes %}<i>{{ test_panel_type.notes }}</i>{% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div><br>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- /Test Information -->

        </div>

        <hr>
        <button type="submit" class="btn btn-primary" name="patient-history"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Next Step: {{ next_step_button_string }}</button>
      </form>

    </div>
  </div>




{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>

    $('#order_create_step_1').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });
  </script>

  <!-- Custom JS -->
  <script src="{% static 'js/order_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}