{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}


{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Update Order: {{ order.code }} {% if order.accession_number %}(Accession Number: {{ order.accession_number }}) {% endif %}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
{#        {% comment %} Undo archive functionality...ask for forgiveness later {% endcomment %}#}
      <div class="btn-group mr-2">
        <a href="{% url 'order_delete' order.code %}" class="btn btn-sm btn-danger" id="order-delete"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Order</a>
      </div>
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <form method="POST">
  {% csrf_token %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    {% if messages %}
      {% for message in messages %}
        {% if message.level == 25 %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
        {% else %}
          <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="card">
      <div class="card-body">
        <!-- Swap Accession Numbers -->
        <div class="row mt-4">
          <div class="col-9">
            <label>{{ form.swap_accession_number_with.label }} &nbsp;</label>
            {{ form.swap_accession_number_with }}
          </div>
        </div>

        <!-- Alternate ID -->
        <div class="row mt-4">
          <div class="col-3">
            <label>{{ form.alternate_id.label }} &nbsp;</label>
            {{ form.alternate_id }}
          </div>
        </div><br>

        <!-- existing account -->
        <div class="row">
          <div class="col-9">
            <label class="required_label">{{ form.account.label }} &nbsp;</label>
            {{ form.account }}
          </div>
        </div><br>

        <!-- existing provider -->
        <div class="row">
          <div class="col-9">
            <label>{{ form.provider.label }} &nbsp;</label>
            {{ form.provider }}
          </div>
        </div><br>

        <!-- existing patient -->
        <div class="row">
          <div class="col-9">
            <label class="required_label">{{ form.patient.label }} &nbsp;&nbsp;&nbsp;</label>
            {{ form.patient }}
          </div>
        </div><br>

        <div class="row">
          <div class="col-9">
            <label>{{ form.icd10_codes.label }}</label>
              {{ form.icd10_codes }}
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3 col-sm-7 col-xs-12">
            <label class="required_label">{{ form.received_date.label }}</label>
            {{ form.received_date }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-7 col-xs-12">
            <label>{{ form.received_time.label }}</label>
            <input class="form-control" type="time" name="{{ form.received_time.name }}"
                   value="{{ form.received_time.value|default_if_none:'' }}">
          </div>
        </div><br>

        <div class="row mt-2">
          <div class="col-9">
            {{ form.research_consent }}
            <label>{{ form.research_consent.label }}</label>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-9">
            {{ form.patient_result_request }}
            <label>{{ form.patient_result_request.label }}</label>
          </div>
        </div>
        <hr>
        <div class="row top-buffer">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Update Order</button>
          </div>
        </div>

        <!-- /Add Samples -->
      </div>
    </div>

  </form>

{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script>
    $('.datetimeMask').inputmask({"mask": "99-99-9999"});

    let receivedDate = new Pikaday({
      field: $('.date_input')[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("19200101", "YYYYMMDD"),
      yearRange: 120,
    });

    // confirm the delete signoff client-side
    $('#order-delete').click(function(event) {

      let result = confirm('Are you sure you want to archive this order?');

      if(result) {
      } else {
        alert('Order archive canceled.');
        event.preventDefault();
      }
    });
  </script>
  <!-- Custom JS -->
{% endblock %}


{% block footer  %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}