{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Update Insurance for Order: {{ order.code }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary">Order Details</a>
      </div>
    </div>
  </div>


  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST" autocomplete="off" id="order_create_patient_payer">
    {% csrf_token %}

    <div class="card">
      <div class="card-header">
        Patient Insurance
      </div>
      <div class="card-body">
        <!-- Order Information -->

        <div class="row mb-2">
          <div class="col-12">
            {{ form.maintain_patient_payer }}&nbsp;&nbsp;
            <label>{{ form.maintain_patient_payer.label }}</label>&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="By default, updating the order insurance also updates the permanent patient record.
               Select this checkbox to opt out of updating the permanent patient record.">
            </i>
          </div>
        </div><hr>

        <!-- Select Primary Payer -->
        <div class="col-12">
          <div class="row d-none">
            <label>{{ form.patient.label }}</label><br>
          </div>
          <div class="row d-none">
            {{ form.patient }}
          </div>

          <div class="row">
            <h5 class="required_label">Primary Insurance</h5>
          </div>

          <div class="row">
            {% if primary_patient_payer %}{{ form.insurance_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{ form.insurance_type.1 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.insurance_type.2 }}
          </div>

          <!-- Saved insurance -->
          {% if primary_patient_payer %}
            <div class="row mt-4 saved-insurance">
              <div class="col-6 pl-0">
                <div class="card">
                  <div class="card-body">
                    <h4>{{ primary_patient_payer.payer.name }}</h4><br>
                    {% if primary_patient_payer.subscriber_relationship != 'Self' %}
                      <p><b>Subscriber Name (If Not Patient)</b><br>{{ primary_patient_payer.subscriber_name }}</p>
                      <p><b>Patient's Relationship to Subscriber</b><br>{{ primary_patient_payer.subscriber_relationship }}</p>
                      <p><b>Subscriber Address</b><br>
                        {{ primary_patient_payer.subscriber_address1 }}{% if primary_patient_payer.subscriber_zip_code %}, {{ primary_patient_payer.subscriber_zip_code}}{% endif %}<br>
                        {{ primary_patient_payer.subscriber_address2 }}
                      </p>
                      <p><b>Subscriber Sex</b><br>
                        {{ primary_patient_payer.subscriber_sex }}
                      </p>
                      <p><b>Subscriber Birth Date</b><br>
                        {{ primary_patient_payer.subscriber_birth_date }}
                      </p>
                    {% endif %}
                    <p><b>Member ID/Policy Number</b><br>{{ primary_patient_payer.member_id|default:'-' }}</p>
                    <p><b>Group Number</b><br>{{ primary_patient_payer.group_number|default:'-' }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <!-- Saved insurance -->

          <!-- New Insurance Information -->
          <div class="row mt-2 new-insurance-information">
            <div class="col-12">
              <div class="form-group">
                <label class="required_label">{{ form.patient_payer_type.label }}</label>
                {{ form.patient_payer_type }}
              </div>

              <div class="primary-payer-info">
                <div class="form-group">
                  <label>{{ form.payer.label|safe }}</label>
                  {{ form.payer }} &nbsp;&nbsp;
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.payer_name.label|safe }}</label>
                    <input name="{{ form.payer_name.name }}"
                             value="{{ form.payer_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div><br>
                <div class="form-group">
                  <label>{{ form.subscriber_relationship.label }}</label>
                  {{ form.subscriber_relationship }}
                </div>

                <div class="form-group" id="subscriber-name-form">
                  <div class="form-row">
                    <div class="col-4">
                      <label>{{ form.subscriber_first_name.label }}</label>
                      <input name="{{ form.subscriber_first_name.name }}"
                             value="{{ form.subscriber_first_name.value|default_if_none:'' }}" class="form-control">
                    </div>
                    <div class="col-2 pl-0">
                      <label>{{ form.subscriber_middle_initial.label }}</label>
                      <input type="text" name="{{ form.subscriber_middle_initial.name }}"
                             value="{{ form.subscriber_middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
                    </div>
                    <div class="col-4">
                      <label>{{ form.subscriber_last_name.label }}</label>
                      <input name="{{ form.subscriber_last_name.name }}"
                             value="{{ form.subscriber_last_name.value|default_if_none:'' }}" class="form-control">
                    </div>
                    <div class="col-2">
                      <label>{{ form.subscriber_suffix.label }}</label>
                      <input name="{{ form.subscriber_suffix.name }}"
                             value="{{ form.subscriber_suffix.value|default_if_none:'' }}" class="form-control">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.subscriber_birth_date.label }}</label>
                      <input type="text" name="{{ form.subscriber_birth_date.name }}" id="subscriber-birth-date"
                             value="{{ form.subscriber_birth_date.value|default_if_none:'' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
                    </div>
                  </div><br>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.subscriber_sex.label }}</label>
                      {{ form.subscriber_sex }}
                    </div>
                  </div><br>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.subscriber_address1.label }}</label>
                      <input type="text" id="subscriber-address" name="{{ form.subscriber_address1.name }}" value="{{ form.subscriber_address1.value|default_if_none:'' }}" placeholder="Enter a location" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.subscriber_address2.label }}</label>
                      <input type="text" name="{{ form.subscriber_address2.name }}" value="{{ form.subscriber_address2.value|default_if_none:'' }}" placeholder="Suite, Apartment, etc. (optional)" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.subscriber_zip_code.label }}</label>
                      <input type="text" name="{{ form.subscriber_zip_code.name }}" value="{{ form.subscriber_zip_code.value|default_if_none:'' }}" placeholder="" class="form-control" id="subscriber-zip-code">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.member_id.label }}</label>
                    <input name="{{ form.member_id.name }}"
                           value="{{ form.member_id.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.group_number.label }}</label>
                    <input name="{{ form.group_number.name }}"
                           value="{{ form.group_number.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- New Insurance Information -->
        </div>
        <!-- Select Primary Payer -->
        <hr>

        <!-- Select Secondary Payer -->
        <div class="col-12 top-buffer">
          <div class="row">
            <h5>Secondary Insurance</h5>
          </div>

          <div class="row">
            {% if secondary_patient_payer %}{{ form.secondary_insurance_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{ form.secondary_insurance_type.1 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.secondary_insurance_type.2 }}
          </div>

          <!-- Saved insurance -->
          {% if secondary_patient_payer %}
            <div class="row mt-4 secondary-saved-insurance">
              <div class="col-6 pl-0">
                <div class="card">
                  <div class="card-body">
                    <h4>{{ secondary_patient_payer.payer.name }}</h4><br>
                    {% if secondary_patient_payer.subscriber_relationship != 'Self' %}
                      <p><b>Subscriber Name (If Not Patient)</b><br>{{ secondary_patient_payer.subscriber_name }}</p>
                      <p><b>Patient's Relationship to Subscriber</b><br>{{ secondary_patient_payer.subscriber_relationship }}</p>
                      <p><b>Subscriber Address</b><br>
                        {{ secondary_patient_payer.subscriber_address1 }}{% if secondary_patient_payer.subscriber_zip_code %}, {{ secondary_patient_payer.subscriber_zip_code }}{% endif %}<br>
                        {{ secondary_patient_payer.subscriber_address2 }}
                      </p>
                      <p><b>Subscriber Sex</b><br>
                        {{ secondary_patient_payer.subscriber_sex }}
                      </p>
                      <p><b>Subscriber Birth Date</b><br>
                        {{ secondary_patient_payer.subscriber_birth_date }}
                      </p>
                    {% endif %}
                    <p><b>Member ID/Policy Number</b><br>{{ secondary_patient_payer.member_id|default:'-' }}</p>
                    <p><b>Group Number</b><br>{{ secondary_patient_payer.group_number|default:'-' }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <!-- Saved insurance -->

          <!-- New Insurance Information -->
          <div class="row mt-2 secondary-new-insurance-information">
            <div class="col-12">
              <div class="form-group">
                <label class="required_label">{{ form.secondary_patient_payer_type.label }}</label>
                {{ form.secondary_patient_payer_type }}
              </div>

              <div class="secondary-payer-info">
                <div class="form-group">
                  <label>{{ form.secondary_payer.label|safe }}</label>
                  {{ form.secondary_payer }} &nbsp;&nbsp;
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.secondary_payer_name.label|safe }}</label>
                    <input name="{{ form.secondary_payer_name.name }}"
                             value="{{ form.secondary_payer_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div><br>
                <div class="form-group">
                  <label>{{ form.secondary_subscriber_relationship.label }}</label>
                  {{ form.secondary_subscriber_relationship }}
                </div>

                <div class="form-group" id="secondary-subscriber-name-form">
                  <div class="form-row">
                    <div class="col-4">
                      <label>{{ form.secondary_subscriber_first_name.label }}</label>
                      <input name="{{ form.secondary_subscriber_first_name.name }}"
                             value="{{ form.secondary_subscriber_first_name.value|default_if_none:'' }}" class="form-control">
                    </div>
                    <div class="col-2 pl-0">
                      <label>{{ form.secondary_subscriber_middle_initial.label }}</label>
                      <input type="text" name="{{ form.secondary_subscriber_middle_initial.name }}"
                             value="{{ form.secondary_subscriber_middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
                    </div>
                    <div class="col-4">
                      <label>{{ form.secondary_subscriber_last_name.label }}</label>
                      <input name="{{ form.secondary_subscriber_last_name.name }}"
                             value="{{ form.secondary_subscriber_last_name.value|default_if_none:'' }}" class="form-control">
                    </div>
                    <div class="col-2">
                      <label>{{ form.secondary_subscriber_suffix.label }}</label>
                      <input name="{{ form.secondary_subscriber_suffix.name }}"
                             value="{{ form.secondary_subscriber_suffix.value|default_if_none:'' }}" class="form-control">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.secondary_subscriber_birth_date.label }}</label>
                      <input type="text" name="{{ form.secondary_subscriber_birth_date.name }}" id="secondary-subscriber-birth-date"
                             value="{{ form.secondary_subscriber_birth_date.value|default_if_none:'' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
                    </div>
                  </div><br>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.secondary_subscriber_sex.label }}</label>
                      {{ form.secondary_subscriber_sex }}
                    </div>
                  </div><br>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.secondary_subscriber_address1.label }}</label>
                      <input type="text" id="secondary-subscriber-address" name="{{ form.secondary_subscriber_address1.name }}" value="{{ form.secondary_subscriber_address1.value|default_if_none:'' }}" placeholder="Enter a location" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.secondary_subscriber_address2.label }}</label>
                      <input type="text" name="{{ form.secondary_subscriber_address2.name }}" value="{{ form.secondary_subscriber_address2.value|default_if_none:'' }}" placeholder="Suite, Apartment, etc. (optional)" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.secondary_subscriber_zip_code.label }}</label>
                      <input type="text" name="{{ form.secondary_subscriber_zip_code.name }}" value="{{ form.secondary_subscriber_zip_code.value|default_if_none:'' }}" placeholder="" class="form-control" id="secondary-subscriber-zip-code">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.secondary_member_id.label }}</label>
                    <input name="{{ form.secondary_member_id.name }}"
                           value="{{ form.secondary_member_id.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.secondary_group_number.label }}</label>
                    <input name="{{ form.secondary_group_number.name }}"
                           value="{{ form.secondary_group_number.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- New Insurance Information -->
        </div>
        <!-- Select Secondary Payer -->
        <hr>

        <!-- Select Tertiary Payer -->
        <div class="col-12 top-buffer">
          <div class="row">
            <h5>Tertiary Insurance</h5>
          </div>

          <div class="row">
            {% if tertiary_patient_payer %}{{ form.tertiary_insurance_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{ form.tertiary_insurance_type.1 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.tertiary_insurance_type.2 }}
          </div>

          <!-- Saved insurance -->
          {% if tertiary_patient_payer %}
            <div class="row mt-4 tertiary-saved-insurance">
              <div class="col-6 pl-0">
                <div class="card">
                  <div class="card-body">
                    <h4>{{ tertiary_patient_payer.payer.name }}</h4><br>
                    {% if tertiary_patient_payer.subscriber_relationship != 'Self' %}
                      <p><b>Subscriber Name (If Not Patient)</b><br>{{ tertiary_patient_payer.subscriber_name }}</p>
                      <p><b>Patient's Relationship to Subscriber</b><br>{{ tertiary_patient_payer.subscriber_relationship }}</p>
                      <p><b>Subscriber Address</b><br>
                        {{ tertiary_patient_payer.subscriber_address1 }}{% if tertiary_patient_payer.subscriber_zip_code %}, {{ tertiary_patient_payer.subscriber_zip_code }}{% endif %}<br>
                        {{ tertiary_patient_payer.subscriber_address2 }}
                      </p>
                      <p><b>Subscriber Sex</b><br>
                        {{ tertiary_patient_payer.subscriber_sex }}
                      </p>
                      <p><b>Subscriber Birth Date</b><br>
                        {{ tertiary_patient_payer.subscriber_birth_date }}
                      </p>
                    {% endif %}
                    <p><b>Member ID/Policy Number</b><br>{{ tertiary_patient_payer.member_id|default:'-' }}</p>
                    <p><b>Group Number</b><br>{{ tertiary_patient_payer.group_number|default:'-' }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <!-- Saved insurance -->

          <!-- New Insurance Information -->
          <div class="row mt-2 tertiary-new-insurance-information">
            <div class="col-12">
              <div class="form-group">
                <label class="required_label">{{ form.tertiary_patient_payer_type.label }}</label>
                {{ form.tertiary_patient_payer_type }}
              </div>

              <div class="tertiary-payer-info">
                <div class="form-group">
                  <label>{{ form.tertiary_payer.label|safe }}</label>
                  {{ form.tertiary_payer }} &nbsp;&nbsp;
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.tertiary_payer_name.label|safe }}</label>
                    <input name="{{ form.tertiary_payer_name.name }}"
                             value="{{ form.tertiary_payer_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div><br>
                <div class="form-group">
                  <label>{{ form.tertiary_subscriber_relationship.label }}</label>
                  {{ form.tertiary_subscriber_relationship }}
                </div>

                <div class="form-group" id="tertiary-subscriber-name-form">
                  <div class="form-row">
                    <div class="col-4">
                      <label>{{ form.tertiary_subscriber_first_name.label }}</label>
                      <input name="{{ form.tertiary_subscriber_first_name.name }}"
                             value="{{ form.tertiary_subscriber_first_name.value|default_if_none:'' }}" class="form-control">
                    </div>
                    <div class="col-2 pl-0">
                      <label>{{ form.tertiary_subscriber_middle_initial.label }}</label>
                      <input type="text" name="{{ form.tertiary_subscriber_middle_initial.name }}"
                             value="{{ form.tertiary_subscriber_middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
                    </div>
                    <div class="col-4">
                      <label>{{ form.tertiary_subscriber_last_name.label }}</label>
                      <input name="{{ form.tertiary_subscriber_last_name.name }}"
                             value="{{ form.tertiary_subscriber_last_name.value|default_if_none:'' }}" class="form-control">
                    </div>
                    <div class="col-2">
                      <label>{{ form.tertiary_subscriber_suffix.label }}</label>
                      <input name="{{ form.tertiary_subscriber_suffix.name }}"
                             value="{{ form.tertiary_subscriber_suffix.value|default_if_none:'' }}" class="form-control">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.tertiary_subscriber_birth_date.label }}</label>
                      <input type="text" name="{{ form.tertiary_subscriber_birth_date.name }}" id="tertiary-subscriber-birth-date"
                             value="{{ form.tertiary_subscriber_birth_date.value|default_if_none:'' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
                    </div>
                  </div><br>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.tertiary_subscriber_sex.label }}</label>
                      {{ form.tertiary_subscriber_sex }}
                    </div>
                  </div><br>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.tertiary_subscriber_address1.label }}</label>
                      <input type="text" id="tertiary-subscriber-address" name="{{ form.tertiary_subscriber_address1.name }}" value="{{ form.tertiary_subscriber_address1.value|default_if_none:'' }}" placeholder="Enter a location" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.tertiary_subscriber_address2.label }}</label>
                      <input type="text" name="{{ form.tertiary_subscriber_address2.name }}" value="{{ form.tertiary_subscriber_address2.value|default_if_none:'' }}" placeholder="Suite, Apartment, etc. (optional)" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.tertiary_subscriber_zip_code.label }}</label>
                      <input type="text" name="{{ form.tertiary_subscriber_zip_code.name }}" value="{{ form.tertiary_subscriber_zip_code.value|default_if_none:'' }}" placeholder="" class="form-control" id="tertiary-subscriber-zip-code">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.tertiary_member_id.label }}</label>
                    <input name="{{ form.tertiary_member_id.name }}"
                           value="{{ form.tertiary_member_id.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.tertiary_group_number.label }}</label>
                    <input name="{{ form.tertiary_group_number.name }}"
                           value="{{ form.tertiary_group_number.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- New Insurance Information -->
        </div>
        <!-- Select Tertiary Payer -->
        <hr>

        <!-- Select Workers' Comp -->
        <div class="col-12 top-buffer">
          <div class="row">
            <h5>Workers' Compensation</h5>
          </div>

          <div class="row">
            {% if workers_comp_payer %}{{ form.workers_comp_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{ form.workers_comp_type.1 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.workers_comp_type.2 }}
          </div>

          <!-- Saved insurance -->
          {% if workers_comp_payer %}
            <div class="row mt-4 saved-wc">
              <div class="col-6 pl-0">
                <div class="card">
                  <div class="card-body">
                    <h4>{{ workers_comp_payer.payer.name }}</h4><br>
                    <p><b>Claim ID</b><br>{{ workers_comp_payer.workers_comp_claim_id|default:'-' }}</p>
                    <p><b>Injury Date</b><br>{{ workers_comp_payer.workers_comp_injury_date|date:'m-d-Y'|default:'-' }}</p>
                    <p><b>Claim Manager/Adjuster</b><br>{{ workers_comp_payer.workers_comp_adjuster|default:'-' }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <!-- Saved insurance -->

          <!-- New Insurance Information -->
          <div class="row mt-2 new-wc">
            <div class="col-12">
              <div class="wc-info">
                <div class="form-group">
                  <label>{{ form.workers_comp_payer.label|safe }} &nbsp;</label>
                  {{ form.workers_comp_payer }} &nbsp;&nbsp;
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.workers_comp_payer_name.label|safe }}</label>
                    <input name="{{ form.workers_comp_payer_name.name }}"
                             value="{{ form.workers_comp_payer_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.workers_comp_claim_id.label }}</label>
                    <input name="{{ form.workers_comp_claim_id.name }}"
                           value="{{ form.workers_comp_claim_id.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.workers_comp_adjuster.label }}</label>
                    <input name="{{ form.workers_comp_adjuster.name }}"
                           value="{{ form.workers_comp_adjuster.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.workers_comp_injury_date.label }}</label>
                    <input id="wc-injury-date" name="{{ form.workers_comp_injury_date.name }}"
                           value="{{ form.workers_comp_injury_date.value|default_if_none:'' }}"
                           class="form-control dateMask" placeholder="MM-DD-YYYY">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- New Insurance Information -->
        </div>
        <!-- Select Workers' Comp -->
        <hr>


        <!-- Select Patient Guarantor -->
        <div class="col-12 top-buffer">
          <div class="row">
            <h5>Patient Guarantor</h5>
          </div>

          <div class="row">
            {% if patient_guarantor %}{{ form.patient_guarantor_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{ form.patient_guarantor_type.1 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.patient_guarantor_type.2 }}
          </div>

          <!-- Saved Guarantor -->
          {% if patient_guarantor %}
          <div class="row mt-4 saved-guarantor">
            <div class="col-6 pl-0">
              <div class="card">
                <div class="card-body">
                  <p><b>Guarantor Name</b><br>
                    {{ patient_guarantor.user.first_name }}{% if patient_guarantor.middle_initial %} {{ patient_guarantor.middle_initial }}.{% endif %}
                    {{ patient_guarantor.user.last_name }}{% if patient_guarantor.suffix %}, {{ patient_guarantor.suffix }}{% endif %}
                  </p>
                  <p><b>Relationship to Patient</b><br>{{ patient_guarantor.relationship_to_patient }}</p>
                  <p><b>Subscriber Address</b><br>
                    {{ patient_guarantor.address1 }}{% if patient_guarantor.zip_code %}, {{ patient_guarantor.zip_code }}{% endif %}<br>
                    {{ patient_guarantor.address2 }}
                  </p>
                  <p><b>Birth Date (Guarantor)</b><br>{{ patient_guarantor.birth_date|date:'m-d-Y'|default:'-' }}</p>
                  <p><b>Social Security Number</b><br>{{ patient_guarantor.social_security|default:'-' }}</p>
                  <p><b>Email</b><br>{{ patient_guarantor.user.email|default:'-' }}</p>
                  <p><b>Phone Number</b><br>{{ patient_guarantor.phone_number|default:'-' }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <!-- New Guarantor -->
          <div class="row mt-2 new-guarantor">
            <div class="col-12">
              <div class="form-group">
                <label class="required_label">{{ form.relationship_to_patient.label }}</label>
                {{ form.relationship_to_patient }}
              </div>
              <div class="form-row">
                <div class="col-4">
                  <label class="required_label">{{ form.first_name.label }}</label>
                  <input name="{{ form.first_name.name }}"
                         value="{{ form.first_name.value|default_if_none:'' }}" class="form-control">
                </div>
                <div class="col-2">
                  <label>{{ form.middle_initial.label }}</label>
                  <input name="{{ form.middle_initial.name }}"
                         value="{{ form.middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
                </div>
                <div class="col-4">
                  <label class="required_label">{{ form.last_name.label }}</label>
                  <input name="{{ form.last_name.name }}"
                         value="{{ form.last_name.value|default_if_none:'' }}" class="form-control">
                </div>
                <div class="col-2">
                  <label>{{ form.suffix.label }}</label>&nbsp;&nbsp;
                  <i class="fas fa-info-circle" data-toggle="tooltip"
                     title="Optional field. Common examples include: Jr, Sr, III.">
                  </i>
                  <input name="{{ form.suffix.name }}"
                         value="{{ form.suffix.value|default_if_none:'' }}" class="form-control">
                </div>
              </div><br>
              <div class="form-group">
                <label class="required_label">{{ form.sex.label }}</label>
                {{ form.sex }}
              </div>
              <div class="form-group">
                <label class="required_label">{{ form.birth_date.label }}</label>
                <input id="guarantor-birth-date" name="{{ form.birth_date.name }}" value="{{ form.birth_date.value|default_if_none:'' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
              </div>

              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.address1.label }}</label>
                  <input id="address1" name="{{ form.address1.name }}"
                         value="{{ form.address1.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-3">
                  <label>{{ form.address2.label }}</label>
                  <input name="{{ form.address2.name }}"
                         value="{{ form.address2.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-3">
                  <label>{{ form.zip_code.label }}</label>
                  <input name="{{ form.zip_code.name }}"
                         value="{{ form.zip_code.value|default_if_none:'' }}"
                         class="form-control" id="zip-code">
                </div>
              </div><br>

              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.email.label }}</label>
                  <input name="{{ form.email.name }}"
                         value="{{ form.email.value|default_if_none:'' }}" class="form-control">
                </div>
                <div class="col-6">
                  <label>{{ form.phone_number.label }}</label>
                  <input name="{{ form.phone_number.name }}"
                         value="{{ form.phone_number.value|default_if_none:'' }}" class="form-control phoneNumberMask">
                </div>
              </div><br>

              <div class="form-group">
                <label>{{ form.social_security_number.label }}</label>
                <input name="{{ form.social_security_number.name }}"
                       value="{{ form.social_security_number.value|default_if_none:'' }}" class="form-control ssnMask">
              </div>
            </div>


          </div>
          <!-- New Guarantor -->

        </div>
        <!-- Select Patient Guarantor -->

      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Update Insurance</button>

  </form>





{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static 'js/zip_code_autofill.js' %}"></script>
  <script>
    // phone number mask
    $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

    $('.middleInitialMask').inputmask({"mask": "A"});
    $('.dateMask').inputmask({"mask": "99-99-9999"});
    $('.npiMask').inputmask({"mask": "9999999999"});
    $('.ssnMask').inputmask({"mask": "999-99-9999"});

    // Google Maps Autocomplete
    const options = {
      // only return results with a precise address
      types: ['address']
    };
    // Google Maps Autocomplete
    let address1 = document.getElementById('address1');
    let autocomplete1 = new google.maps.places.Autocomplete(address1, options);
    autofill_zip_code(autocomplete1, 'zip-code');

    let subscriberAddress = document.getElementById('subscriber-address');
    let autocomplete2 = new google.maps.places.Autocomplete(subscriberAddress, options);
    autofill_zip_code(autocomplete2, 'subscriber-zip-code');

    let secondarySubscriberAddress = document.getElementById('secondary-subscriber-address');
    let autocomplete3 = new google.maps.places.Autocomplete(secondarySubscriberAddress, options);
    autofill_zip_code(autocomplete3, 'secondary-subscriber-zip-code');

    let tertiarySubscriberAddress = document.getElementById('tertiary-subscriber-address');
    let autocomplete4 = new google.maps.places.Autocomplete(tertiarySubscriberAddress, options);
    autofill_zip_code(autocomplete4, 'tertiary-subscriber-zip-code');

    // Workers Comp injury date selector
    let wcInjuryDate = new Pikaday({
      field: $('#wc-injury-date')[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("1950101", "YYYYMMDD"),
      yearRange: 100,
    });

    let guarantorBirthDate = new Pikaday({
      field: $('#guarantor-birth-date')[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("19200101", "YYYYMMDD"),
      yearRange: 120,
    });

    let subscriberBirthDate = new Pikaday({
      field: $('#subscriber-birth-date')[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("19200101", "YYYYMMDD"),
      yearRange: 120,
    });

    let secondarySubscriberBirthDate = new Pikaday({
      field: $('#secondary-subscriber-birth-date')[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("19200101", "YYYYMMDD"),
      yearRange: 120,
    });

    let tertiarySubscriberBirthDate = new Pikaday({
      field: $('#tertiary-subscriber-birth-date')[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("19200101", "YYYYMMDD"),
      yearRange: 120,
    });

    $('.barcode').keydown(function (event) {
    // check for hyphen
    if (event.which === 189) {
        event.preventDefault();
        $(this).parent().parent().next().find('.barcode').focus();
    }
    });

    $('#order_create_step_2').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });

    //remove delete button if there is only one sample form
    $('.delete-row').click(function() {
        if($('.fa-times-circle').length === 1) {
            $('.fa-times-circle').addClass('d-none')
        }
    });
    $('.add-row').click(function() {
        $('.fa-times-circle').removeClass('d-none')
    });

    // check for existing or new primary payer
    if($("input[name='insurance_type']:checked").val() === 'Saved Insurance') {
      // if "Saved insurance" is chosen, hide the div and empty out all of the text fields
      $('.new-insurance-information').hide().find('input:text').val('');
      $('.saved-insurance').show();
    } else if($("input[name='insurance_type']:checked").val() === 'New Insurance') {
      $('.new-insurance-information').show();
      $('.saved-insurance').hide();
    } else {
      // if there is no saved payer, then mark as "None" by default
      $('#id_primary_payer_type_1').prop("checked", true);
      $('.new-insurance-information').hide();
      $('.saved-insurance').hide();
    }

    // if new account is selected, then show the new form section
    $('input[name="insurance_type"]').click(function(){
      if ($(this).is(':checked')) {
        if($(this).val() === 'Saved Insurance') {
          // if "existing account" is chosen, hide the div and empty out all of the text fields
          $('.new-insurance-information').hide().find('input:text').val('');
          $('.saved-insurance').show();
        } else if($(this).val() === 'New Insurance') {
          $('.new-insurance-information').show();
          $('.saved-insurance').hide();
        } else {
          $('.new-insurance-information').hide().find('input:text').val('');
          $('.saved-insurance').hide();
        }
      }
    });

    // if subscriber relationship is Self, then hide name field
    if($('select[name=subscriber_relationship]').find(":selected").text() == 'Self') {
      $('#subscriber-name-form').hide();
    }
    // if relationship to patient is "Self", then hide subscriber name
    $('select[name=subscriber_relationship]').on('change', function() {
      if(this.value == 'Self') {
        $('#subscriber-name-form').hide();
      } else {
        $('#subscriber-name-form').show();
      }
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // check for existing or new secondary payer
    if($("input[name='secondary_insurance_type']:checked").val() === 'Saved Insurance') {
      $('.secondary-new-insurance-information').hide();
      $('.secondary-saved-insurance').show();
    } else if($("input[name='secondary_insurance_type']:checked").val() === 'New Insurance') {
      $('.secondary-new-insurance-information').show();
      $('.secondary-saved-insurance').hide();
    } else {
      // if there is no saved payer, then mark as "None" by default
      $('#id_secondary_payer_type_1').prop("checked", true);
      $('.secondary-new-insurance-information').hide();
      $('.secondary-saved-insurance').hide();
    }

    // if new account is selected, then show the new form section
    $('input[name="secondary_insurance_type"]').click(function(){
      if ($(this).is(':checked')) {
        if($(this).val() === 'Saved Insurance') {
           // if "existing provider" is chosen, hide the div and empty out all of the text fields
          $('.secondary-new-insurance-information').hide().find('input:text').val('');
          $('.secondary-saved-insurance').show();
        } else if ($(this).val() === 'New Insurance') {
          $('.secondary-new-insurance-information').show();
          $('.secondary-saved-insurance').hide();
        } else {
          $('.secondary-new-insurance-information').hide().find('input:text').val('');
          $('.secondary-saved-insurance').hide();
        }
      }
    });

    // if subscriber relationship is Self, then hide name field
    if($('select[name=secondary_subscriber_relationship]').find(":selected").text() == 'Self') {
      $('#secondary-subscriber-name-form').hide();
    }
    // if relationship to patient is "Self", then hide subscriber name
    $('select[name=secondary_subscriber_relationship]').on('change', function() {
      if(this.value == 'Self') {
        $('#secondary-subscriber-name-form').hide();
      } else {
        $('#secondary-subscriber-name-form').show();
      }
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // check for existing or new tertiary payer
    if($("input[name='tertiary_insurance_type']:checked").val() === 'Saved Insurance') {
      $('.tertiary-new-insurance-information').hide();
      $('.tertiary-saved-insurance').show();
    } else if($("input[name='tertiary_insurance_type']:checked").val() === 'New Insurance') {
      $('.tertiary-new-insurance-information').show();
      $('.tertiary-saved-insurance').hide();
    } else {
      // if there is no saved payer, then mark as "None" by default
      $('#id_tertiary_payer_type_1').prop("checked", true);
      $('.tertiary-new-insurance-information').hide();
      $('.tertiary-saved-insurance').hide();
    }

    // if new account is selected, then show the new form section
    $('input[name="tertiary_insurance_type"]').click(function(){
      if ($(this).is(':checked')) {
        if($(this).val() === 'Saved Insurance') {
           // if "existing provider" is chosen, hide the div and empty out all of the text fields
          $('.tertiary-new-insurance-information').hide().find('input:text').val('');
          $('.tertiary-saved-insurance').show();
        } else if ($(this).val() === 'New Insurance') {
          $('.tertiary-new-insurance-information').show();
          $('.tertiary-saved-insurance').hide();
        } else {
          $('.tertiary-new-insurance-information').hide().find('input:text').val('');
          $('.tertiary-saved-insurance').hide();
        }
      }
    });

    // if subscriber relationship is Self, then hide name field
    if($('select[name=tertiary_subscriber_relationship]').find(":selected").text() == 'Self') {
      $('#tertiary-subscriber-name-form').hide();
    }
    // if relationship to patient is "Self", then hide subscriber name
    $('select[name=tertiary_subscriber_relationship]').on('change', function() {
      if(this.value == 'Self') {
        $('#tertiary-subscriber-name-form').hide();
      } else {
        $('#tertiary-subscriber-name-form').show();
      }
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // check for existing or new WC
    if($("input[name='workers_comp_type']:checked").val() === 'Saved Workers Comp') {
      $('.new-wc').hide();
      $('.saved-wc').show();
    } else if($("input[name='workers_comp_type']:checked").val() === 'New Workers Comp') {
      $('.new-wc').show();
      $('.saved-wc').hide();
    } else {
      // if there is no saved choice chosen, then mark as "None" by default
      $('#id_workers_comp_type_1').prop("checked", true);
      $('.new-wc').hide();
      $('.saved-wc').hide();
    }

    // if new wc is selected, then show the new form section
    $('input[name="workers_comp_type"]').click(function(){
      if ($(this).is(':checked')) {
        if($(this).val() === 'Saved Workers Comp') {
           // if saved choice is chosen, hide the div and empty out all of the text fields
          $('.new-wc').hide().find('input:text').val('');
          $('.saved-wc').show();
        } else if ($(this).val() === 'New Workers Comp') {
          $('.new-wc').show();
          $('.saved-wc').hide();
        } else {
          $('.new-wc').hide().find('input:text').val('');
          $('.saved-wc').hide();
        }
      }
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // check for existing or new guarantor
    if($("input[name='patient_guarantor_type']:checked").val() === 'Saved Guarantor') {
      $('.new-guarantor').hide();
      $('.saved-guarantor').show();
    } else if($("input[name='patient_guarantor_type']:checked").val() === 'New Guarantor') {
      $('.new-guarantor').show();
      $('.saved-guarantor').hide();
    } else {
      // if there is no saved guarantor, then mark as "None" by default
      $('#id_patient_guarantor_type_1').prop("checked", true);
      $('.new-guarantor').hide();
      $('.saved-guarantor').hide();
    }

    // if new account is selected, then show the new form section
    $('input[name="patient_guarantor_type"]').click(function(){
      if ($(this).is(':checked')) {
        if($(this).val() === 'Saved Guarantor') {
           // if "existing provider" is chosen, hide the div and empty out all of the text fields
          $('.new-guarantor').hide().find('input:text').val('');
          $('.saved-guarantor').show();
        } else if ($(this).val() === 'New Guarantor') {
          $('.new-guarantor').show();
          $('.saved-guarantor').hide();
        } else {
          $('.new-guarantor').hide().find('input:text').val('');
          $('.saved-guarantor').hide();
        }
      }
    });
  </script>

  <!-- Custom JS -->
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}