{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load timezone %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
{#  <link rel="stylesheet" type="text/css" href="{% static 'lib/Resources/dynamsoft.webtwain.css' %}">#}
  <style>

  .table .test-details-table {
    background-color: white;
  }

  .approval-div {
    overflow-y: scroll;
    height: 350px;
  }

  .preliminary-report {
    height: 50vh;
    width: 100%;
    text-align: center;
  }

  .final-report {
    height: 100vh;
    width: 100%;
    text-align: center;
  }

  /* overwrite #loading-screen from base.css */
  #loading-screen {
    margin-top: 200px;
    display: inline-block;
  }

  </style>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="test-form">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pl-0 ml-0 pb-2 mb-3 border-bottom">
      <h2>
        {% if previous_order %}
          <a href="{% url 'order_approve' previous_order.code %}"><i class="fas fa-caret-left"></i></a>
        {% endif %}
        Approve Order: {{ order.code }}
        {% if next_order %}
          <a href="{% url 'order_approve' next_order.code %}"><i class="fas fa-caret-right"></i></a>
        {% endif %}
      </h2>
      <div class="btn-toolbar mb-2 mb-md-0">
        {% if request.user.user_type < 9 %}
          <div class="btn-group mr-2" id="generate-report-button">
            {% if order.creating_preliminary_report %}
              <a class="btn btn-sm btn-secondary disabled" target="_blank" ><i class="fas fa-spinner"></i> Processing</a>
            {% elif not order.creating_report %}
              {% if order.status == 'Reported' or order.status == 'Reported (Partial)' %}
              {% else %}
                <button type="submit" class="btn btn-sm btn-primary" name="save_results_button"><i class="far fa-sync"></i>&nbsp;&nbsp;Save & Generate Report</button>
              {% endif %}
            {% endif %}
          </div>
          <div class="btn-group mr-2" id="approve-report-button">
            {% if order.status == 'Pending Test Approval' and not order.creating_report and not order.creating_preliminary_report %}
                <button type="submit" class="btn btn-sm btn-success" id="order-approve-report"
                        name="save_approve_report_button">
                  <i class="far fa-file-chart-line"></i>&nbsp;&nbsp;Approve & Report Order
                </button>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success">
            <strong>{{ message|safe }}</strong>
          </div>
        {% elif message.tags == 'error' %}
          <div class="alert alert-danger">
            <strong>{{ message|safe }}</strong>
          </div>
        {% else %}
          <div class="alert alert-info">
            <strong>{{ message|safe }}</strong>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if order.creating_report and not order.creating_preliminary_report %}
      <div class="final-report">
        <!-- Loading screen -->
        <div id="loading-screen">
          <div class="loader"></div><br>
          <h3 class="loader-text">Loading PDF...</h3>
        </div>
      </div>
    {% elif order.status == 'Reported' or order.status == 'Reported (Partial)' and not order.creating_report and not order.creating_preliminary_report %}
      <div class="final-report">
        <embed src="{{ reports.0.pdf_file.url }}" width="100%" height="100%">
      </div>
    {% else %}
      <div class="row mb-2">
        <h3 class="ml-3">Accession Number: {{ order.accession_number }}</h3>
      </div>

      {% if not order.creating_preliminary_report and report_approved_by_form %}
        <div id="report-approved-by-form">
          {{ report_approved_by_form }}
        </div>
      {% else %}
        <div id="report-approved-by-form" style="display: none;">
          {{ report_approved_by_form }}
        </div>
      {% endif %}<br>

      {% include 'block_order_results.html' %}

      <hr>
      {% if order.creating_preliminary_report %}
        <div class="preliminary-report">
          <!-- Loading screen -->
          <div id="loading-screen">
            <div class="loader"></div><br>
            <h3 class="loader-text">Loading PDF...</h3>
          </div>
        </div>
      {% elif preliminary_reports %}
        <div class="preliminary-report">
          <embed src="{{ preliminary_reports.0.pdf_file.url }}" width="100%" height="100%">
        </div>
      {% else %}
        <h3 class="text-center">No report for this order yet.</h3>
      {% endif %}

    {% endif %}

  </form>

{% endblock %}

{% block javascript %}
  <script>
    // Real time import status websocket
    var status_ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var status_ws_url = status_ws_scheme + '://' + window.location.host + '/ws/order/' + '{{ order.uuid }}' + '/';

    // booleans because the websockets message can be sent over multiple times and we only want to use the first one
    var preliminaryReportedBoolean = false;
    var finalReportedBoolean = false;

    var statusSocket = new ReconnectingWebSocket(status_ws_url);
    statusSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      var report_url = data['report_url'];
      var preliminary = data['preliminary'];
      var approvedBy = data['approved_by'];

      if(preliminary) {
        if (message === 'Reported') {
          var pdf_div = '<embed src="' + report_url + '" width="100%" height="100%">';
          // the websocket connection sends the report data twice currently - set to sleep for 30 seconds and repeat
          // sending the message
          if (!preliminaryReportedBoolean && !finalReportedBoolean) {
            $('.preliminary-report').html(pdf_div);
            $('#generate-report-button').html('<button type="submit" class="btn btn-sm btn-primary" ' +
              'name="save_results_button"><i class="far fa-sync"></i>&nbsp;&nbsp;Save & Generate Report</button>');


            $('#approve-report-button').html('<button type="submit" class="btn btn-sm btn-success" id="order-approve-report" name="save_approve_report_button"><i class="far fa-file-chart-line"></i>&nbsp;&nbsp;Approve & Report Order</button>');

            ////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // logic for report approved by autocomplete
            var approvedByAutocompleteDiv = '<span class="select2-selection__clear">×</span>' + approvedBy.user;
            $('#select2-id_user-container').html(approvedByAutocompleteDiv);
            $('#select2-id_user-container').attr('title', approvedBy.user);

            var approvedByOption = '<option value="' + approvedBy.id + '" selected="">' + approvedBy.user + '</option>';
            $('#id_user').html(approvedByOption);

            // only show report approved by form if report PDF is fully loaded
            $('#report-approved-by-form').show();
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // set boolean to true so it doesn't use duplicate messages
            preliminaryReportedBoolean = true;
          }

        }
      }
      else {
        $('#order-status').html(message);
        if (message === 'Reported') {
          pdf_div = '<embed src="' + report_url + '" width="100%" height="100%">';
          // the websocket connection sends the report data twice currently - set to sleep for 30 seconds and repeat
          // sending the message
          if (!preliminaryReportedBoolean && !finalReportedBoolean) {
            $('.final-report').html(pdf_div);
            finalReportedBoolean = true;
          }
        }
      }

    };
    statusSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
  </script>

{% endblock %}
