{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
  .order-stat-card {
    height: 170px;
  }
  </style>
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Archived Orders</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
{#				<a class="btn btn-primary btn-sm" href="{% url 'order_create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Order</a>#}
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <!-- Recent Orders -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4 class="d-inline">Archived Orders list:</h4>
        <p>Archived orders do not appear in other parts of the LIS.</p>
        <select class="form-control" id="date-type-filter">
            <option value="Received">Received</option>
            <option value="Submitted">Submitted</option>
            <option value="Reported">Reported</option>
        </select>
        <div id="recent-order-table-range" class="pull-center" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span />
          <b class="caret"></b>
        </div>
        <br>


      </div>
      <!-- Num Orders -->
      <div class="col-lg-6">
      </div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="order-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
          <br><br>
          <!-- Use EXPORT TO CSV JS functionality -->
          <a class="btn btn-secondary" id="export-csv-button" href="#">Export to CSV</a>
        </div>
      </div>
      <!-- Num Orders -->
    </div>

    <div class="row top-buffer mt-4">
      <div class="col-12">
        <div class="handsontable" id="recent-order-table"></div>
      </div>
    </div>
    <!-- Recent Orders -->
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script>
    // Default page state
    const state = {
      Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count',
          testFilter: '',
          dateType: 'Received',
          tableHtmlID: '#recent-order-table', dateRangePickerHtmlID: '#recent-order-table-range span', dateRangePickerDivID: '#recent-order-table-range',
          apiURL: '/api/v1/internal/archived_orders_table/'
      },
    };


    const hotSettings = {
      data: [],
      columns: [
          {
            data: 'code',
            editor: false,
            type: 'text',
          },
          {
            data: 'accession_number',
            editor: false,
            type: 'text',
          },
          {
            data: 'status',
            editor: false,
            type: 'text',
          },
          {
            data: 'patient',
            editor: false,
            renderer: 'html',
            width: 150,
          },
          {
            data: 'birth_date',
            editor: false,
            type: 'date',
            dateFormat: 'MM/DD/YYYY',
            correctFormat: true,
          },
          {
            data: 'account',
            editor: false,
            renderer: linkRenderer,
            width: 150,
          },
          {
            data: 'provider',
            editor: false,
            renderer: linkRenderer,
            width: 150,
          },
          {
            data: 'order_undo_archive_link',
            editor: false,
            renderer: 'html',
            width: 150,
            className: 'htCenter',
          },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Order Code',
          'Accession',
          'Status',
          'Patient',
          'DOB',
          'Account',
          'Provider',
          'Undo Archive',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function (col, TH) {
          TH.className = 'center';
      },

      beforeCopy: (data, coords) => {
        for(i=0; i < data.length; i++) {
          data[i][1] = data[i][1].text;
          data[i][2] = data[i][2].text;
          data[i][3] = data[i][3].text;
          data[i][4] = data[i][4].text;
        }
        return data;
      },
    };

    var j = jQuery.noConflict();

    // order table
    j(function() {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      const testFilter = 'All';
      const dateType = j('#date-type-filter').val();

      createTable(state.Table.tableHtmlID, hotSettings);

      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      // EXPORT TO CSV snippet
      // Requirements: js/date_range_picker_table.js
      // use JS instead of jQuery because of jQuery.noConflict --> not sure what that actually does
      // entire table state is only available in this function
      let hotInstance = state.Table.table.getInstance();
      let exportCsvButton = document.getElementById('export-csv-button');
      let csvPlugin = hotInstance.getPlugin('exportFile');

      // function to convert objects to text
      // if we don't do this, then URL links will display as [object Object]
      exportCsvButton.addEventListener('click', function() {

        let stateStartDate = state.Table.dateBegin.format('MMMM-D-YYYY');
        let stateEndDate = state.Table.dateEnd.format('MMMM-D-YYYY');

        // handsontable plugin
        csvPlugin.downloadFile('csv', {
          bom: false,
          columnDelimiter: ',',
          columnHeaders: false,
          exportHiddenColumns: false,
          exportHiddenRows: true,
          fileExtension: 'csv',
          filename: 'orders_' + stateStartDate + '_' +stateEndDate,
          mimeType: 'text/csv',
          rowDelimiter: '\r\n',
          rowHeaders: false
        });

      });
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

      function order_cb(start, end, testFilter, dateType) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        state.Table.testFilter = testFilter;
        state.Table.dateType = dateType;

        const url = testFilter + '/' + dateType + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');

        j.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function (orders) {
            state.Table.data = orders;
            updateTable();
          },
          error: function () {
            console.log("pending order table data call failed")
          }
        })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
        startDate: start,
        endDate: end,
        showDropdowns: true,
        alwaysShowCalendars: true,
        linkedCalendars: false,
        maxDate: moment().add(1, 'd'),
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, function (start, end) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        order_cb(start, end, state.Table.testFilter, state.Table.dateType);
      });

      order_cb(start, end, testFilter, dateType);

      j('#test-type-filter').change(function () {
        state.Table.testFilter = $('#test-type-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.testFilter, state.Table.dateType);
      });

      j('#date-type-filter').change(function () {
        state.Table.dateType = $('#date-type-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.testFilter, state.Table.dateType);
      });
    })


	</script>
{% endblock %}

{% block footer %}
  {{ form.media }}
{% endblock %}
