{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/datetimepicker-2.5.20/jquery.datetimepicker.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Create Order: Add Samples</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-primary text-white" target="_blank" href="{% url 'collector_create' %}">
          <i class="fas fa-plus"></i>&nbsp;&nbsp;Collector
        </a>
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back
        </a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if sample_formset.errors %}
    {% for form in sample_formset %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in sample_formset.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}


  <form method="POST" autocomplete="off" id="order_create_step_2" novalidate>
    {% csrf_token %}

    <div class="card">
      <div class="card-header">
        Add Samples
      </div>

      <div class="card-body">

        <!-- Order Information -->
        <div class="col-12 top-buffer">

          <!-- Add Samples -->
          <div class="row top-buffer">
            <p>Collection dates and times must be recorded in the system timezone: <b>{{ request.tenant.timezone }}</b></p>
            <div class="col-12 sample-form">
              {{ sample_formset.management_form }}
              {% for sample_form in sample_formset %}
                <div class="form-row sample-formset mb-4">

                  <div class="row mb-3">
                    <div class="col-2">
                      <label class="required_label" for="{{ sample_form.sample_type.name }}">{{ sample_form.sample_type.label }}</label>
                      {{ sample_form.sample_type }}
                    </div>
                    <div class="col-2">
                      <label for="{{ sample_form.draw_type.name }}">{{ sample_form.draw_type.label }}</label>
                      {{ sample_form.draw_type }}
                    </div>
                    <div class="col-2">
                      <label class="required_label" for="{{ sample_form.collection_date.name }}">{{ sample_form.collection_date.label }}</label>
                      {{ sample_form.collection_date }}
                    </div>
                    <div class="col-2">
                      <label>{{ sample_form.collection_time.label }}</label>
                      <input class="form-control timeMask"
                             name="sample-{{ forloop.counter0 }}-collection_time"
                             value="{{ sample_form.collection_time.value|default_if_none:'' }}" id="{{ sample_form.collection_time.auto_id }}">
                    </div>
                    <div class="col-4">
                      <label class="pb-2{% if require_collected_by %} required_label{% endif %}">{{ sample_form.collection_user.label }}&nbsp;</label>
                      {{ sample_form.collection_user }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <label>{{ sample_form.collection_temperature.label }}</label>
                      <div class="row">
                        <div class="col-8">
                          {{ sample_form.collection_temperature }}
                        </div>
                        <div class="col-4 pl-0">
                          {{ sample_form.collection_temperature_unit }}
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <label>{{ sample_form.collection_temperature_is_within_range.label }}</label>
                      {{ sample_form.collection_temperature_is_within_range.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ sample_form.collection_temperature_is_within_range.1 }}
                    </div>
                  </div>

                  <div class="row">

                  </div>
                </div>
              {% endfor %}
              <br><br>
            </div>
          </div>
          <!-- /Add Samples -->
        </div>

      </div>

    </div>

    <hr>
    <button type="submit" class="btn btn-success" id="create-order-button"><i class="far fa-check"></i>&nbsp;&nbsp;Complete Order</button>
  </form>


{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'lib/datetimepicker-2.5.20/build/jquery.datetimepicker.full.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
    // enable loading screen
    $('#create-order-button').click(function(){
      $('#overlay').css('visibility', 'visible');
    });

    // phone number mask
    $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

    $('.middleInitialMask').inputmask({"mask": "A"});
    $('.dateMask').inputmask({"mask": "99-99-9999"});
    $('.npiMask').inputmask({"mask": "9999999999"});
    $('.timeMask').inputmask({
      mask: "h:s t\\m",
      placeholder: "12:00 am",
      alias: "datetime",
      hourFormat: "12"
    });

    $('.sample-formset').formset({
      addText: '<button class="btn btn-primary btn-sm ml-0"><i class="fas fa-plus"></i>&nbsp;&nbsp;Sample</button>',
      deleteText: 'Remove',
      prefix: "{{ sample_formset.prefix }}"
    });

    $('.icd10-formset').formset({
      addText: '+ Code',
      deleteText: 'Remove',
      prefix: "{{ icd10_formset.prefix }}"
    });

    $('#order_create_step_2').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });

    //remove delete button if there is only one sample form
    $('.delete-row').click(function() {
        if($('.fa-times-circle').length === 1) {
            $('.fa-times-circle').addClass('d-none')
        }
    });
    $('.add-row').click(function() {
        $('.fa-times-circle').removeClass('d-none')
    });
  </script>

  <!-- Custom JS -->
  <script src="{% static 'js/order_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
  {{ sample_formset.media }}
{% endblock %}
