{% extends "base.html" %}

{% block css %}
  <style>
    #order-samples {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% if update %}Update{% else %}Create{% endif %} Issue for Order: {{ order.code }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% elif message.tags == 'error' %}
                  <div class="alert alert-danger">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% else %}
                  <div class="alert alert-info">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|safe }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|safe }}</strong>
                </div>
              {% endfor %}
            {% endif %}
            <label>{{ form.issue_type.label }} &nbsp;</label>
            {{ form.issue_type }}<br><br>

            {% comment %}
              {{ form.order }} is just a placeholder so that we can also display the sample autocomplete dropdown
            {% endcomment %}
            <div class="row d-none">
              {{ form.order }}
            </div>

            <div id="order-samples">
              {{ form.samples.label }}
              {{ form.samples }}<br><br>
            </div>

            <p class="mb-0">Description</p>
            {{ form.description }}
            <br>
            {{ form.is_public }}&nbsp;
            <label>{{ form.is_public.label }} &nbsp; </label>
            <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="This issue will be visible to the provider and associated clinic and can be shown on the final report.">
            </i>
          </div>
        </div>

      </div>
    </div>
    {% if update %}
      <button type="submit" class="save btn btn-primary">Update Issue</button>
    {% else %}
      <button type="submit" class="save btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Issue</button>
    {% endif %}

  </form>

{% endblock %}


{% block javascript %}
  <script>
    if($("#id_issue_type").val() == 'test_not_performed') {
      $('#order-samples').show();
    }

    $("#id_issue_type").on('change', function() {
      if ($(this).val() == 'test_not_performed'){
        $('#order-samples').show();
      } else {
        $('#order-samples').hide();
      }
    });

  </script>
  <!-- Custom JS -->
{% endblock %}