{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
  .comment {
    margin: 20px 0px 20px 20px;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Issues for Order: {{ order.code }}</h2>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group">
        {% if user.user_type < 9  %}
          <a href="{% url 'order_issue_create' order.code %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Issue</a></a>
        {% endif %}
      </div>
      <div class="btn-group">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary ml-2">Order Details</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row">

    <div class="col-12">
      <div class="card h-100">
        <div class="card-body provider-table">
          <h5 class="card-title">Unresolved Issues</h5>

          {% if unresolved_order_issues %}
            <table class="table">
              <tr>
                <th>Issue Type</th>
                <th>Creator</th>
                <th>Created Datetime</th>
                <th>Description</th>
                {% if user.user_type < 9 %}
                  <th>Public</th>
                  <th>Update/Resolve</th>
                {% endif %}
              </tr>
              {% for order_issue in unresolved_order_issues %}
                {% if order_issue.is_public or user.user_type < 9 %}
                  <tr>
                    <!-- https://stackoverflow.com/questions/4320679/django-display-choice-value -->
                    <td>{{ order_issue.get_issue_type_display }}</td>
                    <td>{% if order_issue.issue_creator %}{{ order_issue.issue_creator.last_name }}, {{ order_issue.issue_creator.first_name }}{% endif %}</td>
                    <td>{{ order_issue.created_datetime|date:'m-d-Y, h:iA (T)' }}</td>
                    <td>{{ order_issue.description }}</td>
                    {% if user.user_type < 9 %}
                      <td>{{ order_issue.is_public }}</td>
                      <td>
                        <a href="{% url 'order_issue_update' order.code order_issue.uuid %}" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{% url 'order_issue_resolve' order.code order_issue.uuid %}" class="btn btn-success btn-sm resolve-issue"><i class="fas fa-check"></i></a>
                      </td>
                    {% endif %}
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          {% else %}
            <p>No unresolved issues for this order.</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-12">
      <div class="card h-100">
        <div class="card-body provider-table">
          <h5 class="card-title">Resolved Issues</h5>

          {% if resolved_order_issues_data_and_formset %}
            <table class="table">
              <tr>
                <th>Issue Type</th>
                <th>Creator</th>
                <th>Created Datetime</th>
                <th>Description</th>
                <th>Resolver</th>
                <th>Resolved Datetime</th>
                <th>Resolving Comment (Optional)</th>
              </tr>
              {% for order_issue, form in resolved_order_issues_data_and_formset %}
                {% if order_issue.is_public or user.user_type < 9 %}
                  <tr>
                    <!-- https://stackoverflow.com/questions/4320679/django-display-choice-value -->
                    <td>{{ order_issue.get_issue_type_display }}</td>
                    <td>{% if order_issue.issue_creator %}{{ order_issue.issue_creator.last_name }}, {{ order_issue.issue_creator.first_name }}{% endif %}</td>
                    <td>{{ order_issue.created_datetime|date:'m-d-Y, h:iA (T)' }}</td>
                    <td>{{ order_issue.description }}</td>
                    <td>{% if order_issue.issue_resolver %}{{ order_issue.issue_resolver.last_name }}, {{ order_issue.issue_resolver.first_name }}{% endif %}</td>
                    <td>{{ order_issue.resolved_datetime|date:'m-d-Y, h:iA (T)' }}</td>
                    <td>
                        <form action="/orders/{{ order.code }}/issues/{{ order_issue.uuid }}/resolve/" method="post">
                            {% csrf_token %}
                            {{ form.comment }}
                            <button type="submit" class="btn btn-sm btn-primary" name="save_results_button"><i class="far fa-save"></i>&nbsp;&nbsp;Save</button>
                        </form>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          {% else %}
            <p>No resolved issues for this order.</p>
          {% endif %}

        </div>
      </div>
    </div>

  </div>

  {% block javascript %}

  <!-- Custom JS -->
	<script>
    $('.resolve-issue').click(function(e) {
      let result = confirm("Are you sure you want to mark this issue as resolved?");
      if (!result) {
        // prevent page from redirecting via <a href>
        e.preventDefault();
      }
    });
	</script>

  {% endblock %}


{% endblock %}
