{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}


{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom col-12">
    <h2>Add Test to Order: {{ order.code }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="col-12">
              <div class="row d-none ml-2">
                <label>{{ form.order.label }}</label><br>
              </div>
              {% comment %}
                {{ form.order }} is just a placeholder so that we can also display the sample autocomplete dropdown
              {% endcomment %}
              <div class="row d-none">
                {{ form.order }}
              </div>
              <div class="row">
                <label>{{ form.sample.label }}</label><br>
              </div>
              <div class="row">
                {{ form.sample }}
              </div><br>
              <div class="row">
                <label>{{ form.test_type.label }}</label><br>
              </div>
              <div class="row">
                {{ form.test_type }}
              </div><br>
              <div class="row">
                <div class="col-6 pl-0">
                  <label>{{ form.days_incubated.label }}</label><br>
                  {{ form.days_incubated }}
                </div>
              </div><br>
              <div class="row">
                <div class="col-6 pl-0">
                  <label>{{ form.due_date.label }}</label>
                  <input type="text" id="due-date" name="{{ form.due_date.name }}"
                         value="{{ form.due_date.value|default_if_none:'' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Test</button>
  </form>

{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>

    $('.dateMask').inputmask({"mask": "99-99-9999"});
    $(document).ready(function() {
        // Due date
        let dueDate = new Pikaday({
            field: $('#due-date')[0],
            format: 'MM-DD-YYYY',
            maxDate: moment().add(60, 'days'),
            minDate: moment(),
            yearRange: 120,
        });});
  </script>
  <!-- Custom JS -->
  <script src="{% static 'js/order_samples.js' %}" type="text/javascript"></script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}