{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
    .icd10 {
      overflow-x: auto;
    }

    .checkbox-test{
     -webkit-column-count: 4;
     -moz-column-count: 4;
     -o-column-count: 4;
      column-count: 4;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Create Order: Select Tests</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back
        </a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if sample_formset.errors %}
    {% for form in sample_formset %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|safe }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in sample_formset.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-body">

      <form id="order_create_step_1" method="POST" autocomplete="off">
        {% csrf_token %}


        <div class="col-12 top-buffer">

          <div class="row mb-2">
            <div class="col-12 pl-0">
              <h5>Test Profile(s) Selected</h5>
              {% for test_panel in test_panel_types %}
                <li>{{ test_panel }}</li>
              {% endfor %}
            </div>
          </div><hr>

          <div class="row mb-2">
            <h5 class="required_label">Select Tests</h5>
          </div>

          <!-- Test Information -->
          <div class="row">
            <div class="col-12 pl-0">

              {% for test_type_category in test_type_category_list %}
                <div><!-- div necessary for checkbox functionality -->
                  <input type="checkbox" checked> <b>{{ test_type_category.0 }}</b><br>
                  <div class="checkbox-test">
                    {% for test in test_type_category.1 %}
                      <input type="checkbox" name="tests_selected" value="{{ test.id }}" checked> {{ test.name }}<br>
                    {% endfor %}
                  </div><br>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- /Test Information -->
        </div>

        <hr>
        <button type="submit" class="btn btn-primary" name="patient-history"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Next Step: {{ next_step_button_string }}</button>
      </form>

    </div>
  </div>




{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>

    // check all child elements if category is checked
    $("input[type='checkbox']").change(function () {
      $(this).siblings('.checkbox-test')
        .find("input[type='checkbox']")
        .prop('checked', this.checked);
    });

    // check all same values
    $('input:checkbox').on('change', function(){
      //if(this.checked)    // optional, depends on what you want
      $('input[value="' + this.value + '"]:checkbox').prop('checked', this.checked);
    });

    $('#order_create_step_1').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });

    function toggle(source) {
      let query = ":input[name^='" + source.name + "']";
      checkboxes = $(query);
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>

  <!-- Custom JS -->
  <script src="{% static 'js/order_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}