{% load static %}
{% load timezone %}
{% load orders_tags %}
<!DOCTYPE html>
<html>
  <head>
   <title>{{ report_title }}</title>
    <meta charset="utf-8">
    <style>
      @page { size: Letter }
      html {font-family: sans-serif}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script>
        function convertUTCDateToLocalDate(date) {
            var newDate = new Date(date.getTime()+date.getTimezoneOffset()*60*1000);

            var offset = date.getTimezoneOffset();
            var minutes = date.getMinutes();

            newDate.setMinutes(minutes - offset);

            return newDate;
        }

     </script>
    <style>
      /*
      PrinceXML calculates Bootstrap's ".66666667%" grid width literally, resulting in a
      grid that is technically over 100%. Prince then drops the last column to a new row.
      These styles override Bootstrap and set the appropriate grid elements to simply
      end in "...6%".
      */

      .test_type_border {
        border-top: 1px solid #000;
      }


      .col-xs-11 {
          width: 91.66666666%
      }
      .col-xs-8 {
          width: 66.66666666%
      }
      .col-xs-5 {
          width: 41.66666666%
      }
      .col-xs-2 {
          width: 16.66666666%
      }
      .col-xs-pull-11 {
          right: 91.66666666%
      }
      .col-xs-pull-8 {
          right: 66.66666666%
      }
      .col-xs-pull-5 {
          right: 41.66666666%
      }
      .col-xs-pull-2 {
          right: 16.66666666%
      }
      .col-xs-push-11 {
          left: 91.66666666%
      }
      .col-xs-push-8 {
          left: 66.66666666%
      }
      .col-xs-push-5 {
          left: 41.66666666%
      }
      .col-xs-push-2 {
          left: 16.66666666%
      }
      .col-xs-offset-11 {
          margin-left: 91.66666666%
      }
      .col-xs-offset-8 {
          margin-left: 66.66666666%
      }
      .col-xs-offset-5 {
          margin-left: 41.66666666%
      }
      .col-xs-offset-2 {
          margin-left: 16.66666666%
      }
      @media (min-width: 768px) {
          .col-sm-11 {
              width: 91.66666666%
          }
          .col-sm-8 {
              width: 66.66666666%
          }
          .col-sm-5 {
              width: 41.66666666%
          }
          .col-sm-2 {
              width: 16.66666666%
          }
          .col-sm-pull-11 {
              right: 91.66666666%
          }
          .col-sm-pull-8 {
              right: 66.66666666%
          }
          .col-sm-pull-5 {
              right: 41.66666666%
          }
          .col-sm-pull-2 {
              right: 16.66666666%
          }
          .col-sm-push-11 {
              left: 91.66666666%
          }
          .col-sm-push-8 {
              left: 66.66666666%
          }
          .col-sm-push-5 {
              left: 41.66666666%
          }
          .col-sm-push-2 {
              left: 16.66666666%
          }
          .col-sm-offset-11 {
              margin-left: 91.66666666%
          }
          .col-sm-offset-8 {
              margin-left: 66.66666666%
          }
          .col-sm-offset-5 {
              margin-left: 41.66666666%
          }
          .col-sm-offset-2 {
              margin-left: 16.66666666%
          }
      }
      @media (min-width: 992px) {
          .col-md-11 {
              width: 91.66666666%
          }
          .col-md-8 {
              width: 66.66666666%
          }
          .col-md-5 {
              width: 41.66666666%
          }
          .col-md-2 {
              width: 16.66666666%
          }
          .col-md-pull-11 {
              right: 91.66666666%
          }
          .col-md-pull-8 {
              right: 66.66666666%
          }
          .col-md-pull-5 {
              right: 41.66666666%
          }
          .col-md-pull-2 {
              right: 16.66666666%
          }
          .col-md-push-11 {
              left: 91.66666666%
          }
          .col-md-push-8 {
              left: 66.66666666%
          }
          .col-md-push-5 {
              left: 41.66666666%
          }
          .col-md-push-2 {
              left: 16.66666666%
          }
          .col-md-offset-11 {
              margin-left: 91.66666666%
          }
          .col-md-offset-8 {
              margin-left: 66.66666666%
          }
          .col-md-offset-5 {
              margin-left: 41.66666666%
          }
          .col-md-offset-2 {
              margin-left: 16.66666666%
          }
      }
      @media (min-width: 1200px) {
          .col-lg-11 {
              width: 91.66666666%
          }
          .col-lg-8 {
              width: 66.66666666%
          }
          .col-lg-5 {
              width: 41.66666666%
          }
          .col-lg-2 {
              width: 16.66666666%
          }
          .col-lg-pull-11 {
              right: 91.66666666%
          }
          .col-lg-pull-8 {
              right: 66.66666666%
          }
          .col-lg-pull-5 {
              right: 41.66666666%
          }
          .col-lg-pull-2 {
              right: 16.66666666%
          }
          .col-lg-push-11 {
              left: 91.66666666%
          }
          .col-lg-push-8 {
              left: 66.66666666%
          }
          .col-lg-push-5 {
              left: 41.66666666%
          }
          .col-lg-push-2 {
              left: 16.66666666%
          }
          .col-lg-offset-11 {
              margin-left: 91.66666666%
          }
          .col-lg-offset-8 {
              margin-left: 66.66666666%
          }
          .col-lg-offset-5 {
              margin-left: 41.66666666%
          }
          .col-lg-offset-2 {
              margin-left: 16.66666666%
          }
      }
    </style>
    <style type="text/css">
        /*resets from YUI*/
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
        table {border-collapse:collapse; border-spacing:0;}
        fieldset,img {border:0;}
        address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
        ol,ul {list-style:none;}
        caption,th {text-align:left;}
        h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
        q:before,q:after {content:;}
        abbr,acronym { border:0;}

        /* setup the page */
        @page {
          margin-top: 120px; /* header height */
          margin-bottom: 70px; /* footer height */
          margin-right: 0px;
          margin-left: 0px;
          background: #ffffff;
          #watermark {
            color: #d0d0d0;
            font-size: 200pt;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            z-index: -1;
            left:-100px;
            top:-200px;
          }

          {##watermark p {#}
          {#  position: absolute;#}
          {#  top: 0;#}
          {#  left: 0;#}
          {#  color: #fff;#}
          {#  font-size: 100px;#}
          {#  pointer-events: none;#}
          {#  -webkit-transform: rotate(-45deg);#}
          {#  -moz-transform: rotate(-45deg);#}
          {#  transform: rotate(-45deg);#}
          {#}#}
        }

        #watermark {
            font-size: 200pt;
            position: absolute;
            width: 100%;
            height: 100%;
            margin-left:  20px;
            -ms-transform: rotate(20deg); /* IE 9 */
            -webkit-transform: rotate(-45deg); /* Safari prior 9.0 */
            transform: rotate(-45deg);
            margin-top: 200px;
            z-index: -1;
          }

        #watermark-text {
          color: #C0C0C0;
        }

        .page_number {
          content: "Page " counter(page) " of " counter(pages) ;
          text-align: right;
          color: black;
          font-size: 0.7em;
          margin-bottom: 0px;
        }


        .time_stamp {
          color: black;
          text-align: right;
          font-size: 0.7em;
          margin-top: 0px;
        }


        /* setup the footer */
        @page {
          @top {
            content: flow(header_html);
          }

          @bottom {
            content: flow(footer_html);
            }
        }
        #footer {
          flow: static(footer_html);
          color: black;
        }

        /* Set up the header */
        #header {
          flow: static(header_html);
          color: black;
        }

        #header {
          width: 100%;
          margin: 0px 50px 50px 50px;
        }

        #header_img { align:left; position: absolute; top: 50px; left: 40px; z-index: -2;}

        #tenant_name {color: black; font-size: 1.3em; text-align: center; top: 150px; margin-top: 2em; margin-left: 4em; }

        #header_text { font-size: .6em; text-align: right; margin-top: 4em; letter-spacing: 0.15em; }

        #header_text span.black { font-size: 1em; margin: 0 0.75em; }

        /*
        html{border-top: 10px solid #4494ff;} */
        /* some useful defaults */
        th, td, caption { padding: 4px 10px 4px 5px; }

        /* useful utility */
        .clear { clear:both; }

        /* layout */
        #container { font-family: 'Source Sans Pro', sans-serif; font-size: 14pt; color: #a7a7a7; position: relative; }


        /* footer shenanigans! */
        #footer { text-align: center; }

        /* hack around the way prince handles the footer */
        #footer #contain #footer_patient_details {
          display: inline-block;
          width: 700px;
          height: 50px;
          color: black;
        }

        #footer #footer_patient_details {
          font-size: 0.9em;
          margin-top: 0px;
          padding-top: 0px;
        }
        /* end hack */

        #contain { text-align: center; color: #FFFFFF; }

        /* colors */
        .black { color: black }

        /* styling */


        #main { margin: 0 20px; }




        #client { font-size: 0.75em; margin-top: 3em; margin-left: 0.5em;}

        #client_header { font-size: 0.5em; }

        #footer_patient_details { text-align: left; }
        #footer { font-size: 0.8em; }

        .sep_order_info, .sep_meds {
          height: 1px;
          border: none;
          background-color: black;
          margin: 5px 0px 5px 0px;
        }

        #order_info .order_info_header {
          font-size: 10pt;
          color: black;
          font-weight: 900;
          letter-spacing: 0.1em;
        }

        #order_info .order_info_label {
          font-size: 10pt;
          color: black;
        }

        #order_info {
          margin-top: 5px;
        }

        .page_break {
          page-break-after: always;
        }
        .test_method, .validity_tests, .historical_report {
          margin-top: 0.8em;
          color: black;
        }

        .medications, .validity_tests_summary {
          font-size: 10pt;
          color: black;
          margin: 0px 0px 0px 0px;
        }

        .historical_report {
          margin: 0px 0px 0px 0px;
          color: black;
        }

        .page-break {
          border: none;
          margin: 0;
          page-break-after: always;
        }

        .separator_detailed_results {
          border: none;
          margin: 0;
          /* page-break-before: always; */
        }

        .separator_detailed_results_page_break {
          page-break-before: always;
        }

        .drug_category {
            font-weight: bold;
        }

        .category_border {
            border-top: 1px solid black;
        }

        .detailed_results_header {
          font-weight: bold;
          font-size: 0.9em;
          color: black;
        }

        .test_method {
          font-size: 0.9em;
          font-weight: bold;
        }

        .report_status {
          font-size: 0.8em;
          font-weight: bold;
          color: black;
          margin: 0px 0px 0px 2px;
        }

        .test_panel_comments {
          font-size: 10pt;
          color: black;
        }

        /* tables */
        /* summary table */
        .result_summary_table {
          font-size: 0.6em;
          border-width: 1px;
          border-spacing: 0px;
          border-style: none;
          border-color: gray;
          width: 100%;
        }

        .result_summary_table th { font-size: 0.8em; !important; border-style: none !important; }

        .result_summary_table th, td {
          border-width: 1px;
          padding: 3px 5px;
          border-top-style: none;
          border-bottom-style: none;
          border-left-style: none;
          border-right-style: none;
          border-color: gray;
          background-color: white;
        }

        .result_summary_table, .result_summary_table_header {
          border-bottom: 1px solid black;
        }

        .result_summary_table {
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          border-right: 1px solid black;
          border-top: 1px solid black;
        }

        .result_summary_table td.first {
          font-weight: bold;
        }

        .result_summary_table tr.first td { padding-top: 10px; padding-bottom: 10px; }

        .result_summary_table thead .analyte { width: 20%; padding-top: 10px; font-weight: bold; font-size: 1.2em; color: black;}
        .result_summary_table thead .results { width: 20%; font-weight: bold; font-size: 1.2em; color: black;}
        .result_summary_table td {font-size: 10pt; color: black; }
        /* summary table END */

        /* historical results table */
        .historical_result_table {
          font-size: 0.6em;
          border-width: 1px;
          border-spacing: 0px;
          border-style: none;
          border-color: gray;
          width: 100%;
        }

        .historical_result_table th { font-size: 0.7em; !important; text-align: center; }

        .historical_result_table th, td {
          border-width: 1px;
          padding: 3px 5px;
          border-top-style: none;
          border-bottom-style: none;
          border-left-style: none;
          border-color: gray;
          background-color: white;
        }

        .historical_result_table tr.first td { padding-top: 10px; padding-bottom: 10px; }

        .historical_result_table thead .analyte {  padding-top: 10px; font-weight: bold; font-size: 1.2em; color: black;}
        .historical_result_table thead .results {  font-weight: bold; font-size: 1.2em; color: black;}
        .historical_result_table td {font-size: 1em;; color: black; }
        .historical_result_table td {
          padding-bottom: 0px;
          border-bottom: 0px;
        }

        .historical_result_table, .historical_result_table_header {
          border-bottom: 1px solid black;
        }

        .historical_result_table {
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          border-right: 1px solid black;
          border-top: 1px solid black;
        }

        .historical_result_table td.first {
          font-weight: bold;
        }

        .historical_results_table_data {
          border-right: 1px solid black;
        }
        /* historical results table END */


        /* detailed results table */
        .detailed_results_table thead .analyte { width: 30%; padding-top: 5px; font-weight: bold; font-size: 0.8em; color: black;}
        .detailed_results_table thead .results { width: 20%; font-weight: bold; font-size: 0.8em; color: black;}
        .detailed_results_table tr .drug_category { color: black; font-size: 0.7em; }
        .detailed_results_table {
          border-collapse: collapse;
          padding-bottom: 0px;
          padding-top: 0px;
          width: 100%;
        }

        .detailed_results_table th, td {
          padding-bottom: 0px;
          border-bottom: 0px;
        }

        .detailed_results {
          font-size: 0.6em;
        }
        /* detailed results table END */

        /* specimen validity table */
        .validity_tests_summary {
          padding-top: 0.8em;
          font-size: 0.9em;
          color: black;
          width: 100%;
          font-weight: bold;
        }
        .specimen_validity_table thead .analyte { width: 30%; padding-top: 4px; font-weight: bold; font-size: 0.8em; color: black;}
        .specimen_validity_table thead .results { width: 30%; font-weight: bold; font-size: 0.8em; color: black;}
        .specimen_validity_table {
          border-collapse: collapse;
          padding-bottom: 0px;
          padding-top: 1px;
          width: 100%;
        }

        .specimen_validity_table th, td {
          padding-bottom: 0px;
          border-bottom: 0px;
          font-size: 0.8em;
        }

        .specimen_validity_table th { border-bottom: 1px solid black; }

        .specimen_validity_results {
          font-weight: normal;

        }

        .specimen_validity_values {
          text-align: center;
        }

        .specimen_validity_table th:last-child { text-align: right; }
        .specimen_validity_table td:last-child { text-align: right; }
        /* specimen validity table END */

        .medications_header {
          font-weight: bold;
        }

        .end_of_report {
          text-align: center;
          font-weight: bold;
          color: black;
        }

        table.historical_result_table > th {
          border: 1px solid black;
        }

        .info {
          font-size: 0.7em;
          font-weight: normal;
        }

        .patient_notes {
          font-weight: normal;
          font-size: 0.8em;
        }

        .disclaimer {
          bottom: 0%;
          color: black;
          font-size: 10px;
          position: fixed;
          margin: 0;
          padding: 0;
          text-align: center;
          width: 95%;
        }

        .remarks {
          display: block;
          {#white-space: pre-wrap;#}
        }

        .test_method, .historical_report, .result_summary_table{
          opacity: 0.8;
        }

      </style>
    {% block css %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
    {% block javascript %}

    {% endblock %}
  </body>
</html>