{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Patient Note for Order: {{ order.code }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="POST" class="post-form">{% csrf_token %}
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success">
                <strong>{{ message|escape }}</strong>
              </div>
            {% elif message.tags == 'error' %}
              <div class="alert alert-danger">
                <strong>{{ message|escape }}</strong>
              </div>
            {% else %}
              <div class="alert alert-info">
                <strong>{{ message|escape }}</strong>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        {{ form.notes }}
        <br>
        <button type="submit" class="save btn btn-primary">Save Note</button>
      </form>
    </div>
  </div>

{% endblock %}