{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
    .icd10 {
      overflow-x: auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Create Order</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back
        </a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if sample_formset.errors %}
    {% for form in sample_formset %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in sample_formset.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-body">

      <form id="order_create_step_1" method="POST" autocomplete="off">
        {% csrf_token %}

        <!-- Select Account -->
        <div class="col-12 top-buffer{% if request.user.user_type == 9 %} d-none{% endif %}">

          <div class="row">
            <h5 class="required_label">Select Account</h5>
          </div>

          <div class="row">
            {{ form.account_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.account_type.1 }}
          </div>

          <!-- existing account -->
          <div class="row mt-4 existing-account">
            <div class="col-6">
              <div class="row pl-0">
                <label>{{ form.account.label }} &nbsp;</label>
                {{ form.account }}
              </div>
            </div>
          </div>

          <!-- new account -->
          <div class="row new-account">
            <div class="col-12">
              <div class="row">
                <label class="required_label">{{ form.account_name.label }}</label>
                <input type="text" name="{{ form.account_name.name }}" value="{{ form.account_name.value|default_if_none:'' }}" class="form-control">
              </div>
              <div class="row">
                <label>{{ form.account_alternate_id.label }}</label>
                <input type="text" name="{{ form.account_alternate_id.name }}" value="{{ form.account_alternate_id.value|default_if_none:'' }}" class="form-control">
              </div>
              <div class="row">
                <label class="required_label">{{ form.account_address1.label }}</label>
                <input id="account-address" name="{{ form.account_address1.name }}" placeholder="" value="{{ form.account_address1.value|default_if_none:'' }}" class="form-control">
                <div class="col-6 pl-0">
                  <input type="text" name="{{ form.account_address2.name }}" value="{{ form.account_address2.value|default_if_none:'' }}" placeholder="Suite, Apartment, etc. (optional)" class="form-control mt-1">
                </div>
                <div class="col-6">
                  <input type="text" name="{{ form.account_zip_code.name }}" value="{{ form.account_zip_code.value|default_if_none:'' }}" placeholder="Zip Code" class="form-control mt-1" id="account-zip-code">
                </div>

              </div>
              <div class="row">
                <div class="col-6 pl-0">
                  <label>{{ form.account_phone.label }}</label>
                  <input type="text" name="{{ form.account_phone.name }}" value="{{ form.account_phone.value|default_if_none:'' }}" class="form-control phoneNumberMask">
                </div>
                <div class="col-6">
                  <label>{{ form.account_fax.label }}</label>
                  <input type="text" name="{{ form.account_fax.name }}" value="{{ form.account_fax.value|default_if_none:'' }}" class="form-control phoneNumberMask">
                </div>
              </div>
              <div class="row">
                <label>{{ form.account_email.label }}</label>
                <input type="text" name="{{ form.account_email.name }}" value="{{ form.account_email.value|default_if_none:'' }}" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <!-- /Select Account -->

        {% if request.user.user_type < 9 or request.user.user_type == 11 %}
        <hr>
        {% endif %}

        <!-- Select Provider -->
        {% if request.user.user_type != 10 %}
        <div class="col-12 top-buffer">
        {% else %}
        <div class="col-12 top-buffer d-none">
        {% endif %}

          <div class="row">
            <h5 class="required_label">Select Provider</h5>
          </div>

          <div class="row">
            {{ form.provider_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.provider_type.1 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.provider_type.2 }}
          </div>

          <!-- existing provider -->
          <div class="row mt-4 existing-provider">
            <div class="col-6">
              <div class="row pl-0">
                <label>{{ form.provider.label }}&nbsp;</label>
                {{ form.provider }}
              </div>
            </div>
          </div>

          <div class="row new-provider">
            <div class="col-12">
              <div class="row">
                <div class="col-6 pl-0">
                  <label class="required_label">{{ form.provider_first_name.label }}</label>
                  <input type="text" name="{{ form.provider_first_name.name }}" value="{{ form.provider_first_name.value|default_if_none:'' }}" class="form-control">
                </div>
                <div class="col-6">
                  <label class="required_label">{{ form.provider_last_name.label }}</label>
                  <input type="text" name="{{ form.provider_last_name.name }}" value="{{ form.provider_last_name.value|default_if_none:'' }}" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-6 pl-0">
                  <label>{{ form.provider_suffix.label }}</label>
                  <input type="text" name="{{ form.provider_suffix.name }}" value="{{ form.provider_suffix.value|default_if_none:'' }}" class="form-control">
                </div>
                <div class="col-6">
                  <label>{{ form.provider_title.label }}</label>
                  <input type="text" name="{{ form.provider_title.name }}" value="{{ form.provider_title.value|default_if_none:'' }}" class="form-control">
                </div>
              </div>
              <div class="row">
                <label>{{ form.provider_email.label }}</label>
                <input type="text" name="{{ form.provider_email.name }}" value="{{ form.provider_email.value|default_if_none:'' }}" class="form-control">
              </div>

              <div class="row mt-2">
                {{ form.provider_country.label }}
              </div>
              <div class="row">
                {{ form.provider_country.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.provider_country.1 }}
              </div>
              <div class="row provider-us mt-2">
                <label class="required_label">{{ form.provider_npi.label }}</label>
                <input type="text" name="{{ form.provider_npi.name }}" value="{{ form.provider_npi.value|default_if_none:'' }}"
                       class="form-control npiMask">
              </div>
              <div class="row provider-other">
                <label>{{ form.provider_id_num.label }}</label>
                <input type="text" name="{{ form.provider_id_num.name }}" value="{{ form.provider_id_num.value|default_if_none:'' }}"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- /Select Provider -->

        <!-- Select Patient -->
        <div class="col-12 top-buffer">

          <div class="row">
            <h5 class="required_label">Select Patient</h5>
          </div>

          <div class="row">
            {{ form.patient_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.patient_type.1 }}
          </div>

          <!-- existing patient -->
          <div class="row mt-4 existing-patient">
            <div class="col-6">
              <div class="row pl-0">
                <label>{{ form.patient.label }}&nbsp;</label>
                {{ form.patient }}
              </div>
            </div>
          </div>

          <!-- new patient -->
          <div class="row new-patient">
            <div class="col-12">
              <div class="row">
                <div class="col-10 pl-0 pt-2">
                  <label class="required_label">{{ form.patient_first_name.label }}</label>
                  <input type="text" name="{{ form.patient_first_name.name }}" value="{{ form.patient_first_name.value|default_if_none:'' }}" class="form-control">
                </div>
                <div class="col-2 pl-0">
                  <label>{{ form.patient_middle_initial.label }}</label>
                  <input type="text" name="{{ form.patient_middle_initial.name }}"
                         value="{{ form.patient_middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
                </div>
              </div>
              <div class="row">
                <div class="col-10 pl-0">
                  <label class="required_label">{{ form.patient_last_name.label }}</label>
                  <input type="text" name="{{ form.patient_last_name.name }}" value="{{ form.patient_last_name.value|default_if_none:'' }}" class="form-control">
                </div>
                <div class="col-2 pl-0">
                  <label>{{ form.patient_suffix.label }}</label>
                  <input type="text" name="{{ form.patient_suffix.name }}" value="{{ form.patient_suffix.value|default_if_none:'' }}" class="form-control">
                </div>
              </div>
              <div class="row">
                <label>{{ form.patient_address1.label }}</label>
                <input type="text" id="patient-address" name="{{ form.patient_address1.name }}" value="{{ form.patient_address1.value|default_if_none:'' }}" placeholder="" class="form-control">

                <div class="col-6 pl-0">
                  <input type="text" name="{{ form.patient_address2.name }}" value="{{ form.patient_address2.value|default_if_none:'' }}" placeholder="Suite, Apartment, etc. (optional)" class="form-control mt-1">
                </div>
                <div class="col-6">
                  <input type="text" name="{{ form.patient_zip_code.name }}" value="{{ form.patient_zip_code.value|default_if_none:'' }}" placeholder="Zip Code" class="form-control mt-1" id="patient-zip-code">
                </div>
              </div>
              <div class="row">
                <div class="col-6 pl-0">
                  <label class="required_label">{{ form.patient_birth_date.label }}</label>
                  <input type="text" id="patient-birth-date" name="{{ form.patient_birth_date.name }}"
                         value="{{ form.patient_birth_date.value|default_if_none:'' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
                </div>
                <div class="col-6">
                  <label class="required_label">{{ form.patient_sex.label }}</label>
                  {{ form.patient_sex }}
                </div>
              </div>
              <div class="row">
                <div class="col-6 pl-0">
                  <label>{{ form.patient_ethnicity.label }}</label>
                  {{ form.patient_ethnicity }}
                </div>
              </div>
              <div class="row">
                <div class="col-6 pl-0">
                  <label>{{ form.patient_phone.label }}</label>
                  <input type="text" name="{{ form.patient_phone.name }}" value="{{ form.patient_phone.value|default_if_none:'' }}" class="form-control phoneNumberMask">
                </div>
                <div class="col-6">
                  <label>{{ form.patient_email.label }}</label>
                  <input type="text" name="{{ form.patient_email.name }}" value="{{ form.patient_email.value|default_if_none:'' }}" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-12 pl-0">
                  <label>{{ form.patient_social_security_number.label }}</label>
                  <input type="text" name="{{ form.patient_social_security_number.name }}" value="{{ form.patient_social_security_number.value|default_if_none:'' }}" class="form-control ssnMask">
                </div>
              </div>
            </div>
          </div>

        </div>
        <hr>
        <!-- /Select Patient -->

        <div class="col-12 top-buffer">
          <div class="row">
            <h5 {% if require_icd10 %}class="required_label"{% endif %}>
              Add ICD-10 Codes
            </h5>&nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Multiple ICD-10 codes can be selected by searching
                 the keyword and clicking on the appropriate ones.">
            </i>
          </div>
          <!-- ICD10 codes -->
          <div class="row mt-4">
            <div class="col-6">
              <div class="row pl-0">
                <label>{{ form.icd10_codes.label }}&nbsp;&nbsp;</label>
                {{ form.icd10_codes }}
              </div>
            </div>
          </div>
        </div>
        <hr>

        {% if request.tenant.settings|safe_lookup:'show_research_consent' == True or request.tenant.settings|safe_lookup:'show_patient_result_request' == True %}
        <div class="col-12 top-buffer">
          <div class="row mb-2">
            <h5>Other Fields</h5>
          </div>
          {% if request.tenant.settings|safe_lookup:'show_research_consent' == True %}
          <div class="row top-buffer">
            <label class="ml-1">
              {{ form.research_consent }}
              {{ form.research_consent.label }}
            </label>
          </div>
          {% endif %}
          {% if request.tenant.settings|safe_lookup:'show_patient_result_request' == True %}
          <div class="row">
            <label class="ml-1">
              {{ form.patient_result_request }}
              {{ form.patient_result_request.label }}
            </label>
          </div>
          {% endif %}
        </div>
        <hr>
        {% endif %}

        <button type="submit" class="btn btn-primary"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Next Step: {{ next_step_button_string }}</button>
      </form>

    </div>
  </div>




{% endblock %}

{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script>
    // phone number mask
    $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

    $('.middleInitialMask').inputmask({"mask": "A"});
    $('.dateMask').inputmask({"mask": "99-99-9999"});
    $('.npiMask').inputmask({"mask": "9999999999"});
    $('.ssnMask').inputmask({"mask": "999-99-9999"});

    $('.sample-formset').formset({
      addText: 'Add sample',
      deleteText: 'Remove',
      prefix: "{{ sample_formset.prefix }}"
    });

    $('.icd10-formset').formset({
      addText: 'Add code',
      deleteText: 'Remove',
      prefix: "{{ icd10_formset.prefix }}"
    });

    $('.barcode').keydown(function (event) {
    // check for hyphen
    if (event.which === 189) {
        event.preventDefault();
        $(this).parent().parent().next().find('.barcode').focus();
    }
    });

    $('#order_create_step_1').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });
  </script>

  <!-- Custom JS -->
  <script src="{% static 'js/order_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
