<tr>
  <td>{{ sample.code }}</td>
  <td>{{ sample.type }}</td>
  <td>{{ sample.collection_date|date:'m-d-Y, h:iA (T)' }}</td>
  <td><button type='button' class='btn-danger btn-delete-row'>Archive</button></td>
</tr>