{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ result_formset.management_form }}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pl-0 ml-0 pb-2 mb-3 border-bottom">
    <!-- Title -->
    <h2>Pending {{ test_method.name }} Results (Showing {{ shown_result_count }}/{{ pending_test_count }} Tests)</h2>
    <!-- /Title -->
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'workqueue_tests' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Tests: Work Queue</a>
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-12">

      <div class="card h-100">
        <div class="card-body">

          <!-- Result table -->
          <table class="table table-sm">
            <thead>
              <th style="width: 25%">Test</th>
              <th style="width: 15%">Order Code</th>
              <th style="width: 15%">Accession Number</th>
              <th style="width: 15%">Sample</th>
              <th style="width: 9%">Collection Date</th>
              <th style="width: 9%">Due Date</th>
              <th style="width: 9%">Result</th>
              <th></th>
              {% if test_method.cutoff_field %}
                {% if test_method.name == 'IFA' %}
                  <th>{{ test_method.cutoff_field }}</th>
                  <th style="width: 9%"></th>
                {% else %}
                  <th style="width: 9%">{{ test_method.cutoff_field }}</th>
                {% endif %}
              {% endif %}
              <th style="width: 9%">Reference</th>
              <th></th>
            </thead>
            <tbody>
              {% for data, result_form in data_and_formset %}
                <tr>
                  <td>{{ data.result_obj.test.test_type.name }}</td>
                  <td><a href="{% url 'order_details' data.result_obj.test.order.code %}">{{ data.result_obj.test.order.code }}</a></td>
                  <td>{{ data.result_obj.test.order.accession_number|default_if_none:"" }}</td>
                  <td>{{ data.result_obj.test.sample.code }}</td>
                  <td>{{ data.result_obj.test.sample.collection_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</td>
                  <td>{{ data.result_obj.test.due_date|date:'m-d-Y' }}</td>
                  <td class="d-none"></td>
                  <!-- Result -->
                  {% if data.result_obj.test.test_type.offsite_laboratory %}
                    <td>Results pending from {{ data.result_obj.test.test_type.offsite_laboratory.name }}</td>
                    <td></td>
                  {% else %}
                    {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                      <td>{{ result_form.result }}</td>
                      <td></td>
                    {% else %}
                      <td>{{ result_form.result_quantitative }}</td>
                      <td>{{ data.result_obj.test.test_type.reference_unit }}</td>
                    {% endif %}
                  {% endif %}
                  <!-- /Result -->
                  {% if test_method.cutoff_field %}
                    {% if test_method.name == 'IFA' %}
                      <td>{{ result_form.result_label_prefix }}</td>
                    {% endif %}
                    <td>{{ result_form.result_label }}</td>
                  {% endif %}
                  <!-- Reference -->
                  {% if data.result_obj.test.test_type.result_type == 'Qualitative' %}
                    <td>{{ result_form.reference }}</td>
                    <td></td>
                  {% else %}
                    <td></td>
                    <td></td>
                  {% endif %}
                  <!-- /Reference -->
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- /Result table -->

        </div>

      </div>

    </div>
  </div><hr>

  <button type="submit" class="btn btn-primary">Save Results</button>
</form>
{% endblock %}

{% block javascript %}
{% endblock %}