{% load staticfiles %}
{% load orders_tags %}
<!DOCTYPE html>
<html>
  <head>
   <title>{{ report_title }}</title>
    <meta charset="utf-8">
    <style>
      @page { size: A4 landscape }
      html {font-family: sans-serif}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <style>
      /*
      PrinceXML calculates Bootstrap's ".66666667%" grid width literally, resulting in a
      grid that is technically over 100%. Prince then drops the last column to a new row.
      These styles override Bootstrap and set the appropriate grid elements to simply
      end in "...6%".
      */
      .col-xs-11 {
          width: 91.66666666%
      }
      .col-xs-8 {
          width: 66.66666666%
      }
      .col-xs-5 {
          width: 41.66666666%
      }
      .col-xs-2 {
          width: 16.66666666%
      }
      .col-xs-pull-11 {
          right: 91.66666666%
      }
      .col-xs-pull-8 {
          right: 66.66666666%
      }
      .col-xs-pull-5 {
          right: 41.66666666%
      }
      .col-xs-pull-2 {
          right: 16.66666666%
      }
      .col-xs-push-11 {
          left: 91.66666666%
      }
      .col-xs-push-8 {
          left: 66.66666666%
      }
      .col-xs-push-5 {
          left: 41.66666666%
      }
      .col-xs-push-2 {
          left: 16.66666666%
      }
      .col-xs-offset-11 {
          margin-left: 91.66666666%
      }
      .col-xs-offset-8 {
          margin-left: 66.66666666%
      }
      .col-xs-offset-5 {
          margin-left: 41.66666666%
      }
      .col-xs-offset-2 {
          margin-left: 16.66666666%
      }
      @media (min-width: 768px) {
          .col-sm-11 {
              width: 91.66666666%
          }
          .col-sm-8 {
              width: 66.66666666%
          }
          .col-sm-5 {
              width: 41.66666666%
          }
          .col-sm-2 {
              width: 16.66666666%
          }
          .col-sm-pull-11 {
              right: 91.66666666%
          }
          .col-sm-pull-8 {
              right: 66.66666666%
          }
          .col-sm-pull-5 {
              right: 41.66666666%
          }
          .col-sm-pull-2 {
              right: 16.66666666%
          }
          .col-sm-push-11 {
              left: 91.66666666%
          }
          .col-sm-push-8 {
              left: 66.66666666%
          }
          .col-sm-push-5 {
              left: 41.66666666%
          }
          .col-sm-push-2 {
              left: 16.66666666%
          }
          .col-sm-offset-11 {
              margin-left: 91.66666666%
          }
          .col-sm-offset-8 {
              margin-left: 66.66666666%
          }
          .col-sm-offset-5 {
              margin-left: 41.66666666%
          }
          .col-sm-offset-2 {
              margin-left: 16.66666666%
          }
      }
      @media (min-width: 992px) {
          .col-md-11 {
              width: 91.66666666%
          }
          .col-md-8 {
              width: 66.66666666%
          }
          .col-md-5 {
              width: 41.66666666%
          }
          .col-md-2 {
              width: 16.66666666%
          }
          .col-md-pull-11 {
              right: 91.66666666%
          }
          .col-md-pull-8 {
              right: 66.66666666%
          }
          .col-md-pull-5 {
              right: 41.66666666%
          }
          .col-md-pull-2 {
              right: 16.66666666%
          }
          .col-md-push-11 {
              left: 91.66666666%
          }
          .col-md-push-8 {
              left: 66.66666666%
          }
          .col-md-push-5 {
              left: 41.66666666%
          }
          .col-md-push-2 {
              left: 16.66666666%
          }
          .col-md-offset-11 {
              margin-left: 91.66666666%
          }
          .col-md-offset-8 {
              margin-left: 66.66666666%
          }
          .col-md-offset-5 {
              margin-left: 41.66666666%
          }
          .col-md-offset-2 {
              margin-left: 16.66666666%
          }
      }
      @media (min-width: 1200px) {
          .col-lg-11 {
              width: 91.66666666%
          }
          .col-lg-8 {
              width: 66.66666666%
          }
          .col-lg-5 {
              width: 41.66666666%
          }
          .col-lg-2 {
              width: 16.66666666%
          }
          .col-lg-pull-11 {
              right: 91.66666666%
          }
          .col-lg-pull-8 {
              right: 66.66666666%
          }
          .col-lg-pull-5 {
              right: 41.66666666%
          }
          .col-lg-pull-2 {
              right: 16.66666666%
          }
          .col-lg-push-11 {
              left: 91.66666666%
          }
          .col-lg-push-8 {
              left: 66.66666666%
          }
          .col-lg-push-5 {
              left: 41.66666666%
          }
          .col-lg-push-2 {
              left: 16.66666666%
          }
          .col-lg-offset-11 {
              margin-left: 91.66666666%
          }
          .col-lg-offset-8 {
              margin-left: 66.66666666%
          }
          .col-lg-offset-5 {
              margin-left: 41.66666666%
          }
          .col-lg-offset-2 {
              margin-left: 16.66666666%
          }
      }
    </style>
    <style type="text/css">
        /*resets from YUI*/
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
        table {border-collapse:collapse; border-spacing:0;}
        fieldset,img {border:0;}
        address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
        ol,ul {list-style:none;}
        caption,th {text-align:left;}
        h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
        q:before,q:after {content:;}
        abbr,acronym { border:0;}

        /* setup the page */
        @page { margin: 0px; background: #ffffff; }
        /* setup the footer */
        @page { @bottom { content: flow(foot); } }
        #footer { flow: static(foot); }

        html{border-top: 10px solid #4494ff;}
        /* some useful defaults */
        th, td, caption { padding: 4px 10px 4px 5px; }

        /* useful utility */
        .clear { clear:both; }

        /* layout */
        #container { font-family: 'Source Sans Pro', sans-serif; font-size: 14pt; color: #a7a7a7; position: relative; }

        #logo{ position: absolute; top: 55px; left: 150px; z-index: -2; color: black; font-size: 1.4em;}

        /* footer shenanigans! */
        #footer { text-align: center; display: block; background: #376f9f;}

        /* hack around the way prince handles the footer */
        #footer #contain { display: inline-block; width: 700px; height: 50px; color: white;}
        /* end hack */

        /* colors */
        .black { color: black }

        /* stylin */
        #header_img { align:left; position: absolute; top: 35px; left: 40px; z-index: -2;}

        #main { margin: 0 30px; }

        #header { font-size: .6em; text-align: right; margin-top: 4em; letter-spacing: 0.15em; }

        #header span.black { font-size: 1em; margin: 0 0.75em; }

        #report_name { margin-top: 1em; text-align: left; font-weight: bold; font-size: 1.3 em }

        #client { font-size: 0.75em; margin-top: 3em; margin-left: 0.5em;}

        #client_header { font-size: 0.5em; }

        #result_table {
          margin-top: 2em;
          font-size: 0.6em;
          border-width: 1px;
          border-spacing: 0px;
          border-style: none;
          border-color: gray;
          width: 100%;
        }

        #result_table th { font-size: 0.8em; padding: 10px !important; border-style: none !important; }

        #result_table th, td {
          border-width: 1px;
          padding: 3px 5px;
          border-top-style: none;
          border-bottom-style: none;
          border-left-style: none;
          border-right-style: none;
          border-color: gray;
          background-color: white;
        }

        #result_table tr.first td { padding-top: 10px; padding-bottom: 10px; }

        #result_table td.price { text-align: left; }
        #result_table .price_container { float: left; min-width: 30%; }

        #result_table thead .title { width: 20%; }
        #result_table thead .description { width: 60%; font-weight: bold; font-size: 1.2em; color: black;}
        #result_table thead .price { width: 20%; font-weight: bold; font-size: 1.2em; color: black;}
        #footer #contain { text-align: center; font-size: 0.8em; }
        #total_price { text-align: right; margin-right: 6.75em; margin-top: 0.5em; }
        #total_price h2 { color: black; font-size: 0.6em; font-weight: bold; }
        #total_price .price { margin-left: 0.75em; }

        #layout_table tr td { font-size: .6em;}

        hr {
          height: 5px;
          border: none;
          background-color: black;
        }

        #order_info .order_info_header {
          font-size: 10pt;
          color: black;
          font-weight: 900;
          letter-spacing: 0.1em;
        }
        #order_info .order_info_label {
          font-size: 10pt;
          color: black;
        }

        .page_break {
          page-break-after: always;
        }
      </style>
    {% block css %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
      <div id="container">
        <div class="row mt-4 ml-4 mr-4">
          <h4>Batch: {{ batch_name }}</h4>
        </div>
        <div class="row mt-4 ml-4 mr-4">
          <table class="table table-bordered" id="layout_table">
            <thead>
              <th style="width: 9%"></th>
              <th style="width: 7%">1</th>
              <th style="width: 7%">2</th>
              <th style="width: 7%">3</th>
              <th style="width: 7%">4</th>
              <th style="width: 7%">5</th>
              <th style="width: 7%">6</th>
              <th style="width: 7%">7</th>
              <th style="width: 7%">8</th>
              <th style="width: 7%">9</th>
              <th style="width: 7%">10</th>
              <th style="width: 7%">11</th>
              <th style="width: 7%">12</th>
            </thead>
            <tbody>
              <tr>
                <th>A</th>
                <td>{{ batch_dict|safe_lookup:'A01' }}</td>
                <td>{{ batch_dict|safe_lookup:'A02' }}</td>
                <td>{{ batch_dict|safe_lookup:'A03' }}</td>
                <td>{{ batch_dict|safe_lookup:'A04' }}</td>
                <td>{{ batch_dict|safe_lookup:'A05' }}</td>
                <td>{{ batch_dict|safe_lookup:'A06' }}</td>
                <td>{{ batch_dict|safe_lookup:'A07' }}</td>
                <td>{{ batch_dict|safe_lookup:'A08' }}</td>
                <td>{{ batch_dict|safe_lookup:'A09' }}</td>
                <td>{{ batch_dict|safe_lookup:'A10' }}</td>
                <td>{{ batch_dict|safe_lookup:'A11' }}</td>
                <td>{{ batch_dict|safe_lookup:'A12' }}</td>
              </tr>
              <tr>
                <th>B</th>
                <td>{{ batch_dict|safe_lookup:'B01' }}</td>
                <td>{{ batch_dict|safe_lookup:'B02' }}</td>
                <td>{{ batch_dict|safe_lookup:'B03' }}</td>
                <td>{{ batch_dict|safe_lookup:'B04' }}</td>
                <td>{{ batch_dict|safe_lookup:'B05' }}</td>
                <td>{{ batch_dict|safe_lookup:'B06' }}</td>
                <td>{{ batch_dict|safe_lookup:'B07' }}</td>
                <td>{{ batch_dict|safe_lookup:'B08' }}</td>
                <td>{{ batch_dict|safe_lookup:'B09' }}</td>
                <td>{{ batch_dict|safe_lookup:'B10' }}</td>
                <td>{{ batch_dict|safe_lookup:'B11' }}</td>
                <td>{{ batch_dict|safe_lookup:'B12' }}</td>
              </tr>
              <tr>
                <th>C</th>
                <td>{{ batch_dict|safe_lookup:'C01' }}</td>
                <td>{{ batch_dict|safe_lookup:'C02' }}</td>
                <td>{{ batch_dict|safe_lookup:'C03' }}</td>
                <td>{{ batch_dict|safe_lookup:'C04' }}</td>
                <td>{{ batch_dict|safe_lookup:'C05' }}</td>
                <td>{{ batch_dict|safe_lookup:'C06' }}</td>
                <td>{{ batch_dict|safe_lookup:'C07' }}</td>
                <td>{{ batch_dict|safe_lookup:'C08' }}</td>
                <td>{{ batch_dict|safe_lookup:'C09' }}</td>
                <td>{{ batch_dict|safe_lookup:'C10' }}</td>
                <td>{{ batch_dict|safe_lookup:'C11' }}</td>
                <td>{{ batch_dict|safe_lookup:'C12' }}</td>
              </tr>
              <tr>
                <th>D</th>
                <td>{{ batch_dict|safe_lookup:'D01' }}</td>
                <td>{{ batch_dict|safe_lookup:'D02' }}</td>
                <td>{{ batch_dict|safe_lookup:'D03' }}</td>
                <td>{{ batch_dict|safe_lookup:'D04' }}</td>
                <td>{{ batch_dict|safe_lookup:'D05' }}</td>
                <td>{{ batch_dict|safe_lookup:'D06' }}</td>
                <td>{{ batch_dict|safe_lookup:'D07' }}</td>
                <td>{{ batch_dict|safe_lookup:'D08' }}</td>
                <td>{{ batch_dict|safe_lookup:'D09' }}</td>
                <td>{{ batch_dict|safe_lookup:'D10' }}</td>
                <td>{{ batch_dict|safe_lookup:'D11' }}</td>
                <td>{{ batch_dict|safe_lookup:'D12' }}</td>
              </tr>
              <tr>
                <th>E</th>
                <td>{{ batch_dict|safe_lookup:'E01' }}</td>
                <td>{{ batch_dict|safe_lookup:'E02' }}</td>
                <td>{{ batch_dict|safe_lookup:'E03' }}</td>
                <td>{{ batch_dict|safe_lookup:'E04' }}</td>
                <td>{{ batch_dict|safe_lookup:'E05' }}</td>
                <td>{{ batch_dict|safe_lookup:'E06' }}</td>
                <td>{{ batch_dict|safe_lookup:'E07' }}</td>
                <td>{{ batch_dict|safe_lookup:'E08' }}</td>
                <td>{{ batch_dict|safe_lookup:'E09' }}</td>
                <td>{{ batch_dict|safe_lookup:'E10' }}</td>
                <td>{{ batch_dict|safe_lookup:'E11' }}</td>
                <td>{{ batch_dict|safe_lookup:'E12' }}</td>
              </tr>
              <tr>
                <th>F</th>
                <td>{{ batch_dict|safe_lookup:'F01' }}</td>
                <td>{{ batch_dict|safe_lookup:'F02' }}</td>
                <td>{{ batch_dict|safe_lookup:'F03' }}</td>
                <td>{{ batch_dict|safe_lookup:'F04' }}</td>
                <td>{{ batch_dict|safe_lookup:'F05' }}</td>
                <td>{{ batch_dict|safe_lookup:'F06' }}</td>
                <td>{{ batch_dict|safe_lookup:'F07' }}</td>
                <td>{{ batch_dict|safe_lookup:'F08' }}</td>
                <td>{{ batch_dict|safe_lookup:'F09' }}</td>
                <td>{{ batch_dict|safe_lookup:'F10' }}</td>
                <td>{{ batch_dict|safe_lookup:'F11' }}</td>
                <td>{{ batch_dict|safe_lookup:'F12' }}</td>
              </tr>
              <tr>
                <th>G</th>
                <td>{{ batch_dict|safe_lookup:'G01' }}</td>
                <td>{{ batch_dict|safe_lookup:'G02' }}</td>
                <td>{{ batch_dict|safe_lookup:'G03' }}</td>
                <td>{{ batch_dict|safe_lookup:'G04' }}</td>
                <td>{{ batch_dict|safe_lookup:'G05' }}</td>
                <td>{{ batch_dict|safe_lookup:'G06' }}</td>
                <td>{{ batch_dict|safe_lookup:'G07' }}</td>
                <td>{{ batch_dict|safe_lookup:'G08' }}</td>
                <td>{{ batch_dict|safe_lookup:'G09' }}</td>
                <td>{{ batch_dict|safe_lookup:'G10' }}</td>
                <td>{{ batch_dict|safe_lookup:'G11' }}</td>
                <td>{{ batch_dict|safe_lookup:'G12' }}</td>
              </tr>
              <tr>
                <th>H</th>
                <td>{{ batch_dict|safe_lookup:'H01' }}</td>
                <td>{{ batch_dict|safe_lookup:'H02' }}</td>
                <td>{{ batch_dict|safe_lookup:'H03' }}</td>
                <td>{{ batch_dict|safe_lookup:'H04' }}</td>
                <td>{{ batch_dict|safe_lookup:'H05' }}</td>
                <td>{{ batch_dict|safe_lookup:'H06' }}</td>
                <td>{{ batch_dict|safe_lookup:'H07' }}</td>
                <td>{{ batch_dict|safe_lookup:'H08' }}</td>
                <td>{{ batch_dict|safe_lookup:'H09' }}</td>
                <td>{{ batch_dict|safe_lookup:'H10' }}</td>
                <td>{{ batch_dict|safe_lookup:'H11' }}</td>
                <td>{{ batch_dict|safe_lookup:'H12' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endblock %}

    {% block javascript %}
    {% endblock %}
  </body>
</html>