{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Report Remarks</h2>

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'report_remarks_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Remark</a>
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="col-12">
      <div class="card h-100">
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Test Target</th>
              <th>Account</th>
              <th>Offsite Laboratory</th>
              <th class="w-75">Remarks</th>
            </tr>
            </thead>
            {%  for report_remark in report_remarks %}
              <tr>
                <td>{{ report_remark.test_target|default_if_none:'' }}</td>
                <td>{{ report_remark.account|default_if_none:'' }}</td>
                <td>{{ report_remark.offsite_laboratory|default_if_none:'' }}</td>
                <td>{{ report_remark.remarks|default_if_none:'' }}</td>
                <td>
                  <a href="{% url 'report_remarks_update' report_remark.uuid %}">
                    <i class="fas fa-pencil-alt text-warning" data-toggle="tooltip" title="Update Remark"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}

          </table>
        </div>
      </div>
    </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script>

	</script>
{% endblock %}