{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% if update %}Update{% else %}Create{% endif %} Report Remarks</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'report_remarks_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

	<form method="POST" class="post-form">
		{% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% elif message.tags == 'error' %}
                  <div class="alert alert-danger">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% else %}
                  <div class="alert alert-info">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if form_error %}
              <div class="alert alert-danger">
                <strong>{{ form_error }}</strong>
              </div>
            {% endif %}

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}

            <div class="form-group">
              <div class="col-6 pl-0">
                <p>{{ form.test_target.label }}:</p>
                {{ form.test_target }}
              </div>
            </div><br>
            <div class="form-group">
              <div class="col-6 pl-0">
                <p>{{ form.account.label }}:&nbsp;&nbsp;</p>
                {{ form.account }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-6 pl-0">
                <p>{{ form.offsite_laboratory.label }}:</p>
                {{ form.offsite_laboratory }}
              </div>
            </div>
            <div class="form-group">
              <div class="mb-0">
                <p>{{ form.remarks.label }}:</p>
                {{ form.remarks }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <button type="submit" class="btn btn-primary">Save Remarks</button>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}