{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Sample Types </h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
      {% if request.tenant.lab_type != 'POL' %}
        {% if request.user.user_type != 10 %}
          <a href="{% url 'sample_type_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Sample Type</a>
        {% endif %}
      {% endif %}
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-12">
      <h6>Sample types accepted at {{ request.tenant.name }}</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="handsontable" id="sample-type-table"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sample_type_list.js' %}"></script>
	<script>
    let sampleTypeTable;
    // recent order handsontable
    $.ajax({
      url: '/api/v1/internal/sample_type_table/',
      dataType: 'json',
      success: function (sample_types) {
        sampleTypeTable = createSampleTypeTable(sample_types, sampleTypeTable)
      },
      error: function () {
        console.log("sample type table api call failed")
      }
    })
	</script>
{% endblock %}