{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ sample_type.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if request.user.user_type != 10 %}
          <a href="{% url 'sample_type_delete' sample_type.uuid %}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Sample Type</a>
        {% endif %}
        <a href="{% url 'sample_type_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a></a>
      </div>
    </div>
  </div><br>

  <p><b>Name</b><br> {{ sample_type.name }}</p>
  <p><b>Notes</b><br> {{ sample_type.notes }}</p>

  <hr>
  {% if request.user.user_type != 10 %}
    <a href="{% url 'sample_type_update' sample_type.uuid %}" class="btn btn-primary">Update Sample Type</a>
  {% endif %}

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
	</script>
{% endblock %}