{% extends "base.html" %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Sample Type</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div>

  <form method="POST">
    {% csrf_token %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <!-- Create a Test Panel Type -->
    <div class="col-12 top-buffer">
      <div class="col-10">
        <div class="row">
          <div class="col-10 pl-0">
            <label>{{ form.name.label }}</label>
            <input name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" class="form-control" required>
          </div>
        </div><br>
        <div class="row">
          <div class="col-10 pl-0">
            <label>{{ form.notes.label }}</label><br>
            {{ form.notes }}
          </div>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary">Save Sample Type</button>
    </div>
  </form>





{% endblock %}


{% block javascript %}
  <!-- Custom JS -->

	<script>
	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}