{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Samples</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div><br>
  <!-- /Header -->

  <!-- Orders with pending results table -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4>Samples with received dates between:</h4>
        <div id="test-results-table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span />
          <b class="caret"></b>
        </div>
        <br>
        <p>Containing target/analyte:</p>
        <select class="form-control" id="target-filter">
          <option value="All">All</option>
          {% for target in distinct_targets %}
            <option value="{{ target.0 }}">{{ target.1 }}</option>
          {% endfor %}
        </select><br>
        <p>Test Methods:</p>
        <select class="form-control" id="method-filter">
          <option value="All">All</option>
          {% for test_method in test_methods %}
            <option value="{{ test_method.0 }}">{{ test_method.1 }}</option>
          {% endfor %}
        </select>
        <br>
      </div>
      <!-- Num Orders -->
      <div class="col-lg-6"></div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="test-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
          <br><br>
          <!-- Use EXPORT TO CSV JS functionality -->
          <a class="btn btn-secondary" id="export-csv-button" href="#">Export to CSV</a>
        </div>
      </div>
      <!-- Num Orders -->
    </div>

    <div class="row top-buffer mt-4">
      <div class="col-12">
        <div class="handsontable" id="test-results-table"></div>
      </div>
    </div>
  </div>
  <!-- /Orders with pending results table -->

{% endblock %}

{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script>
    // Default page state
    const state = {
      Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#test-count',
          tableHtmlID: '#test-results-table', dateRangePickerHtmlID: '#test-results-table-range span', dateRangePickerDivID: '#test-results-table-range',
          apiURL: '/api/v1/internal/sample_table/'
      },
    };

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'sample_code',
          editor: false,
          type: 'text',
          width: 100
        },
        {
          data: 'order_code',
          editor: false,
          type: 'text',
          renderer: linkRenderer,
          width: 100,
        },
        {
          data: 'accession_number',
          editor: false,
          type: 'text',
        },
        {
          data: 'received_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
          width: 200
        },
        {
          data: 'test_targets',
          editor: false,
          type: 'text',
          width: 400
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Sample Code',
          'Order Code',
          'Accession Number',
          'Received Date',
          'Target/Analyte',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    var j = jQuery.noConflict();

    // test table
    j(function() {

      // default start and end dates for the date picker (on initial page load)
      const start = moment().subtract(7, 'd');
      const end = moment();

      var f = document.getElementById('target-filter');
      var g = document.getElementById('method-filter');

      var targetFilter = f.options[f.selectedIndex].value;
      var methodFilter = g.options[g.selectedIndex].value;

      createTable(state.Table.tableHtmlID, hotSettings);

      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      // EXPORT TO CSV snippet
      // Requirements: js/date_range_picker_table.js
      // use JS instead of jQuery because of jQuery.noConflict --> not sure what that actually does
      // entire table state is only available in this function
      let hotInstance = state.Table.table.getInstance();
      let exportCsvButton = document.getElementById('export-csv-button');
      let csvPlugin = hotInstance.getPlugin('exportFile');

      // function to convert objects to text
      // if we don't do this, then URL links will display as [object Object]
      exportCsvButton.addEventListener('click', function() {

        let stateStartDate = state.Table.dateBegin.format('MMMM-D-YYYY');
        let stateEndDate = state.Table.dateEnd.format('MMMM-D-YYYY');

        // handsontable plugin
        csvPlugin.downloadFile('csv', {
          bom: false,
          columnDelimiter: ',',
          columnHeaders: false,
          exportHiddenColumns: false,
          exportHiddenRows: true,
          fileExtension: 'csv',
          filename: 'sample_list_' + stateStartDate + '_' +stateEndDate,
          mimeType: 'text/csv',
          rowDelimiter: '\r\n',
          rowHeaders: false
        });

      });
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

      function order_cb(start, end, targetFilter, methodFilter) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        state.Table.targetFilter = targetFilter;
        state.Table.methodFilter = methodFilter;

        const url = targetFilter + '/' + methodFilter + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');

        j.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function(tests) {
            state.Table.data = tests;
            updateTable();
          },
          error: function() {
            console.log("recent tests table data call failed")
          }
        })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment(),
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end, state.Table.targetFilter, state.Table.methodFilter);
      });

      order_cb(start, end, targetFilter, methodFilter);

      j('#target-filter').change(function () {
        let f = document.getElementById('target-filter');
        targetFilter = f.options[f.selectedIndex].value;

        state.Table.targetFilter = targetFilter;
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.targetFilter, state.Table.methodFilter);
      });

      j('#method-filter').change(function () {
        let g = document.getElementById('method-filter');
        methodFilter = g.options[g.selectedIndex].value;

        state.Table.methodFilter = methodFilter;
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.targetFilter, state.Table.methodFilter);
      });


    });
	</script>
{% endblock %}
