{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/datetimepicker-2.5.20/jquery.datetimepicker.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Sample {{ sample.code }}</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a></a>
      </div>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div class="card">

      <div class="card-body">

        <!-- Create a Sample form -->
        <div class="col-12 top-buffer">
          <div class="form-row sample-formset">
            <div class="row mb-3">
              <div class="col-2">
                <label class="required_label" for="{{ form.sample_type.name }}">{{ form.sample_type.label }}</label>
                {{ form.sample_type }}
              </div>
              <div class="col-2">
                <label for="{{ form.draw_type.name }}">{{ form.draw_type.label }}</label>
                {{ form.draw_type }}
              </div>
              <div class="col-2">
                <label class="required_label" for="{{ form.collection_date.name }}">{{ form.collection_date.label }}</label>
                {{ form.collection_date }}
              </div>
              <div class="col-2">
                <label>{{ form.collection_time.label }}</label>
                <input class="form-control timeMask"
                       name="sample-{{ forloop.counter0 }}-collection_time"
                       value="{{ form.collection_time.value|default_if_none:'' }}" id="{{ form.collection_time.auto_id }}">
              </div>
              <div class="col-4">
                <label class="pb-2{% if require_collected_by %} required_label{% endif %}">{{ form.collection_user.label }}&nbsp;</label>
                {{ form.collection_user }}
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <label>{{ form.collection_temperature.label }}</label>
                <div class="row">
                  <div class="col-8">
                    {{ form.collection_temperature }}
                  </div>
                  <div class="col-4 pl-0">
                    {{ form.collection_temperature_unit }}
                  </div>
                </div>
              </div>
              <div class="col-5">
                <label>{{ form.collection_temperature_is_within_range.label }}</label>
                {{ form.collection_temperature_is_within_range.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.collection_temperature_is_within_range.1 }}
              </div>
            </div>

            <div class="row">

            </div>

          </div>
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Save Sample</button>

  </form>





{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
    <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/parsleyjs/parsley.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'lib/datetimepicker-2.5.20/build/jquery.datetimepicker.full.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
	<script>
  $('.dateMask').inputmask({"mask": "99-99-9999"});
  let collectionDate = $("input[id*='collection_date']");
  let sampleType = $("select[id*='sample_type']");
  collectionDate.each(function() {
    new Pikaday({
      field: $(this)[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate()
    });
  });

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}