{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
      content:"*";
      color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    {% if update %}
      <h1 class="h2">Update Super Test Profile</h1>
    {% else %}
      <h1 class="h2">Create Super Test Profile</h1>
    {% endif %}

    <div class="btn-group mr-2">
      {% if update %}
        <a href="{% url 'super_test_panel_type_details' super_test_panel_type.uuid %}" class="btn btn-sm btn-secondary">Super Test Profile Details</a>
      {% else %}
        <a href="{% url 'super_test_panel_type_list' %}" class="btn btn-sm btn-secondary">Super Test Profiles</a>
      {% endif %}
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- Create a Test Panel Type -->
            <div class="form-row">
              <div class="col-8">
                <label class="required_label">{{ form.name.label }}</label>
                <input name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" class="form-control">
              </div>
            </div><br>

            <div class="form-row">
              <div class="col-8">
                <label>Test Profiles</label>
                {{ form.test_panel_types }}
              </div>
            </div><br>

            {{ form.is_exclusive }}
            {{ form.is_exclusive.label }}&nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="Choose this option if you want to hide this Super Test Profile from the menu for everyone except specified providers or accounts.">
            </i><br><br>

            <div id="exclusive">
              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.exclusive_accounts.label }}&nbsp;&nbsp;</label>
                  {{ form.exclusive_accounts }}
                </div>
              </div><br>
              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.exclusive_providers.label }}&nbsp;&nbsp;</label>
                  {{ form.exclusive_providers }}
                </div>
              </div>
            </div><br>

          </div>
        </div>
      </div>
    </div>
    <hr>
    {% if update %}
      <button type="submit" class="btn btn-primary">Update Super Test Profile</button>
    {% else %}
      <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Super Test Profile</button>
    {% endif %}
  </form>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

    if(document.getElementById('id_is_exclusive').checked) {
      $("#exclusive").show();
    } else {
      $("#exclusive").hide();
    }

    $('#id_is_exclusive').click(function() {
      $("#exclusive").toggle(this.checked);
    });

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
