{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ super_test_panel_type.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if request.user.user_type < 9 %}
          <a href="{% url 'super_test_panel_type_delete' super_test_panel_type.uuid %}" class="btn btn-sm btn-danger archive-super"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Super Test Profile</a>
          <a href="{% url 'super_test_panel_type_update' super_test_panel_type.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Super Test Profile</a>
        {% endif %}
        <a href="{% url 'super_test_panel_type_list' %}" class="btn btn-sm btn-secondary ml-2">Super Test Profiles</a>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p><b>Name</b><br> {{ super_test_panel_type.name }}</p>
          <p><b>Test Profile(s)</b><br>
            {% for test_panel_type in test_panel_types %}
              <a href="{% url 'test_panel_type_details' test_panel_uuid=test_panel_type.uuid %}">{{ test_panel_type.name }}</a><br>
            {% endfor %}
          </p>

          <p><b>Test(s)</b><br>
            {% for test_type in test_types %}
              <a href="{% url 'test_type_details' test_type_uuid=test_type.uuid %}">{{ test_type.name }}</a><br>
            {% endfor %}
          </p>
          {% if super_test_panel_type.exclusive_accounts.all %}
            <p><b>Show for Accounts</b><br>{% for account in super_test_panel_type.exclusive_accounts.all %}{{ account }}<br>{% endfor %}</p>
          {% endif %}
          {% if super_test_panel_type.exclusive_providers.all %}
            <p><b>Show for Providers</b><br> {% for provider in super_test_panel_type.exclusive_providers.all %}{{ provider }}<br>{% endfor %}</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

  $('.archive-super').click(function(event) {
    let result = confirm('Are you sure you want to archive this super test profile?');
    if(!result) {
      event.preventDefault();
    }
  });
	</script>
{% endblock %}