{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Super Test Profiles</h1>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        {% if request.user.user_type != 10 %}
          <a href="{% url 'super_test_panel_type_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Super Test Profile</a>
        {% endif %}
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-12">
      <h6>Super Test Profiles offered at {{ request.tenant.name }}</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="handsontable" id="test-panel-type-table"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
    let testPanelTypeTable;
    // recent order handsontable
    $.ajax({
      url: '/api/v1/internal/super_test_panel_type_table/',
      dataType: 'json',
      success: function (test_panel_types) {
        testPanelTypeTable = createTestPanelTypeTable(test_panel_types, testPanelTypeTable)
      },
      error: function () {
        console.log("test profile type table api call failed")
      }
    });

    function createTestPanelTypeTable(test_panel_types, table) {
      if (!table) {
        const hotElement = document.querySelector('#test-panel-type-table');
        const hotSettings = {
          data: test_panel_types,
          columns: [
            {
              data: 'name',
              editor: false,
              renderer: 'html',
              width: 350,
            },
            {
              data: 'test_panel_type_count',
              editor: false,
            },
            {
              data: 'test_type_count',
              editor: false,
            },
          ],
          stretchH: 'all',
          //width: 806,
          height: 700,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
            [
              'Name',
              'Test Profile Count',
              'Unique Test Count',
            ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function(col, TH) {
            TH.className = 'center';
          },
        };

        return new Handsontable(hotElement, hotSettings);
      } else {
        // load new data without replacing old table
        table.getPlugin('filters').clearConditions();
        table.loadData(accounts);
        return table;
      }
    }

	</script>
{% endblock %}
