{% extends "base.html" %}

{% block css %}
  <style>
    #order-samples {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if order %}
      <h2>{% if update %}Update{% else %}Create{% endif %} Comment: {{ test_panel_type.name }} on Order: {{ order.code }}</h2>
    {% else %}
      <h2>{% if update %}Update{% else %}Create{% endif %} Comment: {{ test_panel_type.name }}</h2>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'test_panel_type_details' test_panel_type.uuid %}" class="btn btn-sm btn-secondary ml-2">Test Profile Details</a>
        {% if order %}
          <a href="{% url 'order_details' order.code %}" class="btn btn-sm btn-secondary ml-2">Order Details</a>
        {% endif %}
      </div>
    </div>
  </div>

  <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% elif message.tags == 'error' %}
                  <div class="alert alert-danger">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% else %}
                  <div class="alert alert-info">
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|safe }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|safe }}</strong>
                </div>
              {% endfor %}
            {% endif %}


            <p class="mb-0">Comment</p>
            {{ form.comment }}
            <br>
            {{ form.is_public }}&nbsp;
            <label>{{ form.is_public.label }} &nbsp; </label>
            <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Public comments are shown on the final report.">
            </i>
          </div>
        </div>

      </div>
    </div>
    <button type="submit" class="save btn btn-primary">Save Comment</button>

  </form>

{% endblock %}


{% block javascript %}
  <script>
  </script>
  <!-- Custom JS -->
{% endblock %}