{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
      content:"*";
      color:red;
    }

    .checkbox-test{
     -webkit-column-count: 4;
     -moz-column-count: 4;
     -o-column-count: 4;
      column-count: 4;
    }
    a[aria-expanded=true] .fa-chevron-right {
      display: none;
    }
    a[aria-expanded=false] .fa-chevron-down {
      display: none;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    {% if update %}
      <h1 class="h2">Update Test Profile</h1>
    {% else %}
      <h1 class="h2">Create Test Profile</h1>
    {% endif %}

    <div class="btn-group mr-2">
      {% if update %}
        <a href="{% url 'test_panel_type_details' test_panel_type.uuid %}" class="btn btn-sm btn-secondary">Test Profile Details</a>
      {% else %}
        <a href="{% url 'test_panel_type_list' %}" class="btn btn-sm btn-secondary">Test Profiles</a>
      {% endif %}
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- Create a Test Panel Type -->
            <div class="form-row">
              <div class="col-8">
                <label class="required_label">{{ form.name.label }}</label>
                <input name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" class="form-control">
              </div>
              <div class="col-4">
                <label>{{ form.price.label }}&nbsp;&nbsp;</label>
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="This applies if you would like to record the test profile price for self-pay patients.">
                </i>
                <input name="{{ form.price.name }}" value="{{ form.price.value|default_if_none:'' }}" type="number" min="0.01" step="0.01"
                       class="form-control">
              </div>
            </div><br>
            <div class="form-row">
              <div class="col-4">
                <label>{{ form.aliases.label }}</label>
                {{ form.aliases }}
              </div>
            </div><br>
            <div class="form-row">
              <div class="col-4">
                <label>{{ form.alternate_id.label }}</label>
                {{ form.alternate_id }}
              </div>
              <div class="col-6 ml-4">
                <label>{{ form.in_house_lab_locations.label }}</label><br>
                {{ form.in_house_lab_locations }} &nbsp;&nbsp;
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="Select an in-house lab location where this test profile will be performed.">
                </i>
              </div>
            </div><br>

            <div class="form-row">
              <div class="col-4">
                <label>Tests</label>
              </div>
              <div class="col-12">
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseTests" role="button" aria-expanded="false" aria-controls="collapseTests">
                  <i class="fa fa-chevron-right pull-right"></i>
                  <i class="fa fa-chevron-down pull-right"></i>&nbsp;&nbsp;Expand/Collapse
                </a><br><br>
              </div>
              <div class="col-12 collapse" id="collapseTests">
                {% for test_type_category in test_type_category_list %}
                  <div><!-- div necessary for checkbox functionality -->
                    <input type="checkbox"> <b>{{ test_type_category.0 }}</b><br>
                    <div class="checkbox-test">
                      {% for test in test_type_category.1 %}
                        {% if test.selected %}
                          <input type="checkbox" name="tests_selected" value="{{ test.id }}" checked> {{ test.name }}<br>
                        {% else %}
                          <input type="checkbox" name="tests_selected" value="{{ test.id }}"> {{ test.name }}<br>
                        {% endif %}
                      {% endfor %}
                    </div><br>
                  </div>
                {% endfor %}
              </div>
            </div>
            <br>

            <label class="required_label">{{ form.test_panel_category.label }}</label>
            {{ form.test_panel_category }} &nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="Test Profile Categories are how profiles are organized when orders are created. See the Orders: Create
               page for more context.">
            </i>
            <br><br>
            <a href="{% url 'test_panel_category_create' %}" class="btn btn-sm btn-primary" target="_blank">
            + Test Profile Category</a>
            <br><br>

            <label>{{ form.category_order.label }}</label>
            <input name="{{ form.category_order.name }}" value="{{ form.category_order.value|default_if_none:'' }}" type="number" min="0" class="form-control">
            <br>

            <div class="form-row">
              <div class="col-6">
                <label>{{ form.procedure_codes.label }}&nbsp;&nbsp;</label>
                {{ form.procedure_codes }}
              </div>
            </div><br>

            <div class="form-row">
              <div class="col-6">
                <label>{{ form.lab_departments.label }}&nbsp;&nbsp;</label>
                {{ form.lab_departments }}
              </div>
            </div><br>

            <label>{{ form.offsite_laboratory.label }}&nbsp;&nbsp;</label>
            {{ form.offsite_laboratory }}<br>

            {{ form.is_exclusive }}
            {{ form.is_exclusive.label }}&nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="Choose this option if you want to hide this Test Profile from the menu for everyone except specified providers or accounts.">
            </i><br><br>

            <div id="exclusive">
              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.exclusive_accounts.label }}&nbsp;&nbsp;</label>
                  {{ form.exclusive_accounts }}
                </div>
              </div><br>
              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.exclusive_providers.label }}&nbsp;&nbsp;</label>
                  {{ form.exclusive_providers }}
                </div>
              </div>
            </div><br>

            <label>{{ form.notes.label }}</label> &nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="Notes are internal to the system and are not patient-facing.">
            </i>
            {{ form.notes }}<br>

            {{ form.research_consent_required }}
            {{ form.research_consent_required.label }}&nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="This is only applicable for test panels related to clinical research studies.">
            </i><br><br>

          </div>
        </div>
      </div>
    </div>
    <hr>
    {% if update %}
      <button type="submit" class="btn btn-primary">Update Test Profile</button>
    {% else %}
      <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Test Profile</button>
    {% endif %}
  </form>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

    // check all child elements if category is checked
    $("input[type='checkbox']").change(function () {
      $(this).siblings('.checkbox-test')
        .find("input[type='checkbox']")
        .prop('checked', this.checked);
    });

    // check all same values
    $('input:checkbox').on('change', function(){
      //if(this.checked)    // optional, depends on what you want
      $('input[value="' + this.value + '"]:checkbox').prop('checked', this.checked);
    });


    if(document.getElementById('id_is_exclusive').checked) {
      $("#exclusive").show();
    } else {
      $("#exclusive").hide();
    }

    $('#id_is_exclusive').click(function() {
      $("#exclusive").toggle(this.checked);
    });

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
