{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ test_type.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if request.user.user_type != 10 %}
          <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Test</a>
          <a href="{% url 'test_type_update' test_type.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Test</a>
        {% endif %}
        <a href="{% url 'test_type_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <!-- Messages -->
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <!-- Messages -->

  <div class="row mb-4">
    <div class="col-12">

      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <p><b>Test Name</b><br> {{ test_type.name }}</p>
            <p><b>Aliases</b><br>
            {% for alias in test_type.test_type_aliases.all %}
              {{ alias }}<br>
            {% endfor %}
            </p>
            {% if test_type_categories %}
              <p><b>Category(s)</b>
                {% for category in test_type_categories %}
                  <br> {{ category }}
                {% endfor %}
              </p>
            {% endif %}
            {% if test_type.specialty %}
              <p><b>Specialty</b><br> {{ test_type.specialty.specialty_name }}</p>
            {% endif %}
            <p><b>Methodology</b><br> {{ test_type.test_method }}</p>
            <p><b>Analyte or Target</b><br> {{ test_type.test_target }}</p>
            {% if test_type.manufacturer %}
              <p><b>Manufacturer</b><br> {{ test_type.manufacturer }}</p>
            {% endif %}
            {% if test_type.isotype %}
              <p><b>Isotype</b><br> {{ test_type.isotype }}</p>
            {% endif %}
            {% if test_type.band %}
              <p><b>Band</b><br> {{ test_type.band }}</p>
            {% endif %}
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            {% if test_type.result_type %}
              <p><b>Result Type</b><br> {{ test_type.result_type }}</p>
            {% endif %}
            <p><b>Unit of Measurement</b><br>
              {% if test_type.result_type == 'Quantitative' %}
                {{ test_type.unit }}
              {% else %}
                N/A
              {% endif %}
            </p>
            <p><b>Use Round Figures</b><br>
              {{ test_type.use_round_figures }}
            </p>
            {% if test_type.use_round_figures %}
            <p><b># of Decimal Places in Results</b><br>
              {% if test_type.result_type == 'Quantitative' %}
                {{ test_type.round_figures }}
              {% else %}
                N/A
              {% endif %}
            </p>
            {% endif %}
            <p><b>Required Turnaround Time</b><br> {{ test_type.turnaround_time }} {{ test_type.turnaround_time_unit }}</p>
            <p><b>Research Use Only</b><br> {{ test_type.is_research_only }}</p>
            {% if test_type.offsite_laboratory %}
            <p><b>Testing Laboratory</b><br>{{ test_type.offsite_laboratory }}</p>
              <p>{{ test_type.offsite_test_id }}</p><br>
            {% else %}
            <p><b>Testing Laboratory</b><br>Onsite</p>
            {% endif %}
            <p><b>Require Approval</b><br> {{ test_type.is_approval_required }}</p>
            <p><b>Internal</b><br> {{ test_type.is_internal }}</p>
            {% if test_type.required_samples or test_type.required_clia_samples %}
              <p class="mb-0"><b>Required Samples</b></p>
              {% for required_sample in required_samples %}
                {{ required_sample.sample_type.name }}: {{ required_sample.num_samples_required }}<br>
              {% endfor %}
              <br>
            {% endif %}
            {% if test_type.container_type %}
              <p><b>Required Container Type</b><br> {{ test_type.container_type }}</p>
            {% endif %}
            {% if test_type.min_volume %}
              <p><b>Minimum Volume</b><br> {{ test_type.min_volume }} mL</p>
            {% endif %}
            {% if icd10_codes %}
              <p class="mt-0"><b>Medical Necessity Codes</b></p>
              {% for icd10_code in icd10_codes %}
                <div class="row ml-1">
                  <h6><b>{{ icd10_code.full_code }}</b> - {{ icd10_code.full_description }}</h6>
                </div>
              {% endfor %}
            {% endif %}
            {% if test_type.loinc_code %}
              <p><b>LOINC Code</b><br>{{ test_type.loinc_code }}</p>
            {% else %}
              <p><b>LOINC Code</b><br>-</p>
            {% endif %}
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-header">
          Reflex Tests
          <span><a href="{% url 'test_type_reflex_create' test_type.uuid %}" class="btn-sm btn-primary float-right"><i class="fas fa-plus"></i>&nbsp;&nbsp;Reflex Test</a></span>
        </div>
        <div class="card-body">
          {% if test_type_reflexes %}
            <table class="table mb-0">
              <tr>
                <th>Reflex Test</th>
                <th>Reflex Condition</th>
                <th>Notes</th>
                <th></th>
              </tr>
              {% for test_type_reflex in test_type_reflexes %}
              <tr>
                <td><a href="{% url 'test_type_details' test_type_reflex.reflex_test_type.uuid %}">{{ test_type_reflex.reflex_test_type }}</a></td>
                {% if test_type.result_type == 'Qualitative' %}
                  <td>{{ test_type_reflex.reflex_criteria_qualitative }}</td>
                {% else %}
                  <td>{{ test_type_reflex.quantitative_comparison_operator }} {{ test_type_reflex.reflex_criteria_quantitative }}</td>
                {% endif %}
                <td>{{ test_type_reflex.notes }}</td>
                <td>
                  <a href="{% url 'test_type_reflex_update' test_type.uuid test_type_reflex.uuid %}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a href="{% url 'test_type_reflex_delete' test_type.uuid test_type_reflex.uuid %}">
                    <i class="fas fa-trash-alt sample-delete"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>There are no reflex tests yet. Create a reflex test by clicking the button on the top right of this card.</p>
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  {% if test_type.result_type == 'Quantitative' %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Reference Ranges
          <span><a href="{% url 'test_type_range_create' test_type.uuid %}" class="btn-sm btn-warning float-right"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Reference Ranges</a></span>
        </div>
        <div class="card-body">
          {% if test_type_ranges %}
            <div class="row">
              <div class="col-4">
                <label>Sex</label>
                <select class="form-control" id="sex-filter">
                  <option value="All">All</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="NB">Not Specified</option>
              </select>
              </div>
              <div class="col-4">
                <label>Account Name</label>
                <input class="form-control" placeholder="Search..." id="account-name-filter">
              </div>
            </div>
            <p>Press <b>Enter</b> to search.</p>
            <div class="row top-buffer">
              <div class="col-12">
                <div class="handsontable" id="reference-range-table"></div>
              </div>
            </div>
          {% else %}
            <h5 class="card-title">Reference Ranges
              <span><a href="{% url 'test_type_range_create' test_type.uuid %}" class="btn-sm btn-primary float-right">Create Reference Ranges</a></span>
            </h5>
            <p>There are no reference ranges yet. Create a reference range by clicking the button on the top right of this card.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Test Comments
          <span><a href="{% url 'test_type_comment_create' test_type.uuid %}" class="btn-sm btn-primary float-right"><i class="fas fa-plus"></i>&nbsp;&nbsp;Comment</a></span>
        </div>
        <div class="card-body">

          {% if test_type.test_type_comments.all %}
            <table class="table">
              <tr>
                <th>Comment</th>
                <th>
                  Public (Reportable)&nbsp;&nbsp;
                  <i class="fas fa-info-circle" data-toggle="tooltip"
                     title="Public comments are shown on the final report."></i>
                </th>
                <th>Update/Archive</th>
              </tr>
              {% for test_comment in test_type.test_type_comments.all %}
                <tr>
                  <!-- https://stackoverflow.com/questions/4320679/django-display-choice-value -->
                  <td width="75%">{{ test_comment.comment }}</td>
                  <td>{{ test_comment.is_public }}</td>
                  <td>
                    <a href="{% url 'test_type_comment_update' test_type.uuid test_comment.uuid %}" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{% url 'test_type_comment_delete' test_type.uuid test_comment.uuid %}" class="btn btn-danger btn-sm archive-comment"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>There are no test comments yet. Create a test comment by clicking the button on the top right of this card.</p>
          {% endif %}

        </div>

      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
    // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to archive this test?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("{% url 'test_type_delete' test_type.uuid %}");
      }
    }

    $('.archive-comment').click(function(e) {
      let result = confirm("Are you sure you want to archive this comment?");
      if (!result) {
        // prevent page from redirecting via <a href>
        e.preventDefault();
      }
    });
	</script>
  <script>
    const state = {
        Table: {
            data:'', sex:'All', account_name:'',
            sex_id:'#sex-filter', account_name_id:'#account-name-filter',
            tableHTMLID:'#reference-range-table',
            apiURL:'/api/v1/internal/reference_range_table/'
        }
    };
    $(state.Table.account_name_id).val('');

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'reference_range_type',
          editor: false,
          renderer: 'html',
          width: 50,
        },
        {
          data: 'sex',
          editor: false,
          renderer: 'html',
          width: 50,
        },
        {
          data: 'accounts',
          editor: false,
          renderer: 'html',
          width: 50,
        },
        {
          data: 'age_range',
          editor: false,
          renderer: 'html',
          width: 200,
        },
        {
          data: 'critical_low',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'low',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'high',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'critical_high',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'comment',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'critical_comment',
          editor: false,
          renderer: 'html',
          width: 100,
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 400,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Type',
          'Sex',
          'Accounts',
          'Age Range',
          'Critical Low',
          'Low',
          'High (Cutoff)',
          'Critical High',
          'Report Comment',
          'Critical Comment',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
      const hotElement = document.querySelector(state.Table.tableHTMLID);
      state.Table.table = new Handsontable(hotElement, hotSettings);

      function cb(sex, accountName) {
        var sexURL;
        if (sex === '') {
            sexURL = '_'
        } else {
            sexURL = sex
        }
        var accountNameURL;
        if (accountName === '') {
          accountNameURL = '_'
        } else {
          accountNameURL = accountName
        }
        let testTypeUUID = '{{ test_type.uuid }}';
        const url = testTypeUUID + '/' + sexURL + '/' + accountNameURL;
        $.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function(data) {
            state.Table.data = data;
            state.Table.table.getPlugin('filters').clearConditions();
            state.Table.table.loadData(data);
          },
          error: function () {
            console.log("Account table data call failed")
          }
        })
      }

      cb(state.Table.sex, state.Table.account_name);

      $(state.Table.sex_id).change(function () {
        state.Table.sex = $(state.Table.sex_id).val();
        cb(state.Table.sex, state.Table.account_name);
      });
      $(state.Table.account_name_id).change(function () {
        state.Table.account_name = $(state.Table.account_name_id).val();
        cb(state.Table.sex, state.Table.account_name);
      });
    });
  </script>
{% endblock %}
