{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h2>Test Category: {{ test_type_category.name }}</h2>

    <div class="btn-group mr-2">
      <a href="{% url 'test_type_category_update' test_type_category.uuid %}" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Test Category</a>
      <a href="{% url 'test_type_category_list' %}" class="btn btn-sm btn-secondary ml-2">Test Categories</a>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5>Tests in this category</h5>
            {% for test in tests %}
              <p class="mb-0">{{ test }}</p>
            {% endfor %}
            <br>

          </div>
        </div>
      </div>
    </div>
    <hr>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}