{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Test Profiles</h1>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        {% if request.user.user_type != 10 %}
          <a href="{% url 'test_panel_type_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Test Profile</a>
        {% endif %}
      </div>
    </div>
  </div><br>
  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-12">
          <h6>Test Profiles offered at {{ request.tenant.name }}</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label>Name</label>
          <input class="form-control" placeholder="Search..." id="name-filter">
        </div>
        <div class="col-3 m-0">
          <label>Category</label>
          <input class="form-control" placeholder="Search..." id="category-filter">
        </div>
        <div class="col-3 m-0 pl-0">
          <label>Alias</label>
          <input class="form-control" placeholder="Search..." id="alias-filter">
        </div>
        <div class="col-3 m-0 pl-0">
          <label>Lab Department/Section</label>
          <input class="form-control" placeholder="Search..." id="lab-department-filter">
        </div>
      </div>
      <p>Press <b>Enter</b> to search.</p>

      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="test-panel-type-table"></div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/test_panel_type_list.js' %}"></script>
	<script>
    const state = {
        Table: {data: '', name:'', category:'', alias:'', lab_department:'',
        name_id:'#name-filter',
        category_id:'#category-filter',
        alias_id:'#alias-filter',
        lab_department_id:'#lab-department-filter',
        tableHTMLID: '#test-panel-type-table',
        apiURL: '/api/v1/internal/test_panel_type_table/'
        }
    };
    $(state.Table.name_id).val('');
    $(state.Table.category_id).val('');
    $(state.Table.alias_id).val('');
    $(state.Table.lab_department_id).val('');

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'name',
          editor: false,
          renderer: 'html',
          width: 350,
        },
        {
          data: 'alias',
          editor: false,
          renderer: 'html',
          width: 250,
        },
        {
          data: 'category',
          editor: false,
          type: 'text',
          width: 250,
        },
        {
          data: 'num_test_types',
          editor: false,
        },
        {
          data: 'in_house_lab_locations',
          editor: false,
          type: 'text',
          width: 250,
        },
        {
          data: 'lab_departments',
          editor: false,
          type: 'text',
          width: 250,
        },
        {
          data: 'price',
          type: 'numeric',
          numericFormat: {
            pattern: '$0,0.00',
            culture: 'en-US' // this is the default culture, set up for USD
          },
          allowEmpty: false
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Name',
          'Alias',
          'Category',
          'Test Count',
          'In-House Lab Locations',
          'Lab Department/Section',
          'Price',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
        const hotElement = document.querySelector(state.Table.tableHTMLID);
        state.Table.table = new Handsontable(hotElement, hotSettings);

        function cb(name, category, alias, labDepartment) {
            var nameURL;
            if (name === '') {
                nameURL = '_'
            } else {
                nameURL = name
            }
            var categoryURL;
            if (category === '') {
                categoryURL = '_'
            } else {
                categoryURL = category
            }
            var aliasURL;
            if (alias === '') {
                aliasURL = '_'
            } else {
                aliasURL = alias
            }
            var labDepartmentURL;
            if (labDepartment === '') {
                labDepartmentURL = '_'
            } else {
                labDepartmentURL = labDepartment
            }
            const url = nameURL + '/' + categoryURL + '/' + aliasURL + '/' + labDepartmentURL;
            $.ajax({
                url: state.Table.apiURL + url,
                dataType: 'json',
                success: function (data) {
                    state.Table.data = data;
                    state.Table.table.getPlugin('filters').clearConditions();
                    state.Table.table.loadData(data);
                },
                error: function () {
                    console.log("Test Panel Type table data call failed.")
                }
            })
        }

        cb(state.Table.name, state.Table.category, state.Table.alias, state.Table.lab_department);

        $(state.Table.name_id).change(function() {
            state.Table.name = $(state.Table.name_id).val().trim();
            cb(state.Table.name, state.Table.category, state.Table.alias, state.Table.lab_department);
        });
        $(state.Table.category_id).change(function() {
            state.Table.category = $(state.Table.category_id).val().trim();
            cb(state.Table.name, state.Table.category, state.Table.alias, state.Table.lab_department);
        });
        $(state.Table.alias_id).change(function() {
            state.Table.alias = $(state.Table.alias_id).val().trim();
            cb(state.Table.name, state.Table.category, state.Table.alias, state.Table.lab_department);
        });
        $(state.Table.lab_department_id).change(function() {
            state.Table.lab_department = $(state.Table.lab_department_id).val().trim();
            cb(state.Table.name, state.Table.category, state.Table.alias, state.Table.lab_department);
        })
    });
	</script>
{% endblock %}
