{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Create Reference Ranges: {{ test_type.name }}</h1>
    <div class="btn-group mr-2">
      <a href="{% url 'test_type_details' test_type.uuid %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if reference_range_exists and not reference_range_age_overlap_exists %}
      <div class="alert alert-danger">
        <strong>A rule has already been created for this sex and/or age range.
          Please update the existing reference range, or create a new one.</strong>
      </div>
    {% endif %}
    {% if reference_range_age_overlap_exists %}
      <div class="alert alert-danger">
        <strong>A rule exists that has has an overlap with this rule's sex and age range.
          Please update the existing reference range, or create a new one.</strong>
      </div>
    {% endif %}

    <!-- Create a Test Type -->
    <div class="mt-4">

      {% if reference_ranges %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Reference Ranges</h5>
            <div class="row">
              <div class="col-4">
                <label>Sex</label>
                <select class="form-control" id="sex-filter">
                  <option value="All">All</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="NB">Not Specified</option>
              </select>
              </div>
              <div class="col-4">
                <label>Account Name</label>
                <input class="form-control" placeholder="Search..." id="account-name-filter">
              </div>
            </div>
            <p>Press <b>Enter</b> to search.</p>
            <div class="row top-buffer" style="height: 400px">
              <div class="col-12">
                <div class="handsontable" id="reference-range-table"></div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="card">
        <div class="card-header">
          Add Reference Range Rule
        </div>
        <div class="card-body m-2">
          <div class="row">
            <div class="form-row">
              <p class="col-12">
                Comments will be included in reports. Critical result comments are added to a report when a
                result surpasses the given critical low or high values.
              </p>
              {% if default_reference_exists %}
                <div class="col-12">
                  {{ form.accounts.label }}
                  {{ form.accounts }}
                </div>
                <div class="col-12">
                  {{ form.sex.label }}
                  {{ form.sex }}
                </div>
                <!-- Min age -->
                <div class="col-12">
                  <br>
                  <b>Minimum Age</b>
                  <div class="row">
                    <div class="col-3">{{ form.min_age_years.label }}{{ form.min_age_years }}</div>
                    <div class="col-3">{{ form.min_age_months.label }}{{ form.min_age_months }}</div>
                    <div class="col-3">{{ form.min_age_weeks.label }}{{ form.min_age_weeks }}</div>
                    <div class="col-3">{{ form.min_age_days.label }}{{ form.min_age_days }}</div>
                  </div>
                </div>
                <!--/ Min age -->
                <!-- Max age -->
                <div class="col-12">
                  <br>
                  <b>Maximum Age</b>
                  <div class="row">
                    <div class="col-3">{{ form.max_age_years.label }}{{ form.max_age_years }}</div>
                    <div class="col-3">{{ form.max_age_months.label }}{{ form.max_age_months }}</div>
                    <div class="col-3">{{ form.max_age_weeks.label }}{{ form.max_age_weeks }}</div>
                    <div class="col-3">{{ form.max_age_days.label }}{{ form.max_age_days }}</div>
                  </div>
                  <br>
                </div>
                <!-- Max age -->
              {% endif %}
              <div class="col-6">
                {{ form.range_low.label }}
                {{ form.range_low }}
              </div>
              <div class="col-6">
                {{ form.range_high.label }}
                {{ form.range_high }}
              </div>
              <div class="col-6">
                {{ form.critical_low.label }}
                {{ form.critical_low }}
              </div>
              <div class="col-6">
                {{ form.critical_high.label }}
                {{ form.critical_high }}
              </div>
              <div class="col-12">
                {{ form.report_comment.label }}
                {{ form.report_comment }}
              </div>
              <div class="col-12">
                {{ form.critical_report_comment.label }}
                {{ form.critical_report_comment }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-secondary" name="save-add-another">Save Reference Range</button>
    <a href="{% url 'test_type_details' test_type.uuid %}" class="btn btn-primary">Continue</a>

  </form>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

    $('.prompt-delete').click(function(e) {
      let result = confirm("Are you sure you want to archive this reference range?");
      if (!result) {
        // prevent page from redirecting via <a href>
        e.preventDefault();
      }
    });

	</script>
  <script>
    const state = {
        Table: {
            data:'', sex:'All', account_name:'',
            sex_id:'#sex-filter', account_name_id:'#account-name-filter',
            tableHTMLID:'#reference-range-table',
            apiURL:'/api/v1/internal/reference_range_table/'
        }
    };
    $(state.Table.account_name_id).val('');

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'reference_range_type',
          editor: false,
          renderer: 'html',
          width: 50,
        },
        {
          data: 'sex',
          editor: false,
          renderer: 'html',
          width: 50,
        },
        {
          data: 'accounts',
          editor: false,
          renderer: 'html',
          width: 50,
        },
        {
          data: 'age_range',
          editor: false,
          renderer: 'html',
          width: 200,
        },
        {
          data: 'critical_low',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'low',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'high',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'critical_high',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'comment',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'critical_comment',
          editor: false,
          renderer: 'html',
          width: 100,
        },
        {
          data: 'actions',
          editor: false,
          renderer: 'html',
          width: 30,
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: '100%',
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Type',
          'Sex',
          'Accounts',
          'Age Range',
          'Critical Low',
          'Low',
          'High (Cutoff)',
          'Critical High',
          'Report Comment',
          'Critical Comment',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
      const hotElement = document.querySelector(state.Table.tableHTMLID);
      state.Table.table = new Handsontable(hotElement, hotSettings);

      function cb(sex, accountName) {
        var sexURL;
        if (sex === '') {
            sexURL = '_'
        } else {
            sexURL = sex
        }
        var accountNameURL;
        if (accountName === '') {
          accountNameURL = '_'
        } else {
          accountNameURL = accountName
        }
        let testTypeUUID = '{{ test_type.uuid }}';
        const url = testTypeUUID + '/' + sexURL + '/' + accountNameURL;
        $.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function(data) {
            state.Table.data = data;
            state.Table.table.getPlugin('filters').clearConditions();
            state.Table.table.loadData(data);
          },
          error: function () {
            console.log("Account table data call failed")
          }
        })
      }

      cb(state.Table.sex, state.Table.account_name);

      $(state.Table.sex_id).change(function () {
        state.Table.sex = $(state.Table.sex_id).val();
        cb(state.Table.sex, state.Table.account_name);
      });
      $(state.Table.account_name_id).change(function () {
        state.Table.account_name = $(state.Table.account_name_id).val();
        cb(state.Table.sex, state.Table.account_name);
      });
    });
  </script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
