 {% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Tests </h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      {% if request.user.user_type != 10 %}
        <div class="btn-group mr-2">
            <a href="{% url 'test_type_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Test</a>
        </div>
      {% endif %}
    </div>
  </div><br>

  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-12">
          <h6>Tests offered at {{ request.tenant.name }}</h6>
        </div>
      </div>

      <!-- Test Type Table Search Filters -->
      <div class="row">
        <div class="col-2">
          <label>Name</label>
          <input class="form-control" placeholder="Search..." id="name-filter">
        </div>
        <div class="col-2 m-0 pl-0">
          <label>Alias</label>
          <input class="form-control" placeholder="Search..." id="alias-filter">
        </div>
        <div class="col-2 m-0">
          <label>Category</label>
          <input class="form-control" placeholder="Search..." id="category-filter">
        </div>
        <div class="col-2 m-0 pl-0">
          <label>Specialty</label>
          <input class="form-control" placeholder="Search..." id="specialty-filter">
        </div>
        <div class="col-2 m-0 pl-0">
          <label>Method</label>
          <input class="form-control" placeholder="Search..." id="method-filter">
        </div>
        <div class="col-2 m-0 pl-0">
          <label>Target</label>
          <input class="form-control" placeholder="Search..." id="target-filter">
        </div>
      </div>
      <!-- /Test Type Table Search Filters -->
      <p>Press <b>Enter</b> to search.</p>

      <!-- Test Type Table -->
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="test-type-table"></div>
        </div>
      </div>
      <!-- /Test Type Table -->

    </div>
  </div>



{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script>
    const state = {
        Table: {data: '', name:'', category:'', alias:'', specialty:'',
            method:'', target:'',
        name_id:'#name-filter',
        category_id:'#category-filter',
        alias_id:'#alias-filter',
        specialty_id:'#specialty-filter',
        method_id:'#method-filter',
        target_id:'#target-filter',
        tableHTMLID: '#test-type-table',
        apiURL: '/api/v1/internal/test_type_table/'
        }
    };
    $(state.Table.name_id).val('');
    $(state.Table.alias_id).val('');
    $(state.Table.category_id).val('');
    $(state.Table.alias_id).val('');
    $(state.Table.specialty_id).val('');
    $(state.Table.method_id).val('');
    $(state.Table.target_id).val('');

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'name',
          editor: false,
          renderer: 'html',
          width: 400,
        },
        {
          data: 'alias',
          editor: false,
          renderer: 'html',
          width: 250,
        },
        {
          data: 'test_type_categories',
          editor: false,
          type: 'text',
          width: 200,
        },
        {
          data: 'specialty',
          editor: false,
          type: 'text',
        },
        {
          data: 'method',
          editor: false,
          type: 'text',
          width: 100,
        },
        {
          data: 'target',
          editor: false,
          width: 100
        },
        {
          data: 'container_type',
          editor: false,
          type: 'text',
          width: 100,
        },
        {
          data: 'min_volume',
          editor: false,
          type: 'text',
          width: 100,
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Name',
          'Alias',
          'Categories',
          'Specialty',
          'Method',
          'Target',
          'Container Type',
          'Minimum Required Volume (mL)'
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
        const hotElement = document.querySelector(state.Table.tableHTMLID);
        state.Table.table = new Handsontable(hotElement, hotSettings)

        function cb(name, alias, category, specialty, method, target) {
            var nameURL;
            if (name === '') {
                nameURL = '_'
            } else {
                nameURL = name
            }
            var aliasURL;
            if (alias === '') {
                aliasURL = '_'
            } else {
                aliasURL = alias
            }
            var categoryURL;
            if (category === '') {
                categoryURL = '_'
            } else {
                categoryURL = category
            }
            var specialtyURL;
            if (specialty === '') {
                specialtyURL = '_'
            } else {
                specialtyURL = specialty
            }
            var methodURL;
            if (method === '') {
                methodURL = '_'
            } else {
                methodURL = method
            }
            var targetURL;
            if (target === '') {
                targetURL = '_'
            } else {
                targetURL = target
            }

            const url = nameURL+ '/' + aliasURL + '/' + categoryURL + '/' + specialtyURL + '/' +
                methodURL + '/' + targetURL;
            $.ajax({
                url: state.Table.apiURL + url,
                dataType: 'json',
                success: function(data) {
                    state.Table.data = data;
                    state.Table.table.getPlugin('filters').clearConditions();
                    state.Table.table.loadData(data);
                },
                error: function () {
                    console.log("Test Type table data call failed.")
                }
            })
        }

        cb(state.Table.name, state.Table.alias, state.Table.category, state.Table.specialty, state.Table.method, state.Table.target);

        $(state.Table.name_id).change(function() {
            state.Table.name = $(state.Table.name_id).val().trim();
            cb(state.Table.name, state.Table.alias, state.Table.category, state.Table.specialty, state.Table.method, state.Table.target);
        });
        $(state.Table.category_id).change(function() {
            state.Table.category = $(state.Table.category_id).val().trim();
            cb(state.Table.name, state.Table.alias, state.Table.category, state.Table.specialty, state.Table.method, state.Table.target);
        });
        $(state.Table.alias_id).change(function() {
            state.Table.alias = $(state.Table.alias_id).val().trim();
            cb(state.Table.name, state.Table.alias, state.Table.category, state.Table.specialty, state.Table.method, state.Table.target);
        });
        $(state.Table.specialty_id).change(function() {
            state.Table.specialty = $(state.Table.specialty_id).val().trim();
            cb(state.Table.name, state.Table.alias, state.Table.category, state.Table.specialty, state.Table.method, state.Table.target);
        });
        $(state.Table.method_id).change(function() {
            state.Table.method = $(state.Table.method_id).val().trim();
            cb(state.Table.name, state.Table.alias, state.Table.category, state.Table.specialty, state.Table.method, state.Table.target);
        });
        $(state.Table.target_id).change(function() {
            state.Table.target = $(state.Table.target_id).val().trim();
            cb(state.Table.name, state.Table.alias, state.Table.category, state.Table.specialty, state.Table.method, state.Table.target);
        })
    })
  </script>
{% endblock %}