{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Test Categories</h1>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        {% if request.user.user_type != 10 %}
          <a href="{% url 'test_type_category_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Test Category</a>
        {% endif %}
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-12">
      <h6>Test Categories</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="handsontable" id="test-type-category-table"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>

    function createTestTypeCategoryTable(test_type_categories, table) {
      if (!table) {
        const hotElement = document.querySelector('#test-type-category-table');
        const hotSettings = {
          data: test_type_categories,
          columns: [
            {
              data: 'name',
              editor: false,
              renderer: linkRenderer,
              width: 350,
            },

          ],
          stretchH: 'all',
          //width: 806,
          height: 700,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
            [
              'Name',
            ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function(col, TH) {
            TH.className = 'center';
          },
        };

        return new Handsontable(hotElement, hotSettings);
      } else {
        // load new data without replacing old table
        table.getPlugin('filters').clearConditions();
        table.loadData(accounts);
        return table;
      }
    }

    let testTypeCategoryTable;
    // recent order handsontable
    $.ajax({
      url: '/api/v1/internal/test_type_category_table/',
      dataType: 'json',
      success: function (test_panel_types) {
        testTypeCategoryTable = createTestTypeCategoryTable(test_panel_types, testTypeCategoryTable)
      },
      error: function () {
        console.log("test type category table api call failed")
      }
    })
	</script>
{% endblock %}