{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Reflex Test: {{ test_type.name }}</h1>
    <div class="btn-group mr-2">
      <a href="{% url 'test_type_details' test_type.uuid %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <!-- Create a Test Type -->
    <div class="mt-4">

      {% if reflex_tests %}
        <div class="card">
          <div class="card-header">Reflex Tests & Profiles</div>
          <div class="card-body">
            <table class="table mb-0">
              <tr>
                <th>Type</th>
                <th>Sex</th>
                <th>Age Range</th>
                <th>Unit</th>
                <th>Reference Range</th>
                <th>Critical Low / High</th>
                <th>Comment</th>
                <th>Critical Comment</th>
                <th></th>
              </tr>
              {% for reference_range in reference_ranges %}
              <tr>
                {% if reference_range.default %}
                  <td><i>Default</i></td>
                  <td></td>
                  <td></td>
                  <td><i>{{ reference_range.test_type.reference_unit }}</i></td>
                  <td><i>{{ reference_range.range_low|floatformat:2 }} - {{ reference_range.range_high|floatformat:2 }}</i></td>
                  <td><i>{{ reference_range.critical_low|floatformat:2 }} / {{ reference_range.critical_high|floatformat:2 }}</i></td>
                  <td><i>{{ reference_range.report_comment }}</i></td>
                  <td><i>{{ reference_range.critical_report_comment }}</i></td>
                {% else %}
                  <td>Rule</td>
                  {% if reference_range.sex != 'NB' %}
                    <td>{{ reference_range.sex }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  {% if reference_range.min_age or reference_range.max_age %}
                    <td>{{ reference_range.min_age }} - {{ reference_range.max_age }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}

                  <td>{{ reference_range.test_type.reference_unit }}</td>
                  <td>{{ reference_range.range_low|floatformat:2 }} - {{ reference_range.range_high|floatformat:2 }}</td>
                  <td>{{ reference_range.critical_low|floatformat:2 }} / {{ reference_range.critical_high|floatformat:2 }}</td>
                  <td>{{ reference_range.report_comment }}</td>
                  <td>{{ reference_range.critical_report_comment }}</td>
                {% endif %}
                <td>
                  <span>
                    <a href="{% url 'test_type_range_update' test_type_uuid=test_type.uuid range_uuid=reference_range.uuid %}"
                             class="btn btn-primary">Update</a>
                    <a href="{% url 'test_type_range_delete' test_type_uuid=test_type.uuid range_uuid=reference_range.uuid %}"
                       class="btn btn-danger prompt-delete">Archive</a>
                  </span>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      {% endif %}

      <div class="card">
        <div class="card-header">
          Add Reflex Tests or Profiles
        </div>
        <div class="card-body m-2">
          <div class="row">
            <div class="form-row">
              <div class="col-6 mt-2">
                {% if test_type.result_type == 'Quantitative' %}
                <span>If the result is </span>&nbsp;{{ form.quantitative_comparison_operator }} <br>
                {{ form.reflex_criteria_quantitative }} {{ test_type.reference_unit }}
                {% else %}
                  <span>If the result is </span>&nbsp;{{ form.reflex_criteria_qualitative }}
                {% endif %}
              </div>

              <h5 class="col-12 mt-4 required_label">
                Reflex to Test
              </h5>
              <div class="col-6">
                {{ form.reflex_test_type }}
              </div>

              <div class="col-12 mt-3">
                {{ form.notes.label }}
                {{ form.notes }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary" name="save-add-another"><i class="fas fa-plus"></i>&nbsp;&nbsp;Reflex Test</button>

  </form>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

    $('.prompt-delete').click(function(e) {
      let result = confirm("Are you sure you want to archive this reference range?");
      if (!result) {
        // prevent page from redirecting via <a href>
        e.preventDefault();
      }
    });

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
