{% extends "base.html" %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Create Test Profile Category</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <label>{{ form.name.label }}</label>
            <input name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" class="form-control" required>
            <hr>
            <button type="submit" class="btn btn-primary">Create Test Profile Category</button>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->

	<script>
	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}