{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
      content:"*";
      color:red;
    }

    .checkbox-test{
     -webkit-column-count: 4;
     -moz-column-count: 4;
     -o-column-count: 4;
      column-count: 4;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    {% if update %}
      <h1 class="h2">Update Test Category</h1>
    {% else %}
      <h1 class="h2">Create Test Category</h1>
    {% endif %}

    <div class="btn-group mr-2">
      {% if update %}
        <a href="{% url 'test_type_category_details' test_type_category.uuid %}" class="btn btn-sm btn-secondary">Test Category Details</a>
      {% else %}
        <a href="{% url 'test_type_category_list' %}" class="btn btn-sm btn-secondary">Test Categories</a>
      {% endif %}
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- Create a Test Panel Type -->
            <div class="form-row">
              <div class="col-8">
                <label class="required_label">{{ form.name.label }}</label>
                <input name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" class="form-control">
              </div>
            </div><br>
            <div class="form-row">
              <div class="col-4">
                <label>Tests</label>
              </div>
              <div class="col-12 checkbox-test">
                {% for test in tests %}
                  {% if test.selected %}
                    <input type="checkbox" name="tests_selected" value="{{ test.id }}" checked> {{ test }} <br>
                  {% else %}
                    <input type="checkbox" name="tests_selected" value="{{ test.id }}"> {{ test }} <br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <br>

          </div>
        </div>
      </div>
    </div>
    <hr>
    {% if update %}
      <button type="submit" class="btn btn-primary">Update Test Category</button>
    {% else %}
      <button type="submit" class="btn btn-primary">Create Test Category</button>
    {% endif %}
  </form>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}