{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Update Reference Range: {{ test_type.name }}</h1>
    <div class="btn-group mr-2">
      <a href="{% url 'test_type_range_create' test_type.uuid %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
    </div>
  </div>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if reference_range_exists and not reference_range_age_overlap_exists%}
      <div class="alert alert-danger">
        <strong>A rule has already been created for this sex and/or age range.
          Please update the existing reference range, or create a new one.</strong>
      </div>
    {% endif %}
    {% if reference_range_age_overlap_exists %}
      <div class="alert alert-danger">
        <strong>A rule exists that has an overlap with this rule's sex and age range.
          Please update the existing reference range, or create a new one.</strong>
      </div>
    {% endif %}

    <!-- Create a Test Type -->
    <div class="mt-4">

      <div class="card">
        <div class="card-header">
          Update Reference Range
        </div>
        <div class="card-body m-2">
          <div class="row">
            <div class="form-row">
              <p class="col-12">
                Comments will be included in reports. Critical result comments are added to a report when a
                result surpasses the given critical low or high values.
              </p>
              {% if reference_range.default %}
                <div class="col-12">
                  <h4>Default Reference Range</h4><br>
                </div>
              {% else  %}
                <div class="col-12">
                  {{ form.accounts.label }}
                  {{ form.accounts }}
                </div>
                <div class="col-12">
                  {{ form.sex.label }}
                  {{ form.sex }}
                </div>
                <!-- Min age -->
                <div class="col-12">
                  <br>
                  <b>Minimum Age</b>
                  <div class="row">
                    <div class="col-3">{{ form.min_age_years.label }}{{ form.min_age_years }}</div>
                    <div class="col-3">{{ form.min_age_months.label }}{{ form.min_age_months }}</div>
                    <div class="col-3">{{ form.min_age_weeks.label }}{{ form.min_age_weeks }}</div>
                    <div class="col-3">{{ form.min_age_days.label }}{{ form.min_age_days }}</div>
                  </div>
                </div>
                <!--/ Min age -->
                <!-- Max age -->
                <div class="col-12">
                  <br>
                  <b>Maximum Age</b>
                  <div class="row">
                    <div class="col-3">{{ form.max_age_years.label }}{{ form.max_age_years }}</div>
                    <div class="col-3">{{ form.max_age_months.label }}{{ form.max_age_months }}</div>
                    <div class="col-3">{{ form.max_age_weeks.label }}{{ form.max_age_weeks }}</div>
                    <div class="col-3">{{ form.max_age_days.label }}{{ form.max_age_days }}</div>
                  </div>
                  <br>
                </div>
                <!-- Max age -->
              {% endif %}
              <div class="col-6">
                {{ form.range_low.label }}
                {{ form.range_low }}
              </div>
              <div class="col-6">
                {{ form.range_high.label }}
                {{ form.range_high }}
              </div>
              <div class="col-6">
                {{ form.critical_low.label }}
                {{ form.critical_low }}
              </div>
              <div class="col-6">
                {{ form.critical_high.label }}
                {{ form.critical_high }}
              </div>
              <div class="col-12">
                {{ form.report_comment.label }}
                {{ form.report_comment }}
              </div>
              <div class="col-12">
                {{ form.critical_report_comment.label }}
                {{ form.critical_report_comment }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-warning" name="save-add-another"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp; Reference Range</button>

  </form>





{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}