{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Test</h2>
    {% else %}
      <h2>Create Test</h2>
    {% endif %}

    <div class="btn-group mr-2">
      <a href="{% url 'test_type_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  {% if default_reference_range_form.errors %}
    {% for field in default_reference_range_form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in default_reference_range_form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}


  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- Create a Test Type -->
            <label class="required_label">{{ form.test_method.label }}&nbsp;&nbsp;</label>
            {{ form.test_method }}
            <span>&nbsp;&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Please contact support if you'd like to add to your test methods list.">
              </i>
            </span><br><br>

            <label class="required_label">{{ form.test_target.label }}&nbsp;&nbsp;</label>
            {{ form.test_target }}<br><br>

            <label>{{ form.test_type_categories.label }}&nbsp;&nbsp;</label>
            {{ form.test_type_categories }}<br><br>

            <label class="required_label">{{ form.specialty.label }}&nbsp;&nbsp;</label>
            {{ form.specialty }}<br><br>

            <label class="required_label">{{ form.name.label }}</label>
            <input name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" class="form-control" required><br>
            <div class="form-row">
              <div class="col-4">
                <label>{{ form.aliases.label }}</label>
                {{ form.aliases }}
              </div>
            </div><br>
            <div class="form-row">
              <div class="col-3">
                <label>{{ form.manufacturer.label }}  </label>
                {{ form.manufacturer }}
              </div>
            </div><br>

            <div class="form-row">
              <div class="col-3">
                <label>{{ form.isotype.label }}&nbsp;&nbsp;</label>
                {{ form.isotype }}
              </div>
              <div class="col-3">
                <label>{{ form.band.label }}&nbsp;&nbsp;</label>
                {{ form.band }}
              </div>
            </div><br>

            <div class="form-row">
              <div class="col-2">
                <label>{{ form.turnaround_time.label }}&nbsp;&nbsp;</label>
                {{ form.turnaround_time }}
              </div>
              <div class="col-1 pt-2">
                <label>{{ form.turnaround_time_unit.label }}</label>
                {{ form.turnaround_time_unit }}
              </div>
            </div><br>

            <label>{{ form.result_type.label }}&nbsp;&nbsp;</label>
            {{ form.result_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.result_type.1 }}<br><br>

            <label>{{ form.unit.label }} </label>
            {{ form.unit }}<br>

            <label>
              {{ form.use_round_figures }}
              {{ form.use_round_figures.label }}
              <span>&nbsp;
                <i class="fas fa-info-circle" data-toggle="tooltip"
                   title="By default, imported or entered test results will be stored with exact, not rounded, figures.">
                </i>
              </span>
            </label><br>

            <div id="round-figures">
              <label>{{ form.round_figures.label }} </label>
              {{ form.round_figures }}<br>
            </div>

            <br>
            <label class="required_label">Required Samples</label><br>
            {{ sample_formset.management_form }}
            {% for sample_form, label in sample_formset_and_labels %}
              <div class="form-row">
                <div class="col-2">
                  <div class="d-none">{{ sample_form.sample_type }}</div>
                  <label>{{ label }}</label>
                  {{ sample_form.num_samples }}
                </div>
              </div>
            {% endfor %}
            <br>
            <label>{{ form.container_type.label }}&nbsp;&nbsp;</label>
            {{ form.container_type }}<br>

            <div class="form-row">
              <div class="col-4">
                <label>{{ form.min_volume.label }}&nbsp;&nbsp;</label>
                {{ form.min_volume }}<br>
              </div>
            </div>
            <br>

            <label>{{ form.offsite_laboratory.label }}&nbsp;&nbsp;</label>
            {{ form.offsite_laboratory }}<br>

            <label>{{ form.offsite_test_id.label }}</label>
            {{ form.offsite_test_id }}<br>

            <label>{{ form.icd10_codes.label }}&nbsp;&nbsp;</label>
            {{ form.icd10_codes }}<br><br>

            <label>{{ form.loinc_code.label }}&nbsp;&nbsp;</label>
            {{ form.loinc_code }}<br>

            <label>
              {{ form.is_research_only }}
              {{ form.is_research_only.label }}
            </label><br>
            <label>
              {{ form.is_approval_required }}
              {{ form.is_approval_required.label }}&nbsp;&nbsp;
            </label><br>
            <label>
                {{ form.is_internal }}
                {{ form.is_internal.label }}
            </label> &nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="Results for internal tests will not show up on reports.">
            </i>
          </div>

        </div>

      </div>
    </div>
    <hr>

    {% if update %}
      <button type="submit" class="btn btn-primary">Update Test</button>
    {% else %}
      <button type="submit" class="btn btn-primary">Create Test</button>
    {% endif %}

  </form>


{% endblock %}


{% block javascript %}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <!-- Custom JS -->
	<script>
    $('#id_min_volume_0').addClass("form-control");
    $('#id_min_volume_1').addClass("form-control");

    // only show round figures if checked
    if($('#id_use_round_figures').prop('checked')) {
      $('#round-figures').show();
    } else{
      $('#round-figures').hide();
    }
    $('#id_use_round_figures').change(function() {
     $('#round-figures').toggle(this.checked);
    });

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
