{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ test_panel_type.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if request.user.user_type < 9 %}
          <a href="{% url 'test_panel_type_delete' test_panel_type.uuid %}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Test Profile</a>
          <a href="{% url 'test_panel_type_update' test_panel_type.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Test Profile</a>
           <a href="{% url 'test_panel_type_clone' test_panel_type.uuid %}" class="btn btn-sm btn-info ml-2"><i class="fas fa-clone"></i>&nbsp;&nbsp;Clone Test Profile</a>
        {% endif %}
        <a href="{% url 'test_panel_type_list' %}" class="btn btn-sm btn-secondary ml-2">Test Profiles</a>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <p><b>Name</b><br> {{ test_panel_type.name }}</p>
          <p><b>Aliases</b><br>
            {% if test_panel_type.test_panel_type_aliases.all %}
              {% for alias in test_panel_type.test_panel_type_aliases.all %}
                {{ alias }}<br>
              {% endfor %}
            {% else %}
              -
            {% endif %}
          </p>
          <p><b>Alternate ID</b><br> {{ test_panel_type.alternate_id|default:"-" }}</p>
          {% if test_panel_type.in_house_lab_locations.all %}
            <p><b>In-House Lab Locations</b><br>{% for in_house_lab_location in test_panel_type.in_house_lab_locations.all %} {{ in_house_lab_location }}<br>{% endfor %}</p>
          {% endif %}
          <p><b>Price</b><br>
            {% if test_panel_type.price %}
              ${{ test_panel_type.price }}
            {% else %}
              -
            {% endif %}
          </p>
          <p><b>Tests</b><br>
            {% for clia_test_type in test_panel_type.clia_test_types.all %}
              {{ clia_test_type }}<br>
            {% endfor %}
            {% for test_type in test_panel_type.test_types.all %}
              {% if test_type.is_active %}
                <a href="{% url 'test_type_details' test_type.uuid %}">{{ test_type }}</a><br>
              {% endif %}
            {% endfor %}
          </p>

          <p><b>Procedure Codes</b>
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="A list of all Procedure Codes associated with this test profile.">
            </i>
            <br>
          {% if test_panel_type.procedure_codes.all %}
            {% for procedure_code in test_panel_type.procedure_codes.all %}
              {{ procedure_code }}<br>
            {% endfor %}
          {% else %}
            -
          {% endif %}
          </p>
          <p><b>Lab Departments</b>
          <br>
          {% if test_panel_type.lab_departments.all %}
            {% for lab_department in test_panel_type.lab_departments.all %}
              {{ lab_department }}<br>
            {% endfor %}
          {% else %}
            -
          {% endif %}
          </p>
          {% if test_panel_type.offsite_laboratory %}
            <p><b>Testing Laboratory</b><br>{{ test_panel_type.offsite_laboratory }}</p>
          {% else %}
            <p><b>Testing Laboratory</b><br>Onsite</p>
          {% endif %}
          <p><b>Test Profile Category</b><br> {{ test_panel_type.test_panel_category }}</p>
          <p><b>Test Profile Category Order</b><br> {{ test_panel_type.category_order }}</p>
          <p><b>Research Consent Required</b><br> {{ test_panel_type.research_consent_required }}</p>
          {% if test_panel_type.exclusive_accounts.all %}
            <p><b>Show for Accounts</b><br>{% for account in test_panel_type.exclusive_accounts.all %}{{ account }}<br>{% endfor %}</p>
          {% endif %}
          {% if test_panel_type.exclusive_providers.all %}
            <p><b>Show for Providers</b><br> {% for provider in test_panel_type.exclusive_providers.all %}{{ provider }}<br>{% endfor %}</p>
          {% endif %}
          <p><b>Notes</b></p>
          <div class="card">
            <div class="card-body">
              {% if test_panel_type.notes %}
                <!-- wrap your text with a <pre> tag so that HTML will understand that it is preformatted -->
                <pre>{{ test_panel_type.notes }}</pre>
              {% else %}
                No notes.
              {% endif %}
            </div>
          </div><br>

        </div>

      </div>

    </div>

  </div>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Test Profile Comments
          <span><a href="{% url 'test_panel_type_comment_create' test_panel_type.uuid %}" class="btn-sm btn-primary float-right"><i class="fas fa-plus"></i>&nbsp;&nbsp;Comment</a></span>
        </div>
        <div class="card-body">

          {% if test_panel_type.test_panel_type_comments.all %}
            <table class="table">
              <tr>
                <th>Comment</th>
                <th>Public (Reportable)&nbsp;&nbsp;<i class="fas fa-info-circle" data-toggle="tooltip" title="Public comments are shown on the final report."></i></th>
                <th>Update/Archive</th>
              </tr>
              {% for test_comment in test_panel_type.test_panel_type_comments.all %}
                <tr>
                  <!-- https://stackoverflow.com/questions/4320679/django-display-choice-value -->
                  <td width="75%">{{ test_comment.comment }}</td>
                  <td>{{ test_comment.is_public }}</td>
                  <td>
                    <a href="{% url 'test_panel_type_comment_update' test_panel_type.uuid test_comment.uuid %}" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{% url 'test_panel_type_comment_delete' test_panel_type.uuid test_comment.uuid %}" class="btn btn-danger btn-sm archive-comment"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>There are no test profile comments yet. Create a test profile comment by clicking the button on the top right of this card.</p>
          {% endif %}

        </div>

      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
    $('.archive-comment').click(function(e) {
      let result = confirm("Are you sure you want to archive this comment?");
      if (!result) {
        // prevent page from redirecting via <a href>
        e.preventDefault();
      }
    });
	</script>
{% endblock %}
