{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Orders: Pending Approval</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div><br>
  <!-- /Header -->

  <!-- Test Approval workqueue table -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4>Orders pending test approval submitted between:</h4>
        <p>Click on any Order Code to see details for that order.</p>
        <div id="pending_approval_order_table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span />
          <b class="caret"></b>
        </div>
      </div>
      <!-- Num Orders -->
      <div class="col-lg-6"></div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="order-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
        </div>
      </div>
      <!-- Num Orders -->
    </div><br>

    <div class="row top-buffer">
      <div class="col-12">
        <div class="handsontable" id="pending_approval_order_table"></div>
      </div>
    </div>
  </div>
  <!-- /Test approval table -->

{% endblock %}

{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script>
    // Default page state
    const state = {
        Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count',
            tableHtmlID: '#pending_approval_order_table', dateRangePickerHtmlID: '#pending_approval_order_table-range span', dateRangePickerDivID: '#pending_approval_order_table-range',
            apiURL: '/api/v1/internal/workqueue_pending_approval_table/'
        },
    };
    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'code',
          editor: false,
          renderer: linkRenderer,
        },
        {
          data: 'accession_number',
          editor: false,
          type: 'text',
        },
        {
          data: 'status',
          editor: false,
          type: 'text',
        },
        {
          data: 'account',
          editor: false,
          renderer: linkRenderer,
          width: 150,
          columnSorting: {
                compareFunctionFactory: function compareFunctionFactory(sortOrder, columnMeta) {
                  return function comparator(a, b) {
                    var asc = true;
                    if (sortOrder === 'desc') {
                      asc = false;
                    }
                    if (a.text < b.text) {
                      return asc ? -1: 1
                    }
                    if (a.text > b.text) {
                      return asc ? 1: -1
                    }
                    return 0;
                  }
                }
              },
        },
        {
          data: 'provider',
          editor: false,
          renderer: linkRenderer,
          width: 150,
          columnSorting: {
                compareFunctionFactory: function compareFunctionFactory(sortOrder, columnMeta) {
                  return function comparator(a, b) {
                    var asc = true;
                    if (sortOrder === 'desc') {
                      asc = false;
                    }
                    if (a.text < b.text) {
                      return asc ? -1: 1
                    }
                    if (a.text > b.text) {
                      return asc ? 1: -1
                    }
                    return 0;
                  }
                }
              },
        },
        {
          data: 'submitted_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'received_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'completed_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'approve_link',
          editor: false,
          renderer: 'html',
          className: 'htCenter',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Order Code',
          'Accession Number',
          'Status',
          'Account',
          'Provider',
          'Submitted Date',
          'Received Date',
          'Completed Date',
          'Approval Page',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },

      beforeCopy: (data, coords) => {
        for(i=0; i < data.length; i++) {
          data[i][1] = data[i][1].text;
          data[i][2] = data[i][2].text;
          data[i][3] = data[i][3].text;
          data[i][4] = data[i][4].text;
        }
        return data;
      },
    };
    var j = jQuery.noConflict();

    // in transit order table
    j(function() {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      createTable(state.Table.tableHtmlID, hotSettings);

      function order_cb(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;

          const url = start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
          j.ajax({
              url: state.Table.apiURL + url,
              dataType: 'json',
              success: function(orders) {
                  state.Table.data = orders;
                  updateTable();
              },
              error: function() {
                  console.log("pending order table data call failed")
              }
          })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment().add(1, 'd'),
          ranges: {
              'Today': [moment(), moment()],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end);
      });

      order_cb(start, end);
    });
	</script>
{% endblock %}
