{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Orders: Reported</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
				<a class="btn btn-primary btn-sm" href="{% url 'order_create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Order</a>
        <a href="{% url 'order_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div><br>
  <!-- /Header -->

  <!-- table -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4>Reported Orders submitted between:</h4>
        <p>Click on any Order Code to see details for that order.</p>
        <div id="reported-order-table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span />
          <b class="caret"></b>
        </div>
      </div>
      <!-- Num Orders -->
      <div class="col-lg-6"></div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="order-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
        </div>
      </div>
      <!-- Num Orders -->
    </div>
    <br>
    <div class="row ">
      <div class="col-3 m-0">
        <label>Accession Number</label>
        <input class="form-control" placeholder="Search..." id="accession-number-filter">
      </div>
    </div>
    <br>
    <div class="row ">
      <div class="col-3 m-0">
        <label>Last Name</label>
        <input class="form-control" placeholder="Search..." id="last-name-filter">
      </div>
      <div class="col-3 m-0 pl-0">
        <label>First Name</label>
        <input class="form-control" placeholder="Search..." id="first-name-filter">
      </div>
      <div class="col-2">
        <label>Middle</label>
        <input class="form-control" placeholder="Search..." id="middle-filter">
      </div>
      <div class="col-2">
        <label>Sex</label>
        <select class="form-control" id="sex-filter">
          <option value="_">All</option>
          <option value="F">Female</option>
          <option value="M">Male</option>
          <option value="NB">Non-binary</option>
        </select>
      </div>
      <div class="col-2">
        <label>Birth Date</label>
        <input id="birth-date-filter" class="form-control dateMask" placeholder="MM-DD-YYYY">
      </div>
    </div>
    <p>Press <b>Enter</b> to search.</p>

    <div class="row top-buffer">
      <div class="col-12">
        <div class="handsontable" id="reported-order-table"></div>
      </div>
    </div>
  </div>
  <!-- table -->
{% endblock %}

{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
	<script>
    // Default page state
    const state = {
        Table: {chart: '', data:'', dateBegin: '', dateEnd: '',
            first_name:'', last_name:'', middle:'', sex:'', birth_date:'',
            first_name_id:'#first-name-filter', last_name_id:'#last-name-filter', middle_id:'#middle-filter',
            accession_number:'', accession_number_id:'#accession-number-filter',
            sex_id:'#sex-filter', birth_date_id:'#birth-date-filter',
            countHtmlID: '#order-count',
            tableHtmlID: '#reported-order-table', dateRangePickerHtmlID: '#reported-order-table-range span', dateRangePickerDivID: '#reported-order-table-range',
            apiURL: '/api/v1/internal/workqueue_qa_passed_table/'
        },
    };
    $(state.Table.first_name_id).val('');
    $(state.Table.last_name_id).val('');
    $(state.Table.middle_id).val('');
    $(state.Table.sex_id).val('_');
    $(state.Table.birth_date_id).val('');
    $(state.Table.accession_number_id).val('');

    $('.dateMask').inputmask({"mask": "99-99-9999"});
    // Patient Birth Date Selector
    let patientBirthDate = new Pikaday({
      field: $(state.Table.birth_date_id)[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("01011920", "MMDDYYYY"),
      yearRange: 120,
    });

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'code',
          editor: false,
          renderer: 'html',
        },
        {
          data: 'accession_number',
          editor: false,
          type: 'text',
        },
        {
          data: 'status',
          editor: false,
          type: 'text',
        },
        {
          data: 'patient',
          editor: false,
          renderer: 'html',
          width: 150,
        },
        {
          data: 'account',
          editor: false,
          renderer: 'html',
          width: 150,
        },
        {
          data: 'provider',
          editor: false,
          renderer: 'html',
          width: 150,
        },
        {
          data: 'submitted_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'report_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'report_pdf',
          editor: false,
          renderer: 'html',
          className: 'htCenter',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Order Code',
          'Accession Number',
          'Status',
          'Patient',
          'Account',
          'Provider',
          'Submitted Date',
          'Report Date',
          'View'
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };
    var j = jQuery.noConflict();

    // Reported order table
    j(function() {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      createTable(state.Table.tableHtmlID, hotSettings);

      function order_cb(start, end, firstName, lastName, middle, sex, birthDate, accessionNumber) {
          var firstNameURL;
          if (firstName === '') {
              firstNameURL = '_'
          } else {
              firstNameURL = firstName
          }
          var lastNameURL;
          if (lastName === '') {
              lastNameURL = '_'
          } else {
              lastNameURL = lastName
          }
          var middleURL;
          if (middle === '') {
              middleURL = '_'
          } else {
              middleURL = middle
          }
          var sexURL;
          if (sex === '') {
              sexURL = '_'
          } else {
              sexURL = sex
          }
          var birthDateURL;
          if (birthDate === '') {
              birthDateURL = '_'
          } else {
              birthDateURL = birthDate;
          }
          var accessionNumberURL;
          if (accessionNumber === '') {
              accessionNumberURL = '_'
          } else {
              accessionNumberURL = accessionNumber
          }

          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;

          const url = start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD') + '/' + firstNameURL + '/' +
              lastNameURL + '/' + middleURL + '/' + sexURL + '/' + birthDateURL + '/' + accessionNumberURL;
          j.ajax({
              url: state.Table.apiURL + url,
              dataType: 'json',
              success: function(orders) {
                  state.Table.data = orders;
                  updateTable();
              },
              error: function() {
                  console.log("pending order table data call failed")
              }
          })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment().add(1, 'd'),
          ranges: {
              'Today': [moment(), moment()],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
      });

      order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
        j(state.Table.first_name_id).change(function () {
            state.Table.first_name = j(state.Table.first_name_id).val();
            order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
        });
        j(state.Table.last_name_id).change(function () {
            state.Table.last_name = j(state.Table.last_name_id).val();
            order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
        });
        j(state.Table.middle_id).change(function () {
            state.Table.middle = j(state.Table.middle_id).val();
            order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
        });
        j(state.Table.sex_id).change(function () {
            state.Table.sex = j(state.Table.sex_id).val();
            order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
        });
        j(state.Table.birth_date_id).change(function () {
            state.Table.birth_date = j(state.Table.birth_date_id).val();
            order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
        });
        j(state.Table.accession_number_id).change(function () {
            state.Table.accession_number = j(state.Table.accession_number_id).val();
            order_cb(start, end, state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date, state.Table.accession_number);
        });
    });
	</script>
{% endblock %}
