{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Orders: Work Queue</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
				<a class="btn btn-primary btn-sm" href="{% url 'order_create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Order</a>
        <a href="{% url 'order_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div><br>
  <!-- /Header -->

  <!-- Orders with pending results table -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4>Orders with submitted dates between:</h4>
        <div id="workqueue-order-table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<span />
          <b class="caret"></b>
        </div>
      </div>
      <!-- Num Orders -->
      <div class="col-lg-6"></div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="order-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
        </div>
      </div>
      <!-- Num Orders -->
    </div><br>

    <div class="row top-buffer">
      <div class="col-12">
        <div class="handsontable" id="workqueue-order-table"></div>
      </div>
    </div>
  </div>
  <!-- /Orders with pending results table -->

{% endblock %}

{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script>
    // Default page state
    const state = {
        Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count',
            tableHtmlID: '#workqueue-order-table', dateRangePickerHtmlID: '#workqueue-order-table-range span', dateRangePickerDivID: '#workqueue-order-table-range',
            apiURL: '/api/v1/internal/workqueue_table/'
        },
    };
    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'code',
          editor: false,
          renderer: 'html',
        },
        {
          data: 'accession_number',
          editor: false,
          type: 'text',
        },
        {
          data: 'status',
          editor: false,
          type: 'text',
        },
        {
          data: 'num_tests_pending',
          editor: false,
          type: 'text',
        },
        {
          data: 'account',
          editor: false,
          renderer: 'html',
          width: 150,
        },
        {
          data: 'provider',
          editor: false,
          renderer: 'html',
          width: 150,
        },
        {
          data: 'submitted_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Order Code',
          'Accession Number',
          'Status',
          '# Pending Tests',
          'Account',
          'Provider',
          'Submitted Date',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },

    };
    var j = jQuery.noConflict();

    // in transit order table
    j(function() {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      createTable(state.Table.tableHtmlID, hotSettings);

      function order_cb(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;

          const url = start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
          j.ajax({
              url: state.Table.apiURL + url,
              dataType: 'json',
              success: function(orders) {
                  state.Table.data = orders;
                  updateTable();
              },
              error: function() {
                  console.log("recent order table data call failed")
              }
          })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment().add(1, 'd'),
          ranges: {
              'Today': [moment(), moment()],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end);
      });

      order_cb(start, end);
    });
	</script>
{% endblock %}
