{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
  .spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes  spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  </style>
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Tests: Work Queue</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'order_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div><br>
  <!-- /Header -->

  <!-- Test Method pending test count -->
  <div class="row">
    {% for test_method, test_method_id in test_methods %}
      <div class="col">
        <div class="card p-3">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-center">
                <span>
                  <h3 class="test-method-count spin" id="{{ test_method_id }}-count">
                    <input type="hidden" class="id" value="{{ test_method_id }}">
                    <input type="hidden" class="name" value="{{ test_method }}">
                    <i class="fa fa-spinner"></i>
                  </h3>
                  <a href="{% url 'pending_test_list' test_method %}">
                    <h6><br>Pending {{ test_method }} tests</h6>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- /Test Method pending test count -->

  <!-- Orders with pending results table -->
  <div class="card p-3">
    <div class="row">
      <!-- Date range picker -->
      <div class="col-lg-4">
        <h4>Tests with due dates between:</h4>
        <p>Click on any Order Code to see details for that order. <br><br>
          <i>This is a list of all tests (with or without
            results) that are unreported.</i>
        </p>
        <div id="workqueue-test-table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span />
          <b class="caret"></b>
        </div>
        <br>
        <p>Containing test method:</p>
        <select class="form-control" id="test-method-filter">
          <option value="All">All</option>
          {% for test_method in test_methods %}
            <option value="{{ test_method.0 }}">{{ test_method.0 }}</option>
          {% endfor %}
        </select>

      </div>
      <!-- Num Orders -->
      <div class="col-lg-6"></div>
      <div class="col-lg-2 pt-2 pull-right">
        <div class="desc text-center">
          <b>Count</b><br>
          <span id="test-count" data-toggle="counter" data-end="80" data-suffix="%" class="number text-center"></span>
          <br><br>
          <!-- Use EXPORT TO CSV JS functionality -->
          <a class="btn btn-secondary" id="export-csv-button" href="#">Export to CSV</a>
        </div>
      </div>
      <!-- Num Orders -->
    </div>

    <div class="row top-buffer mt-4">
      <div class="col-12">
        <div class="handsontable" id="workqueue-test-table"></div>
      </div>
    </div>
  </div>
  <!-- /Orders with pending results table -->

{% endblock %}

{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script>
    // Default page state
    const state = {
      Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#test-count',
          testMethodFilter: '',
          tableHtmlID: '#workqueue-test-table', dateRangePickerHtmlID: '#workqueue-test-table-range span', dateRangePickerDivID: '#workqueue-test-table-range',
          apiURL: '/api/v1/internal/workqueue_test_table/'
      },
    };

    const hotSettings = {
      data: [],
      licenseKey: 'non-commercial-and-evaluation',
      columns: [
        {
          data: 'code',
          editor: false,
          type: 'text',
          renderer: linkRenderer,
        },
        {
          data: 'accession_number',
          editor: false,
          type: 'text',
        },
        {
          data: 'test_name',
          editor: false,
          type: 'text',
        },
        {
          data: 'account',
          editor: false,
          width: 150,
          renderer: linkRenderer,
        },
        {
          data: 'provider',
          editor: false,
          width: 150,
          renderer: linkRenderer,
        },
        {
          data: 'sample',
          editor: false,
          type: 'text',
        },
        {
          data: 'order_submitted_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'due_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'patient_result_request',
          editor: false,
          type: 'text',
          className: 'htCenter',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Order Code',
          'Accession Number',
          'Test',
          'Account',
          'Provider',
          'Sample',
          'Order <br>Submitted <br>Date',
          'Due Date',
          'Patient Result <br>Request'
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    var j = jQuery.noConflict();

    // in workqueue test table
    j(function() {
      const start = moment().subtract(7, 'd');
      const end = moment().add(14, 'd');

      var e = document.getElementById('test-method-filter');
      var testMethodFilter = e.options[e.selectedIndex].value;

      createTable(state.Table.tableHtmlID, hotSettings);

      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      // EXPORT TO CSV snippet
      // Requirements: js/date_range_picker_table.js
      // use JS instead of jQuery because of jQuery.noConflict --> not sure what that actually does
      // entire table state is only available in this function
      let hotInstance = state.Table.table.getInstance();
      let exportCsvButton = document.getElementById('export-csv-button');
      let csvPlugin = hotInstance.getPlugin('exportFile');

      // function to convert objects to text
      // if we don't do this, then URL links will display as [object Object]
      exportCsvButton.addEventListener('click', function() {

        let stateStartDate = state.Table.dateBegin.format('MMMM-D-YYYY');
        let stateEndDate = state.Table.dateEnd.format('MMMM-D-YYYY');

        // handsontable plugin
        csvPlugin.downloadFile('csv', {
          bom: false,
          columnDelimiter: ',',
          columnHeaders: false,
          exportHiddenColumns: false,
          exportHiddenRows: true,
          fileExtension: 'csv',
          filename: 'tests_work_queue_' + stateStartDate + '_' +stateEndDate,
          mimeType: 'text/csv',
          rowDelimiter: '\r\n',
          rowHeaders: false
        });

      });
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

      function order_cb(start, end, testMethodFilter) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        state.Table.testMethodFilter = testMethodFilter;

        const url = testMethodFilter + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');

        j.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function(tests) {
            state.Table.data = tests;
            updateTable();
          },
          error: function() {
            console.log("recent tests table data call failed")
          }
        })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment().add(2, 'M'),
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end, state.Table.testMethodFilter);
      });

      order_cb(start, end, testMethodFilter);

      j('#test-method-filter').change(function () {
        let e = document.getElementById('test-method-filter');
        testMethodFilter = e.options[e.selectedIndex].value;

        state.Table.testMethodFilter = testMethodFilter;
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.testMethodFilter);
      });

    });
	</script>
  <script>
    // Query number of tests pending
    j('.test-method-count').each(function(index) {
        var countElement = j( this );
        var testMethodID = j( this ).children(".id").first().val();

        j.ajax({
              url: '/api/v1/internal/workqueue_test_count/' + testMethodID + '/',
              dataType: 'json',
              success: function(count) {
                  countElement.removeClass('spin');
                  countElement.replaceWith("<h3>" + count + "</h3>");
                  console.log(count);
              },
              error: function() {
                  console.log("pending test count request has failed.")
              }
          })
    })
  </script>
{% endblock %}
