{% extends "public_base.html" %}
{% load static %}

  {% block title %}
    <title>Dendi - Account Activation</title>
  {% endblock %}

  {% block content %}
    <h1>Pending account activation</h1>

    <p class="lead mt-4">We are currently setting up your account. <br>
      Please look for an email from us and follow the instructions to complete your
      account activation.<br><br>This email may take up to 30 minutes to arrive. If you have any issues, please send us an email
      at <a href="#">support@dendisoftware.com</a>.</p>
  <h5 class="text-muted mt-4">The Dendi Team</h5>
  {% endblock content %}
