{% extends "public_base_v2.html" %}
{% load static %}

        {% block content %}
        <div class="main-container">
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h1>Careers</h1>
                            <p class="lead">
                                We are a fast-paced technology startup aiming to revolutionize the clinical laboratory industry.
                                Become an integral member of our growing team and help us improve clinical testing with our cutting-edge platform.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-block">
                                <h3>Current Openings</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Software Engineer</h5>
                                <p>
                                    San Francisco, CA
                                </p>
                                <a href="{% url 'careers_details_page' job_name='software-engineer' %}">
                                    View &amp; Apply
                                </a>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Software Engineer - Infrastructure</h5>
                                <p>
                                    San Francisco, CA
                                </p>
                                <a href="{% url 'careers_details_page' job_name='software-engineer-infrastructure' %}">
                                    View &amp; Apply
                                </a>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Engagement Manager</h5>
                                <p>
                                    Raleigh, NC
                                </p>
                                <a href="{% url 'careers_details_page' job_name='engagement-manager' %}">
                                    View &amp; Apply
                                </a>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <h2>Something bigger than ourselves</h2>
                                <p class="lead">
                                    Join a team of people who work on a product that we truly believe in and
                                    who are energized by the shared vision of a
                                    future with better preventative care for all human beings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        {% endblock %}
