{% extends "public_base_v2.html" %}
{% load static %}

        {% block content %}
        <div class="main-container">
            <section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ job_title }}</h1>
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="{% url 'careers_list_page' %}">Careers</a>
                                </li>
                                <li>{{ job_title }}</li>
                            </ol>
                            <hr>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-8 col-lg-7">
                            <h4>Calling all problem solvers</h4>
                            <p>
                                Dendi provides a cutting-edge clinical laboratory information system (LIS) that integrates with every part of the clinical laboratory ecosystem and enables true end-to-end automation.
                                Dendi leverages modern software frameworks and the latest innovations in cloud technology
                                to create a system that integrates seamlessly with any instrument, Electronic Medical Record (EMR), or API.
                            </p>
                            <p>
                                {{ job_description }}
                            </p>

                            <p>
                                We are an equal opportunity employer and value diversity at our company.
                                We do not discriminate on the basis of race, religion, color, national origin,
                                gender, sexual orientation, age, marital status, veteran status, or disability status.
                            </p>
                            <p>
                              If interested, please email <a href="mailto:careers@dendisoftware.com?subject=Application%20to%20Dendi">careers@dendisoftware.com</a>
                              with your resume/CV, and we will get back to you within 48 hours.
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="text-block">
                                <h5>Responsibilities</h5>
                                <ul class="bullets">
                                    <li>{{ responsibility_1 }}</li>
                                    <li>{{ responsibility_2 }}</li>
                                    <li>{{ responsibility_3 }}</li>
                                    <li>{{ responsibility_4 }}</li>
                                </ul>
                            </div>
                            <div class="text-block">
                                <h5>Minimum Requirements</h5>
                                <ul class="bullets">
                                    <li>Bachelor's degree in Computer Science, Biology, Chemistry, or related field</li>
                                    <li>3-4 years of relevant work experience.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        {% endblock %}
