{% extends "public_base_v2.html" %}
{% load static %}

        {% block content %}
        <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Case Studies</h1>
                            <p class="lead">
                                Our partners are fearless innovators who constantly seek to challenge the status quo.
                                Our job is simple: empower their mission and give them tools for leverage.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-4">
                            <img alt="galaxy_logo" class="border--round" src="{% static 'landing_page_v2/img/galaxy_transparent.png' %}" />
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>Galaxy Diagnostics</h2>
                                <p class="lead">
                                    Galaxy Diagnostics was launched in 2009 to commercialize a more sensitive test for Bartonella species infection (e.g., bartonellosis, cat scratch disease, trench fever, etc.), based on a proprietary technology called Bartonella Alpha Proteobacteria Growth Medium (BAPGM).
                                </p>
                                <a href="https://s3.amazonaws.com/dendi/galaxy_case_study.pdf" target="_blank">Download PDF of Case Study &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-4">
                            <!-- Mako logo is large, so shrink -->
                            <img alt="mako_logo" class="border--round" style="max-width:300px;" src="{% static 'landing_page_v2/img/mako_logo.jpg' %}" />
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>Mako Medical</h2>
                                <p class="lead">
                                    Mako Medical provides diagnostic lab testing, methodology development, and pathological services to physicians, urgent care facilities, and hospitals.
                                    Mako Medical utilizes next-generation sequencers and RT-PCR systems for targeted discovery of genetic markers and can
                                    process over 3,100 clinical laboratory tests.
                                </p>
                                <a href="#">Download PDF of Case Study &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        {% endblock %}
