{% extends "public_base.html" %}
{% load static %}

{% block title %}
  <title>Dendi - Create Account</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

  <h3>Create your account in 3 simple steps.</h3><br>
  <h5>Step 2 of 3</h5>

  <form method="post">
    {% csrf_token %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong class="form-error">{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong class="form-error">{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <div class="form-group mt-4">

      <label for="first_name">{{ form.first_name.label }}</label>
      <input id="first_name"
             name="{{ form.first_name.name }}"
             value="{{ form.first_name.value|default_if_none:'' }}"
             class="form-control" required><br>

      <label for="first_name">{{ form.last_name.label }}</label>
      <input id="first_name"
             name="{{ form.last_name.name }}"
             value="{{ form.last_name.value|default_if_none:'' }}"
             class="form-control" required><br>

      <label for="password">{{ form.new_password.label }}</label>
      <input id="password"
             name="{{ form.new_password.name }}" type="password"
             class="form-control" required>
      <small class="form-text text-muted">Password must be at least 6 characters long.</small><br>

      <label for="password">{{ form.confirm_new_password.label }}</label>
      <input id="password"
             name="{{ form.confirm_new_password.name }}" type="password"
             class="form-control" required>
      <small class="form-text text-muted">Both passwords must match.</small><br>

    </div>
    <button type="submit" class="btn btn-primary">Next Step</button>
  </form>



{% endblock content %}


{% block javascript %}
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script>
  $('.schemaMask').inputmask({"mask": "a*{0,15}"});
  </script>
{% endblock %}