{% extends "public_base.html" %}
{% load static %}

{% block title %}
  <title>Dendi - Create Account</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

  <h3>Final step - review the terms.</h3><br>
  <h5>Step 3 of 3</h5>

  <h6 class="mt-4">
    By clicking <b>"I Agree & Finish Setup"</b>, you understand and agree to our <a href="#">Terms of Service</a>,
      <a href="#">Privacy Policy</a>, and <a href="#">Cookie Policy.</a>
  </h6>

  <form method="post">
    {% csrf_token %}
    <div class="form-group mt-4">
      <button type="submit" class="btn-lg btn-primary">I Agree & Finish Setup</button>
    </div>
  </form>


{% endblock content %}
