{% extends "public_base.html" %}
{% load static %}

{% block title %}
  <title>Dendi - Email Verification Error</title>
{% endblock %}

{% block content %}
  <h1>There is a small problem...</h1>
  <p class="lead">This invitation link isn&#x27;t valid. Please try again.</p>
  <h5 class="text-muted mt-4">The Dendi Team</h5>

{% endblock content %}
