{% extends "public_base.html" %}
{% load static %}

{% block title %}
  <title>Dendi - Email Verification</title>
{% endblock %}

{% block content %}
  <h1>Almost there...</h1>
  <p class="lead">We've sent you a verification email. <br><br>Please look for an email
    from <a href="#">support@dendisoftware.com</a>.<br><br>Once you&#x27;ve received it, follow the instructions in the email to
    complete your activation. <br>The email can take up to 15 minutes to arrive, so please check your spam folder
    if you haven't received it by then.</p>
  <h5 class="text-muted mt-4">The Dendi Team</h5>

{% endblock %}

