{% autoescape off %}
{% load staticfiles %}
<p>Thank you for your interest in Dendi. <br>Please follow this link to complete the setup:</p>
{% if domain == 'localhost:8000' %}
  <p>http://{{ domain }}{% url 'confirm_email' unregistered_user_uuid=uuid token=token %}</p>
{% else %}
  <p>https://{{ domain }}{% url 'confirm_email' unregistered_user_uuid=uuid token=token %}</p>
{% endif %}
<p>Please don't hesitate to contact us with your feedback.</p>
<p>The Dendi Team</p>
<p>https://dendisoftware.com</p>
{% endautoescape %}