{% extends "public_base_v2.html" %}
{% load static %}

        {% block content %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('{{ site_key }}', {action:'validate_captcha'}).then(function(token) {
                    document.getElementById('g-recaptcha-response').value = token;
                    document.getElementById('g-recaptcha-response-bottom').value = token;
                });
            });
        </script>
        <div class="main-container">
            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h1>Test your <span class="color--primary"><i>patients</i></span>, not your patience.</h1>
                            <p class="lead">
                                An LIS that will take your clinical laboratory to the next level. <br>
                                Designed for molecular diagnostics & toxicology.
                            </p>
                            <p><b>{{ message }}</b></p>
                            <form class="row justify-content-center" method="post" id="request-demo-form">
                                {% csrf_token %}
                                <input type="hidden" id="g-recaptcha-response" name="{{ form.recaptcha_response.name }}">
                                <input type="hidden" name="action" value="validate_captcha">
                                <div class="col-md-4">
                                    <input class="validate-required" type="text" name="{{ form.name.name }}" placeholder="Your Name" required pattern=".*\S+.*" title="This field is required."/>
                                </div>
                                <div class="col-md-4">
                                    <input class="validate-required validate-email" type="{{ form.email.name }}" name="email" placeholder="Email Address" required/>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn--primary type--uppercase">Request a demo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
{#            <section class="switchable">#}
{#                <div class="container">#}
{#                    <div class="row justify-content-around">#}
{#                        <div class="col-md-6 col-lg-5 mt--3">#}
{#                            <div class="testimonial testimonial-2">#}
{#                                <div class="testimonial__body boxed boxed--border bg--secondary">#}
{#                                    <p class="lead">#}
{#                                        &ldquo;The Dendi team has been instrumental in automating, streamlining, and scaling our lab's operations. Their expertise is one of the reasons that Mako Medical has become one of the fastest-growing companies in North Carolina!&rdquo;#}
{#                                    </p>#}
{#                                </div>#}
{#                                <div class="testimonial__image">#}
{#                                    <img alt="testimonial_image" src="{% static 'landing_page_v2/img/chad_price_circle.png' %}" />#}
{#                                    <h5>Chad Price</h5>#}
{#                                    <span>CEO, Mako Medical</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6 text-center mt--3">#}
{#                            <img alt="lis-image" src="{% static 'landing_page_v2/img/lis_screenshot.png' %}"/>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!--end of row-->#}
{#                </div>#}
{#                <!--end of container-->#}
{#            </section>#}
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>Focus on your priorities</h2>
                            <p class="lead">
                                Accelerate your laboratory's productivity and reduce sample turnaround times by 50% or more.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-DNA-Helix color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Customer Experience</b><br>
                                        Transparency is part of our DNA, and we believe that it is the key to brilliant customer experience.
                                        It's how we hold ourselves accountable to our customers and also to ourselves.<br>
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Cube-Molecule color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Molecular Diagnostics</b><br>
                                        Our system supports molecular diagnostics workflows such as infectious disease by utilizing
                                        integrations with PCR/qPCR, microassay, and LC-MS technologies.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Medicine-3 color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Toxicology</b><br>
                                        Our toxicology system allows results to be compared against a patient's prescribed medications and
                                        can automatically inform a provider if the patient's results are unexpected.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Sync-Cloud color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Cloud-Based Platform</b><br>
                                        Being cloud-based means you can access our platform anytime, anywhere. This also means that any system upgrades are free and automatic: your lab will always benefit from the latest that we have to offer. <br><br>
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Laptop-Secure color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Enterprise-Grade Security</b><br>
                                        All data sent over the Internet to our servers is encrypted over SSL (TLS) connections, and all data stored is encrypted at rest using AES-256 encryption. Files are stored in Amazon S3, which is designed for 99.999999999% durability over a given year.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Security-Check color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Regulatory Compliance</b><br>
                                        In addition to HIPAA & CLIA compliance, Dendi helps labs follow regulatory guidelines such as 21 CFR Part 11 as well as meet ISO 17025 compliance. Our audit trail functionality monitors data flow and records all activities performed by users.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch feature-large bg--primary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-12">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="blood_test" src="{% static 'landing_page_v2/img/blood_test_2.jpg' %}" />
                                </div>
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <h2>Change is coming: the future is closer than you think.</h2>
                            <p class="lead">
                                As the industry continues to move towards precision medicine and becomes disrupted by new innovations, your laboratory will need a technology partner who understands the unique challenges you face before you even know about them.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>Empower your laboratory
                                <br class="hidden-xs hidden-sm" /> with an unstoppable advantage.</h2>
                            <form class="row justify-content-center" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="g-recaptcha-response-bottom" name="{{ form.recaptcha_response.name }}">
                                <input type="hidden" name="action" value="validate_captcha">
                                <div class="col-md-4">
                                    <input class="validate-required" type="text" name="{{ form.name.name }}" placeholder="Your Name" required pattern=".*\S+.*" title="This field is required."/>
                                </div>
                                <div class="col-md-4">
                                    <input class="validate-required validate-email" type="{{ form.email.name }}" name="email" placeholder="Email Address" required/>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn--primary type--uppercase">Request a demo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center unpad--bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

        </div>
        {% endblock %}