{% extends "public_base_v2.html" %}
{% load static %}

        {% block content %}
        <div class="main-container">
            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <h2>Pricing</h2>
                                <p class="lead">
                                    Transparency is the key to brilliant customer experience.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="{% url 'landing_page' %}">
                                    <span class="btn__text">
                                        Request a Demo
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pricing pricing-1 boxed boxed--lg boxed--border boxed--border">
                                <h3>Core Platform</h3>
                                <span class="h2">
                                    <strong>$500</strong>
                                </span>
                                <span class="type--fine-print">Per Month<br>+ $10,000 setup fee</span>
                                <hr>
                                <ul>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Unlimited users & usage</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Unlimited sample volume</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Unlimited upgrades & updates</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Physician portal included</span>
                                    </li>
                                </ul>
                                <a class="btn btn--primary" href="{% url 'product_page' %}">
                                    <span class="btn__text">
                                        See Product Details
                                    </span>
                                </a>
                            </div>
                            <!--end of pricing-->
                        </div>
                        <div class="col-md-4">
                            <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                <h3>Workflow Integration</h3>
                                <span class="h2">
                                    <strong>$350</strong>
                                </span>
                                <span class="type--fine-print">Per Month<br>Per Integration</span>
                                <hr>
                                <ul>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>No setup fee</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Connect to any instrument</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Streamline any workflow</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>End-to-end automation</span>
                                    </li>
                                </ul>
                                <a class="btn btn--primary" href="{% url 'product_page' %}">
                                    <span class="btn__text">
                                        See Product Details
                                    </span>
                                </a>
                            </div>
                            <!--end of pricing-->
                        </div>
                    
                        <div class="col-md-4">
                            <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                <h3>EMR Integration</h3>
                                <span class="h2">
                                    <strong>$150</strong>
                                </span>
                                <span class="type--fine-print">Per Month<br>Per Connection</span>
                                <hr>
                                <ul>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>No setup fee</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Connect with any EMR vendor</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Uni-directional or bi-directional</span>
                                    </li>
                                    <li>
                                        <span class="checkmark bg--primary-1"></span>
                                        <span>Quick implementation</span>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                                <a class="btn btn--primary" href="{% url 'product_page' %}">
                                    <span class="btn__text">
                                        See Product Details
                                    </span>
                                </a>
                            </div>
                            <!--end of pricing-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h4>Frequently Asked Questions</h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h5>What about setup fees for instruments, workflows, or EMR integrations?</h5>
                                <p>
                                    The setup fee only applies to the initial LIS setup - not for instruments, workflows, or EMRs.
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>What does the LIS include?</h5>
                                <p>
                                    To inquire about product details, please
                                    request a <a href="{% url 'landing_page' %}">demo</a>.
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>How do I know that Dendi LIS is the best system out there for my lab right now?</h5>
                                <p>
                                    The <b>Dendi Guarantee</b> ensures that your lab's transition process will be relatively risk-free:
                                    in the case that your lab is
                                    unsatisfied with Dendi LIS, we will refund your entire setup fee.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h5>How negotiable is the pricing?</h5>
                                <p>
                                    Transparency brings immense value to the buyer. We want to modernize the buying
                                  experience for laboratory IT (much like how Tesla changed car buying for consumers), so that our customers
                                  can spend their valuable time worrying about more important aspects of their business.
                                </p>
                            </div>
                            <div class="text-block">
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        {% endblock %}
