{% extends "public_base_v2.html" %}
{% load static %}

        {% block content %}
        <div class="main-container">
            <section class="text-center">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Product</h1>
                            <p class="lead">
                                Excellence is achieved by the mastery of the fundamentals.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>Provider Portal</h2>
                                <p class="lead">
                                    Empower providers to create requisitions, analyze data, and view results directly from their own portal.
                                    Maintain a competitive edge, all without the burden of extra integrations.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>Specimen Tracking</h2>
                                <p class="lead">
                                    Track samples from order entry all the way to report delivery. Our cloud-based LIS allows users to seamlessly track samples no matter
                                    where the sample is in the laboratory testing lifecycle.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>End-to-End Automation</h2>
                                <p class="lead">
                                    Capture the benefits of end-to-end automation. Whether it’s an instrument, an EMR, or an API for another software vendor,
                                    we integrate and automate as much as possible so that our users can focus on what they do best.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>Advanced Analytics</h2>
                                <p class="lead">
                                    Analytics are the key to mastering business operations.
                                    Harness the immense value locked away in your own laboratory data store to stay ahead of the curve.
                                    Our dashboards provide clear and actionable insights.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>Report Generation</h2>
                                <p class="lead">
                                    Meaningful and effective reporting has never been easier. Select from generated report templates, create your own template,
                                    or even use external reporting services via our configurable and flexible APIs.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div>
                                <h2>Unified System</h2>
                                <p class="lead">
                                    Instead of thinking of an LIS as being made up of separate and discrete modules, we've designed our system to be
                                    one powerful and integrated system, capable of handling all testing modalities and types.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="space--xs imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
                <div class="container">
                    <div class="cta cta--horizontal text-center-xs row">
                        <div class="col-md-12">
                            <h4>Elegant, efficient, and effective. Take your laboratory to the next level with our LIS.</h4>
                        </div><br><br>
                        <div class="col-md-12 text-center-xs">
                            <a class="btn btn--primary type--uppercase" href="{% url 'landing_page' %}">
                                <span class="btn__text">
                                    Sign Up
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of container-->
            </section>
        </div>
        {% endblock %}
