{% extends "public_base.html" %}
{% load static %}

{% block title %}
  <title>Dendi | Login</title>
{% endblock %}

{% block css %}
  <style>
  #id_url {
    text-align: right;
  }
  </style>
{% endblock %}

{% block content %}

  <h3>Login</h3><br>
  <h5>Let's find your workspace first.</h5>

  <form id="email-form" name="email-form" action="{% url 'public_login' %}" method="POST">
    <label for="name" class="field-label">
      Enter your <strong>workspace URL</strong>. This is the web address you use to log in to your LIS.
    </label>
    {% csrf_token %}
    <div class="form-group mt-4">

      <p class="text-danger">{{ form.url.errors|striptags }}</p>

      <div class="form-inline">
        <input type="text" class="form-control" autofocus="true" maxlength="256" name="url"
              placeholder="my-awesome-lab" id="id_url" required="">
        <span>.dendisoftware.com</span>
      </div>


    </div>
    <input type="submit" class="btn btn-primary" value="CONTINUE →">
  </form>


{% endblock content %}
