<!doctype html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Laboratory Information System | LIS</title>
        <!-- Site favicon -->
        <link href="{% static 'landing_page_v2/img/favicon-32x32.png' %}" rel="shortcut icon" type="image/x-icon">
        <!-- SEO -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The #1 Laboratory Information System (LIS) for clinical laboratories. Accelerate your laboratory's productivity and reduce sample turnaround times by 50% or more.">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/stack-interface.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/socicon.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/lightbox.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/flickity.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/iconsmind.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/jquery.steps.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/theme.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'landing_page_v2/css/custom.css' %}" type="text/css">
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128237830-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-128237830-1');
        </script>

        <script type="text/javascript">
          var capterra_vkey = '490d76f4d6c63de89b53fcbac0c06f7a',
          capterra_vid = '2130600',
          capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');

          (function() {
            var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true;
            ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s);
          })();
        </script>
    </head>
    <body class=" ">
        <a id="start"></a>

        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <a href="{% url 'landing_page' %}">
                                <img class="logo logo-dark" alt="dendi_logo" src="{% static 'landing_page_v2/img/dendi_horizontal.png' %}" />
                                <img class="logo logo-light" alt="dendi_logo" src="{% static 'landing_page_v2/img/dendi_horizontal.png' %}" />
                            </a>
                        </div>
                        <div class="col-9 col-md-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 hidden-xs">
                            <div class="bar__module">
                                <a href="{% url 'landing_page' %}">
                                    <img class="logo logo-dark" alt="dendi_logo" src="{% static 'landing_page_v2/img/dendi_horizontal.png' %}" />
                                    <img class="logo logo-light" alt="dendi_logo" src="{% static 'landing_page_v2/img/dendi_horizontal.png' %}" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    <li class="dropdown">
                                        <a href="{% url 'product_page' %}">Product</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#"></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'pricing_page' %}">Pricing</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#"></a>
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown__trigger">Resources</span>
                                        <div class="dropdown__container">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="dropdown__content col-lg-2 col-md-4">
                                                        <ul class="menu-vertical">
                                                            <li>
                                                                <a href={% url 'case_studies_page' %}>Case Studies</a>
                                                            </li>
                                                            <li>
                                                                <a href={% url 'careers_list_page' %}>Careers</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--end dropdown content-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                        </div>
                                        <!--end dropdown container-->
                                    </li>
                                </ul>
                            </div>
                            <!--end module-->
                            <div class="bar__module">

                                <a class="btn btn--sm btn--primary type--uppercase" href="{% url 'public_login' %}">
                                    <span class="btn__text">
                                        Log in
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>

        {% block content %}
        {% endblock %}

        <footer class="footer-3 text-center-xs space--xs ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img alt="dendi_logo" class="logo" src="{% static 'landing_page_v2/img/dendi_horizontal.png' %}" />
                        <ul class="list-inline list--hover">
                            <li class="list-inline-item">
                                <a href="#">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-md-6">
                        <p class="type--fine-print">
                            The #1 Laboratory Information System (LIS) for clinical laboratories.
                        </p>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                        <span class="type--fine-print">&copy;
                            <span class="update-year"></span> Dendi Inc.</span>
                        <a class="type--fine-print" href="#">Company</a>
                        <a class="type--fine-print" href="{% url 'careers_list_page' %}">Careers</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>

        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="{% static 'landing_page_v2/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/flickity.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/parallax.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/typed.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/datepicker.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/isotope.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/ytplayer.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/lightbox.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/granim.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/jquery.steps.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/countdown.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/twitterfetcher.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/spectragram.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'landing_page_v2/js/scripts.js' %}"></script>

    </body>
</html>