{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Dendi - Empowering Clinical Laboratories" property="og:title">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." name="description">
    <meta name="keywords" content="Laboratory Information System, LIS, Dendi, LIMS, Laboratory Information Management System, clinical laboratory software">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." property="og:description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Site Title -->
    {% block title %}
      <title>Dendi | Lab Management Platform (LIS)</title>
    {% endblock %}
    <!-- Site favicon -->
    <link href="{% static 'landing_page/images/favicon-32x32.png' %}" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap.min.css' %}" type="text/css">
    {% block css %}
    {% endblock %}

  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <br><br><br>
      <a href="{% url 'landing_page' %}">
        <img src="{% static 'landing_page/images/dendi_landing_page_color.png' %}" class="mt-8" alt="" height="100" />
      </a>

      <div class="mt-2 ml-2">
      <!-- Content block -->
      {% block content %}
      {% endblock %}
      <!-- End content block -->
      </div>

    </main>

  </body>
</html>