{% extends "public_base.html" %}
{% load static %}

{% block title %}
  <title>Dendi - About Us</title>
{% endblock %}

{% block content %}

  <h1 class="heading-16">About Us</h1>
  <div class="about-section">
    <div class="div-block-10">
      <p class="paragraph-25">We&#x27;re a group of engineers who were working in Silicon Valley in the beginning of
        2018 when a North Carolina-based laboratory reached out to us for help after running into major operational
        issues.<br><br>As we began investigating, we quickly came to the realization that many of their issues
        originated from their underlying Laboratory Information System (LIS), which hadn&#x27;t been updated since
        the early 2000s and was riddled with software bugs. <br><br>Our goal at first was to find a suitable LIS
        for our customer, but after asking other labs for recommendations (and getting none) and demoing many
        different systems, it became clear that this was an underserved market. Whether people used ApolloLIMS,
        CGM LabDAQ, or Xifin LIS, everyone seemed to have major issues with their software. <br><br>A critical
        flaw we found was that companies in the clinical lab software space make the majority of their revenues
        from consulting or implementing &quot;custom solutions&quot; (which are never actually custom), which
        skews incentives as it means that they&#x27;re never 100% focused on product development and customer
        support.<br><br>In light of these facts, we decided that the best way forward was to create a new LIS that
        fit the needs of small clinical labs in terms of pricing and features. We&#x27;ve leveraged the latest
        technologies in software to create a cloud-based platform that...you know what, let us show you instead.
        <a href="{% url 'sign_up' %}"><br><br>
           Sign up for free</a>, try us out, and let us know what you think. <br>‍<br>
        <strong>Our goal is to create the last LIS your lab will use.</strong></p>
    </div>
  </div><br><br>

{% endblock %}