{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Dendi - Empowering Clinical Laboratories" property="og:title">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." name="description">
    <meta name="keywords" content="Laboratory Information System, LIS, Dendi, LIMS, Laboratory Information Management System, clinical laboratory software">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." property="og:description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Site Title -->
    <title>Dendi | Laboratory Information System</title>
    <!-- Site favicon -->
    <link href="{% static 'landing_page/images/favicon-32x32.png' %}" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap.min.css' %}" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Magnific-popup -->
    <link rel="stylesheet" href="{% static 'landing_page/css/magnific-popup.css' %}" type="text/css">

    <!-- Custom  CSS -->
    <link rel="stylesheet" href="{% static 'landing_page/css/style.css' %}" type="text/css"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128237830-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128237830-1');
    </script>
  </head>

  <body>

    <!-- Pre-loader -->
    <div id="preloader">
      <div id="status">
        <div class="spinner">Loading...</div>
      </div>
    </div>
    <!-- End Preloader-->

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
      <div class="container">
        <!-- LOGO -->
        <a class="logo text-uppercase" href="{% url 'landing_page' %}">
          <img src="{% static 'landing_page/images/dendi_landing_page_white.png' %}" alt="" class="logo-light" height="80" />
          <img src="{% static 'landing_page/images/dendi_landing_page_color.png' %}" alt="" class="logo-dark" height="80" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
            <li class="nav-item active">
              <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#features" class="nav-link">Vision</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">Features</a>
            </li>
            <li class="nav-item">
              <a href="#testimonial" class="nav-link">Testimonials</a>
            </li>
            <li class="nav-item">
              <a href="#pricing" class="nav-link">Pricing</a>
            </li>
          </ul>
          <a href="{% url 'public_login' %}" class="btn btn-sm navbar-btn">Log in</a>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- home start -->
    <section class="bg-home" id="home">
      <div class="home-center">
        <div class="home-desc-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="home-title text-white">
                  <h5 class="mb-3">Accelerate your growth</h5>
                  <h1>Test your <i>patients</i>, <br>not your patience.</h1>
                  <p class="mt-4">The #1 Laboratory Information System (LIS) for clinical laboratories.</p>
                  <div class="watch-video mt-5">
                    <a class="btn btn-custom" href="#signupModal" data-toggle="modal" data-target="#signupModal">Try Us for Free</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="mouse-down text-center">
                  <a href="#about" class="down-scroll text-dark">
                    <i class="fas fa-arrow-down"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- home end -->

    <!-- about us start -->
    <section class="section" id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="about-content text-center">
              <p class="text-muted mb-4"></p>
              <h4 class="mx-auto mb-3">Improve your lab's productivity by 50% or more.</h4>
              <p class="text-muted">Designed for molecular diagnostics, toxicology, pharmacogenomics, and more.</p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-4">
            <div class="about-box text-center p-4">
              <div class="about-icon mb-3">
                <img class="navbar-brand-minimized" src="{% static 'img/Dendi_JustIcon_No_BKGD_Med-01.png' %}" width="30" height="30" alt="Dendi">
              </div><br>
              <div class="about-desc">
                <h5 class="mb-3 f-18">Effective</h5>
                <p class="text-muted">We've leveraged the latest innovations in cloud technology, open-source software,
                  and software development paradigms to create a product that is better than anything else in the market.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-box text-center p-4">
              <div class="about-icon mb-3">
                <img class="navbar-brand-minimized" src="{% static 'img/Dendi_JustIcon_No_BKGD_Med-01.png' %}" width="30" height="30" alt="Dendi">
              </div><br>
              <div class="about-desc">
                <h5 class="mb-3 f-18">Elegant</h5>
                <p class="text-muted">Our insane attention to user experience (UX) makes us excellent
                  at creating a product that fits our customers' needs while being simple and easy to use.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-box text-center p-4">
              <div class="about-icon mb-3">
                <img class="navbar-brand-minimized" src="{% static 'img/Dendi_JustIcon_No_BKGD_Med-01.png' %}" width="30" height="30" alt="Dendi">
              </div><br>
              <div class="about-desc">
                <h5 class="mb-3 f-18">Efficient</h5>
                <p class="text-muted">Dendi LIS helps you reduce staffing costs and expedite sample turnaround times.
                  Our platform also increases your lab's profitability via analytical decision-making tools.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about us end -->

    <!-- feautures start -->
    <section class="section bg-light" id="features">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="title text-center mb-5">
              <p class="text-uppercase text-muted mb-2 f-13 subtitle">Vision</p>
              <h3>Our Mission</h3>
              <p class="text-muted mt-3">
                A lab management platform (LIS) that empowers your lab to be the best that it can be.
              </p>
            </div>
          </div>
        </div>
        <div class="row vertical-content">
          <div class="col-lg-6">
            <div class="feautures-content p-5">
              <div>
                <h5 class="mb-3">Technology as a force multiplier</h5>
                <p class="text-muted">Utilizing our cloud-based & HIPAA-compliant Software-as-a-Service (SaaS) platform
                  can improve your lab's productivity by 50% or more. <br><br>We're Silicon Valley veterans -  our approach to
                  laboratory software development gives our customers a formidable advantage
                  over competing labs in today's era of shrinking reimbursements.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="features-img">
              <img src="{% static 'landing_page/images/startup.svg' %}" alt="startup-image-1"
                   id="landing-page-img-1"
                   class="mx-auto d-block" style="max-height: 220px;">
            </div>
          </div>
        </div>
        <div class="row vertical-content mt-5">
          <div class="col-lg-6">
            <div class="features-img">
              <img src="{% static 'landing_page/images/atoms.svg' %}" alt="startup-image-2"
                   id="landing-page-img-2"
                   class="mx-auto d-block" style="max-height: 220px;">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="feautures-content p-5">
              <div>
                <h5 class="mb-3">Focus on the fundamentals</h5>
                <p class="text-muted">We'll let you in on a secret:
                  "customizations" are overrated.
                  While being a popular selling point for many healthcare software vendors,
                  each customization you implement actually increases the likelihood of critical flaws in your system.
                  However, this is how these vendors make money, as every little update or change you want to make
                  in the future will cost you. A lot.

                  <br><br>
                  We've chosen a different path to success by aligning our success with yours.
                  Our recipe is simple: a well-designed product and brilliant customer experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- feautures end -->

    <!-- services start -->
    <section class="section" id="services">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="title text-center mb-5">
              <p class="text-uppercase text-muted mb-2 f-13 subtitle">Features</p>
              <h3>What We Do</h3>
              <p class="text-muted mt-3">We've heard your frustrations with existing LIS vendors,
                and we're here to help.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="services-box p-4">
              <div class="mb-4">
                <img src="{% static 'landing_page/images/021-chat-1.svg' %}" alt="" style="max-height: 50px;">
              </div>
              <div class="services-desc">
                <h5 class="mb-3 f-18">Customer Experience</h5>
                <p class="text-muted">We believe that transparency is one of the most important aspects of
                  brilliant customer experience. Our pricing plans are upfront and simple.
                  Take a look at our <b>Dendi Guarantee</b> - and let us show you how great we are.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="services-box p-4">
              <div class="mb-4">
                <img src="{% static 'landing_page/images/010-plug-in.svg' %}" alt="" style="max-height: 50px;">
              </div>
              <div class="services-desc">
                <h5 class="mb-3 f-18">Seamless Integrations</h5>
                <p class="text-muted">Whether it’s an analyzer you recently purchased or an EMR you already
                  work with, we automate as much as possible so that you can focus on your practice.
                  We provide the initial setup as well as ongoing support.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="services-box p-4">
              <div class="mb-4">
                <img src="{% static 'landing_page/images/017-analytics-1.svg' %}" alt="" style="max-height: 50px;">
              </div>
              <div class="services-desc">
                <h5 class="mb-3 f-18">Laboratory Management</h5>
                <p class="text-muted">Dendi provides complete management of your lab's operations.
                  We provide dashboards with easy-to-digest visualizations that are
                  designed to augment your decision-making.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="services-box p-4">
              <div class="mb-4">
                <img src="{% static 'landing_page/images/014-database-1.svg' %}" alt="" style="max-height: 50px;">
              </div>
              <div class="services-desc">
                <h5 class="mb-3 f-18">Cloud-Based Portals</h5>
                <p class="text-muted">Since our platform is entirely on the cloud, you can access the LIS anytime,
                  anywhere. This also means that any system upgrades are automatic - your lab will
                  always benefit from the latest and greatest that we have to offer.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="services-box p-4">
              <div class="mb-4">
                <img src="{% static 'landing_page/images/shield.svg' %}" alt="" style="max-height: 50px;">
              </div>
              <div class="services-desc">
                <h5 class="mb-3 f-18">Enterprise-Grade Security</h5>
                <p class="text-muted">All data sent over the Internet to our servers are encrypted over SSL
                (TLS) connections, and all data stored is encrypted at rest using AES-256 encryption. Files are stored
                in Amazon S3, which is designed for 99.999999999% durability over a given year.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="services-box p-4">
              <div class="mb-4">
                <img src="{% static 'landing_page/images/police-badge.svg' %}" alt="" style="max-height: 50px;">
              </div>
              <div class="services-desc">
                <h5 class="mb-3 f-18">Regulatory Compliance</h5>
                <p class="text-muted">In addition to HIPAA compliance, Dendi helps labs follow regulatory
                guidelines such as 21 CFR Part 11 as well as meet ISO 17025 compliance. Our audit trail functionality
                monitors data flow and records all activities performed by users.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- services end -->

    <!-- cta start -->
    <section class="section bg-custom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="cta-content text-center text-white">
              <h3 class="mb-4">The Dendi Guarantee</h3>
              <p class="text-light f-16">We're confident that you'll like working with us:
                if you want to leave any time within our first year of service, <br>
                we’ll refund you for one month and help you find another vendor that better suits your needs.</p>
              <div class="pt-3">
                <a href="#signupModal" data-toggle="modal" data-target="#signupModal" class="btn btn-custom">Sign Up Now<i class="mdi mdi-arrow-right"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- cta end -->

    <!-- testimonial start -->
    <section class="section" id="testimonial">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="title text-center mb-5">
              <p class="text-uppercase text-muted mb-2 f-13 subtitle">Testimonials</p>
              <h3>Practice Makes Perfect</h3>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><img src="{% static 'landing_page/images/chad_price.jpg' %}" alt="" class="testi-img img-fluid rounded-circle mx-auto d-block"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"><img src="{% static 'landing_page/images/amanda_elam.jpeg' %}" alt="" class="testi-img img-fluid rounded-circle mx-auto d-block"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"><img src="{% static 'landing_page/images/thalia_ashton.jpeg' %}" alt="" class="testi-img img-fluid rounded-circle mx-auto d-block"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testi text-center">
                    <p class="text-muted">"Those Dendi guys are the smartest people I've ever met, and they've built a fantastic product.<br>
                      They're quick, efficient, and
                      always willing to get their hands dirty!"
                    </p>
                    <h5 class="f-18">Chad Price</h5>
                    <p class="text-muted">CEO - Mako Medical Laboratories</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testi text-center">
                    <p class="text-muted">"Dendi has been instrumental in streamlining and scaling our lab's operations.
                      Their software provided guidance on organizing our lab's workflow, and the Dendi team
                      is always extremely responsive and quick to resolve any issues we had."
                    </p>
                    <h5 class="f-18">Dr. Amanda Elam</h5>
                    <p class="text-muted">CEO - Galaxy Diagnostics</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testi text-center">
                    <p class="text-muted">"In my decade-long experience as a lab founder, a lab director, and a
                      lab consultant, I've never met a team with such a unique
                      ability to hone in on the problems that matter. I recommend their product for any reference lab or POL."
                    </p>
                    <h5 class="f-18">Thalia Ashton</h5>
                    <p class="text-muted">Founder - Andor Labs</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- testimonial end -->

    <!-- pricing start -->
    <section class="section bg-light" id="pricing">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="title text-center mb-5">
              <p class="text-uppercase text-muted mb-2 f-13 subtitle">Pricing</p>
              <h3>Choose a Plan</h3>
              <p class="text-muted mt-3">What you see is what you get: no setup fees, installation fees, or any hidden fees.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="pricing-table bg-pricing text-white text-center p-4 mt-4">
              <div class="pricing-header pt-4">
                <h4 class="text-uppercase mb-4 f-14">Core LIS<br><br></h4>
                <h1>$500</h1>
                <div class="plan-duration f-14">Per Month<br><br></div>
              </div>
              <div class="price-desc">
                <div class="plan-fetures mt-5">
                  <p class="pricing-list">Sample tracking</p>
                  <p class="pricing-list">Order management</p>
                  <p class="pricing-list">Physician portal</p>
                  <p class="pricing-list">Barcode support</p>
                  <p class="pricing-list">QA/QC functionality</p>
                  <p class="pricing-list">Report generation</p>
                  <p class="pricing-list">Management dashboard</p>
                  <p class="pricing-list">User management</p>
                  <p class="pricing-list">Unlimited users & usage</p>
                  <p class="pricing-list">Audit trail</p>
                  <p class="pricing-list">HIPAA-compliant</p>
                </div>
                <div class="pt-3 pb-3">
                  <a href="#signupModal" data-toggle="modal" data-target="#signupModal" class="btn btn-custom-white">Try Us For Free</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricing-table bg-light text-center p-4 mt-4">
              <div class="pricing-header pt-4">
                <h4 class="text-uppercase text-custom mb-4 f-14">Instrument <br>Integration</h4>
                <h1>+$350</h1>
                <div class="plan-duration text-muted f-14">Per Month <br>Per Instrument</div>
              </div>
              <div class="price-desc">
                <div class="plan-fetures text-muted mt-5">
                  <p class="pricing-list">Free setup</p>
                  <p class="pricing-list">Can work with any instrument</p>
                  <p class="pricing-list">Priority support</p><br><br>
                </div>
                <div class="pt-3 pb-3">
                  <a href="#signupModal" data-toggle="modal" data-target="#signupModal" class="btn btn-custom">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricing-table bg-light text-center p-4 mt-4">
              <div class="pricing-header pt-4">
                <h4 class="text-uppercase text-custom mb-4 f-14">EMR<br>Integration</h4>
                <h1>+$150</h1>
                <div class="plan-duration text-muted f-14">Per Month <br>Per Connection</div>
              </div>
              <div class="price-desc">
                <div class="plan-fetures text-muted mt-5">
                  <p class="pricing-list">Free setup</p>
                  <p class="pricing-list">Uni/bi-directional connections</p>
                  <p class="pricing-list">Lab sendout capability</p>
                  <p class="pricing-list">Priority support</p>
                </div>
                <div class="pt-3 pb-3">
                  <a href="#signupModal" data-toggle="modal" data-target="#signupModal" class="btn btn-custom">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- pricing end -->


    <!-- contact start -->
    <section class="contact">
      <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Next Steps</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <div class="custom-form">
                <div id="message"></div>
                <form method="post" >
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        We'll send you an email with a link to create your own LIS.
                      </p>
                      <div class="form-group mb-4">
                        <input name="name" id="name" type="text" class="form-control" placeholder="Your Name" required>
                      </div>
                      <div class="form-group mb-4">
                        <input name="email" id="email" type="email" class="form-control" placeholder="Your Email" required>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-12 text-right">
                      <input type="submit" id="submit" name="send" class="submitBnt btn-block btn-lg btn-custom" value="Sign Up">
                    </div>
                  </div>
                </form>
                <!-- /form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact end -->

    <!-- footer start -->
    <footer class="bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="text-white">
              <h3 class="mb-4 footer-list-title f-17">© Dendi, Inc.</h3>
              <ul class="footer-icons list-inline mb-4">
              </ul>
              <p class="copyright mt-3">The #1 Laboratory Information System (LIS) for clinical laboratories.</p>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-4">
                <div>
                  <p class="text-white mb-4 footer-list-title f-17">Company</p>
                  <ul class="list-unstyled footer-list-menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Media & Press</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div>
                  <p class="text-white mb-4 footer-list-title f-17">Resources</p>
                  <ul class="list-unstyled footer-list-menu">
                    <li><a href="#">Help & Support</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div>
                  <p class="text-white mb-4 footer-list-title f-17">Get Started</p>
                  <ul class="list-unstyled footer-list-menu">
                    <li><a href="#signupModal" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!-- javascript -->
    <script src="{% static 'landing_page/js/jquery.min.js' %}"></script>
    <script src="{% static 'landing_page/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'landing_page/js/jquery.easing.min.js' %}"></script>
    <!-- custom javascript -->
    <script src="{% static 'landing_page/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'landing_page/js/app.js' %}"></script>

    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', '69fbae24-9b09-45d9-aeb2-f45444f459e0')</script>

  </body>
</html>