{% extends "public_base.html" %}
{% load static %}

{% block title %}
  <title>Dendi - Sign Up</title>
{% endblock %}

{% block content %}
  <br><br>
  <h1 class="heading-16">Take your lab to the next level</h1>
    <div class="text-block-10">Our cloud-based LIS can improve your lab&#x27;s productivity by 50% or more.</div>
    <div class="section-4">
      <div class="container-8 centered w-container">
        <div>
          <div>
            <form method="post">
              {% csrf_token %}
              <div class="row">
                {{ form }}
              </div>
              <div class="row">
                <button type="submit" class="submit-tenant w-button">Get Started</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}