{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}

  <style>
    .test-panel-table {
      height: 300px;
      overflow:auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ in_house_lab_location.name }}</h2>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- Delete button -->
        <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;In-House Lab Location</a>
        <!-- /Delete button -->
        <a href="{% url 'in_house_lab_location_update' in_house_lab_location.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;In-House Lab Location</a>
        <a href="{% url 'in_house_lab_location_list' %}"  class="btn btn-sm btn-secondary ml-2"><i class="fas"></i>&nbsp;&nbsp;In-House Lab Locations</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row">

    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <p><b>Alias</b><br> {{ in_house_lab_location.alias|default:'-' }}</p>
          <p><b>Date added</b><br> {{ in_house_lab_location.created_date|as_timezone:request.tenant.timezone }}</p>
          <p><b>Address</b><br> {{ in_house_lab_location.address1|default:'-' }}<br>{% if in_house_lab_location.address2 %}{{ in_house_lab_location.address2 }}{% endif %}{% if in_house_lab_location.zip_code or in_house_lab_location.zip_code.strip != '' %}{% if in_house_lab_location.address2 %}, {% endif %}{{ in_house_lab_location.zip_code|default:'-' }}{% endif %}</p>
          <p><b>Lab Director</b><br> {{ in_house_lab_location.lab_director|default:'-' }}</p>
          <p><b>Phone #</b><br> {{ in_house_lab_location.phone_number|default:'-' }}</p>
          <p><b>Fax #</b><br> {{ in_house_lab_location.fax_number|default:'-' }}</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card h-100">
        <div class="card-body test-panel-table">
          <h5 class="card-title">Test Profile List</h5>
          <table class="table mb-0">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Test Count</th>
            </tr>
            {% for test_panel_type in test_panel_types %}
            <tr>
              <td><a href="{% url 'test_panel_type_details' test_panel_uuid=test_panel_type.uuid %}">{{ test_panel_type.name }}</a></td>
              <td>{{ test_panel_type.test_panel_category.name }}</td>
              <td>{{ test_panel_type.test_types.count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
  // delete the In-House Lab Location only if confirmed
  function deleteObj() {
    let result = confirm("Are you sure you want to archive this In-House Lab Location?");
    if (result) {
      // logic to delete the item
      // delete is performed using a GET request here
      window.location.replace("{% url 'in_house_lab_location_delete' in_house_lab_location_uuid=in_house_lab_location.uuid %}");
    }
  }

	</script>
{% endblock %}
