{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>In-House Lab Locations</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'in_house_lab_location_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;In-House Lab Location</a>
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-body">
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="in-house-lab-location-table"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
	<script>
    $('.numberMask').inputmask({'mask': '9{0,6}'});
  </script>
  <script>
    const state = {
        Table: {
            data:'',
            tableHTMLID:'#in-house-lab-location-table',
            apiURL:'/api/v1/internal/in_house_lab_location_table/'
        }
    };

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'name',
          editor: false,
          renderer: linkRenderer,
          width: 250,
        },
        {
          data: 'alias',
          editor: false,
          renderer: 'text',
          width: 100,
        },
        {
          data: 'lab_director',
          editor: false,
          type: 'text',
          width: 150,
        },
        {
          data: 'address',
          editor: false,
          type: 'text',
          width: 350,
        },
        {
          data: 'phone_number',
          editor: false,
          type: 'text',
        },
        {
          data: 'fax_number',
          editor: false,
          type: 'text',
        },
        {
          data: 'test_profile_count',
          editor: false,
          type: 'text',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Name',
          'Alias',
          'Lab Director',
          'Address',
          'Phone',
          'Fax',
          'Test Profile Count',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
      const hotElement = document.querySelector(state.Table.tableHTMLID);
      state.Table.table = new Handsontable(hotElement, hotSettings);

      function cb() {
        $.ajax({
          url: state.Table.apiURL,
          dataType: 'json',
          success: function(data) {
            state.Table.data = data;
            console.log(data);
            state.Table.table.getPlugin('filters').clearConditions();
            state.Table.table.loadData(data);
          },
          error: function () {
            console.log("In House Lab Location table data call failed")
          }
        })
      }

      cb();
    });
	</script>
{% endblock %}