{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update In-House Lab Location</h2>
    {% else %}
      <h2>Create In-House Lab Location</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'in_house_lab_location_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form_error %}
    <div class="alert alert-danger">
      <strong>{{ form_error }}</strong>
    </div>
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <form method="POST">
            {% csrf_token %}
              <label class="required_label">{{ form.name.label }}</label>
              <input name="{{ form.name.name }}"
                     value="{{ form.name.value|default_if_none:'' }}"
                     class="form-control"><br>

              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.alias.label }}</label>
                  <input name="{{ form.alias.name }}"
                         value="{{ form.alias.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-6">
                  <label>{{ form.lab_director.label }}</label>
                  <input name="{{ form.lab_director.name }}"
                         value="{{ form.lab_director.value|default_if_none:'' }}"
                         class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.address1.label }}</label>
                  <input id="address1" name="{{ form.address1.name }}"
                         value="{{ form.address1.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-3">
                  <label>{{ form.address2.label }}</label>
                  <input name="{{ form.address2.name }}"
                         value="{{ form.address2.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-3">
                  <label>{{ form.zip_code.label }}</label>
                  <input name="{{ form.zip_code.name }}"
                         value="{{ form.zip_code.value|default_if_none:'' }}"
                         class="form-control" id="zip-code">
                </div>
              </div><br>

              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.fax_number.label }}</label>
                  <input name="{{ form.fax_number.name }}"
                         value="{{ form.fax_number.value|default_if_none:'' }}"
                         class="form-control phoneNumberMask">
                </div>
                <div class="col-6">
                  <label>{{ form.phone_number.label }}</label>
                  <input name="{{ form.phone_number.name }}"
                         value="{{ form.phone_number.value|default_if_none:'' }}"
                         class="form-control phoneNumberMask">
                </div>

              </div><br>

              <br>
          <hr>


            {% if update %}
              <button type="submit" class="btn btn-primary">Update In-House Lab Location</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Create In-House Lab Location</button>
            {% endif %}

          </form>

        </div>

      </div>
    </div>

  </div>




{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/zip_code_autofill.js' %}"></script>
  <!-- Custom JS -->
	<script>

		// Google Maps Autocomplete
		let address1 = document.getElementById('address1');
		// restrict to only addresses
    let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});
    autofill_zip_code(autocomplete1, 'zip-code');

		// phone number mask for HTML
		$('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

	</script>
{% endblock %}

{% block footer  %}
{% endblock %}