{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ instrument_integration.internal_instrument_name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if request.user.user_type != 10 %}
{#          <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Instrument</a>#}
          <a href="{% url 'instrument_integration_update' instrument_integration.uuid %}" class="btn btn-sm btn-warning ml-2">
            <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Instrument
          </a>
        {% endif %}
        <a href="{% url 'instrument_integration_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row mb-4">
    <div class="col-12">

      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <p><b>Instrument Model</b><br> {{ instrument_integration.instrument.name }}</p>
            {% if instrument_integration.serial_number %}
              <p><b>Serial Number</b><br> {{ instrument_integration.serial_number }}</p>
            {% endif %}

            {% if has_test_codes %}
              <p class="mb-0"><b>Interface Status</b><br></p><p id="status">Inactive</p>
            {% endif %}
            <p><b>After Data Import</b>
              <br> {{ instrument_integration.after_data_import }}</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  {% if has_test_codes %}

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            Instrument Test Codes
            <div class="btn-group mr-2 float-right">
                <a href="{% url 'instrument_test_codes_create' instrument_integration.uuid %}" class="btn btn-sm btn-primary ml-2">
                  <i class="fas fa-plus"></i>&nbsp;&nbsp;Test Code
                </a>
            </div>
          </div>
          <div class="card-body">
            <div class="handsontable" id="instrument-test-code-table"></div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Calibrations
          <div class="btn-group mr-2 float-right">
              <a href="{% url 'instrument_calibration_create' instrument_integration.uuid %}" class="btn btn-sm btn-primary ml-2">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;Calibration
              </a>
          </div>
        </div>
        <div class="card-body">
          <div class="handsontable" id="instrument-calibration-table"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Error Log
        </div>
        <div class="card-body">
          {% if instrument_errors %}
            {% for instrument_error in instrument_errors %}
              {{ instrument_error.created_date }} - {{ instrument_error.error_text }}<br>
            {% endfor %}
          {% else %}
            <p>Error log is empty.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/reconnecting-websocket/reconnecting-websocket.min.js' %}"></script>
  <script>
    // Real time import status websocket
    var status_ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var status_ws_url = status_ws_scheme + '://' + window.location.host + '/ws/instrument_integration/' + '{{ instrument_integration.uuid }}' + '/';

    var statusSocket = new ReconnectingWebSocket(status_ws_url);
    statusSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        $('#status').html(message);
    };
    statusSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
  </script>
  <script>
    function createInstrumentCalibrationTable(instrument_calibrations, table) {

      if (!table) {
        const hotElement = document.querySelector('#instrument-calibration-table');
        const hotSettings = {
          data: instrument_calibrations,
          columns: [

            {
              data: 'test_type',
              editor: false,
              width: 350,
            },
            {
              data: 'target_name',
              editor: false,
              type: 'text',
            },
            {
              data: 'cutoff_value',
              editor: false,
              type: 'text',
              className: 'htRight',
            },
            {
              data: 'update_link',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
              width: 5,
            },
            {
              data: 'delete_link',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
              width: 5,
            },
          ],
          stretchH: 'all',
          //width: 806,
          height: 400,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
            [
              'Test',
              'Target/Analyte',
              'Cutoff',
              'Update',
              'Archive',
            ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function(col, TH) {
            TH.className = 'center';
          },
        };

        return new Handsontable(hotElement, hotSettings);
      } else {
        // load new data without replacing old table
        table.getPlugin('filters').clearConditions();
        table.loadData(offsite_calibrations);
        return table;
      }
    }

    let instrumentCalibrationTable;
      // recent order handsontable
      $.ajax({
        url: '/api/v1/internal/instrument_calibration_table/{{ instrument_integration.uuid }}',
        dataType: 'json',
        success: function (instrument_calibration) {
          instrumentCalibrationTable = createInstrumentCalibrationTable(instrument_calibration, instrumentCalibrationTable)
        },
        error: function () {
          console.log("instrument calibration table api call failed")
        }
      });


    function createInstrumentTestCodeTable(instrument_test_codes, table) {

      if (!table) {
        const hotElement = document.querySelector('#instrument-test-code-table');
        const hotSettings = {
          data: instrument_test_codes,
          columns: [
            {
              data: 'test_code',
              editor: false,
              width: 10,
            },
            {
              data: 'test_type',
              editor: false,
              width: 200,
            },
            {
              data: 'test_target',
              editor: false,
              type: 'text',
              width: 200,
            },
            {
              data: 'update_link',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
              width: 5,
            },
            {
              data: 'delete_link',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
              width: 5,
            },
          ],
          stretchH: 'all',
          //width: 806,
          height: 400,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
            [
              'Test Code',
              'Test',
              'Target/Analyte',
              'Update',
              'Archive',
            ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function(col, TH) {
            TH.className = 'center';
          },
        };

        return new Handsontable(hotElement, hotSettings);
      } else {
        // load new data without replacing old table
        table.getPlugin('filters').clearConditions();
        return table;
      }
    }

    let instrumentTestCodeTable;
      // recent order handsontable
      $.ajax({
        url: '/api/v1/internal/instrument_test_code_table/{{ instrument_integration.uuid }}',
        dataType: 'json',
        success: function (instrument_test_codes) {
          instrumentTestCodeTable = createInstrumentTestCodeTable(instrument_test_codes, instrumentTestCodeTable)
        },
        error: function () {
          console.log("instrument calibration table api call failed")
        }
      });

  </script>
{% endblock %}