{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Instrument Integration Settings</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'instrument_integration_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

	<form method="POST">
		{% csrf_token %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message|safe }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|safe }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <div class="col-6 pl-0">
                <label class="required_label">{{ form.instrument.label }}</label>
                {{ form.instrument }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-6 pl-0">
                <label>{{ form.internal_instrument_name.label }}&nbsp;&nbsp;</label>
                {{ form.internal_instrument_name }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-6 pl-0">
                <label>{{ form.serial_number.label }}</label>
                {{ form.serial_number }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-6 pl-0">
                <label>{{ form.after_data_import.label }}&nbsp;&nbsp;</label>
                {{ form.after_data_import }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Save Settings</button>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}