{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Calibration Details</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Calibration</a>
        <a href="{% url 'instrument_calibration_update' instrument_integration.uuid instrument_calibration.uuid %}"
           class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Calibration</a>
        <a href="{% url 'instrument_integration_details' instrument_integration.uuid %}"
           class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">

      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <p><b>Instrument</b><br> {{ instrument_integration.internal_instrument_name }}</p>
            <p><b>Test</b><br> {{ instrument_calibration.test_type.name }}</p>
            <p><b>Target/Analyte Name</b><br> {{ instrument_calibration.target_name }}</p>
            <p>
              <b>Cutoff Value</b><br> {{ instrument_calibration.cutoff_value }}
              {{ instrument_integration.instrument.unit_of_measurement }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
  // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to delete this calibration?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("{% url 'instrument_calibration_delete' instrument_integration.uuid instrument_calibration.uuid %}");
      }
    }
	</script>

{% endblock %}