{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Instruments</h2>

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'instrument_integration_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Instrument</a>
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}


  <div class="row top-buffer">
    <div class="col-12">
      <div class="handsontable" id="instrument-integration-table"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script>
  function createInstrumentIntegrationTable(instrument_integrations, table) {
    instrument_integrations.forEach(element => {
      element.name.toString = () => element.name.text;
    });

    if (!table) {
      const hotElement = document.querySelector('#instrument-integration-table');
      const hotSettings = {
        data: instrument_integrations,
        columns: [

          {
            data: 'name',
            editor: false,
            renderer: linkRenderer,
            width: 350,
          },
          {
            data: 'model',
            editor: false,
            type: 'text',
          },
          {
            data: 'manufacturer',
            editor: false,
            type: 'text',
          },
          {
            data: 'method',
            editor: false,
            type: 'text',
          },
          {
            data: 'after_data_import',
            editor: false,
            type: 'text',
          },
        ],
        stretchH: 'all',
        //width: 806,
        height: 700,
        autoColumnSize: true,
        autoWrapRow: true,
        manualRowResize: false,
        manualColumnResize: false,
        columnSorting: true,
        sortIndicator: true,
        rowHeaders: false,
        colHeaders: true,
        nestedHeaders: [
          [
            'Name',
            'Model',
            'Manufacturer',
            'Method',
            'After Data Import'
          ],
        ],
        manualRowMove: false,
        manualColumnMove: false,
        contextMenu: false,
        filters: true,
        dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
        afterGetColHeader: function(col, TH) {
          TH.className = 'center';
        },
      };

      return new Handsontable(hotElement, hotSettings);
    } else {
      // load new data without replacing old table
      table.getPlugin('filters').clearConditions();
      table.loadData(instrument_integrations);
      return table;
    }
  }

  </script>
	<script>
    let instrumentIntegrationTable;
    // recent order handsontable
    $.ajax({
      url: '/api/v1/internal/instrument_integration_table/',
      dataType: 'json',
      success: function (instrument_integrations) {
        instrumentIntegrationTable = createInstrumentIntegrationTable(instrument_integrations, instrumentIntegrationTable)
      },
      error: function () {
        console.log("instrument integration table api call failed")
      }
    })
	</script>
{% endblock %}