{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Calibration Settings</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'instrument_integration_details' instrument_integration.uuid %}" class="btn btn-sm btn-secondary">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back
        </a>
      </div>
    </div>
  </div>

	<form method="POST">
		{% csrf_token %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if form_error %}
      <div class="alert alert-danger">
        <strong>{{ form_error }}</strong>
      </div>
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}


    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="form-row">
              <div class="col-6">
                <label>{{ form.instrument_integration.label }}</label>
                {{ form.instrument_integration }}
              </div>
            </div><br>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.test_type.label }}&nbsp;&nbsp;</label>
                {{ form.test_type }}
              </div>
            </div><br>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.target_name.label }}</label>
                {{ form.target_name }}
              </div>
            </div><br>
            <div class="form-row">
              <div class="col-6">
                <label>
                  {{ form.use_test_cutoff_values }} {{ form.use_test_cutoff_values.label }}
                </label>
              </div>
            </div><br>
            <div class="form-row cutoff-value">
              <div class="col-6">
                <label>{{ form.cutoff_value.label }} ({{ unit_of_measurement }})</label>
                {{ form.cutoff_value }}
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Save Calibration</button>
          </div>
        </div>
      </div>
    </div>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
  <script>
    $(document).ready(function() {
        if ($("input[name='use_test_cutoff_values']:checked").val() === "on") {
            $('.cutoff-value').toggle('hidden');
        }
    });
    // toggle visibility of cutoff_value field
    $("input[name='use_test_cutoff_values']").click(function() {
        $('.cutoff-value').toggle('hidden');
    });
  </script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}