{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}

  <style>
    .test-panel-table {
      height: 300px;
      overflow:auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ lab_department.name }}</h2>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- Delete button -->
        <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Lab Department</a>
        <!-- /Delete button -->
        <a href="{% url 'lab_department_update' lab_department.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Lab Department</a>
        <a href="{% url 'lab_department_list' %}"  class="btn btn-sm btn-secondary ml-2"><i class="fas"></i>&nbsp;&nbsp;Lab Departments</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row">

    <div class="col-6">
      <div class="card h-100">
        <div class="card-body test-panel-table">
          <h5 class="card-title">Test Profile List</h5>
          <table class="table mb-0">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Test Count</th>
            </tr>
            {% for test_panel_type in test_panel_types %}
            <tr>
              <td><a href="{% url 'test_panel_type_details' test_panel_uuid=test_panel_type.uuid %}">{{ test_panel_type.name }}</a></td>
              <td>{{ test_panel_type.test_panel_category.name }}</td>
              <td>{{ test_panel_type.test_types.count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
  // delete the Lab Department only if confirmed
  function deleteObj() {
    let result = confirm("Are you sure you want to archive this Lab Department?");
    if (result) {
      // logic to delete the item
      // delete is performed using a GET request here
      window.location.replace("{% url 'lab_department_delete' lab_department_uuid=lab_department.uuid %}");
    }
  }

	</script>
{% endblock %}
