{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Lab Department</h2>
    {% else %}
      <h2>Create Lab Department</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'lab_department_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form_error %}
    <div class="alert alert-danger">
      <strong>{{ form_error }}</strong>
    </div>
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <form method="POST">
            {% csrf_token %}
              <label class="required_label">{{ form.lab_department_name.label }}</label>
              <input name="{{ form.lab_department_name.name }}"
                     value="{{ form.lab_department_name.value|default_if_none:'' }}"
                     class="form-control"><br>
              <br>
          <hr>


            {% if update %}
              <button type="submit" class="btn btn-primary">Update Lab Department</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Create Lab Department</button>
            {% endif %}

          </form>

        </div>

      </div>
    </div>

  </div>




{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
{% endblock %}

{% block footer  %}
{% endblock %}
