{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Lab Departments</h2>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

	<form method="POST">
		{% csrf_token %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|safe }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <div class="col-6 pl-0">
                <label>{{ form.lab_department_name.label }}</label>
                {{ form.lab_department_name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save Lab Department</button>

	</form>

  <hr>

  <div class="row top-buffer">
    <div class="col-12">
      <div class="handsontable" id="lab-departments-table"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script>
  function createLabDepartmentsTable(lab_departments, table) {
    lab_departments.forEach(element => {
      element.name.toString = () => element.name.text;
    });

    if (!table) {
      const hotElement = document.querySelector('#lab-departments-table');
      const hotSettings = {
        data: lab_departments,
        columns: [
          {
            data: 'name',
            editor: false,
            renderer: linkRenderer,
            width: 350,
          }
        ],
        stretchH: 'all',
        //width: 806,
        height: 700,
        autoColumnSize: true,
        autoWrapRow: true,
        manualRowResize: false,
        manualColumnResize: false,
        columnSorting: true,
        sortIndicator: true,
        rowHeaders: false,
        colHeaders: true,
        nestedHeaders: [
          [
            'Name'
          ],
        ],
        manualRowMove: false,
        manualColumnMove: false,
        contextMenu: false,
        filters: true,
        dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
        afterGetColHeader: function(col, TH) {
          TH.className = 'center';
        },
      };

      return new Handsontable(hotElement, hotSettings);
    } else {
      // load new data without replacing old table
      table.getPlugin('filters').clearConditions();
      table.loadData(lab_departments);
      return table;
    }
  }

  </script>
	<script>
    let labDepartmentsTable;
    // recent order handsontable
    $.ajax({
      url: '/api/v1/internal/lab_departments_table/',
      dataType: 'json',
      success: function (lab_departments) {
        labDepartmentsTable = createLabDepartmentsTable(lab_departments, labDepartmentsTable)
      },
      error: function () {
        console.log("lab departments table api call failed")
      }
    })
	</script>
{% endblock %}
