{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Integration Details</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if request.user.user_type != 10 %}
          <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()">Deactivate Integration</a>
          <a href="{% url 'offsite_integration_update' offsite_integration.uuid %}" class="btn btn-sm btn-primary ml-2">
            Update Integration
          </a>
        {% endif %}
        <a href="{% url 'offsite_integration_list' %}" class="btn btn-sm btn-secondary ml-2">Go Back</a>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">

      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <p><b>Offsite Laboratory Name</b><br> {{ offsite_integration.offsite_laboratory.name }}</p>
            <p><b>Sending Facility ID</b><br> {{ offsite_integration.sending_facility_id }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
  // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to deactivate this integration?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("{% url 'offsite_integration_delete' offsite_integration.uuid %}");
      }
    }
	</script>
{% endblock %}