{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Offsite Integration</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'offsite_integration_list' %}" class="btn btn-sm btn-secondary">Go Back</a>
      </div>
    </div>
  </div>

	<form method="POST">
		{% csrf_token %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {% if form_error %}
      <div class="alert alert-danger">
        <strong>{{ form_error }}</strong>
      </div>
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <div class="form-group">
      <label>{{ form.offsite_laboratory.label }}&nbsp;&nbsp;</label>
      {{ form.offsite_laboratory }}
    </div><br>
    <div class="form-group">
      <div class="col-6 pl-0">
        <label>{{ form.sending_facility_id.label }}</label>
        {{ form.sending_facility_id }}
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Save integration settings</button>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}