{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}">
    <!-- Head content -->
    {% block head_content %}
      <title>Dendi LIS | 500 Error</title>
	  {% endblock %}

    <!-- Icons-->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/coreui-icons.min.css' %}" type="text/css" />
    <!-- Main styles for this application-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'fontawesome-pro/css/all.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    {% block css %}
    {% endblock %}

  </head>

  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">500</h1>
            <h4>Internal Server Error</h4>
            <p class="text-muted">Don't worry, Dendi support is looking into this issue.
              Please email <b>support@dendisoftware.com</b> so we can follow up with you promptly.</p>
          </div>

          <a href="#" onClick="javascript:history.go(-1)" class="btn btn-primary btn-block"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
        </div>
      </div>
    </div>


    <!-- Default JS libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/coreui.min.js' %}" type="text/javascript"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>

  </body>
</html>
