{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update {{ object_name.0 }}</h2>
    {% else %}
      <h2>Create {{ object_name.0 }}</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'account_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <form method="POST">
            {% csrf_token %}

              <label>{{ form.providers.label }}</label>
              {{ form.providers }} &nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Providers must be created in the system first (see the sidebar under Groups)
                 before they can be added to an account or location.">
              </i>
              <br><br>

              <label class="required_label">{{ form.account_name.label }}</label>
              <input name="{{ form.account_name.name }}"
                     value="{{ form.account_name.value|default_if_none:'' }}"
                     class="form-control"><br>

              <label>{{ form.alternate_id.label }}</label>
              <input name="{{ form.alternate_id.name }}"
                     value="{{ form.alternate_id.value|default_if_none:'' }}"
                     class="form-control"><br>

              <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.aliases.label }}</label>
                    {{ form.aliases }}
                  </div>
              </div><br>

              <div class="form-row">
                <div class="col-6">
                  <label class="required_label">{{ form.account_address1.label }}</label>
                  <input id="address1" name="{{ form.account_address1.name }}"
                         value="{{ form.account_address1.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-3">
                  <label>{{ form.account_address2.label }}</label>
                  <input name="{{ form.account_address2.name }}"
                         value="{{ form.account_address2.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-3">
                  <label>{{ form.account_zip_code.label }}</label>
                  <input name="{{ form.account_zip_code.name }}"
                         value="{{ form.account_zip_code.value|default_if_none:'' }}"
                         class="form-control" id="zip-code">
                </div>
              </div><br>

              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.contact_person.label }}</label>
                  <input name="{{ form.contact_person.name }}"
                         value="{{ form.contact_person.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-6">
                  <label>{{ form.account_phone.label }}</label>
                  <input name="{{ form.account_phone.name }}"
                         value="{{ form.account_phone.value|default_if_none:'' }}"
                         class="form-control phoneNumberMask">
                </div>
              </div><br>

              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.account_fax.label }}</label>
                  <input name="{{ form.account_fax.name }}"
                         value="{{ form.account_fax.value|default_if_none:'' }}"
                         class="form-control phoneNumberMask">
                </div>
                <div class="col-6">
                  <label>{{ form.account_email.label }}</label>
                  {{ form.account_email }}
                </div>

              </div><br>

              <div class="form-row">
                <div class="col-4">
                  <label>{{ form.report_preference.label }}</label>
                  {{ form.report_preference }}
                </div>
              </div><br>

              <div class="form-row">
                <div class="col-4">
                  <label>{{ form.emr_account_number.label }}</label>
                  {{ form.emr_account_number }}
                </div>
              </div><br>

              <div class="form-row">
                <div class="col-4">
                  <label>{{ form.notes.label }}</label>
                  {{ form.notes }}
                </div>
              </div><br>

              <div class="form-row">
                <div class="col-4">
                  <label>
                    {{ form.results_out_show_pdf_link }}
                    {{ form.results_out_show_pdf_link.label }}
                  </label>
                </div>
              </div>

              <div class="form-row">
                <div class="col-4">
                  <label>
                      {{ form.account_manages_signatures }}
                      {{ form.account_manages_signatures.label }}
                  </label>
                </div>
              </div>
            <hr>

            <div class="form-row">
              <div class="col-6">
                <label>{{ form.account_username.label }}</label>
                {{ form.account_username }}
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.account_password.label }}</label>
                {{ form.account_password }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.account_password_confirm.label }}</label>
                {{ form.account_password_confirm }}
              </div>
            </div>
          <hr>


            {% if update %}
              <button type="submit" class="btn btn-primary">Update {{ object_name.0 }}</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Create {{ object_name.0 }}</button>
            {% endif %}

          </form>

        </div>

      </div>
    </div>

  </div>




{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/zip_code_autofill.js' %}"></script>
  <!-- Custom JS -->
	<script>

		// Google Maps Autocomplete
		let address1 = document.getElementById('address1');
		// restrict to only addresses
    let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});
    autofill_zip_code(autocomplete1, 'zip-code');

		// phone number mask for HTML
		$('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
