{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if request.tenant.lab_type == 'POL' %}
      <h2>Locations</h2>
    {% else %}
      <h2>Accounts</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        {% if request.tenant.lab_type == 'POL' %}
          <a href="{% url 'account_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Location</a>
        {% else %}
          <a href="{% url 'account_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Account</a>
        {% endif %}
      </div>
    </div>
  </div><br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <label>ID (Exact)</label>
          <input class="form-control numberMask" placeholder="Search..." id="id-filter">
        </div>
        <div class="col-3">
          <label>Alternate ID (Exact)</label>
          <input class="form-control" placeholder="Search..." id="alternate-id-filter">
        </div>
        <div class="col-3">
          <label>Name</label>
          <input class="form-control" placeholder="Search..." id="name-filter">
        </div>
       <div class="col-3">
          <label>Alias</label>
          <input class="form-control" placeholder="Search..." id="alias-filter">
        </div>
      </div>
      <p>Press <b>Enter</b> to search.</p>
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="account-table"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
	<script>
    $('.numberMask').inputmask({'mask': '9{0,6}'});
  </script>
  <script>
    const state = {
        Table: {
            data:'', id:'', alternate_id:'', name:'', alias:'', alias_id:'#alias-filter',
            id_id:'#id-filter', alternate_id_id:'#alternate-id-filter', name_id:'#name-filter',
            tableHTMLID:'#account-table',
            apiURL:'/api/v1/internal/account_table/'
        }
    };
    $(state.Table.id_id).val('');
    $(state.Table.alternate_id_id).val('');
    $(state.Table.name_id).val('');
    $(state.Table.alias_id).val('');

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'id',
          editor: false,
          renderer: 'html',
          width: 150,
        },
        {
          data: 'name',
          editor: false,
          renderer: 'html',
          width: 250,
        },
        {
          data: 'alias',
          editor: false,
          renderer: 'html',
          width: 200,
        },
        {
          data: 'num_providers',
          editor: false,
          type: 'text',
          width: 30,
        },
        {
          data: 'contact',
          editor: false,
          type: 'text',
          width: 150,
        },
        {
          data: 'phone',
          editor: false,
          type: 'text',
        },
        {
          data: 'fax',
          editor: false,
          type: 'text',
        },
        {
          data: 'email',
          editor: false,
          type: 'text',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'ID',
          'Name',
          'Alias',
          'Providers',
          'Contact',
          'Phone',
          'Fax',
          'Email',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
      const hotElement = document.querySelector(state.Table.tableHTMLID);
      state.Table.table = new Handsontable(hotElement, hotSettings);

      function cb(id, alternateId, name, alias) {
        var idURL;
        if (id === '') {
            idURL = '_'
        } else {
            idURL = id
        }
        var alternateIdURL;
        if (alternateId === '') {
          alternateIdURL = '_'
        } else {
          alternateIdURL = alternateId
        }
        var nameURL;
        if (name === '') {
            nameURL = '_'
        } else {
          nameURL = name
        }
        var aliasURL;
        if (alias === '') {
            aliasURL = '_'
        } else {
            aliasURL = alias
        }
        const url = idURL + '/' + alternateIdURL + '/' + nameURL + '/' + aliasURL;
        $.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function(data) {
            state.Table.data = data;
            state.Table.table.getPlugin('filters').clearConditions();
            state.Table.table.loadData(data);
          },
          error: function () {
            console.log("Account table data call failed")
          }
        })
      }

      cb(state.Table.id, state.Table.alternate_id, state.Table.name, state.Table.alias);

      $(state.Table.id_id).change(function () {
        state.Table.id = $(state.Table.id_id).val();
        cb(state.Table.id, state.Table.alternate_id, state.Table.name, state.Table.alias);
      });
      $(state.Table.alternate_id_id).change(function () {
        state.Table.alternate_id = $(state.Table.alternate_id_id).val();
        cb(state.Table.id, state.Table.alternate_id, state.Table.name, state.Table.alias);
      });
      $(state.Table.name_id).change(function () {
        state.Table.name = $(state.Table.name_id).val();
        cb(state.Table.id, state.Table.alternate_id, state.Table.name, state.Table.alias);
      });
      $(state.Table.alias_id).change(function () {
        state.Table.alias = $(state.Table.alias_id).val();
        cb(state.Table.id, state.Table.alternate_id, state.Table.name, state.Table.alias);
      });
    });
	</script>
{% endblock %}