{% load static %}

{% block css %}
  <style type="text/css">
  @page {
    size: Letter;
    margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
  }
  html {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: 13px;
  }
  </style>
{% endblock %}



{% block content %}
  {% for report in reports %}
  <div id="container">
    <div id="main">
      <div class="card mt-2 pt-2" id="lab_info_card">
        <div class="row">
          <div class="col-6">
            <div class="card h-100">
              <div class="card-body">
                {{ account.name }}
                {% if account.alternate_id %}
                  {{ account.id|default:'-' }} ({{ account.alternate_id }})<br>
                {% else %}
                  {{ account.id|default:'-' }}<br>
                {% endif %}
                {{ address1|default:'-' }}{% if account.address2 %}, {{ account.address2 }} {% endif %}{% if account.zip_code %}, {{ account.zip_code }}{% endif %}<br>
                {% if city_state %}{{ city_state|upper }}{% endif %}<br>
                <br>
                {% for provider in account_providers %}
                  {% if provider.alternate_id %}({{ provider.alternate_id }}){% endif %} {{ provider.user.first_name }} {{ provider.user.last_name }}
                  {% if provider.suffix %}, {{ provider.suffix }}{% endif %}{% if provider.title %}{{ provider.title }}{% endif %}<br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of main -->
  </div>

  {% endfor %}
{% endblock %}

{% block javascript %}

{% endblock %}
