{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if request.tenant.lab_type == 'POL' %}
      <h2>Archived Locations</h2>
    {% else %}
      <h2>Archived Accounts</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label>ID (Exact)</label>
          <input class="form-control numberMask" placeholder="Search..." id="id-filter">
        </div>
        <div class="col-4">
          <label>Alternate ID (Exact)</label>
          <input class="form-control" placeholder="Search..." id="alternate-id-filter">
        </div>
        <div class="col-4">
          <label>Name</label>
          <input class="form-control" placeholder="Search..." id="name-filter">
        </div>
      </div>
      <p>Press <b>Enter</b> to search.</p>
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="account-table"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
	<script>
    $('.numberMask').inputmask({'mask': '9{0,6}'});
  </script>
  <script>
    const state = {
        Table: {
            data:'', id:'', alternate_id:'', name:'',
            id_id:'#id-filter', alternate_id_id:'#alternate-id-filter', name_id:'#name-filter',
            tableHTMLID:'#account-table',
            apiURL:'/api/v1/internal/archived_account_table/'
        }
    };
    $(state.Table.id_id).val('');
    $(state.Table.alternate_id_id).val('');
    $(state.Table.name_id).val('');

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'id',
          editor: false,
          type: 'text',
          width: 150,
        },
        {
          data: 'name',
          editor: false,
          type: 'text',
          width: 350,
        },
        {
          data: 'num_providers',
          editor: false,
          type: 'text',
          width: 30,
        },
        {
          data: 'contact',
          editor: false,
          type: 'text',
          width: 150,
        },
        {
          data: 'phone',
          editor: false,
          type: 'text',
        },
        {
          data: 'fax',
          editor: false,
          type: 'text',
        },
        {
          data: 'email',
          editor: false,
          type: 'text',
        },
        {
          data: 'undo_archive_link',
          editor: false,
          renderer: 'html',
          width: 150,
          className: 'htCenter',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'ID',
          'Name',
          'Providers',
          'Contact',
          'Phone',
          'Fax',
          'Email',
          'Undo Archive',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
        const hotElement = document.querySelector(state.Table.tableHTMLID);
        state.Table.table = new Handsontable(hotElement, hotSettings);

        function cb(id, alternateId, name) {
            var idURL;
            if (id === '') {
                idURL = '_'
            } else {
                idURL = id
            }
            var alternateIdURL;
            if (alternateId === '') {
                alternateIdURL = '_'
            } else {
                alternateIdURL = alternateId
            }
            var nameURL;
            if (name === '') {
                nameURL = '_'
            } else {
                nameURL = name
            }
            const url = idURL + '/' + alternateIdURL + '/' + nameURL
            $.ajax({
                url: state.Table.apiURL + url,
                dataType: 'json',
                success: function(data) {
                    state.Table.data = data;
                    state.Table.table.getPlugin('filters').clearConditions();
                    state.Table.table.loadData(data);
                },
                error: function () {
                    console.log("Account table data call failed")
                }
            })
        }

        cb(state.Table.id, state.Table.alternate_id, state.Table.name);

        $(state.Table.id_id).change(function () {
            state.Table.id = $(state.Table.id_id).val();
            cb(state.Table.id, state.Table.alternate_id, state.Table.name);
        });
        $(state.Table.alternate_id_id).change(function () {
            state.Table.alternate_id = $(state.Table.alternate_id_id).val();
            cb(state.Table.id, state.Table.alternate_id, state.Table.name);
        });
        $(state.Table.name_id).change(function () {
            state.Table.name = $(state.Table.name_id).val();
            cb(state.Table.id, state.Table.alternate_id, state.Table.name);
        });
    });
	</script>
{% endblock %}