{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}

  <style>
    .provider-table {
      height: 300px;
      overflow:auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ account.name }}</h2>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if account.requisition_form %}
          <a href="{{ account.requisition_form.url }}" class="btn btn-sm btn-primary mr-2" target="_blank"><i class="fas fa-search"></i>&nbsp;&nbsp;Account Requisition Form</a>
        {% endif %}
        <!-- Delete button -->
        <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;{{ object_name.0 }}</a>
        <!-- /Delete button -->
        <a href="{% url 'account_update' account.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;{{ object_name.0 }}</a>
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="row">

    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          {% if account.alternate_id %}
            <p><b>ID</b><br> {{ account.id|default:'-' }} ({{ account.alternate_id }})</p>
          {% else %}
            <p><b>ID</b><br> {{ account.id|default:'-' }}</p>
          {% endif %}
          <p><b>Aliases</b><br>
            {% for alias in account.account_aliases.all %}
              {{ alias }}<br>
            {% endfor %}
          </p>
          <p><b>Date added</b><br> {{ account.created_date|as_timezone:request.tenant.timezone }}</p>
          <p><b>Address</b><br> {{ account.address1|default:'-' }}<br>{% if account.address2 %}
            {{ account.address2 }}{% endif %}{% if account.zip_code or account.zip_code.strip != '' %}{% if account.address2 %}, {% endif %}
            {{ account.zip_code|default:'-' }}{% endif %}</p>
          <p><b>Contact</b><br> {{ account.contact_person|default:'-' }}</p>
          <p><b>Phone #</b><br> {{ account.phone_number|default:'-' }}</p>
          <p><b>Fax #</b><br> {{ account.fax_number|default:'-' }}</p>
          <p><b>Email</b><br> {{ account.email|default:'-' }}</p>
          {% if user.user_type < 9 %}
            <p><b>Username </b><br> {{ account.user.username|default:'-' }}</p>
          {% endif %}
          <p><b>Reporting Preference</b><br> {{ account.report_preference }}</p>
          <p><b>EMR Account Number</b><br> {{ account.emr_account_number|default:"-" }}</p>
          <p><b>Link of PDF in HL7 Message</b><br> {{ account.results_out_show_pdf_link }}</p>
          <p><b>Account Manages Signatures on File</b><br> {{ account.account_manages_signatures }}</p>
          <p><b>Internal Notes</b><br><i>{{ account.notes }}</i></p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card h-100">
        <div class="card-body provider-table">
          <h5 class="card-title">Provider List</h5>
          <table class="table mb-0">
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>NPI</th>
            </tr>
            {% for provider in provider_list %}
            <tr>
              <td><a href="{% url 'provider_details' provider_uuid=provider.uuid %}">{{ provider.user.last_name }}</a></td>
              <td><a href="#">{{ provider.user.first_name }}</a></td>
              <td>{{ provider.npi }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>

  <br><br>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Critical Contacts
          <div class="btn-group mr-2 float-right">
              <a href="{% url 'critical_contact_create' account_uuid=account.uuid %}" class="btn btn-sm btn-primary ml-2">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;Critical Contact
              </a>
          </div>
        </div>
        <div class="card-body">
          <div class="handsontable" id="critical-contact-table"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Reported Orders Table -->
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">
          <h4>Reported Orders</h4>
          <div class="handsontable" id="account-reported-orders-table"></div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Reported Orders Table -->

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/account_details.js' %}"></script>
	<script>
  let accountReportedOrdersTable;
    // account reported orders handsontable
    $.ajax({
      url: '/api/v1/internal/account_reported_orders_table/{{ account.uuid }}/',
      dataType: 'json',
      success: function (orders) {
        accountReportedOrdersTable = createAccountReportedOrdersTable(orders, accountReportedOrdersTable)
      },
      error: function () {
        console.log("account reported orders table api call failed")
      }
    });

  // delete the object only if confirmed
  function deleteObj() {
    let result = confirm("Are you sure you want to archive this {{ object_name.1 }}?");
    if (result) {
      // logic to delete the item
      // delete is performed using a GET request here
      window.location.replace("{% url 'account_delete' account_uuid=account.uuid %}");
    }
  }

  function createCriticalContactTable(data, table) {

      if (!table) {
        const hotElement = document.querySelector('#critical-contact-table');
        const hotSettings = {
          data: data,
          columns: [
            {
              data: 'last_name',
              editor: false,
              width: 10,
            },
            {
              data: 'first_name',
              editor: false,
              width: 200,
            },
            {
              data: 'phone_number',
              editor: false,
              type: 'text',
              width: 200,
            },
            {
              data: 'update_link',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
              width: 5,
            },
            {
              data: 'delete_link',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
              width: 5,
            },
          ],
          stretchH: 'all',
          //width: 806,
          height: 400,
          autoColumnSize: true,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
            [
              'Last Name',
              'First Name',
              'Phone Number',
              'Update',
              'Archive',
            ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function(col, TH) {
            TH.className = 'center';
          },
        };

        return new Handsontable(hotElement, hotSettings);
      } else {
        // load new data without replacing old table
        table.getPlugin('filters').clearConditions();
        return table;
      }
    }

    let criticalContactTable;
      // recent order handsontable
      $.ajax({
        url: '/api/v1/internal/critical_contact_table/{{ account.uuid }}',
        dataType: 'json',
        success: function (data) {
          criticalContactTable = createCriticalContactTable(data, criticalContactTable)
        },
        error: function () {
          console.log("critical contacts table api call failed")
        }
      });

	</script>
{% endblock %}
