{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="be-content">

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}


  <div class="row">
    <div class="col-md-8">
      <div class="card card-border-color">
        <div class="card-header">
          Advanced Settings
        </div>
        <div class="card-body p-4">
          <form method="POST">
            {% csrf_token %}
            <div class="row p-3">
              <h4>Toggle features</h4>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.hide_instrument_integration.label }}</label>
              </div>
              <div class="col-3">
                {{ form.hide_instrument_integration }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.hide_fda_tests.label }}</label>
              </div>
              <div class="col-3">
                {{ form.hide_fda_tests }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.hide_specimen_validity.label }}</label>
              </div>
              <div class="col-3">
                {{ form.hide_specimen_validity }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.hide_report_approved_by.label }}</label>
              </div>
              <div class="col-3">
                {{ form.hide_report_approved_by }}
              </div>
            </div>
            <hr>

            <div class="row p-3">
              <h4>Order Create Settings</h4>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.skip_insurance.label }}</label>
              </div>
              <div class="col-3">
                {{ form.skip_insurance }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.skip_patient_history.label }}</label>
              </div>
              <div class="col-3">
                {{ form.skip_patient_history }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.require_icd10.label }}</label>
              </div>
              <div class="col-3">
                {{ form.require_icd10 }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.require_collected_by.label }}</label>
              </div>
              <div class="col-3">
                {{ form.require_collected_by }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.show_prescribed_medication.label }}</label>
              </div>
              <div class="col-3">
                {{ form.show_prescribed_medication }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.show_abn_on_req_form.label }}</label>
              </div>
              <div class="col-3">
                {{ form.show_abn_on_req_form }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.show_research_consent.label }}</label>
              </div>
              <div class="col-3">
                {{ form.show_research_consent }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.show_patient_result_request.label }}</label>
              </div>
              <div class="col-3">
                {{ form.show_patient_result_request }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.enable_patient_vitals.label }}</label>
              </div>
              <div class="col-3">
                {{ form.enable_patient_vitals }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.enable_individual_analytes.label }}</label>
              </div>
              <div class="col-3">
                {{ form.enable_individual_analytes }}
              </div>
            </div>

            <hr>

            <div class="row p-3">
              <h4>Accessioning Settings</h4>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.enable_accession_number.label }}</label>
              </div>
              <div class="col-3">
                {{ form.enable_accession_number }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.enable_date_encoded_accession_number.label }}</label>
              </div>
              <div class="col-3">
                {{ form.enable_date_encoded_accession_number }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.enable_accession_number_editing.label }}</label>
              </div>
              <div class="col-3">
                {{ form.enable_accession_number_editing }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.use_zebra_printer.label }}</label>
              </div>
              <div class="col-3">
                {{ form.use_zebra_printer }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.use_accession_number_barcode.label }}</label>
              </div>
              <div class="col-3">
                {{ form.use_accession_number_barcode }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.show_ten_digit_barcode.label }}</label>
              </div>
              <div class="col-3">
                {{ form.show_ten_digit_barcode }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.enable_document_scanning.label }}</label>
              </div>
              <div class="col-3">
                {{ form.enable_document_scanning }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.enable_document_uploading.label }}</label>
              </div>
              <div class="col-3">
                {{ form.enable_document_uploading }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.confirm_order_receipt.label }}</label>
              </div>
              <div class="col-3">
                {{ form.confirm_order_receipt }}
              </div>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.automatically_print_labels.label }}</label>
              </div>
              <div class="col-3">
                {{ form.automatically_print_labels }}
              </div>
            </div>

            <hr>

            <div class="row p-3">
              <h4>Security Settings</h4>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.use_two_factor_auth.label }}</label>
              </div>
              <div class="col-3">
                {{ form.use_two_factor_auth }}
              </div>
            </div>

            <hr>

            <div class="row p-3">
              <h4>Experimental Settings (Proceed with caution)</h4>
            </div>
            <div class="row">
              <div class="col-9">
                <label>{{ form.use_docraptor.label }}</label>
              </div>
              <div class="col-3">
                {{ form.use_docraptor }}
              </div>
            </div>


            <hr>
            <div class="row ml-1">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
