{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Header -->
<div class="row top-buffer">
  <div class="col-12">
    <h3>AWS Debug Page</h3>
  </div>
</div>
<hr>
<!-- /Header -->

<div class="card">
  <div class="card-header">Order successfully created!</div>
  <div class="card-body">
    <p><b>Order Code: </b>{{ order.code }}</p>
    <p><b>Accession Number: </b>{{ order.accession_number }}</p>
    <a href="{% url 'aws_debug' %}">Back to debug page</a>
  </div>
</div>

{% endblock %}


{% block javascript %}
{% endblock %}
