{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Header -->
<div class="row top-buffer">
  <div class="col-12">
    <h3>AWS Debug Page</h3>
  </div>
</div>
<hr>
<!-- /Header -->

<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <a class="btn btn-primary" href="{% url 'aws_debug_identifiers' %}">Test Identifier Worker</a>
  </div>
</div>

{% endblock %}


{% block javascript %}
{% endblock %}
