{% load staticfiles %}
{% load orders_tags %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}">
    <!-- Head content -->
    {% block head_content %}
      <title>Dendi LIS</title>
	  {% endblock %}

    <!-- Icons-->
    <script src="https://kit.fontawesome.com/074a51be3f.js"></script>
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/coreui-icons.min.css' %}" type="text/css" />
    <!-- Main styles for this application-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'fontawesome-pro/css/all.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" type="text/css" />

    {% block css %}
    {% endblock %}

  </head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show brand-minimized sidebar-minimized">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'order_list' %}">
        <img class="navbar-brand-full" src="{% static 'img/dendi_horizontal.png' %}" width="90" height="20" alt="Dendi">
        <img class="navbar-brand-minimized" src="{% static 'img/Dendi_JustIcon_No_BKGD_Med-01.png' %}" width="30" height="30" alt="Dendi">
      </a>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3 pt-2">
          <a class="nav-link"><h5>{{ request.tenant.name }}</h5></a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a class="nav-link mr-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {% if request.user.last_name %}
              {% comment  %} if user is a provider, add their title if the have one {% endcomment %}
              {% if user.user_type == 10 %}
                {{ request.user.first_name }} {{ request.user.last_name }}{% if user.provider.title %}, {{ user.provider.title }}{% endif %} &nbsp;&#9660;
              {% else %}
                {{ request.user.first_name }} {{ request.user.last_name }} &nbsp;&#9660;
              {% endif %}
            {% elif user.user_type == 9 %}
              {{ request.user.account }} &nbsp;&#9660;
            {% else %}
              {{ request.user.email }} &nbsp;&#9660;
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">
              <strong>My Account</strong>
            </div>
            <a class="dropdown-item" href="{% url 'settings' %}">
              <i class="fa fa-wrench"></i> Settings
            </a>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="fa fa-lock"></i> Log Out
            </a>
          </div>
        </li>
      </ul>

    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown" href="{% url 'dashboard' %}">
                <i class="nav-icon fas fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard
              </a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fas fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;Groups
              </a>
              <ul class="nav-dropdown-items">
                {% if user.user_type < 9 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_list' %}">
                    {% if request.tenant.lab_type == 'POL' %}
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Locations</p>
                    {% else %}
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Accounts</p>
                    {% endif %}
                  </a>
                </li>
                {% endif %}
                {% if user.user_type < 10 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'provider_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Providers</p>
                  </a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'patient_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Patients</p>
                  </a>
                </li>
                {% if user.user_type < 5 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'collector_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Collectors</p>
                  </a>
                </li>
                {% endif %}
                {% if user.user_type == 1 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'payer_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Payers</p>
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
            {% if user.user_type < 9 %}
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon far fa-scanner"></i>&nbsp;&nbsp;&nbsp;&nbsp;Accessioning
              </a>
              {% comment %} If Lab wants to comfirm receipt of orders/samples before accessioning {% endcomment %}
              {% if request.tenant.settings|safe_lookup:'confirm_order_receipt' == True %}
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accession_orders_confirm_receipt' %}">
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Order Barcode</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accession_samples_confirm_receipt' %}">
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Sample Barcode</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accession_containers_confirm_receipt' %}">
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Container Barcode</p>
                    </a>
                  </li>
                </ul>
              {% else %}
                {% comment %} For labs that want to automatically receive orders/samples during accessioning {% endcomment %}
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accession_orders' %}">
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Order Barcode</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accession_samples' %}">
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Sample Barcode</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accession_containers' %}">
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Container Barcode</p>
                    </a>
                  </li>
                </ul>

              {% endif %}
            </li>
            {% endif %}
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                {% if user.user_type < 9 %}
                <i class="nav-icon fas fa-list-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Orders & Tests
                {% else %}
                <i class="nav-icon fas fa-list-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Orders
                {% endif %}
              </a>
              <ul class="nav-dropdown-items">
                {% if user.user_type < 11 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders</p>
                  </a>
                </li>
               {% endif %}

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_create' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders: Create</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'workqueue_unreceived' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders: Unreceived</p>
                  </a>
                </li>
                {% if user.user_type < 9 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'workqueue_pending_results' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders: Work Queue</p>
                  </a>
                </li>
                {% endif %}
                {% if user.user_type < 12 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'workqueue_issues' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders: Issues</p>
                  </a>
                </li>
                <!-- Providers can see the reported orders -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'workqueue_reported' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders: Reported</p>
                  </a>
                </li>
                {% endif %}

                {% if user.user_type < 9 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'workqueue_tests' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Tests: Work Queue</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sample_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Samples</p>
                  </a>
                </li>
                {% endif %}

              </ul>
            </li>

            {% if user.user_type == 1 %}
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon far fa-clipboard-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Approvals
                </a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'workqueue_pending_approval' %}">
                      <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders</p>
                    </a>
                  </li>

                </ul>
              </li>
            {% endif %}

            {% if user.user_type < 9 and request.tenant.settings|safe_lookup:'hide_instrument_integration' != True %}
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;&nbsp;Instruments</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'batch_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Sample Sheets</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'instrument_integration_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Instruments</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'data_in_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Data Files</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'control_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Controls</p>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}

            {% if user.user_type < 9 %}
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fas fa-vials"></i>&nbsp;&nbsp;&nbsp;&nbsp;Lab Menu</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test_type_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Tests</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test_type_category_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Test Categories</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test_panel_type_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Test Profiles</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'super_test_panel_type_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Super Test Profiles</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'medication_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Medications</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'container_type_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Container Types</p>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}

            {% if user.user_type < 9 %}
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Reports & Metrics
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accession_check' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Daily Orders</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test_result_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Test Results</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'operational_report' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Operational Reports</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'report_remarks_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Report Remarks</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'billing_messages' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Billing Messages</p>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if user.user_type == 10 %}
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fas fa-wrench"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tools
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  {% comment %}
                    user.provider only works here because you are assuming that the user is a provider, or
                    user.user_type == 10
                   {% endcomment %}
                  <a class="nav-link" href="{% url 'provider_signature' provider_uuid=user.provider.uuid %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;&nbsp;Provider Signature</p>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}

            {% if user.user_type == 1 %}
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fas fa-lock"></i>&nbsp;&nbsp;&nbsp;&nbsp;Admin Tools
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Manage Lab Users</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'setup' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Lab Setup</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Archived Items
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_archived_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Orders</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_archived_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Accounts</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'provider_archived_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Providers</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'collector_archived_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Collectors</p>
                  </a>
                </li>
                {% if user.user_type == 1 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'payer_archived_list' %}">
                    <p class="ml-4 mb-0">•&nbsp;&nbsp;&nbsp;Payers</p>
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
            {% endif %}

          </ul>
        </nav>
      </div>
      <main class="main">
        <!-- Loading screen -->
        <div id="overlay">
          <div id="loading-screen">
            <div class="loader"></div><br>
            <h3 class="loader-text">Loading Data...</h3>
          </div>
        </div>

        <div class="container-fluid mt-4 mb-5">
          <!-- Main content block -->
          {% block content %}
          {% endblock %}

        </div>
      </main>

    </div>

   <!-- Default JS libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="{% static 'js/coreui.min.js' %}" type="text/javascript"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>

    {% block javascript %}
	  {% endblock %}

    {% block footer %}
      {{ form.media }}
    {% endblock %}

  </body>
</html>
