{#{% extends "base.html" %}#}
{#{% load static %}#}
{##}
{#{% block css %}#}
{#  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">#}
{#    <h2>Dashboard</h2>#}
{#    <div class="btn-toolbar mb-2 mb-md-0">#}
{#      <div class="btn-group mr-2">#}
{#        <a href="{% url 'order_create' %}" class="btn btn-primary ml-2">#}
{#          <i class="fas fa-plus"></i>&nbsp;&nbsp;Order#}
{#        </a>#}
{#      </div>#}
{#    </div>#}
{#  </div><br>#}
{##}
{#  {% if messages %}#}
{#    {% for message in messages %}#}
{#      {% if message.tags == 'success' %}#}
{#        <div class="alert alert-success">#}
{#          <strong>{{ message|escape }}</strong>#}
{#        </div>#}
{#      {% elif message.tags == 'error' %}#}
{#        <div class="alert alert-danger">#}
{#          <strong>{{ message|escape }}</strong>#}
{#        </div>#}
{#      {% else %}#}
{#        <div class="alert alert-info">#}
{#          <strong>{{ message|escape }}</strong>#}
{#        </div>#}
{#      {% endif %}#}
{#    {% endfor %}#}
{#  {% endif %}#}
{##}
{#  {% if form.errors %}#}
{#    {% for field in form %}#}
{#      {% for error in field.errors %}#}
{#        <div class="alert alert-danger">#}
{#          <strong>{{ error|escape }}</strong>#}
{#        </div>#}
{#      {% endfor %}#}
{#    {% endfor %}#}
{#    {% for error in form.non_field_errors %}#}
{#      <div class="alert alert-danger">#}
{#        <strong>{{ error|escape }}</strong>#}
{#      </div>#}
{#    {% endfor %}#}
{#  {% endif %}#}
{##}
{#  <div class="row">#}
{#    <form action="ex_form" target="_blank">#}
{##}
{#   </form>#}
{#  </div>#}
{##}
{##}
{#{% endblock %}#}
{##}
{##}
{#{% block javascript %}#}
{#{% endblock %}#}

<embed src={% url 'pdf' %}'#toolbar=0&navpanes=0&scrollbar=0'style="width:718px; height:700px;" frameborder="0">
