{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Billing</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div><br>

  <h3>Work in progress...</h3>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

	</script>
{% endblock %}