{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{{ clia_sample_type.name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'sample_type_list' %}" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div><br>

  <p><b>Name</b><br> {{ clia_sample_type.name }}</p>
  <p><b>Notes</b><br> {{ clia_sample_type.notes }}</p>

  <hr>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
	</script>
{% endblock %}