{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">FDA Database</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Search & Import from the FDA Database
            <span>&nbsp;&nbsp;&nbsp;
              <!-- Source: https://www.fda.gov/MedicalDevices/DeviceRegulationandGuidance/Databases/default.htm -->
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="This database contains the commercially marketed in vitro test systems categorized by
                 the FDA since January 31, 2000, and tests categorized by
                 the Centers for Disease Control and Prevention (CDC) prior to that date.">
              </i>
              <small><p class="float-right text-muted">Last updated: {{ last_updated }}</p></small>
            </span>
          </h4>
        </div>
        <div class="card-body">
          <p>Search by analyte, target, test system, or instrument:</p>
          <input class="form-control" id="text-filter" placeholder="Press 'Enter' to search...">
          <br>
          <p>Specialty:</p>
          <select class="form-control" id="specialty-filter">
              <option value="All">All</option>
              {% for clia_test_type_specialty in clia_test_type_specialty_list %}
                <option value="{{ clia_test_type_specialty.specialty_id }}">{{ clia_test_type_specialty.specialty_name }}</option>
              {% endfor %}
          </select>
          <br>
          <p>Complexity:</p>
          <select class="form-control" id="complexity-filter">
              <option value="All">All</option>
              <option value="WAIVED">Waived</option>
              <option value="MODERATE">Moderate</option>
              <option value="HIGH">High</option>
          </select>
          <br>
          <p>Date effective</p>
          <div id="recent-order-table-range" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span />
            <b class="caret"></b>
          </div><br><br>
          <p class="mb-0">
            <small>Source:
              <a href="https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfCLIA/search.cfm">FDA database</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <h4 class="d-inline">
            Import FDA Tests
            <span><small><p class="float-right"></p></small></span>
          </h4>
          <p>Click on <b>Import</b> to add the test to your lab's list of tests.</p>
          <div class="handsontable" id="test-type-table"></div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/test_type_list_pol.js' %}"></script>
	<!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    // Default page state
    const state = {
        Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count', complexityFilter: 'All',
            specialty: 'All', textFilter: '',
            tableHtmlID: '#test-type-table', dateRangePickerHtmlID: '#recent-order-table-range span', dateRangePickerDivID: '#recent-order-table-range',
            apiURL: '/api/v1/internal/clia_test_type_table/'
        },
    };

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'target',
          editor: false,
          type: 'text',
          width: 250,
        },
        {
          data: 'name',
          editor: false,
          renderer: 'text',
          width: 500,
        },
        {
          data: 'complexity',
          editor: false,
          type: 'text',
          width: 150,
        },
        {
          data: 'import_link',
          editor: false,
          renderer: 'html',
          width: 50,
        }
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: false,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
          [
              'Target',
              'Name',
              'Complexity',
              'Import'
          ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function (col, TH) {
          TH.className = 'center';
      },

      beforeCopy: (data, coords) => {
        for(i=0; i < data.length; i++) {
          data[i][1] = data[i][1].text;
          data[i][2] = data[i][2].text;
          data[i][3] = data[i][3].text;
          data[i][4] = data[i][4].text;
        }
        return data;
      },
  };
    var j = jQuery.noConflict();

    // in transit order table
    j(function() {
      const start = moment().subtract(10, 'y').startOf('month');
      const end = moment();
      const complexityFilter = j('#complexity-filter').val();
      const specialty = j('#specialty-filter').val();
      const textFilter = j('#text-filter').val();

      createTable(state.Table.tableHtmlID, hotSettings);

      function order_cb(start, end, complexityFilter, specialty, textFilter) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        state.Table.complexityFilter = complexityFilter;
        state.Table.specialty = specialty;
        state.Table.textFilter = textFilter;
        let url = '';

        if (textFilter==='') {
            url = complexityFilter + '/' + specialty + '/' + 'null' + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
        } else {
            url = complexityFilter + '/' + specialty + '/' + textFilter + '/' + start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
        }

        j.ajax({
          url: state.Table.apiURL + url,
          dataType: 'json',
          success: function (orders) {
            state.Table.data = orders;
            updateTable();
          },
          error: function () {
            console.log("pending order table data call failed")
          }
        })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
        startDate: start,
        endDate: end,
        showDropdowns: true,
        alwaysShowCalendars: true,
        linkedCalendars: false,
        maxDate: moment().add(1, 'd'),
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, function (start, end) {
        j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        state.Table.dateBegin = start;
        state.Table.dateEnd = end;
        order_cb(start, end, state.Table.complexityFilter, state.Table.specialty, state.Table.textFilter);
      });

      order_cb(start, end, complexityFilter, specialty, textFilter);

      j('#complexity-filter').change(function () {
        state.Table.complexityFilter = j('#complexity-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.complexityFilter, state.Table.specialty, state.Table.textFilter);
      });

      j('#specialty-filter').change(function () {
        state.Table.specialty = j('#specialty-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.complexityFilter, state.Table.specialty, state.Table.textFilter);
      });

      j('#text-filter').change(function () {
        state.Table.textFilter = j('#text-filter').val();
        order_cb(state.Table.dateBegin, state.Table.dateEnd, state.Table.complexityFilter, state.Table.specialty, state.Table.textFilter);
      });
    });


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // the code for the UUID is in lab/data_views.py under function clia_test_type_table

    var csrf_token = '{{csrf_token}}';

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	</script>
{% endblock %}
