{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Collector: {{ collector.user.first_name }} {{ collector.user.last_name }}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Collector</a>
        <a href="{% url 'collector_update' collector.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Collector</a>
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <p><b>Name</b><br>
            {{ collector.user.first_name }} {{ collector.user.last_name }}
          </p>
          {% if request.user.user_type < 8 %}
            <p><b>Account(s)</b><br>
            {% if collector.accounts.all %}
              {% for account in collector.accounts.all %}
                <a href="{% url 'account_details' account_uuid=account.uuid %}">{{ account }}</a><br>
              {% endfor %}
            {% else %}
              -
            {% endif %}
            </p>
          {% endif %}
          <p><b>Date Added</b><br> {{ collector.created_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</p>
          <p><b>Email</b><br> {{ collector.user.email|default:'-' }}</p>
          <p><b>Username</b>&nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="The username is used to log in to the portal.">
            </i>
            <br> {{ collector.user.username|default:'-' }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>

    // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to archive this collector?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("{% url 'collector_delete' collector_uuid=collector.uuid %}");
      }
    }
	</script>
{% endblock %}