{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Collector</h2>
    {% else %}
      <h2>Create Collector</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'collector_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

              <label class="required_label">{{ form.accounts.label }}</label>
              {{ form.accounts }} &nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Accounts must be created in the system first (see the sidebar under Groups)
                 before they can be added. A collector can be added to multiple accounts or locations.">
              </i>
              <br><br>

            <div class="row">
              <div class="col-6">
                <label class="required_label">{{ form.first_name.label }}</label>
                <input name="{{ form.first_name.name }}"
                       value="{{ form.first_name.value|default_if_none:'' }}" class="form-control" required><br>
              </div>
              <div class="col-6">
                <label class="required_label">{{ form.last_name.label }}</label>
                <input name="{{ form.last_name.name }}"
                       value="{{ form.last_name.value|default_if_none:'' }}" class="form-control" required><br>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label>{{ form.email.label }}</label>
                {{ form.email }}<br>
              </div>
            </div>

            <hr>

            <div class="form-row">
              <div class="col-6">
                <label>{{ form.username.label }}</label>
                {{ form.username }}
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.password.label }}</label>
                {{ form.password }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.password_confirm.label }}</label>
                {{ form.password_confirm }}
              </div>
            </div>

            <hr>

            {% if update %}
              <button type="submit" class="btn btn-primary">Update Collector</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Create Collector</button>
            {% endif %}

          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <!-- Custom JS -->
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}