{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Critical Contact for Account: {{ account.name }}</h2>
    {% else %}
      <h2>Create Critical Contact for Account: {{ account.name }}</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'account_details' account_uuid=account.uuid %}" class="btn btn-sm btn-secondary">Account Details</a>
      </div>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|safe }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|safe }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <form method="POST">
            {% csrf_token %}

              <div class="form-row">
                <div class="col-6">
                  <label>{{ form.last_name.label }}</label>
                  <input name="{{ form.last_name.name }}"
                         value="{{ form.last_name.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-6">
                  <label>{{ form.first_name.label }}</label>
                  <input name="{{ form.first_name.name }}"
                         value="{{ form.first_name.value|default_if_none:'' }}"
                         class="form-control">
                </div>
                <div class="col-6">
                  <label>{{ form.phone_number.label }}</label>
                  <input name="{{ form.phone_number.name }}"
                         value="{{ form.phone_number.value|default_if_none:'' }}"
                         class="form-control phoneNumberMask">
                </div>
              </div><hr>

            <button type="submit" class="btn btn-primary">Save Critical Contact</button>

          </form>

        </div>

      </div>
    </div>

  </div>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/zip_code_autofill.js' %}"></script>
  <!-- Custom JS -->
	<script>

		// Google Maps Autocomplete
		let address1 = document.getElementById('address1');
		// restrict to only addresses
    let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});
    autofill_zip_code(autocomplete1, 'zip-code');

		// phone number mask for HTML
		$('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
