{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/handsontable/handsontable_pro.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Dashboard</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'order_create' %}" class="btn btn-primary ml-2">
          <i class="fas fa-plus"></i>&nbsp;&nbsp;Order
        </a>
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|escape }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <div class="card h-100">
        <div class="card-body">

          <form method="POST">
            {% csrf_token %}
            <h3 class="card-title">Report Inbox ({{ reported_order_count }})
              <button type="submit" class="btn btn-sm btn-danger d-inline-block float-right archive-inbox-order mr-2">
                <i class="nav-icon fas fa-trash-alt"></i>
                &nbsp;&nbsp;Clear Selected
              </button>
              <a href="{% url 'workqueue_reported' %}" class="btn btn-sm btn-primary d-inline-block float-right mr-2" target="_blank">
                <i class="nav-icon far fa-history"></i>
                &nbsp;&nbsp;Report History
              </a>
              <button type="submit" class="btn btn-sm btn-primary d-inline-block float-right batch-print-reports mr-2" name="batch-print-reports" id="generate-batch-report">
                <i class="nav-icon fas fa-print"></i>&nbsp;&nbsp;Generate Batch Report
              </button>
              {% if batch_report %}
                <div class="btn-group mr-2 float-right">
                  <a href="{{ batch_report.pdf_file.url }}" class="btn btn-sm btn-success" target="_blank"><i class="fas fa-search"></i>&nbsp;&nbsp;Batch Report</a>
                </div>
              {% endif %}

            </h3>
            <p>Click <i class="nav-icon fas fa-search"></i> to view a report. Click on each column header to sort by
              that category.</p>

            {% if reported_order_count %}
              <div class="handsontable" id="reported-order-table"></div>
            {% else %}
              <hr>
              <h4>Your inbox is empty.</h4>
            {% endif %}

          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block javascript %}
  <script type="text/javascript" src="{% static 'lib/reconnecting-websocket/reconnecting-websocket.min.js' %}"></script>
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'lib/handsontable/handsontable_pro.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/date_range_picker_table.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    // confirm the report client-side
    $('#generate-batch-report').click(function(event) {

      let result = confirm('Are you sure you want to print the selected reports?');

      if(result) {
      } else {
        alert('Batch printing canceled.');
        event.preventDefault();
      }
    });

    function toggle(source) {
      checkboxes = document.getElementsByName('is_archived');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

    $('.archive-inbox-order').click(function(e) {

      // at least one report must be checked
      let checkboxes = document.querySelectorAll('input[type="checkbox"]');
      let checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);

      if (checkedOne) {
       // any one is checked
        let result = confirm("Are you sure you want to clear these reports from your inbox?");
        if (!result) {
          // prevent page from redirecting via <a href>
          e.preventDefault();
        }
      }
    });



    // Default page state
    const state = {
        Table: {chart: '', data:'', dateBegin: '', dateEnd: '', countHtmlID: '#order-count',
            tableHtmlID: '#reported-order-table', dateRangePickerHtmlID: '#reported-order-table-range span', dateRangePickerDivID: '#reported-order-table-range',
            apiURL: '/api/v1/internal/provider_inbox_table/'
        },
    };
    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'archive_inbox_checkbox',
          editor: false,
          renderer: 'html',
          className: 'htCenter',
          width: 10,
        },
        {
          data: 'code',
          editor: false,
          renderer: 'html',
        },
        {
          data: 'status',
          editor: false,
          type: 'text',
        },
        {
          data: 'patient_name',
          editor: false,
          renderer: 'html',
        },
        {
          data: 'submitted_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
          width: 100,
        },
        {
          data: 'received_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
          width: 100,
        },
        {
          data: 'report_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
          width: 100,
        },
        {
          data: 'report_pdf',
          editor: false,
          renderer: 'html',
          className: 'htCenter',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 650,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          '<input type="checkbox" onClick="toggle(this)" />',
          'Order Code',
          'Status',
          'Patient Name',
          'Submitted',
          'Received',
          'Reported',
          'View',
          'Archive',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };
    var j = jQuery.noConflict();

    // in transit order table
    j(function() {
      const start = moment().subtract(30, 'd').startOf('month');
      const end = moment();

      createTable(state.Table.tableHtmlID, hotSettings);

      function order_cb(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;

          const url = start.format('YYYY/MM/DD') + '/' + end.format('YYYY/MM/DD');
          j.ajax({
              url: state.Table.apiURL + url,
              dataType: 'json',
              success: function(orders) {
                  state.Table.data = orders;
                  updateTable();
              },
              error: function() {
                  console.log("pending order table data call failed")
              }
          })

      }

      j(state.Table.dateRangePickerDivID).daterangepicker({
          startDate: start,
          endDate: end,
          showDropdowns: true,
          alwaysShowCalendars: true,
          linkedCalendars: false,
          maxDate: moment().add(1, 'd'),
          ranges: {
              'Today': [moment(), moment()],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, function(start, end) {
          j(state.Table.dateRangePickerHtmlID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          state.Table.dateBegin = start;
          state.Table.dateEnd = end;
          order_cb(start, end);
      });

      order_cb(start, end);
    });

  </script>
{% endblock %}