{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  {% if not lab_status.lab_setup_complete %}
    <div class="alert alert-info">
      <strong>LIS Setup:</strong> {{ lab_status.num_steps_done }}/{{ lab_status.num_steps }} steps complete. <a href="{% url 'setup' %}">Get started.</a>
    </div>
  {% endif %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Dashboard</h2>
  </div><br>

  {% if empty %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            There are currently no orders in the system.
          </div>
        </div>
      </div>
    </div>
  {% else %}
    {% if request.user.user_type < 9 %}
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Summary Statistics</h5>
              <table class="table">
                <tr>
                  <th>Orders (All)</th>
                  <th>Accounts</th>
                  <th>Providers</th>
                  <th>Patients</th>
                </tr>
                <tr>
                  {% for stat in summary_statistics %}
                  <td>{{ stat }}</td>
                  {% endfor %}
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <br><br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Work Queue Distribution by Status</h5>
              <div id="work-queue-status" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Order Count by Received Date</h5>
              <div id="order-count" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div><br><br>

    {% if request.tenant.lab_type == 'Other' %}
    <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Monthly Tests Ordered</h5>
              <table class="table">
                <tr>
                  <th>Test Type</th>
                  <th>Jan</th>
                  <th>Feb</th>
                  <th>Mar</th>
                  <th>Apr</th>
                  <th>May</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Aug</th>
                  <th>Sep</th>
                  <th>Oct</th>
                  <th>Nov</th>
                  <th>Dec</th>
                </tr>
                {% for key, value in tests.items %}
                <tr>
                  <td>{{ key }}</td>
                  {% for month in value %}
                    <td>
                    {{ month }}
                    </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}


{% endblock %}


{% block javascript %}
  <script type="text/javascript" src="{% static 'lib/highstock/highstock.js' %}"></script>

  <!-- Include Date Range Picker Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <script>

    Highcharts.chart('work-queue-status', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: ''
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            style: {
              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
          }
        }
      },
      series: [{
        name: 'Statuses',
        colorByPoint: true,
        data: [{
          name: 'Unreceived',
          y: {{ order_status_dict.unreceived }},
        }, {
          name: 'Pending Results',
          y: {{ order_status_dict.pending_results }}
        }, {
          name: 'Pending Approval',
          y: {{ order_status_dict.pending_approval }}
        },]
      }]
    });


    function createDailyTotalSamplesChart(chart_data) {
      // First, let's make the colors transparent
      Highcharts.getOptions().colors = Highcharts.map(
        Highcharts.getOptions().colors,
        function(color) {
          return Highcharts.Color(color)
            .setOpacity(0.5)
            .get('rgba');
        },
      );

      Highcharts.setOptions({
        lang: {
          thousandsSep: ',',
        },
      });

      // create the chart
      Highcharts.stockChart('order-count', {
        chart: {
          alignTicks: false,
        },

        rangeSelector: {
          selected: 1,
        },

        title: {
          text: '',
        },

        xAxis: {
          // ...
          labels: {
            formatter: function() {
              return moment(this.value).format('MM/DD');
            },
          },
        },

        series: [
          {
            type: 'column',
            name: 'Number of orders',
            data: chart_data,
            dataGrouping: {
              units: [
                [
                  'week', // unit name
                  [1], // allowed multiples
                ],
                ['month', [1, 2, 3, 4, 6]],
              ],
            },
          },
        ],
      });
    }

    createDailyTotalSamplesChart({{ daily_orders_list }})
  </script>

{% endblock %}
