{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Dendi - Empowering Clinical Laboratories" property="og:title">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." name="description">
    <meta name="keywords" content="Laboratory Information System, LIS, Dendi, LIMS, Laboratory Information Management System, clinical laboratory software">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." property="og:description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Site Title -->
    {% block title %}
      <title>Dendi | Forgot Password</title>
    {% endblock %}
    <!-- Site favicon -->
    <link href="{% static 'landing_page/images/favicon-32x32.png' %}" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap.min.css' %}" type="text/css">
    <!-- login CSS -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" type="text/css">
  </head>

  <body class="text-center">

    <form class="form-signin" action="{% url 'forgot_password' %}" method="POST">
      {% csrf_token %}

      <img class="mb-4" src="{% static 'landing_page/images/dendi_logo_square.png' %}" alt="" width="170">
      <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
			<p>We'll send you an email to reset your password.</p>

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success">
              <strong>{{ message|escape }}</strong>
            </div>
          {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
              <strong>{{ message|escape }}</strong>
            </div>
          {% else %}
            <div class="alert alert-info">
              <strong>{{ message|escape }}</strong>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong class="form-error">{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong class="form-error">{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      <label for="inputEmail" class="sr-only">Email address</label>

      <input type="text" name="{{ form.username.name }}"
             placeholder="Username" autocomplete="off" class="form-control" required autofocus><br>

      <button class="btn-lg btn-primary btn-block" type="submit">Reset Password</button>
      <p class="mt-5 mb-3 text-muted">Having issues? Contact
				<a href="mailto:support@dendisoftware.com?Subject=Customer%20Support%20Request">Dendi Support</a>.</p>
    </form>
  </body>
</html>
