{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Update Laboratory Information</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'setup' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if form_error %}
    <div class="alert alert-danger">
      <strong>{{ form_error }}</strong>
    </div>
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

	<form method="POST">
		{% csrf_token %}

    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-body">
            <div class="form-group">
              <label>{{ form.clia_number.label }}</label>
              <input name="{{ form.clia_number.name }}"
                     value="{{ form.clia_number.value|default_if_none:'' }}"
                     class="form-control">
            </div>
            <div class="form-group">
              <label>{{ form.clia_director.label }}</label>
              <input name="{{ form.clia_director.name }}"
                     value="{{ form.clia_director.value|default_if_none:'' }}"
                     class="form-control">
            </div>
            <div class="form-group">
              <label>{{ form.timezone.label }}</label>
              {{ form.timezone }}
            </div>
            <div class="form-group">
              <label>{{ form.address_1.label }}</label>
              <input id="address1" name="{{ form.address_1.name }}"
                     value="{{ form.address_1.value|default_if_none:'' }}"
                     class="form-control">
            </div>
            <div class="form-group">
              <label>{{ form.address_2.label }}</label>
              <input name="{{ form.address_2.name }}"
                     value="{{ form.address_2.value|default_if_none:'' }}"
                     class="form-control">
            </div>
            <div class="form-group">
              <label>{{ form.phone_number.label }}</label>
              <input name="{{ form.phone_number.name }}"
                     value="{{ form.phone_number.value|default_if_none:'' }}"
                     class="form-control phoneNumberMask">
            </div>
            <div class="form-group">
              <label>{{ form.fax_number.label }}</label>
              <input name="{{ form.fax_number.name }}"
                     value="{{ form.fax_number.value|default_if_none:'' }}"
                     class="form-control phoneNumberMask">
            </div>
            <div class="form-group">
              <label>{{ form.website.label }}</label>
              <input name="{{ form.website.name }}"
                     value="{{ form.website.value|default_if_none:'' }}"
                     class="form-control">
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Update Laboratory Information</button>

	</form>


{% endblock %}


{% block javascript %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <!-- Custom JS -->
	<script>

    // Google Maps Autocomplete
		let address1 = document.getElementById('address1');
		// restrict to only addresses
    let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});

		// phone number mask for HTML
		$('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options

	</script>
{% endblock %}


{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}