{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Medications</h1>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div><br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-4 m-0">
          <label>Generic Name</label>
          <input class="form-control" placeholder="Search..." id="name-filter">
        </div>
        <div class="col-4 m-0 pl-0">
          <label>Trade Name</label>
          <input class="form-control" placeholder="Search..." id="common-name-filter">
        </div>
      </div>
      <p>Press <b>Enter</b> to search.</p>
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="medication-table"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
    const state = {
        Table: {
            data:'', name:'', common_name:'',
            common_name_id:'#common-name-filter', name_id:'#name-filter',
            tableHTMLID: '#medication-table',
            apiURL: '/api/v1/internal/medication_table/'
        }
    };
    $(state.Table.name_id).val('');
    $(state.Table.common_name_id).val('');

    const hotSettings =  {
      data: [],
      columns: [
        {
          data: 'name',
          editor: false,
          renderer: 'html',
        },
        {
          data:'common_name',
          editor: false,
          type: 'text',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Generic Name',
          'Trade Names',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
       const hotElement = document.querySelector(state.Table.tableHTMLID);
       state.Table.table = new Handsontable(hotElement, hotSettings);

       function cb(name, commonName) {
           var nameURL;
            if (name === '') {
                nameURL = '_'
            } else {
                nameURL = name
            }
            var commonNameURL;
            if (commonName === '') {
                commonNameURL = '_'
            } else {
                commonNameURL = commonName
            }
            const url = nameURL + '/' + commonNameURL + '/';
            $.ajax({
                url: state.Table.apiURL + url,
                dataType: 'json',
                success: function(data) {
                    state.Table.data = data;
                    state.Table.table.getPlugin('filters').clearConditions();
                    state.Table.table.loadData(data);
                },
                error: function () {
                    console.log("Medication table data call failed")
                }
            })
       }

       cb(state.Table.name, state.Table.common_name);

       $(state.Table.name_id).change(function () {
            state.Table.name = $(state.Table.name_id).val();
            cb(state.Table.name, state.Table.common_name);
        });
        $(state.Table.common_name_id).change(function () {
            state.Table.common_name = $(state.Table.common_name_id).val();
            cb(state.Table.name, state.Table.common_name);
        });
    });
	</script>
{% endblock %}