{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Patient: {{ patient }}</h2>
    {% else %}
      <h2>Create Patient</h2>
    {% endif  %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'patient_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <form method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label class="required_label">{{ form.providers.label }}</label>
            {{ form.providers }} &nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="Providers must be created in the system first (see the sidebar under Groups)
               before they can be associated with a patient.">
            </i>
          </div>
          <div class="form-group">
            <label>{{ form.primary_care_provider.label|safe }}</label>
            {{ form.primary_care_provider }} &nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="Primary care providers can only be selected from the list of providers chosen above this field.">
            </i>

          </div>
          <div class="form-row">
            <div class="col-4">
              <label class="required_label">{{ form.first_name.label }}</label>
              <input name="{{ form.first_name.name }}"
                     value="{{ form.first_name.value|default_if_none:'' }}" class="form-control" required>
            </div>
            <div class="col-2">
              <label>{{ form.middle_initial.label }}</label>
              <input name="{{ form.middle_initial.name }}"
                     value="{{ form.middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
            </div>
            <div class="col-4">
              <label class="required_label">{{ form.last_name.label }}</label>
              <input name="{{ form.last_name.name }}"
                     value="{{ form.last_name.value|default_if_none:'' }}" class="form-control" required>
            </div>
            <div class="col-2">
              <label>{{ form.suffix.label }}</label>&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Optional field. Common examples include: Jr, Sr, III.">
              </i>
              <input name="{{ form.suffix.name }}"
                     value="{{ form.suffix.value|default_if_none:'' }}" class="form-control">
            </div>
          </div><br>
          <div class="form-group">
            <label class="required_label">{{ form.sex.label }}</label>
            {{ form.sex }}
          </div>
          <div class="form-group">
            <label>{{ form.ethnicity.label }}</label>
            {{ form.ethnicity }}
          </div>
          <div class="form-group">
            <label class="required_label">{{ form.birth_date.label }}</label>
            <input id="patient-birth-date" name="{{ form.birth_date.name }}" value="{{ form.birth_date.value|default_if_none:''|date:'m-d-Y' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
          </div>

          <div class="form-row">
            <div class="col-6">
              <label>{{ form.address1.label }}</label>
              <input id="address1" name="{{ form.address1.name }}"
                     value="{{ form.address1.value|default_if_none:'' }}"
                     class="form-control">
            </div>
            <div class="col-3">
              <label>{{ form.address2.label }}</label>
              <input name="{{ form.address2.name }}"
                     value="{{ form.address2.value|default_if_none:'' }}"
                     class="form-control" >
            </div>
            <div class="col-3">
              <label>{{ form.zip_code.label }}</label>
              <input name="{{ form.zip_code.name }}"
                     value="{{ form.zip_code.value|default_if_none:'' }}"
                     class="form-control" id="zip-code">
            </div>
          </div><br>

          <div class="form-row">
            <div class="col-6">
              <label>{{ form.email.label }}</label>
              <input name="{{ form.email.name }}"
                     value="{{ form.email.value|default_if_none:'' }}" class="form-control">
            </div>
            <div class="col-6">
              <label>{{ form.phone_number.label }}</label>
              <input name="{{ form.phone_number.name }}"
                     value="{{ form.phone_number.value|default_if_none:'' }}" class="form-control phoneNumberMask">
            </div>
          </div><br>

          <div class="form-group">
            <label>{{ form.social_security_number.label }}</label>
            <input name="{{ form.social_security_number.name }}"
                   value="{{ form.social_security_number.value|default_if_none:'' }}" class="form-control ssnMask">
          </div>

          <hr>
          <button type="submit" class="btn btn-primary">
            {% if update %}
              Update Patient
            {% else %}
              Create Patient
            {% endif %}
          </button>
        </form>

        </div>
      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/zip_code_autofill.js' %}"></script>
  <!-- Custom JS -->
	<script>

  // HTML input masks
  $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"});
  $('.middleInitialMask').inputmask({"mask": "A"});
  $('.dateMask').inputmask({"mask": "99-99-9999"});
  $('.ssnMask').inputmask({"mask": "999-99-9999"});

  // Patient Birth Date Selector
  let patientBirthDate = new Pikaday({
    field: $('#patient-birth-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 120,
  });

  // Google Maps Autocomplete
  let address1 = document.getElementById('address1');
  // restrict to only addresses
  let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});
  autofill_zip_code(autocomplete1, 'zip-code');

	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
