{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/Resources/dynamsoft.webtwain.css' %}">
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>
      Patient: {{ patient.user.first_name }}
      {% if patient.middle_initial %} {{ patient.middle_initial }}.{% endif %}
      {{ patient.user.last_name }}{% if patient.suffix %} {{ patient.suffix }}{% endif %}
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'patient_merge' patient.uuid %}" class="btn btn-sm btn-primary ml-2">
          <i class="far fa-users-medical"></i>&nbsp;&nbsp;Merge Patients
        </a>
        <a href="{% url 'patient_update' patient_uuid=patient.uuid %}" class="btn btn-sm btn-warning ml-2">
          <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Patient
        </a>
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back
        </a>
      </div>
    </div>
  </div>

  {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success">
            <strong>{{ message|escape }}</strong>
          </div>
        {% elif message.tags == 'error' %}
          <div class="alert alert-danger">
            <strong>{{ message|escape }}</strong>
          </div>
        {% else %}
          <div class="alert alert-info">
            <strong>{{ message|escape }}</strong>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

  <div class="row">

    <div class="col-6">
      <div class="card h-100">
        <div class="card-header">
          Patient Demographics
        </div>
        <div class="card-body">
          <p><b>First Name</b><br>{{ patient.user.first_name|default:'-' }}</p>
          <p><b>Middle Initial</b><br>{{ patient.middle_initial|default:'-' }}</p>
          <p><b>Last Name</b><br>{{ patient.user.last_name|default:'-' }}</p>
          {% if patient.suffix %}
            <p><b>Suffix</b><br>{{ patient.suffix|default:'-' }}</p>
          {% endif %}
          <p><b>Sex</b><br>
            {% if patient.sex == 'M' %}
              Male
            {% elif patient.sex == 'F' %}
              Female
            {% else %}
              Non-Binary
            {% endif %}
          </p>
          <p><b>Ethnicity</b><br>
            {{ patient.get_ethnicity_display }}
          </p>
          <p><b>Date of Birth</b><br> {{ patient.birth_date|default:'-' }}</p>
          <p><b>Social Security Number</b><br> {{ patient.social_security|default:'-' }}</p>
          {% if primary_care_provider %}
            <p><b>Primary Care Provider</b><br>
              <a href="{% url 'provider_details' provider_uuid=patient.primary_care_provider.uuid %}">{{ patient.primary_care_provider }}</a>
            </p>
          {% endif %}
          <p><b>Address</b><br> {{ patient.address1|default:'-' }}<br>
            {% if patient.address2 %}
              {{ patient.address2 }}{% endif %}{% if patient.zip_code or patient.zip_code.strip != '' %}{% if patient.address2 %}, {% endif %}{{ patient.zip_code|default:'-' }}
            {% endif %}</p>
          <p><b>Email</b><br> {{ patient.user.email|default:'-' }}</p>
          <p><b>Phone #</b><br> {{ patient.phone_number|default:'-' }}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-header">
          Patient Information
        </div>
        <div class="card-body">
          <h5>Associated Providers</h5>
          {% for provider in patient.providers.all %}
            {% if hide_provider_account_data %}
              {{ provider.user.first_name }} {{ provider.user.last_name }}{% if provider.title %}, {{ provider.title }}{% endif %} ({{ provider.npi }})<br>
            {% else %}
              <a href="{% url 'provider_details' provider_uuid=provider.uuid %}">
              {{ provider.user.first_name }} {{ provider.user.last_name }}{% if provider.title %}, {{ provider.title }}{% endif %} ({{ provider.npi }})
              </a><br>
            {% endif %}
          {% endfor %}<br><br>
          <h5>Associated Accounts&nbsp;&nbsp;<i class="fas fa-info-circle" data-toggle="tooltip"
               title="An account is only shown if an order is associated with it, since providers can be associated
               with multiple accounts, and an order can be made without a provider.">
            </i>
          </h5>
          {% for account in accounts %}
            {% if hide_provider_account_data %}
              {{ account }}<br>
            {% else %}
              <a href="{% url 'account_details' account_uuid=account.uuid %}">{{ account }}</a><br>
            {% endif %}
          {% endfor %}<br>

          <hr>

          {% if enable_document_scanning or enable_document_uploading %}
            <h5>Patient Documents ({{ documents.count|default_if_none:'' }})</h5>
            {% if documents %}
              <a href="{% url 'patient_document_list' patient.uuid %}" class="btn btn-sm btn-primary" ><i class="fas fa-search"></i>&nbsp;&nbsp;View</a><br>
            {% else %}
              <div>-</div>
            {% endif %}
            <hr>
            <h5>Upload/Scan Patient Documents&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip" title="To upload a file, choose a file and press the Upload button. To scan, press the Scan button."></i>
            </h5>
          {% endif %}

          <!-- Document uploading -->
          {% if enable_document_uploading %}
            <div class="ml-1 row">
              <form method="post" enctype="multipart/form-data" id="document-type-form">
                {% csrf_token %}
                <p class="mb-0">Select a document type:</p>
                <div class="col-12 pl-0 pb-1">
                  <select name="selected_document" id="selected_document">
                    {% for item in additional_document_types %}
                      {% if item.choice == item %}
                        <option selected="selected">{{ item }}</option>
                      {% else %}
                        <option>{{ item }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <br>
                <p class="mb-1">To upload, choose a file, then press the <b>Upload</b> button. Supported filetypes: JPEG, PNG, SVG, PDF. Secured PDFs are not supported.</p>
                <input type="file" name="order_document">
                <button class="btn btn-sm btn-primary" type="submit" name="order_additional_documents" id="order-additional-documents"><i class="far fa-file-upload"></i>&nbsp;&nbsp;Upload</button>
              </form>
            </div><br>
          {% endif %}
          <!--/ Document uploading -->
          <!-- Document scanning -->
          {% if enable_document_scanning %}
            <div class="ml-1 row">
              {% if not enable_document_uploading %}
                <p class="mb-0">Select a document type:</p>
                <div class="col-12 pl-0 pb-1">
                  <select name="selected_document" id="selected_document">
                    {% for item in additional_document_types %}
                      {% if item.choice == item %}
                        <option selected="selected">{{ item }}</option>
                      {% else %}
                        <option>{{ item }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <br>
              {% endif %}
              <div class="col-12 pl-0 pb-1">
                <p class="mb-0">To scan, press the <b>Scan</b> button:</p>
              </div>
              <a href="javascript:void(0);" class="btn btn-sm btn-primary scan-additional-documents"><i class="far fa-scanner-image"></i>&nbsp;&nbsp;Scan</a>
              <!-- The Modal -->
              <div id="scanned-document-modal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="scanned-document">
              </div>
              <div scope="row" id="dwtcontrolContainer" class="d-none"></div>&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Scan a document into the system if connected directly to a scanner. Works natively with most scanner models.">
              </i>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  <hr><br>
  <!-- Patient Medication History -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Prescribed Medication History
        </div>
        <div class="card-body">
          {% if prescribed_medications_list %}
            {% for order_code, prescription_date, test_targets in prescribed_medications_list %}
              <div class="row">
                <a data-toggle="collapse" href="#collapse{{ order_code }}" role="button" aria-expanded="false">
                  <i class="fas fa-chevron-down m-1"></i>
                </a>
                <h6>{{ order_code }}</h6>
<!--                <div class="float-right"><h6><td>{{ prescription_date|as_timezone:request.tenant.timezone }}</td></h6></div>-->
              </div>
              <div class="collapse" id="collapse{{ order_code }}">
                <div class="table-responsive">
                  <table class="table table-sm  mb-2">
                    <thead>
                      <th>Name</th>
                      <th>Common Name</th>
                      <th>Category</th>
                      <th>Date Added</th>
                    </thead>
                    <tbody>
                    {% for test_target in test_targets %}
                      <tr>
                        <td>{{ test_target.name }}</td>
                        <td>
                          {% for common_name in test_target.common_name %}
                           {{ common_name|default_if_none:'' }} {%if not forloop.last%},{%endif%}
                          {% endfor %}
                        </td>
                        <td>{{ test_target.category|default_if_none:''  }}</td>
                        <td>{{ prescription_date|as_timezone:request.tenant.timezone }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  </div>
              </div>
            {% endfor %}
        </div>
          {% else %}
            <p>This patient does not have any prescribed medications on file.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr><br>
  <!-- End of Patient Medication History by Order -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Patient Insurance

          <div class="btn-group mr-2 float-right">
            <a href="{% url 'patient_payer_create' patient.uuid %}" class="btn btn-sm btn-primary ml-2">
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Insurance
            </a>
          </div>


        </div>
        <div class="card-body">

          {% if payers %}
          <table class="table">
            <thead>
              <th>Type</th>
              <th>Payer</th>
              <th>Subscriber</th>
              <th>Relationship to Subscriber</th>
              <th>Policy ID</th>
              <th>Group #</th>
              <th>Coverage</th>
              <th>Update</th>
              <th>Archive</th>
            </thead>
            <tbody>
              {% for payer in payers %}
                <tr>
                  <td>{{ payer.payer_type }}</td>
                  <td>{{ payer.payer.name }}</td>
                  {% if payer.subscriber_first_name %}
                    <td>{{ payer.subscriber_name }}</td>
                  {% else %}
                    <td>{{ patient.user.first_name }}{% if patient.middle_initial %} {{ patient.middle_initial }}.{% endif %}
                      {{ patient.user.last_name }}{% if patient.suffix %} {{ patient.suffix }}{% endif %} (Self)
                    </td>
                  {% endif %}
                  <td>{{ payer.subscriber_relationship }}</td>
                  <td>{{ payer.member_id }}</td>
                  <td>{{ payer.group_number }}</td>
                  {% if payer.is_primary %}
                    <td>Primary</td>
                  {% elif payer.is_secondary %}
                    <td>Secondary</td>
                  {% elif payer.is_tertiary %}
                    <td>Tertiary</td>
                  {% else %}
                    <td>Self-Pay</td>
                  {% endif %}
                  <td>
                    <a href="{% url 'patient_payer_update' patient.uuid payer.uuid %}">
                      <i class="fas fa-pencil-alt text-warning" data-toggle="tooltip" title="Update insurance"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'patient_payer_delete' patient.uuid payer.uuid %}">
                      <i class="fas fa-trash-alt text-danger archive-payer" data-toggle="tooltip" title="Archive insurance"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>This patient does not have any insurance information on file.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Subscriber Details
        </div>
        <div class="card-body">

          {% if payers_with_subscribers %}
            <table class="table">
              <thead>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle</th>
                <th>Suffix</th>
                <th>Relationship</th>
                <th>Sex</th>
                <th>Birth Date</th>
                <th>Social Security</th>
                <th>Address</th>
              </thead>
              <tbody>
                {% for payer in payers_with_subscribers %}
                  <tr>
                    <td>{{ payer.subscriber_last_name }}</td>
                    <td>{{ payer.subscriber_first_name }}</td>
                    <td>{{ payer.subscriber_middle_initial }}</td>
                    <td>{{ payer.subscriber_suffix }}</td>
                    <td>{{ payer.subscriber_relationship }}</td>
                    <td>{{ payer.subscriber_sex }}</td>
                    <td>{{ payer.subscriber_birth_date }}</td>
                    <td>{{ payer.subscriber_social_security|default_if_none:'' }}</td>
                    <td>{{ payer.subscriber_address1 }}{% if payer.subscriber_zip_code %}, {{ payer.subscriber_zip_code }}{% endif %}<br>{{ payer.subscriber_address2 }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>This patient does not have any subscribers (other than self) on file.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Workers' Compensation
          <div class="btn-group mr-2 float-right">
            <a href="{% url 'patient_workers_comp_create' patient.uuid %}" class="btn btn-sm btn-primary ml-2">
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Workers' Compensation
            </a>
          </div>
        </div>
        <div class="card-body">

          {% if workers_comp %}
          <table class="table">
            <thead>
              <th>Payer</th>
              <th>Claim ID</th>
              <th>Claim Manager/Adjuster</th>
              <th>Injury Date</th>
              <th>Update</th>
              <th>Archive</th>
            </thead>
            <tbody>
              {% for payer in workers_comp %}
                <tr>
                  <td>{{ payer.payer.name }}</td>
                  <td>{{ payer.workers_comp_claim_id }}</td>
                  <td>{{ payer.workers_comp_adjuster }}</td>
                  <td>{{ payer.workers_comp_injury_date | date:"M d, Y" }}</td>
                  <td>
                    <a href="{% url 'patient_workers_comp_update' patient.uuid payer.uuid %}">
                      <i class="fas fa-pencil-alt text-warning" data-toggle="tooltip" title="Update workers' compensation"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'patient_workers_comp_delete' patient.uuid payer.uuid %}">
                      <i class="fas fa-trash-alt text-danger archive-wc" data-toggle="tooltip" title="Archive workers' compensation"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>This patient does not have any workers' compensation on file.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Patient Guarantor
            <i class="fas fa-info-circle" data-toggle="tooltip"
               title="A patient can only have one guarantor at a time.">
            </i>
          <div class="btn-group mr-2 float-right">
            <a href="{% url 'patient_guarantor_create' patient.uuid %}" class="btn btn-sm btn-primary ml-2">
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Guarantor
            </a>
          </div>
        </div>
        <div class="card-body">

          {% if guarantors %}
          <table class="table">
            <thead>
              <th>Relation</th>
              <th>Name</th>
              <th>Date of Birth (Guarantor)</th>
              <th>Update</th>
              <th>Archive</th>
            </thead>
            <tbody>
              {% for guarantor in guarantors %}
                <tr>
                  <td>{{ guarantor.relationship_to_patient }}</td>
                  <td>
                    <a href="{% url 'patient_guarantor_details' patient.uuid guarantor.uuid %}">
                      {{ guarantor.user.first_name }}{% if guarantor.middle_initial %} {{ guarantor.middle_initial }}.{% endif %}
                      {{ guarantor.user.last_name }}{% if guarantor.suffix %}, {{ guarantor.suffix }}{% endif %}
                    </a>
                  </td>
                  <td>{{ guarantor.birth_date }}</td>
                  <td>
                    <a href="{% url 'patient_guarantor_update' patient.uuid guarantor.uuid %}">
                      <i class="fas fa-pencil-alt text-warning" data-toggle="tooltip" title="Update patient guarantor information"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'patient_guarantor_delete' patient.uuid guarantor.uuid %}">
                      <i class="fas fa-trash-alt text-danger archive-guarantor" data-toggle="tooltip" title="Archive patient guarantor"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>This patient does not have any guarantors on file.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Reported Orders Table -->
  <div class="row mt-4">
    <div class="col-12">

      <div class="card">
        <div class="card-body">
          <h4>Reported Orders</h4>
          <div class="handsontable" id="patient-reported-orders-table"></div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Reported Orders Table -->

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <!--Document upload -->
  <script src="{% static 'lib/Resources/dynamsoft.webtwain.install.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/Resources/dynamsoft.webtwain.initiate.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/Resources/dynamsoft.webtwain.config.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/upload_additional_documents.js' %}" type="text/javascript" charset="UTF-8"></script>

	<script>

    $('.archive-payer').click(function(event) {
      let result = confirm('Are you sure you want to archive this insurance?');
      if(!result) {
        event.preventDefault();
      }
    });

    $('.archive-wc').click(function(event) {
      let result = confirm('Are you sure you want to archive this workers\' compensation?');
      if(!result) {
        event.preventDefault();
      }
    });

    $('.archive-guarantor').click(function(event) {
      let result = confirm('Are you sure you want to archive this patient guarantor?');
      if(!result) {
        event.preventDefault();
      }
    });

    let patientReportedOrdersTable;
    // patient reported orders handsontable
    $.ajax({
      url: '/api/v1/internal/patient_reported_orders_table/{{ patient.uuid }}/',
      dataType: 'json',
      success: function (orders) {
        patientReportedOrdersTable = createPatientReportedOrdersTable(orders, patientReportedOrdersTable)
      },
      error: function () {
        console.log("patient reported orders table api call failed")
      }
    });

    function createPatientReportedOrdersTable(orders, table) {
      orders.forEach(element => {
        element.code.toString = () => element.code.text;
      });

      if (!table) {
        const hotElement = document.querySelector('#patient-reported-orders-table');
        const hotSettings = {
          data: orders,
          columns: [
            {
              data: 'code',
              editor: false,
              renderer: linkRenderer,
            },
            {
              data: 'status',
              editor: false,
              type: 'text',
            },
            {
              data: 'account',
              editor: false,
              width: 150,
            },
            {
              data: 'provider',
              editor: false,
              width: 150,
            },
            {
              data: 'submitted_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
            },
            {
              data: 'report_date',
              editor: false,
              type: 'date',
              dateFormat: 'MM/DD/YYYY',
              correctFormat: true,
            },
            {
              data: 'report_pdf',
              editor: false,
              renderer: 'html',
              className: 'htCenter',
            },
          ],
          stretchH: 'all',
          //width: 806,
          height: 600,
          autoWrapRow: true,
          manualRowResize: false,
          manualColumnResize: false,
          columnSorting: true,
          sortIndicator: true,
          rowHeaders: false,
          colHeaders: true,
          nestedHeaders: [
            [
              'Order Code',
              'Status',
              'Account',
              'Provider',
              'Submitted Date',
              'Report Date',
              'View',
            ],
          ],
          manualRowMove: false,
          manualColumnMove: false,
          contextMenu: false,
          filters: true,
          dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
          afterGetColHeader: function(col, TH) {
            TH.className = 'center';
          },
        };

        return new Handsontable(hotElement, hotSettings);
      } else {
        // load new data without replacing old table
        table.getPlugin('filters').clearConditions();
        table.loadData(orders);
        return table;
      }
    }
	</script>

  <script>
    $('.scan-additional-documents').click(function(event) {
          var document_type = document.getElementById('selected_document').value;
          if(document_type == '------------'){
              alert("Please select a document type.");
              event.preventDefault();
              return;
          }

          LoadControl();
          var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
          var imageRotated = []
              if (DWObject) {
                  DWObject.SelectSource(function () {

                      var OnAcquireImageSuccess, OnAcquireImageFailure;
                      OnAcquireImageSuccess = OnAcquireImageFailure = function () {
                          DWObject.CloseSource();
                      };

                      DWObject.OpenSource();
                      DWObject.IfShowUI = true;
                      DWObject.Resolution = 200;
                      DWObject.IfDisableSourceAfterAcquire = true;
                      DWObject.PixelType = EnumDWT_PixelType.TWPT_RGB;
                      DWObject.MaxImagesInBuffer = 1;
                      DWObject.PDFCompressionType = EnumDWT_PDFCompressionType.PDF_AUTO;

                      DWObject.AcquireImage(OnAcquireImageSuccess, OnAcquireImageFailure);
                  }, function () {
                      console.log('Scanner not found.');
                  });

                  DWObject.RegisterEvent('OnPostAllTransfers', function(){
                      if (DWObject.HowManyImagesInBuffer == 0){
                              console.log("No scanned images available.");
                              return;
                          }
                          // Select all images
                          var aryIndices = [];

                          for (var i = 0; i < DWObject.HowManyImagesInBuffer; i++) {
                              aryIndices.push(i);
                              // rotate image
                              DWObject.Rotate(i, 180, false);
                              imageRotated.push(true);
                          }

                          var scanned_document_modal = document.getElementById('scanned-document-modal');
                          scanned_document_modal.style.display = "block";
                          DWObject.Width = 200;
                          DWObject.Height = 600;
                          document.getElementById('scanned-document-modal').innerHTML = "";
                          DWObject.ShowImageEditor("scanned-document-modal", 750, 600);
                          DWObject.SetViewMode(1, 1);
                          DWObject.ConvertToBase64(aryIndices, EnumDWT_ImageType.IT_PDF, asyncSuccessFunc, asyncFailureFunc);

                  });
              }

      });

    $("#document-type-form").submit(function(event) {
        var document_type = document.getElementById('selected_document').value;
        if(document_type == '------------'){
            alert("Please select a document type.");
            event.preventDefault();
        }
    });
  </script>
{% endblock %}
