{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Update Patient: : {{ patient }}</h2>
  </div>

  <form method="POST">
    {% csrf_token %}

    {% if form_error %}
      <div class="alert alert-danger">
        <strong>{{ form_error }}</strong>
      </div>
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <div class="form-group">
      <label class="required_label">{{ form.providers.label }}</label>
      {{ form.providers }}
    </div>
    <div class="form-group">
      <label>{{ form.primary_care_provider.label|safe }}</label>
      {{ form.primary_care_provider }}
    </div>
    <div class="form-group">
      <label class="required_label">{{ form.payer_type.label }}</label>
      {{ form.payer_type }}
    </div>
    <div class="form-group">
      <label class="required_label">{{ form.first_name.label }}</label>
      <input name="{{ form.first_name.name }}"
             value="{{ form.first_name.value|default_if_none:'' }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label>{{ form.middle_initial.label }}</label>
      <input name="{{ form.middle_initial.name }}"
             value="{{ form.middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
    </div>
    <div class="form-group">
      <label class="required_label">{{ form.last_name.label }}</label>
      <input name="{{ form.last_name.name }}"
             value="{{ form.last_name.value|default_if_none:'' }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label>{{ form.suffix.label }}</label>
      <input name="{{ form.suffix.name }}"
             value="{{ form.suffix.value|default_if_none:'' }}" class="form-control">
    </div>
    <div class="form-group">
      <label class="required_label">{{ form.sex.label }}</label>
      {{ form.sex }}
    </div>
    <div class="form-group">
      <label>{{ form.ethnicity.label }}</label>
      {{ form.ethnicity }}
    </div>
    <div class="form-group">
      <label class="required_label">{{ form.birth_date.label }}</label>
      <input id="patient-birth-date" name="{{ form.birth_date.name }}" value="{{ form.birth_date.value|default_if_none:''|date:'m-d-Y' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
    </div>
    <div class="form-group">
      <label>{{ form.address1.label }}</label>
      <input id="address1" name="{{ form.address1.name }}"
             value="{{ form.address1.value|default_if_none:'' }}"
             class="form-control">
    </div>
    <div class="form-group">
      <label>{{ form.address2.label }}</label>
      <input name="{{ form.address2.name }}"
             value="{{ form.address2.value|default_if_none:'' }}"
             class="form-control">
    </div>
    <div class="form-group">
      <label>{{ form.email.label }}</label>
      <input name="{{ form.email.name }}"
             value="{{ form.email.value|default_if_none:'' }}" class="form-control">
    </div>
    <div class="form-group">
      <label>{{ form.phone_number.label }}</label>
      <input name="{{ form.phone_number.name }}"
             value="{{ form.phone_number.value|default_if_none:'' }}" class="form-control phoneNumberMask">
    </div>
    <div class="form-group">
      <label>{{ form.social_security_number.label }}</label>
      <input name="{{ form.social_security_number.name }}"
             value="{{ form.social_security_number.value|default_if_none:'' }}" class="form-control ssnMask">
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Update Patient</button>

  </form>

{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <!-- Custom JS -->
	<script>

  // HTML input masks
  $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"});
  $('.middleInitialMask').inputmask({"mask": "A"});
  $('.dateMask').inputmask({"mask": "99-99-9999"});
  $('.ssnMask').inputmask({"mask": "999-99-9999"});

  // Patient Birth Date Selector
  let patientBirthDate = new Pikaday({
    field: $('#patient-birth-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 120,
  });

  // Google Maps Autocomplete
  let address1 = document.getElementById('address1');
  // restrict to only addresses
  let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});


	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
