{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>
    Merge Patient: {{ patient_to_merge.user.first_name }}
      {% if patient_to_merge.middle_initial %} {{ patient_to_merge.middle_initial }}.{% endif %}
      {{ patient_to_merge.user.last_name }}{% if patient_to_merge.suffix %} {{ patient_to_merge.suffix }}{% endif %} into {{ patient.user.first_name }}
      {% if patient.middle_initial %} {{ patient.middle_initial }}.{% endif %}
      {{ patient.user.last_name }}{% if patient.suffix %} {{ patient.suffix }}{% endif %}
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="card h-100">
        <div class="card-header">
          Patient Information
        </div>
        <div class="card-body">
          <div class="alert alert-warning">
            <strong>This patient will be preserved.</strong>
          </div>
          <p><b>First Name</b><br>{{ patient.user.first_name|default:'-' }}</p>
          <p><b>Middle Initial</b><br>{{ patient.middle_initial|default:'-' }}</p>
          <p><b>Last Name</b><br>{{ patient.user.last_name|default:'-' }}</p>
          {% if patient.suffix %}
            <p><b>Suffix</b><br>{{ patient.suffix|default:'-' }}</p>
          {% endif %}
          <p><b>Sex</b><br>
            {% if patient.sex == 'M' %}
              Male
            {% elif patient.sex == 'F' %}
              Female
            {% else %}
              Non-Binary
            {% endif %}
          </p>
          <p><b>Date of Birth</b><br> {{ patient.birth_date|default:'-' }}</p>
          <p><b>Social Security Number</b><br> {{ patient.social_security|default:'-' }}</p>
          <p><b>Address</b><br> {{ patient.address1|default:'-' }}<br>{% if patient.address2 %}{{ patient.address2 }}{% endif %}</p>
          <p><b>Email</b><br> {{ patient.user.email|default:'-' }}</p>
          <p><b>Phone #</b><br> {{ patient.phone_number|default:'-' }}</p>
          <p><b>Number of Orders</b><br> {{ num_orders_patient }}</p>
        </div>
      </div>
    </div>

    <div class="col-2 my-auto text-center">
      <a class="btn btn-ghost" href="{% url 'patient_merge_confirm' patient_to_merge.uuid patient.uuid %}">
        <i class="fas fa-exchange-alt fa-5x text-center"></i>
      </a>
    </div>

    <div class="col-5">
      <div class="card h-100">
        <div class="card-header">
          Patient Information
        </div>
        <div class="card-body">
          <div class="alert alert-warning">
            <strong>This patient will be deleted.</strong>
          </div>
          <p><b>First Name</b><br>{{ patient_to_merge.user.first_name|default:'-' }}</p>
          <p><b>Middle Initial</b><br>{{ patient_to_merge.middle_initial|default:'-' }}</p>
          <p><b>Last Name</b><br>{{ patient_to_merge.user.last_name|default:'-' }}</p>
          {% if patient_to_merge.suffix %}
            <p><b>Suffix</b><br>{{ patient_to_merge.suffix|default:'-' }}</p>
          {% endif %}
          <p><b>Sex</b><br>
            {% if patient_to_merge.sex == 'M' %}
              Male
            {% elif patient_to_merge.sex == 'F' %}
              Female
            {% else %}
              Non-Binary
            {% endif %}
          </p>
          <p><b>Date of Birth</b><br> {{ patient_to_merge.birth_date|default:'-' }}</p>
          <p><b>Social Security Number</b><br> {{ patient_to_merge.social_security|default:'-' }}</p>
          <p><b>Address</b><br> {{ patient_to_merge.address1|default:'-' }}<br>{% if patient_to_merge.address2 %}{{ patient_to_merge.address2 }}{% endif %}</p>
          <p><b>Email</b><br> {{ patient_to_merge.user.email|default:'-' }}</p>
          <p><b>Phone #</b><br> {{ patient_to_merge.phone_number|default:'-' }}</p>
          <p><b>Number of Orders</b><br> {{ num_orders_patient_to_merge }}</p>
          <hr>
          <div class="row p-3">
            <form method="POST" class="justify-content-center">
              {% csrf_token %}
              <div class="inline-block">
                {{ form.confirm_merge }}&nbsp;
                I confirm that this patient will be deleted and that this patient's order and test result history will be
                assigned to the patient on the left. I understand that this action cannot be reversed.
              </div><br>
              <button class="btn btn-warning" type="submit">
                Merge Patient
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}