{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Insurance: {{ patient }}</h2>
    {% else %}
      <h2>Add Insurance: {{ patient }}</h2>
    {% endif  %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'patient_details' patient.uuid %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|safe }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|safe }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|safe }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <form method="POST">
          {% csrf_token %}

          <div>
            <label class="required_label">{{ form.insurance_type.label }}</label>
          </div>

          <div class="form-group">
            {{ form.insurance_type.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.insurance_type.1 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.insurance_type.2 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.insurance_type.3 }}
          </div>

          <div id="payer-form">

            <div class="form-group">
              <label class="required_label">{{ form.patient_payer_type.label }}</label>
              {{ form.patient_payer_type }}
            </div>

            <div class="payer-info">
              <div class="form-group">
                <label class="required_label">{{ form.payer.label|safe }}</label>
                {{ form.payer }} &nbsp;&nbsp;
              </div>
              <div class="form-row">
                <div class="col-4">
                  <label>{{ form.payer_name.label|safe }}</label>
                  <input name="{{ form.payer_name.name }}"
                           value="{{ form.payer_name.value|default_if_none:'' }}" class="form-control">
                </div>
              </div><br>

              <div class="form-group" id="subscriber-name-form">
                <div class="form-row">
                  <div class="col-4">
                    <label>{{ form.subscriber_first_name.label }}</label>
                    <input name="{{ form.subscriber_first_name.name }}"
                           value="{{ form.subscriber_first_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                  <div class="col-2 pl-0">
                    <label>{{ form.subscriber_middle_initial.label }}</label>
                    <input type="text" name="{{ form.subscriber_middle_initial.name }}"
                           value="{{ form.subscriber_middle_initial.value|default_if_none:'' }}" class="form-control middleInitialMask">
                  </div>
                  <div class="col-4">
                    <label>{{ form.subscriber_last_name.label }}</label>
                    <input name="{{ form.subscriber_last_name.name }}"
                           value="{{ form.subscriber_last_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                  <div class="col-2">
                    <label>{{ form.subscriber_suffix.label }}</label>
                    <input name="{{ form.subscriber_suffix.name }}"
                           value="{{ form.subscriber_suffix.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-6">
                    <label>{{ form.subscriber_birth_date.label }}</label>
                    <input type="text" name="{{ form.subscriber_birth_date.name }}" id="subscriber-birth-date"
                           value="{{ form.subscriber_birth_date.value|default_if_none:''|date:'m-d-Y' }}" class="form-control dateMask" placeholder="MM-DD-YYYY">
                  </div>
                </div><br>
                <div class="form-row">
                  <div class="col-6">
                    <label>{{ form.subscriber_social_security.label }}</label>
                    <input name="{{ form.subscriber_social_security.name }}"
                           value="{{ form.subscriber_social_security.value|default_if_none:'' }}" class="form-control ssnMask">
                  </div>
                </div><br>
                <div class="form-row">
                  <div class="col-6">
                    <label>{{ form.subscriber_sex.label }}</label>
                    {{ form.subscriber_sex }}
                  </div>
                </div><br>
                <div class="form-row">
                  <div class="col-6">
                      <label>{{ form.subscriber_address1.label }}</label>
                      <input type="text" id="address1" name="{{ form.subscriber_address1.name }}" value="{{ form.subscriber_address1.value|default_if_none:'' }}" placeholder="Enter a location" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.subscriber_address2.label }}</label>
                      <input type="text" name="{{ form.subscriber_address2.name }}" value="{{ form.subscriber_address2.value|default_if_none:'' }}" placeholder="Suite, Apartment, etc. (optional)" class="form-control">
                    </div>
                    <div class="col-3">
                      <label>{{ form.subscriber_zip_code.label }}</label>
                      <input type="text" name="{{ form.subscriber_zip_code.name }}" value="{{ form.subscriber_zip_code.value|default_if_none:'' }}" placeholder="" class="form-control" id="zip-code">
                    </div>
                </div>
              </div>

              <div class="form-group">
                <label>{{ form.subscriber_relationship.label }}</label>
                {{ form.subscriber_relationship }}
              </div>

              <div class="form-row">
                <div class="col-4">
                  <label class="required_label">{{ form.member_id.label }}</label>
                  <input name="{{ form.member_id.name }}"
                         value="{{ form.member_id.value|default_if_none:'' }}" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-4">
                  <label>{{ form.group_number.label }}</label>
                  <input name="{{ form.group_number.name }}"
                         value="{{ form.group_number.value|default_if_none:'' }}" class="form-control">
                </div>
              </div>
            </div>

          </div>


          <hr>
          <button type="submit" class="btn btn-primary">
            Save Insurance
          </button>
        </form>

        </div>
      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/zip_code_autofill.js' %}"></script>
  <!-- Custom JS -->
	<script>

  // HTML input masks
  $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"});
  $('.middleInitialMask').inputmask({"mask": "A"});
  $('.dateMask').inputmask({"mask": "99-99-9999"});
  $('.ssnMask').inputmask({"mask": "999-99-9999"});

  // Patient Birth Date Selector
  let patientBirthDate = new Pikaday({
    field: $('#patient-birth-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 120,
  });

  let subscriberBirthDate = new Pikaday({
    field: $('#subscriber-birth-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 120,
  });

  let secondarySubscriberBirthDate = new Pikaday({
    field: $('#secondary-subscriber-birth-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 120,
  });

  let tertiarySubscriberBirthDate = new Pikaday({
    field: $('#tertiary-subscriber-birth-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 120,
  });


  // Google Maps Autocomplete
  let address1 = document.getElementById('address1');
  // restrict to only addresses
  let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});
  autofill_zip_code(autocomplete1, 'zip-code');

  // if subscriber relationship is Self, then hide name field
  if($('select[name=subscriber_relationship]').find(":selected").text() == 'Self') {
    $('#subscriber-name-form').hide();
  }
  // if relationship to patient is "Self", then hide subscriber name
  $('select[name=subscriber_relationship]').on('change', function() {
    if(this.value == 'Self') {
      $('#subscriber-name-form').hide();
    } else {
      $('#subscriber-name-form').show();
    }
  });

  // if insurance type is self-pay, then hide payer form entirely
  if($('input[name=insurance_type]:checked').val() == 'Self-Pay') {
    $('#payer-form').hide();
  }
  // toggle insurance type
  $('input[name=insurance_type]').on('change', function() {
    if(this.value == 'Self-Pay') {
      $('#payer-form').hide();
    } else {
      $('#payer-form').show();
    }
  });

	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}