{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Workers' Compensation: {{ patient }}</h2>
    {% else %}
      <h2>Add Workers' Compensation: {{ patient }}</h2>
    {% endif  %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'patient_details' patient.uuid %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <form method="POST">
          {% csrf_token %}

          <div class="wc-info">
            <div class="form-group">
              <label>{{ form.workers_comp_payer.label|safe }} &nbsp;</label>
              {{ form.workers_comp_payer }} &nbsp;&nbsp;
            </div>
            <div class="form-row">
              <div class="col-4">
                <label>{{ form.workers_comp_payer_name.label|safe }}</label>
                <input name="{{ form.workers_comp_payer_name.name }}"
                         value="{{ form.workers_comp_payer_name.value|default_if_none:'' }}" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="col-4">
                <label>{{ form.workers_comp_claim_id.label }}</label>
                <input name="{{ form.workers_comp_claim_id.name }}"
                       value="{{ form.workers_comp_claim_id.value|default_if_none:'' }}" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="col-4">
                <label>{{ form.workers_comp_adjuster.label }}</label>
                <input name="{{ form.workers_comp_adjuster.name }}"
                       value="{{ form.workers_comp_adjuster.value|default_if_none:'' }}" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="col-4">
                <label>{{ form.workers_comp_injury_date.label }}</label>
                <input id="wc-date" name="{{ form.workers_comp_injury_date.name }}"
                       value="{{ form.workers_comp_injury_date.value|default_if_none:''|date:'m-d-Y' }}"
                       class="form-control dateMask" placeholder="MM-DD-YYYY">
              </div>
            </div>
          </div>

          <hr>
          <button type="submit" class="btn btn-primary">
            Save Workers' Compensation
          </button>
        </form>

        </div>
      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/moment/moment.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <!-- Custom JS -->
	<script>

  // HTML input masks
  $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"});
  $('.middleInitialMask').inputmask({"mask": "A"});
  $('.dateMask').inputmask({"mask": "99-99-9999"});
  $('.ssnMask').inputmask({"mask": "999-99-9999"});

  // Google Maps Autocomplete
  let address1 = document.getElementById('address1');
  // restrict to only addresses
  let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});

  // Date Selector
  let dateSelector = new Pikaday({
    field: $('#wc-date')[0],
    format: 'MM-DD-YYYY',
    maxDate: moment().toDate(),
    minDate: moment("19200101", "YYYYMMDD"),
    yearRange: 120,
  });

	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}