{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>
    Patient Guarantor for: {{ patient.user.first_name }}
      {% if patient.middle_initial %} {{ patient.middle_initial }}.{% endif %}
      {{ patient.user.last_name }}{% if patient.suffix %}, {{ patient.suffix }}{% endif %}
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{% url 'patient_guarantor_update' patient.uuid patient_guarantor.uuid %}" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Guarantor</a>
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-6">
      <div class="card h-100">
        <div class="card-header">
          Patient Guarantor Details
        </div>
        <div class="card-body">
          <p><b>First Name</b><br>{{ patient_guarantor.user.first_name|default:'-' }}</p>
          <p><b>Middle Initial</b><br>{{ patient_guarantor.middle_initial|default:'-' }}</p>
          <p><b>Last Name</b><br>{{ patient_guarantor.user.last_name|default:'-' }}</p>
          {% if patient_guarantor.suffix %}
            <p><b>Suffix</b><br>{{ patient_guarantor.suffix|default:'-' }}</p>
          {% endif %}
          <p><b>Sex</b><br>
            {% if patient_guarantor.sex == 'M' %}
              Male
            {% elif patient_guarantor.sex == 'F' %}
              Female
            {% else %}
              Non-Binary
            {% endif %}
          </p>
          <p><b>Date of Birth</b><br> {{ patient_guarantor.birth_date|default:'-' }}</p>
          <p><b>Social Security Number</b><br> {{ patient_guarantor.social_security|default:'-' }}</p>
          <p><b>Address</b><br> {{ patient_guarantor.address1|default:'-' }}{% if patient_guarantor.zip_code %}, {{ patient_guarantor.zip_code }}{% endif %}<br>{% if patient_guarantor.address2 %}{{ patient_guarantor.address2 }}{% endif %}</p>
          <p><b>Email</b><br> {{ patient_guarantor.user.email|default:'-' }}</p>
          <p><b>Phone #</b><br> {{ patient_guarantor.phone_number|default:'-' }}</p>
        </div>
      </div>
    </div>


  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
	</script>
{% endblock %}