{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>
    Merge Patient: {{ patient.user.first_name }}
      {% if patient.middle_initial %} {{ patient.middle_initial }}.{% endif %}
      {{ patient.user.last_name }}{% if patient.suffix %} {{ patient.suffix }}{% endif %}
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2">
          <i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-header">
          Patient Demographics
        </div>
        <div class="card-body">
          <p><b>First Name</b><br>{{ patient.user.first_name|default:'-' }}</p>
          <p><b>Middle Initial</b><br>{{ patient.middle_initial|default:'-' }}</p>
          <p><b>Last Name</b><br>{{ patient.user.last_name|default:'-' }}</p>
          {% if patient.suffix %}
            <p><b>Suffix</b><br>{{ patient.suffix|default:'-' }}</p>
          {% endif %}
          <p><b>Sex</b><br>
            {% if patient.sex == 'M' %}
              Male
            {% elif patient.sex == 'F' %}
              Female
            {% else %}
              Non-Binary
            {% endif %}
          </p>
          <p><b>Ethnicity</b><br>
            {{ patient.get_ethnicity_display }}
          </p>
          <p><b>Date of Birth</b><br> {{ patient.birth_date|default:'-' }}</p>
          <p><b>Social Security Number</b><br> {{ patient.social_security|default:'-' }}</p>
          {% if primary_care_provider %}
            <p><b>Primary Care Provider</b><br>
              <a href="{% url 'provider_details' provider_uuid=patient.primary_care_provider.uuid %}">{{ patient.primary_care_provider }}</a>
            </p>
          {% endif %}
          <p><b>Address</b><br> {{ patient.address1|default:'-' }}<br>{% if patient.address2 %}{{ patient.address2 }}{% endif %}</p>
          <p><b>Email</b><br> {{ patient.user.email|default:'-' }}</p>
          <p><b>Phone #</b><br> {{ patient.phone_number|default:'-' }}</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">Merge Patient</div>
        <div class="card-body">
          <p>
            Instructions: select or search a patient to merge. The selected patient will have their orders and test results
            assigned to the other patient. All other information relating
            to the selected patient will be deleted and should be entered in manually as desired.
          </p><br>

          <h5>Possible duplicates</h5>
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Birth Date</th>
              <th>Select</th>
            </thead>
            <tbody>
              {% for same_name_patient in same_name_patients %}
                <tr>
                  <td>{{ same_name_patient.user.first_name }}
                      {% if same_name_patient.middle_initial %} {{ same_name_patient.middle_initial }}.{% endif %}
                      {{ same_name_patient.user.last_name }}{% if same_name_patient.suffix %} {{ same_name_patient.suffix }}{% endif %}</td>
                  <td>{{ same_name_patient.birth_date }}</td>
                  <td><a class="btn btn-sm btn-primary" href="{% url 'patient_merge_confirm' patient.uuid same_name_patient.uuid %}">Select</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <hr><br><br>
          <h5>Search for patient</h5>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group d-none">
              <label class="required_label">{{ form.original_patient.label }}</label>
              {{ form.original_patient }}
            </div>
            <div class="form-group">
              <label class="required_label">{{ form.patient_to_merge.label }}</label>
              {{ form.patient_to_merge }}
              <button type="submit" class="btn btn-sm btn-primary">Select</button>
            </div>
          </form>
        </div>
    </div>
  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}
