{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Patients</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'patient_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Patient</a>
      </div>
    </div>
  </div><br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3 m-0">
          <label>Last Name</label>
          <input class="form-control" placeholder="Search..." id="last-name-filter">
        </div>
        <div class="col-3 m-0 pl-0">
          <label>First Name</label>
          <input class="form-control" placeholder="Search..." id="first-name-filter">
        </div>
        <div class="col-2">
          <label>Middle</label>
          <input class="form-control" placeholder="Search..." id="middle-filter">
        </div>
        <div class="col-2">
          <label>Sex</label>
          <select class="form-control" id="sex-filter">
            <option value="_">All</option>
            <option value="F">Female</option>
            <option value="M">Male</option>
            <option value="NB">Non-binary</option>
          </select>
        </div>
        <div class="col-2">
          <label>Birth Date</label>
          <input id="birth-date-filter" class="form-control dateMask" placeholder="MM-DD-YYYY">
        </div>
      </div>
      <p>Press <b>Enter</b> to search.</p>
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="patient-table"></div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'lib/pikaday/pikaday.js' %}" type="text/javascript"></script>
	<script>
    const state = {
        Table: {
            data:'', first_name:'', last_name:'', middle:'', sex:'', birth_date:'',
            first_name_id:'#first-name-filter', last_name_id:'#last-name-filter', middle_id:'#middle-filter',
            sex_id:'#sex-filter', birth_date_id:'#birth-date-filter',
            tableHTMLID: '#patient-table',
            apiURL: '/api/v1/internal/patient_table/'
        }
    };
    $(state.Table.first_name_id).val('');
    $(state.Table.last_name_id).val('');
    $(state.Table.middle_id).val('');
    $(state.Table.sex_id).val('_');
    $(state.Table.birth_date_id).val('');

    $('.dateMask').inputmask({"mask": "99-99-9999"});
    // Patient Birth Date Selector
    let patientBirthDate = new Pikaday({
      field: $(state.Table.birth_date_id)[0],
      format: 'MM-DD-YYYY',
      maxDate: moment().toDate(),
      minDate: moment("01011920", "MMDDYYYY"),
      yearRange: 120,
    });

    const hotSettings = {
      data: [],
      columns: [
        {
          data: 'last_name',
          editor: false,
          renderer: linkRenderer,
          width: 200,
        },
        {
          data: 'first_name',
          editor: false,
          renderer: linkRenderer,
          width: 200,
        },
        {
          data: 'middle_initial',
          editor: false,
          renderer: linkRenderer,
          width: 20,
        },
        {
          data: 'sex',
          editor: false,
          type: 'text',
          width: 20,
        },
        {
          data: 'birth_date',
          editor: false,
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Last Name',
          'First Name',
          'Middle',
          'Sex',
          'Birth Date',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
        const hotElement = document.querySelector(state.Table.tableHTMLID);
        state.Table.table = new Handsontable(hotElement, hotSettings);

        function cb(firstName, lastName, middle, sex, birthDate) {
            var firstNameURL;
            if (firstName === '') {
                firstNameURL = '_'
            } else {
                firstNameURL = firstName
            }
            var lastNameURL;
            if (lastName === '') {
                lastNameURL = '_'
            } else {
                lastNameURL = lastName
            }
            var middleURL;
            if (middle === '') {
                middleURL = '_'
            } else {
                middleURL = middle
            }
            var sexURL;
            if (sex === '') {
                sexURL = '_'
            } else {
                sexURL = sex
            }
            var birthDateURL;
            if (birthDate === '') {
                birthDateURL = '_'
            } else {
                birthDateURL = birthDate;
            }
            const url = firstNameURL + '/' + lastNameURL + '/' + middleURL + '/' + sexURL + '/' + birthDateURL;
            $.ajax({
                url: state.Table.apiURL + url,
                dataType: 'json',
                success: function (patients) {
                    state.Table.data = patients;
                    state.Table.table.getPlugin('filters').clearConditions();
                    state.Table.table.loadData(patients);
                },
                error: function () {
                    console.log("Patients table data call failed")
                }
            })
        }

        cb(state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex, state.Table.birth_date);
        $(state.Table.first_name_id).change(function () {
            state.Table.first_name = $(state.Table.first_name_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date);
        });
        $(state.Table.last_name_id).change(function () {
            state.Table.last_name = $(state.Table.last_name_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date);
        });
        $(state.Table.middle_id).change(function () {
            state.Table.middle = $(state.Table.middle_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date);
        });
        $(state.Table.sex_id).change(function () {
            state.Table.sex = $(state.Table.sex_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date);
        });
        $(state.Table.birth_date_id).change(function () {
            state.Table.birth_date = $(state.Table.birth_date_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.middle, state.Table.sex,
                state.Table.birth_date);
        });
    });
	</script>
{% endblock %}