{% extends "base.html" %}
{% load static %}
{% load timezone %}
{% load humanize %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
  .comment {
    margin: 20px 0px 20px 20px;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Documents for {{ patient.user.first_name }}
      {% if patient.middle_initial %} {{ patient.middle_initial }}.{% endif %}
      {{ patient.user.last_name }}{% if patient.suffix %} {{ patient.suffix }}{% endif %}</h2>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group">
        <a href="{% url 'patient_details' patient.uuid %}" class="btn btn-sm btn-secondary ml-2">Patient Details</a>
      </div>
    </div>
  </div>

  {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success">
            <strong>{{ message|escape }}</strong>
          </div>
        {% elif message.tags == 'error' %}
          <div class="alert alert-danger">
            <strong>{{ message|escape }}</strong>
          </div>
        {% else %}
          <div class="alert alert-info">
            <strong>{{ message|escape }}</strong>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

  <div class="row">

    <div class="col-12">
      <div class="card h-100">
        <div class="card-body provider-table">
          <h5 class="card-title">Documents</h5>

          {% if documents %}
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Document Type</th>
                <th>Date Created</th>
                <th>Created By</th>
                <th>View</th>
                <th>Delete</th>
              </tr>
              {% for document in documents %}
                {% if user.user_type < 9 %}
                  <tr>
                    <td>{{ document.patient_document.document_name|default_if_none:'' }}</td>
                    <td>{{ document.patient_document.document_type|default_if_none:'' }}</td>
                    <td>{{ document.created_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</td>
                    <td>{{ document.patient_document.user.first_name|default_if_none:''  }} {{ document.patient_document.user.last_name|default_if_none:''  }}</td>
                    <td><a href="{{ document.patient_document.document.url }}" target="_blank"><i class="fas fa-search"></i></a></td>
                    {% if user.user_type < 9 %}
                      <td>
                        <a href="{% url 'patient_document_delete' patient.uuid document.uuid %}">
                          <i class="fas fa-trash-alt document-delete text-danger" data-toggle="tooltip" title="Delete document"></i>
                        </a>
                      </td>
                    {% endif %}
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          {% else %}
            <p>No documents for this patient.</p>
          {% endif %}

        </div>
      </div>
    </div>

  </div>

  {% block javascript %}

  <!-- Custom JS -->
	<script>
    $('.document-delete').click(function(e) {
      let result = confirm("Are you sure you want to delete this document?");
      if (!result) {
        // prevent page from redirecting via <a href>
        e.preventDefault();
      }
    });
	</script>

  {% endblock %}


{% endblock %}
