{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom">
    <h2>Payers</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'payer_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Payer</a>
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-4 m-0">
          <label>Payer Name</label>
          <input class="form-control" placeholder="Search..." id="payer-name-filter">
        </div>
        <div class="col-4 m-0 pl-0">
          <label>Payer Type</label>
          <select class="form-control" id="payer-type-filter">
            <option value="All">All</option>
          {% for payer_choice_name, payer_choice_value in payer_choices %}
            <option value="{{ payer_choice_name }}">{{ payer_choice_value }}</option>
          {% endfor %}
        </select>
        </div>
      </div>
      <p>Press <b>Enter</b> to search.</p>
      <p id="returned-count"></p>
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="payer-table"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
    const state = {
        Table: {
            data:'', payer_name:'', payer_type:'',
            payer_name_id:'#payer-name-filter', payer_type_id:'#payer-type-filter',
            tableHTMLID: '#payer-table',
            apiURL: '/api/v1/internal/payer_table/'
        }
    };

    $(state.Table.payer_name_id).val('');
    state.Table.payer_type = $(state.Table.payer_type_id).val();


    const hotSettings =  {
      data: [],
      columns: [
        {
          data: 'payer_name',
          editor: false,
          renderer: linkRenderer,
        },
        {
          data:'payer_type',
          editor: false,
          type: 'text',
        },
        {
          data:'patient_count',
          editor: false,
          type: 'text',
        },
        {
          data:'payer_code',
          editor: false,
          type: 'text',
          width: 100,
        },
        {
          data:'alternate_id',
          editor: false,
          type: 'text',
          width: 100,
        },

      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'Payer Name',
          'Payer Type',
          'Patient Count',
          'Payer Code',
          'Alternate ID',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
       const hotElement = document.querySelector(state.Table.tableHTMLID);
       state.Table.table = new Handsontable(hotElement, hotSettings);

       function cb(payer_name, payer_type) {
           var payer_name_url = payer_name;
           state.Table.payer_type = payer_type;
           {#var payer_type_url = payer_type;#}
           if (payer_name == '') {
               payer_name_url = '_';
           }
            const url = payer_name_url + '/' + payer_type + '/';
            $.ajax({
                url: state.Table.apiURL + url,
                dataType: 'json',
                success: function(data) {
                    state.Table.data = data['results'];
                    $('#returned-count').html('Showing <b>' + data['returned_payer_count'] + ' of ' + data['total_payer_count'] + '</b> payers.');
                    state.Table.table.getPlugin('filters').clearConditions();
                    state.Table.table.loadData(data['results']);
                },
                error: function () {
                    console.log("Payer table data call failed")
                }
            })
       }

       cb(state.Table.payer_name, state.Table.payer_type);

       $(state.Table.payer_name_id).change(function () {
            state.Table.payer_name = $(state.Table.payer_name_id).val();
            cb(state.Table.payer_name, state.Table.payer_type);
        });
        $(state.Table.payer_type_id).change(function () {
            state.Table.payer_type = $(state.Table.payer_type_id).val();
            cb(state.Table.payer_name, state.Table.payer_type);
        });
    });

  </script>
{% endblock %}

{% block footer %}
  {{ form.media }}
{% endblock %}
