{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>
    Payer Details
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- Delete button -->
        <a href="#" class="btn btn-sm btn-danger mr-2" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Payer</a>
        <!-- /Delete button -->
        <a href="{% url 'payer_update' payer.uuid %}" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Payer</a>
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-6">
      <div class="card h-100">
        <div class="card-header">
          Payer Details
        </div>
        <div class="card-body">
          <p><b>Payer Name</b><br>{{ payer.name|default:'-' }}</p>
          <p><b>Payer Type</b><br>{{ payer.payer_type|default_if_none:'' }}</p>
          <p><b>Address</b><br>{{ payer.address_1 }}{% if payer.address_2 %}, {{ payer.address_2 }}{% endif %}
          {% if payer.zip_code %}, {{ payer.zip_code }}{% endif %}</p>
          <p><b>Payer Code</b><br> {{ payer.payer_code|default_if_none:'' }}</p>
          <p><b>Phone Number</b><br> {{ payer.phone_number|default_if_none:'' }}</p>
          <p><b>Abbreviated Name</b><br> {{ payer.abbreviated_name|default_if_none:'' }}</p>
        </div>
      </div>
    </div>


  </div>


{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>
  // delete the object only if confirmed
  function deleteObj() {
    let result = confirm("Are you sure you want to archive this payer?");
    if (result) {
      // logic to delete the item
      // delete is performed using a GET request here
      window.location.replace("{% url 'payer_delete' payer.uuid %}");
    }
  }
	</script>
{% endblock %}