{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/multiselect/css/multi-select.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/parsleyjs/parsley.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/pikaday/pikaday.css' %}">
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Payer</h2>
    {% else %}
      <h2>Create Payer</h2>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'payer_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success">
          <strong>{{ message|safe }}</strong>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
          <strong>{{ message|safe }}</strong>
        </div>
      {% else %}
        <div class="alert alert-info">
          <strong>{{ message|safe }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <form method="POST">
            {% csrf_token %}
            <div id="payer-form">
              <div class="form-group">
                <label class="required_label">{{ form.payer_type.label }}</label>
                {{ form.payer_type }}
              </div>

              <div class="payer-info">
                <div class="form-row">
                  <div class="col-5">
                    <label class="required_label">{{ form.payer_name.label|safe }}</label>
                    <input name="{{ form.payer_name.name }}"
                             value="{{ form.payer_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                  <div class="col-3">
                    <label>{{ form.payer_code.label|safe }}</label>
                    <input name="{{ form.payer_code.name }}"
                             value="{{ form.payer_code.value|default_if_none:'' }}" class="form-control">
                  </div>
                  <div class="col-4">
                    <label>{{ form.abbreviated_name.label|safe }}</label>
                    <input name="{{ form.abbreviated_name.name }}"
                             value="{{ form.abbreviated_name.value|default_if_none:'' }}" class="form-control">
                  </div>
                </div><br>
                <div class="form-row">
                    <div class="col-6">
                        <label>{{ form.payer_address1.label }}</label>
                        <input type="text" id="address1" name="{{ form.payer_address1.name }}" value="{{ form.payer_address1.value|default_if_none:'' }}" placeholder="Enter a location" class="form-control">
                      </div>
                      <div class="col-3">
                        <label>{{ form.payer_address2.label }}</label>
                        <input type="text" name="{{ form.payer_address2.name }}" value="{{ form.payer_address2.value|default_if_none:'' }}" placeholder="Suite, Apartment, etc. (optional)" class="form-control">
                      </div>
                      <div class="col-3">
                        <label>{{ form.payer_zip_code.label }}</label>
                        <input type="text" name="{{ form.payer_zip_code.name }}" value="{{ form.payer_zip_code.value|default_if_none:'' }}" placeholder="" class="form-control" id="zip-code">
                      </div>
                  </div><br>
                  <div class="form-row">
                    <div class="col-6">
                      <label>{{ form.phone_number.label }}</label>
                      <input type="text" name="{{ form.phone_number.name }}" id="subscriber-birth-date"
                             value="{{ form.phone_number.value|default_if_none:'' }}" class="form-control phoneNumberMask">
                    </div>
                  </div>
              </div>

            </div>


            <hr>
            <button type="submit" class="btn btn-primary">
              Save Payer
            </button>
           </form>

        </div>
      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CC8IDTw8qL6U-zeXgxcP9uOe6cbFqhs&sensor=false&libraries=places&language=en"></script>
	<script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'js/zip_code_autofill.js' %}"></script>
  <!-- Custom JS -->
	<script>

  $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"});

  // Google Maps Autocomplete
  let address1 = document.getElementById('address1');
  // restrict to only addresses
  let autocomplete1 = new google.maps.places.Autocomplete(address1, {types:['address']});
  autofill_zip_code(autocomplete1, 'zip-code');

	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}