{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Archived Providers</h1>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div><br>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == 25 %}
      <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
      </div>
      {% else %}
        <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label>NPI</label>
          <input class="form-control" placeholder="Search..." id="npi-filter">
        </div>
        <div class="col-4 m-0">
          <label>Last Name</label>
          <input class="form-control" placeholder="Search..." id="last-name-filter">
        </div>
        <div class="col-4 m-0 pl-0">
          <label>First Name</label>
          <input class="form-control" placeholder="Search..." id="first-name-filter">
        </div>
      </div>
      <p>Press <b>Enter</b> to search.</p>
      <div class="row top-buffer">
        <div class="col-12">
          <div class="handsontable" id="provider-table"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>
    const state = {
        Table: {
            data:'', last_name:'', first_name:'', npi:'',
            last_name_id:'#last-name-filter', first_name_id:'#first-name-filter',
            npi_id:'#npi-filter',
            tableHTMLID: '#provider-table',
            apiURL: '/api/v1/internal/archived_provider_table/'
        }
    };
    $(state.Table.last_name_id).val('');
    $(state.Table.first_name_id).val('');
    $(state.Table.npi_id).val('');

    const hotSettings =  {
      data: [],
      columns: [
        {
          data: 'npi',
          editor: false,
          type: 'text',
        },
        {
          data: 'name',
          editor: false,
          type: 'text',
          width: 200,
        },
        {
          data: 'num_patients',
          editor: false,
          type: 'text',
        },
        {
          data: 'date_added',
          type: 'date',
          dateFormat: 'MM/DD/YYYY',
          correctFormat: true,
        },
        {
          data: 'undo_archive_link',
          editor: false,
          renderer: 'html',
          width: 20,
          className: 'htCenter',
        },
      ],
      stretchH: 'all',
      //width: 806,
      height: 700,
      autoColumnSize: true,
      autoWrapRow: true,
      manualRowResize: false,
      manualColumnResize: false,
      columnSorting: true,
      sortIndicator: true,
      rowHeaders: false,
      colHeaders: true,
      nestedHeaders: [
        [
          'NPI',
          'Name',
          'Patient Count',
          'Date Added',
          'Undo Archive',
        ],
      ],
      manualRowMove: false,
      manualColumnMove: false,
      contextMenu: false,
      filters: true,
      dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
      afterGetColHeader: function(col, TH) {
        TH.className = 'center';
      },
    };

    $(function() {
       const hotElement = document.querySelector(state.Table.tableHTMLID);
       state.Table.table = new Handsontable(hotElement, hotSettings);

       function cb(firstName, lastName, npi) {
           var firstNameURL;
            if (firstName === '') {
                firstNameURL = '_'
            } else {
                firstNameURL = firstName
            }
            var lastNameURL;
            if (lastName === '') {
                lastNameURL = '_'
            } else {
                lastNameURL = lastName
            }
            var npiURL;
            if (npi === '') {
                npiURL = '_'
            } else {
                npiURL = npi
            }
            const url = firstNameURL + '/' + lastNameURL + '/' + npiURL;
            $.ajax({
                url: state.Table.apiURL + url,
                dataType: 'json',
                success: function(data) {
                    state.Table.data = data;
                    state.Table.table.getPlugin('filters').clearConditions();
                    state.Table.table.loadData(data);
                },
                error: function () {
                    console.log("Provider table data call failed")
                }
            })
       }

       cb(state.Table.first_name, state.Table.last_name, state.Table.npi);

       $(state.Table.first_name_id).change(function () {
            state.Table.first_name = $(state.Table.first_name_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.npi);
        });
        $(state.Table.last_name_id).change(function () {
            state.Table.last_name = $(state.Table.last_name_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.npi);
        });
        $(state.Table.npi_id).change(function () {
            state.Table.npi = $(state.Table.npi_id).val();
            cb(state.Table.first_name, state.Table.last_name, state.Table.npi);
        });
    });
	</script>
{% endblock %}