{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if update %}
      <h2>Update Provider</h2>
    {% else %}
      <h2>Create Provider</h2>
    {% endif %}

    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'provider_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

              <label class="required_label">{{ tenant_type }}</label>
              {{ form.accounts }} &nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="Accounts or locations must be created in the system first (see the sidebar under Groups)
                 before they can be added. A provider can be added to multiple accounts or locations.">
              </i>
              <br><br>

            <div class="row">
              <div class="col-6">
                <label class="required_label">{{ form.first_name.label }}</label>
                <input name="{{ form.first_name.name }}"
                       value="{{ form.first_name.value|default_if_none:'' }}" class="form-control" required><br>
              </div>
              <div class="col-6">
                <label class="required_label">{{ form.last_name.label }}</label>
                <input name="{{ form.last_name.name }}"
                       value="{{ form.last_name.value|default_if_none:'' }}" class="form-control" required><br>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label>{{ form.provider_suffix.label }}</label>
                <input name="{{ form.provider_suffix.name }}"
                       value="{{ form.provider_suffix.value|default_if_none:'' }}" class="form-control"><br>
              </div>
              <div class="col-6">
                <label>{{ form.provider_title.label }}</label>
                <input name="{{ form.provider_title.name }}"
                       value="{{ form.provider_title.value|default_if_none:'' }}" class="form-control"><br>
              </div>
            </div>


            <label class="required_label">{{ form.country.label }}</label><br>
            {{ form.country.0 }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.country.1 }}<br><br>

            <div class="provider-us">
              <label class="required_label">{{ form.npi.label }}</label>
              <input name="{{ form.npi.name }}"
                     value="{{ form.npi.value|default_if_none:'' }}"
                     class="form-control npiMask">
            </div>
            <div class="provider-other">
              <label>{{ form.provider_id_num.label }}</label>
              <input name="{{ form.provider_id_num.name }}"
                     value="{{ form.provider_id_num.value|default_if_none:'' }}"
                     class="form-control">
            </div><br>

              <label>{{ form.email.label }}</label>
              {{ form.email }}<br>

              <label>{{ form.phone_number.label }}</label>
              <input name="{{ form.phone_number.name }}"
                     value="{{ form.phone_number.value|default_if_none:'' }}" class="form-control phoneNumberMask">

            <hr>

            <div class="form-row">
              <div class="col-6">
                <label>{{ form.provider_username.label }}</label>
                {{ form.provider_username }}
              </div>
            </div>
            <br>
            {% if provider %}
              <label>Provider Signature</label><br>
              <a href="{% url 'provider_signature' provider_uuid=provider.uuid %}" class="btn btn-primary">Add/Update Provider Signature</a>
              <br>
            {% endif %}<br>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.provider_password.label }}</label>
                {{ form.provider_password }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <label>{{ form.provider_password_confirm.label }}</label>
                {{ form.provider_password_confirm }}
              </div>
            </div>

            <hr>

            {% if update %}
              <button type="submit" class="btn btn-primary">Update Provider</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Create Provider</button>
            {% endif %}

          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
  <script src="{% static 'lib/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <!-- Custom JS -->
	<script>

  // phone number mask for HTML
  $('.phoneNumberMask').inputmask({"mask": "(999) 999-9999"}); //specifying options
  $('.npiMask').inputmask({"mask": "9999999999"});

  // check for provider country type
  if($("input[name='country']:checked").val() === 'US') {
    $('.provider-other').hide();
    $('.provider-us').show();
  } else {
    $('.provider-other').show();
    $('.provider-us').hide();
  }

  // if provider country is selected, then show the section
  $('input[name="country"]').click(function(){
    if ($(this).is(':checked')) {
      if($(this).val() === 'US') {
         // if "existing provider" is chosen, hide the div and empty out all of the text fields
        $('.provider-other').hide().find('input:text').val('');
        $('.provider-us').show();
      } else {
        $('.provider-other').show();
        $('.provider-us').hide();
      }
    }
  });
	</script>
{% endblock %}

{% block footer  %}
  <!-- required for Django autocomplete light -->
  {{ form.media }}
{% endblock %}