{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<style>
  input[type="radio"]{
      vertical-align: baseline;
  }
</style>
<!-- Header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Provider Signature for: {{ provider }}</h2>

  <div class="btn-toolbar mb-2 mb-md-2">
    <div class="btn-group mr-2">
      {% comment %} Only providers won't use this button {% endcomment %}
      {% if request.user.user_type < 10 %}
        <a href="{% url 'provider_update' provider_uuid=provider.uuid %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      {% endif %}
    </div>
  </div>
</div>
<!-- /Header -->

<!-- Has provider signature check -->
<div class="row">
  <div class="col-8">
    <div class="card bd-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Add a signature for requisition forms and provider reports.</h5>
        <p class="card-text">
          You have 2 options for adding a signature:<br>
          1. Select <b>Draw</b> and use the signature pad below. <br>
          2. Select <b>Upload</b>, choose your signature file, and click on <b>Upload File</b>.</p>
        <label>
          <input type="radio" name="signature-option" value="Draw Signature" checked="True"> &nbsp;&nbsp;Draw<br>
        </label><br>
        <label>
          <input type="radio" name="signature-option" value="Upload Signature" > &nbsp;&nbsp;Upload &nbsp;&nbsp;
        </label>
      </div>
      <div class="card-body signature-pad">
        <form method="post" enctype="multipart/form-data" id="signature-pad-form">
          {% csrf_token %}
            <canvas id="signature-pad" class="signature-pad" height=200 style="width='100%'; border:1px solid #000000;"></canvas>
            <br>
            <button class="btn btn-sm btn-primary" type="button" id="undo-signature"><i class="far fa-undo"></i>&nbsp;&nbsp;Undo</button>
            <button class="btn btn-sm btn-primary" type="button" id="clear-signature"><i class="far fa-sync-alt"></i>&nbsp;&nbsp;Reset</button>
            <button class="btn btn-sm btn-success" type="submit" id="add-signature"><i class="far fa-file-upload"></i>&nbsp;&nbsp;Save Signature</button>
            <input type="hidden" id="canvasData" name="canvasData"/>
            <button id="call_form" class="btn btn-sm btn-primary" type="submit" style="display: none;">Save Signature</button>
            {% if provider.signature %}
              <br><br><br>
              <h5>Current Signature</h5>
              <img src="{{ provider.signature.url }}" style="max-width: 250px;"><br><br>
              <a href="{% url 'provider_delete_signature' provider_uuid=provider.uuid %}"
             class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Signature</a>
            {% endif %}
        </form>
      </div>
      <div class="card-body upload-signature" style="display: none;">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <strong>NOTE: </strong>JPEG, JPG, PNG, and SVG file types are supported. Please crop the image before uploading. <br><br>
          <input type="file" name="provider-signature"><br><br>
          <button class="btn btn-sm btn-success" type="submit"><i class="far fa-file-upload"></i>&nbsp;&nbsp;Upload File</button>
        </form><br>
        {% if provider.signature %}
          <p class="error-text">{{ file_upload_error }}</p>
          <h5>Current Signature</h5>
          <img src="{{ provider.signature.url }}" style="max-width: 175px;"><br>
          <a href="{% url 'provider_delete_signature' provider_uuid=provider.uuid %}"
             class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Signature</a>
        {% else %}
          <p class="error-text">{{ file_upload_error }}</p>
        {% endif %}
        <br>
      </div>
    </div>
  </div>
</div>
<!-- Has provider signature check -->

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
  <script type="text/javascript" src="{% static 'js/provider_signature.js' %}"></script>
  <script>

  </script>
{% endblock %}
