{% extends "base.html" %}
{% load static %}
{% load timezone %}

{% block css %}
  <style>
    .patient-table {
      height: 300px;
      overflow:auto;
    }
  </style>

{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Provider: {{ provider.user.first_name }} {{ provider.user.last_name }}{% if provider.suffix %} {{ provider.suffix }}{% endif %}{% if provider.title %}, {{ provider.title }}{% endif %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="#" class="btn btn-sm btn-danger" onclick="deleteObj()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Provider</a>
        <a href="{% url 'provider_update' provider.uuid %}" class="btn btn-sm btn-warning ml-2"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Provider</a>
        <a href="#" onClick="javascript:history.go(-1)" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <p><b>Name</b><br>
            {{ provider.user.first_name }} {{ provider.user.last_name }}{% if provider.suffix %} {{ provider.suffix }}{% endif %}
          </p>
          {% if provider.title %}
            <p><b>Title</b><br> {{ provider.title|default:'-' }} </p>
          {% endif %}
          {% if provider.npi %}
            <p><b>NPI</b><br> {{ provider.npi }}</p>
          {% else %}
            <p><b>Provider ID</b><br> {{ provider.id_num|default:'-' }}</p>
          {% endif %}
          {% comment %}
            If you show the account associations, then if a provider is part of multiple accounts, the logged-in
            account can access the other accounts that the provider is associated with, which is a huge flaw.
          {% endcomment %}
          {% if request.user.user_type < 9 %}
            <p><b>Account(s)</b><br>
            {% if provider.accounts.all %}
              {% for account in provider.accounts.all %}
                <a href="{% url 'account_details' account_uuid=account.uuid %}">{{ account }}</a><br>
              {% endfor %}
            {% else %}
              -
            {% endif %}
            </p>
          {% endif %}
          <p><b>Date Added</b><br> {{ provider.created_date|as_timezone:request.tenant.timezone|date:'m-d-Y, h:iA (T)' }}</p>
          <p><b>Phone #</b><br> {{ provider.phone_number|default:'-' }}</p>
          <p><b>Email</b><br> {{ provider.user.email|default:'-' }}</p>
          <p><b>Username</b>&nbsp;&nbsp;
            <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="The username is used to log in to the portal.">
            </i>
            <br> {{ provider.user.username|default:'-' }}</p>
          <p class="mb-0"><b>Signature</b></p>
          {% if provider.signature %}
            <img src="{{ provider.signature.url }}" style="max-width: 175px;">
          {% else %}
            No signature on file.
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body patient-table">
          <h5 class="card-title">Patient List</h5>
          <table class="table mb-0">
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Sex</th>
              <th>Date of Birth</th>
            </tr>
            {% for patient in patient_list %}
            <tr>
              <td><a href="{% url 'patient_details' patient_uuid=patient.uuid %}">{{ patient.user__last_name }}</a></td>
              <td><a href="{% url 'patient_details' patient_uuid=patient.uuid %}">{{ patient.user__first_name }}</a></td>
              <td>{{ patient.sex }}</td>
              <td>{{ patient.birth_date }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Reported Orders Table -->
  <div class="row mt-4">
    <div class="col-12">

      <div class="card">
        <div class="card-body">
          <h4>Reported Orders</h4>
          <div class="handsontable" id="provider-reported-orders-table"></div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Reported Orders Table -->

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
  <script type="text/javascript" src="{% static 'js/provider_signature.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/provider_patient_list.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/provider_details.js' %}"></script>
	<script>

    // delete the object only if confirmed
    function deleteObj() {
      let result = confirm("Are you sure you want to archive this provider?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace("{% url 'provider_delete' provider_uuid=provider.uuid %}");
      }
    }

  let providerReportedOrdersTable;
    // provider reported orders handsontable
    $.ajax({
      url: '/api/v1/internal/provider_reported_orders_table/{{ provider.uuid }}/',
      dataType: 'json',
      success: function (orders) {
        providerReportedOrdersTable = createProviderReportedOrdersTable(orders, providerReportedOrdersTable)
      },
      error: function () {
        console.log("provider reported orders table api call failed")
      }
    });
	</script>
{% endblock %}