{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="be-content">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Settings</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card card-border-color">
        <h4 class="p-3">Change Password</h4>
        <form action="{% url 'settings' %}" method="POST">
          {% csrf_token %}
          {% if success_message %}
            <p class="pl-3">{{ success_message }}</p>
          {% endif %}
          <p class="settings-error p-2">
            {% if password_error %}
              {{ password_error }}
              <br>
            {% endif %}
            {% if form.new_password.errors.as_text %}
              {{ form.new_password.errors.as_text }}
              <br>
            {% endif %}
            {% if form.confirm_new_password.errors.as_text %}
            {{ form.confirm_new_password.errors.as_text }}
              <br>
            {% endif %}
          </p>
          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Current Password</label>
            <div class="col-12 col-sm-8 col-lg-6">
              <input type="password" name="current_password" placeholder="Current password..." class="form-control" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">New Password</label>
            <div class="col-12 col-sm-8 col-lg-6">
              <input type="password" name="new_password" placeholder="New password..." class="form-control" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Confirm New Password</label>
            <div class="col-12 col-sm-8 col-lg-6">
              <input type="password" name="confirm_new_password" placeholder="Confirm new password..." class="form-control" required>
            </div>
          </div>
          <div class="submit-button">
            <button type="submit" class="btn btn-space btn-primary">Submit</button>
          </div><br>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}