{% extends "base.html" %}
{% load static %}
{% load orders_tags %}

{% block css %}
{% endblock %}

{% block content %}
<!-- Header -->
<div class="row top-buffer">
  <div class="col-12">
    <h3>Lab Setup: {{ num_steps_done }}/{{ num_steps }} Steps Completed</h3>
  </div>
</div>
<hr>
<!-- /Header -->

<!-- Has Test type check -->
<div class="row top-buffer">
  <div class="col-8">
    {% if has_test_types %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-check"></i> Add Tests</h5>
          <p class="card-text">{{ request.tenant.name }} currently offers {{ num_test_types }} tests.</p>
          <a href="{% url 'test_type_list' %}" class="btn btn-sm btn-primary">See the tests available at {{ request.tenant.name }}</a>
        </div>
      </div>
    {% else %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">Add Tests</h5>
          <p class="card-text">Add to your laboratory's test types by importing a FDA categorized test system or define your own.</p>
          <a href="{% url 'clia_test_type_list' %}" class="btn btn-sm btn-primary">See FDA Test List</a>
          <a href="{% url 'test_type_create' %}" class="btn btn-sm btn-primary">Add Test</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<!-- /Has Test type check -->


<!-- Has test panel type check -->
<div class="row top-buffer">
  <div class="col-8">
    {% if has_test_panel_types %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-check"></i> Add Test Profile</h5>
          <p class="card-text">{{ request.tenant.name }} currently offers {{ num_test_panel_types }} types of test profiles.</p>
          <a href="{% url 'test_panel_type_list' %}" class="btn btn-sm btn-primary">See the test profiles available at {{ request.tenant.name }}</a>
        </div>
      </div>
    {% else %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">Add Test Profiles</h5>
          <p class="card-text">Add to your laboratory's test menu. Test profiles are groups of tests that can be
            ordered by referring providers.</p>
          <a href="{% url 'test_panel_type_create' %}" class="btn btn-sm btn-primary">Add Test Profile</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<!-- /Has test panel type check -->

<!-- Has lab information check -->
<div class="row">
  <div class="col-8">
    <div class="card bg-light mb-3">
      <div class="card-body">
        {% if has_lab_information %}
          <h5 class="card-title"><i class="fas fa-check"></i> Add Laboratory Information</h5>
        {% else %}
          <h5 class="card-title"> Add Laboratory Information</h5>
        {% endif %}<br>
        <div class="row">
          <div class="col-12">
            <p><b>CLIA Number</b><br>{{ request.tenant.clia_number|default:"-" }}</p>
            <p><b>Laboratory Director</b><br>{{ request.tenant.clia_director|default:"-" }}</p>
            <p><b>Laboratory Time Zone</b>&nbsp;&nbsp;
              <i class="fas fa-info-circle" data-toggle="tooltip"
                 title="This is the centralized system time zone that is used for all operations for the laboratory,
                 regardless of location. Defaults to UTC.">
              </i><br>
              {{ request.tenant.timezone }}</p>
            <p><b>Phone</b><br> {{ request.tenant.phone_number|default:"-" }}</p>
            <p><b>Fax</b><br>{{ request.tenant.fax_number|default:"-" }}</p>
            <p><b>Address</b><br>
              {{ request.tenant.address_1|default:"-" }}<br>
              {% if request.tenant.address_2 %}
                {{ request.tenant.address_2 }}
              {% endif %}
            </p>

            {% if request.tenant.website %}
              <p><b>Website</b><br><a href="{{ request.tenant.website }}">{{ request.tenant.website }}</a></p>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="{% url 'laboratory_update' %}" class="btn btn-sm btn-primary">Add Laboratory Information</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Has lab information check -->

<!-- Has lab logo check -->
<div class="row">
  <div class="col-8">
    <div class="card bg-light mb-3">
      <div class="card-body">
        {% if has_logo_file %}
          <h5 class="card-title"><i class="fas fa-check"></i> Add Laboratory Logo </h5>
          <p class="error-text">{{ file_upload_error }}</p>
          <p class="card-text">Add a laboratory logo that will be used by the system by default in reports and for other purposes.
            To add a logo, click on "Choose File" to select your file, then click the button below.
            JPEG, JPG, PNG, SVG file types supported.</p>
          <img src="{{ request.tenant.logo_file.url }}" style="max-width: 75px;"><br>
        {% else %}
          <h5 class="card-title"> Add Laboratory Logo</h5>
          <p class="error-text">{{ file_upload_error }}</p>
        {% endif %}
        <br>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="lab-logo"><br><br>
          <button class="btn btn-sm btn-primary" type="submit">Add Laboratory Logo</button>
        </form><br><br>
      </div>
    </div>
  </div>
</div>
<!-- /Has lab logo check -->

<!-- Offsite lab integration -->
<div class="row top-buffer">
  <div class="col-8">
    {% if has_offsite_integrations %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-check"></i> Add Offsite Laboratory Integrations (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has {{ num_offsite_integrations }} integrations with offsite laboratories.</p>
          <a href="{% url 'offsite_integration_list' %}">See the offsite integrations at {{ request.tenant.name }}</a>
        </div>
      </div>
    {% else %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"> Add Offsite Laboratory Integrations (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has no integrations with offsite laboratories.</p>
          <a href="{% url 'offsite_integration_list' %}" class="btn btn-sm btn-primary">Add Offsite Laboratory Integrations</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<!-- /Offsite lab integration -->

<!-- Instrument integration -->
{% if request.tenant.settings|safe_lookup:'hide_instrument_integration' != True %}
<div class="row top-buffer">
  <div class="col-8">
    {% if has_instrument_integrations %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-check"></i> Add Instrument Integrations (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has {{ num_instrument_integrations }} integrated instruments.</p>
          <a href="{% url 'instrument_integration_list' %}">See instrument integrations at {{ request.tenant.name }}</a>
        </div>
      </div>
    {% else %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"> Add Instrument Laboratory Integrations (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has no integrated instruments.</p>
          <a href="{% url 'instrument_integration_list' %}" class="btn btn-sm btn-primary">Add Instrument Integrations</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endif %}
<!-- /Instrument integration -->

<!-- Add internal Department/Section -->
<div class="row top-buffer">
  <div class="col-8">
    {% if has_lab_departments %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-check"></i> Add Lab Departments/Sections (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has {{ num_lab_departments }} Lab Departments.</p>
          <a href="{% url 'lab_department_list' %}">See Lab Departments at {{ request.tenant.name }}</a>
        </div>
      </div>
    {% else %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"> Add Lab Departments/Sections (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has no Lab Departments.</p>
          <a href="{% url 'lab_department_list' %}" class="btn btn-sm btn-primary">Add Lab Departments</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<!-- /Add internal Department/Section -->

<!-- In House Lab Locations -->
<div class="row top-buffer">
  <div class="col-8">
    {% if has_in_house_lab_locations %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-check"></i> Add In-House Lab Locations (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has {{ num_in_house_lab_locations}} in-house lab locations.</p>
          <a href="{% url 'in_house_lab_location_list' %}">See in-house lab locations at {{ request.tenant.name }}</a>
        </div>
      </div>
    {% else %}
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title"> Add In-House Lab Locations (optional)</h5>
          <p class="card-text">{{ request.tenant.name }} currently has no in-house lab locations.</p>
          <a href="{% url 'in_house_lab_location_list' %}" class="btn btn-sm btn-primary">Add In-House Lab Locations</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<!-- /In House Lab Locations -->

{% if request.user.user_type < 10 %}
  <div class="row top-buffer">
    <div class="col-8">
      <a href="{% url 'advanced_settings' %}" class="text-muted">Advanced Settings</a>
    </div>
  </div>
{% endif %}

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
	<script>

	</script>
{% endblock %}
