{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Dendi - Empowering Clinical Laboratories" property="og:title">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." name="description">
    <meta name="keywords" content="Laboratory Information System, LIS, Dendi, LIMS, Laboratory Information Management System, clinical laboratory software">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." property="og:description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Site Title -->
    {% block title %}
      <title>Dendi | Two-factor Authentication Setup</title>
    {% endblock %}
    <!-- Site favicon -->
    <link href="{% static 'landing_page/images/favicon-32x32.png' %}" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap.min.css' %}" type="text/css">
    <!-- login CSS -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" type="text/css">
  </head>

  <body class="text-center">

    <form class="form-signin" id="two-factor-auth-setup-form" action="{% url 'two_factor_auth_setup' %}" method="POST">
      {% csrf_token %}
      <a href="{% url 'landing_page' %}">
        <img class="mb-4" src="{% static 'landing_page/images/dendi_logo_square.png' %}" alt="" width="170">
      </a>
      <h1 class="h3 mb-3 font-weight-normal">{{ request.tenant.name }}</h1>

      {% if login_error %}
          <p class="text-danger">{{ login_error }}</p>
      {% endif %}
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success">
              <strong>{{ message|escape }}</strong>
            </div>
          {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
              <strong>{{ message|escape }}</strong>
            </div>
          {% else %}
            <div class="alert alert-info">
              <strong>{{ message|escape }}</strong>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <p class="mt-3 mb-1 font-weight-normal">Please add the two-factor secret key below to your Google Authenticator app.
      <p class="mt-3 mb-4 font-weight-normal">You will not be able to view it again.</p>
      <h1 class="h3 mb-4 font-weight-normal">{{ two_factor_secret }}</h1>
      <input type="hidden" id="two-factor-shared-secret" name="{{ form.two_factor_shared_secret.name }}" value="{{ two_factor_secret }}">

      <div class="row">
        <div class="col-10">
          <label>{{ form.two_factor_verify_add.label }}</label>
        </div>
        <div class="col-1">
          {{ form.two_factor_verify_add }}
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button><br>
    </form>

  </body>
</html>
