{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Dendi - Empowering Clinical Laboratories" property="og:title">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." name="description">
    <meta name="keywords" content="Laboratory Information System, LIS, Dendi, LIMS, Laboratory Information Management System, clinical laboratory software">
    <meta content="Dendi's cloud-based LIS can improve your lab's productivity by 50% or more. Sign up for a free trial." property="og:description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Site Title -->
    {% block title %}
      <title>Dendi | Two-factor Authentication</title>
    {% endblock %}
    <!-- Site favicon -->
    <link href="{% static 'landing_page/images/favicon-32x32.png' %}" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap.min.css' %}" type="text/css">
    <!-- login CSS -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" type="text/css">
  </head>

  <body class="text-center">

    <form class="form-signin" id="two-factor-auth-form" action="{% url 'two_factor_auth' %}" method="POST">
      {% csrf_token %}
      <a href="{% url 'landing_page' %}">
        <img class="mb-4" src="{% static 'landing_page/images/dendi_logo_square.png' %}" alt="" width="170">
      </a>
      <h1 class="h3 mb-3 font-weight-normal">{{ request.tenant.name }}</h1>

      {% if login_error %}
          <p class="text-danger">{{ login_error }}</p>
      {% endif %}
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success">
              <strong>{{ message|escape }}</strong>
            </div>
          {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
              <strong>{{ message|escape }}</strong>
            </div>
          {% else %}
            <div class="alert alert-info">
              <strong>{{ message|escape }}</strong>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <p class="mt-3 mb-3 font-weight-normal">Please enter your Google Authenticator code below.</p>
      <label for="two-factor-code" class="sr-only">Two-Factor Authentication</label>
      <input type="two-factor-auth" id="two-factor-code" class="form-control" name="{{ form.two_factor_code.name }}"
             placeholder="Ex. 123456" required/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button><br>
    </form>

  </body>
</html>
