{% extends "base.html" %}
{% load static %}

{% block css %}
  <style>
    .required_label:after {
     content:"*";
     color:red;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Update Lab User</h2>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'user_list' %}" class="btn btn-sm btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
  </div>

	<form method="POST">
		{% csrf_token %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <div class="form-group">
      <label class="required_label">{{ form.user_type.label }}</label>
      {{ form.user_type }}
    </div>
    <div class="form-group">
      <label class="required_label">{{ form.first_name.label }}</label>
      <input name="{{ form.first_name.name }}"
             value="{{ form.first_name.value|default_if_none:'' }}"
             class="form-control">
    </div>
    <div class="form-group">
      <label class="required_label">{{ form.last_name.label }}</label>
      <input name="{{ form.last_name.name }}"
             value="{{ form.last_name.value|default_if_none:'' }}"
             class="form-control">
    </div>

    <div class="form-group">
      <label>{{ form.password.label }}</label>
      <input name="{{ form.password.name }}"
             value="{{ form.password.value|default_if_none:'' }}"
             class="form-control" type="password">
    </div>
    <div class="form-group">
      <label>{{ form.confirm_password.label }}</label>
      <input name="{{ form.confirm_password.name }}"
             value="{{ form.confirm_password.value|default_if_none:'' }}"
             class="form-control" type="password">
    </div>

    <hr>
    <button type="submit" class="btn btn-warning"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Lab User</button>

	</form>


{% endblock %}


{% block javascript %}
{% endblock %}