{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Manage Lab Users</h1>
    <div class="btn-toolbar mb-2 mb-md-2">
      <div class="btn-group mr-2">
        <a href="{% url 'user_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;User</a>
      </div>
    </div>
  </div><br>

  <p>There are 2 types of lab users: <b>admins</b> and <b>collaborators</b>. Lab users must log in
    using their email address on file.<br>
    Click on a user to edit the user's details.</p><br>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Admin List</h5>
            {% if admins %}
            <table class="table mb-0">
              <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Archive</th>
              </tr>
              {% for admin in admins %}
              <tr>
                <td><a href="{% url 'lab_admin_update' lab_admin_uuid=admin.uuid %}">{{ admin.user.last_name }}</a></td>
                <td><a href="{% url 'lab_admin_update' lab_admin_uuid=admin.uuid %}">{{ admin.user.first_name }}</a></td>
                <td>{{ admin.user.email }}</td>
                <td>
                  <div class="btn-group">
                    <a href="#" id="{{ admin.uuid }}" class="btn btn-sm btn-outline-danger delete-admin">Archive</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </table>
            {% else %}
              <p>No admins yet.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  <br>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Collaborator List</h5>
            {% if collaborators %}
            <table class="table mb-0">
              <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Archive</th>
              </tr>
              {% for collaborator in collaborators %}
              <tr>
                <td><a href="{% url 'lab_collaborator_update' lab_collaborator_uuid=collaborator.uuid %}">{{ collaborator.user.last_name }}</a></td>
                <td><a href="{% url 'lab_collaborator_update' lab_collaborator_uuid=collaborator.uuid %}">{{ collaborator.user.first_name }}</a></td>
                <td>{{ collaborator.user.email }}</td>
                <td>
                  <div class="btn-group">
                    <a href="#" id="{{ collaborator.uuid }}" class="btn btn-sm btn-outline-danger delete-collaborator">Archive</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </table>
            {% else %}
              <p>No collaborators yet.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block javascript %}
  <!-- Custom JS -->
  <script type="text/javascript" src="{% static 'utils/custom_renderers.js' %}"></script>
	<script>

    $('.delete-admin').click(function() {
      let labAdminUuid = this.id;
      let urlMask = "{% url 'lab_admin_delete' lab_admin_uuid=1 %}".replace(/1/, labAdminUuid.toString());

      let result = confirm("Are you sure you want to archive this admin?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace(urlMask);
      }
    });

    $('.delete-collaborator').click(function() {
      let labCollaboratorUuid = this.id;
      let urlMask = "{% url 'lab_collaborator_delete' lab_collaborator_uuid=1 %}".replace(/1/, labCollaboratorUuid.toString());

      let result = confirm("Are you sure you want to archive this collaborator?");
      if (result) {
        // logic to delete the item
        // delete is performed using a GET request here
        window.location.replace(urlMask);
      }
    });

	</script>
{% endblock %}